<template>
  <div class="video-info-page">
    <span class="title">
      <span class="name">{{ item.videoName }}</span>
      <span class="date"><p>{{ date(item.date) }}</p></span>
    </span>
    <div class="video">
      <client-only>
        <youtube :enablejsapi=1 ref="youtube" :video-id="this.item.videoUrl" :resize="true" :fitParent="true"></youtube>
      </client-only>
    </div>
  </div>
</template>

<script>

export default {
  name: "video-details",
  layout: 'media',
  head() {
    return {
      title: this.item.seoTitle,
      meta: [
        { hid: 'description', name: 'description', content: this.item.seoDescription }
      ]
    }
  },
  data() {
    return {}
  },
  async validate({store, params}) {
    try {
      const item = (await store.dispatch('media/fetchVideoByUrl', params.id))[0]
      return Boolean(item)
    } catch (e) {
      console.log(e)
    }
  },
  async asyncData({store, params}) {
    try {
      const item = (await store.dispatch('media/fetchVideoByUrl', params.id))[0]
      return {item}
    } catch (e) {
      console.log(e)
    }
  },
  mounted() {
  },
  computed: {},
  methods: {
    date(value) {
      let date
      let currentDate = new Date(value)
      let day = ("0" + currentDate.getDate()).slice(-2);
      let month = ("0" + (currentDate.getMonth() + 1)).slice(-2);
      let year = currentDate.getFullYear()
      date = day + "." + month + "." + year
      return date
    },
  }
}
</script>

<style scoped lang="less">
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  .name {
    font-size: 24px;
    font-weight: 300;
  }

  .date {
    color: #666666;
  }
}
</style>