<template>
  <div class="news-wrapper video-wrapper">
    <div class="news-container video-container">
      <perfect-scrollbar ref="ps">
        <div class="news-block" v-for="item of displayedVideoList">
          <nuxt-link :to="`/video/${item.pageUrl}`">
            <div class="news-block-inner">
          <span class="title">
            <span>{{ item.videoName }}</span>
            <span class="mobile-date">
              {{ date(item.date) }}
            </span>
          </span>
              <div class="video">
                <client-only>
                  <youtube ref="youtube" :video-id="item.videoUrl" :resize="true" :fitParent="true"></youtube>
                </client-only>
              </div>
              <div class="news-block-bottom">
                <span class="more">Смотреть</span>
                <!--<span @click="readMore(item)">Читать полностью</span>-->
                <span class="date">{{ date(item.date) }}</span>
              </div>
            </div>
          </nuxt-link>
        </div>
      </perfect-scrollbar>
    </div>

    <div class="pagination">
      <ul>
        <li
            v-for="(currentPage, index) of totalPages"
            @click="page = index + 1"
            :class="{'active': page === index + 1 }">
          {{ index + 1 }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import {slugify} from 'transliteration';

export default {
  name: "news",
  layout: 'media',
  data() {
    return {
      windowWidth: 0,
      page: 1,
      perPage: 4,
      pages: [],
      hiddenNews: [],
    }
  },

  async asyncData({store}) {
    let videosList
    store.getters['media/video'] ? videosList = store.getters['media/video'] : videosList = await store.dispatch('media/fetchVideo')
    let videoList = videosList.slice(0);
    videoList.sort(function (a, b) {
      return new Date(b.date) - new Date(a.date);
    });
    return {videoList}
  },
  mounted: function () {
    this.$nextTick(function () {
      this.onResize();
    })
    window.addEventListener('resize', this.onResize)


  },
  computed: {
    displayedVideoList() {
      return this.paginate(this.videoList);
    },
    totalPages() {
      return Math.ceil(this.videoList.length / this.perPage);
    },

  },
  methods: {
    date(value) {
      let date
      let currentDate = new Date(value)
      let day = ("0" + currentDate.getDate()).slice(-2);
      let month = ("0" + (currentDate.getMonth() + 1)).slice(-2);
      let year = currentDate.getFullYear()
      date = day + "." + month + "." + year
      return date
    },
    onResize() {
      if (window.innerWidth < 1200) {
        this.perPage = 99999999
      } else {
        this.perPage = 4
      }
    },
    setPages() {
      let numberOfPages = Math.ceil(this.videoList.length / this.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index);
      }
    },
    paginate(list) {
      let page = this.page;
      let perPage = this.perPage;
      let from = (page * perPage) - perPage;
      let to = (page * perPage);
      return list.slice(from, to);
    }
  },
  watch: {
    videoList() {
      this.setPages();
    }
  }
}
</script>

<style lang="less" scoped>
.video {
  max-width: 100%;
  max-height: 150px;
  overflow: hidden;
  margin-bottom: 60px;
}

@media (min-width: 1199px) {
  .model-layout .ps {
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .video-container {
    padding-top: 30px !important;
  }

  .news-wrapper.video-wrapper {
    .news-block {
      box-shadow: none;
      border: none;
      background: none;
      height: auto;

      .news-block-inner {
        box-shadow: none;
        border: none;
        background: none;
        position: relative;
        display: flex;
        flex-direction: row;

        .video {
          min-width: 300px;
          max-width: 300px;
          max-height: none;
          order: -1;
          margin: 0;
        }

        .title {
          padding: 0;
          margin-top: 10px;
          height: auto;
        }

        .more {
          display: none;
        }

        .news-block-bottom {
          justify-content: flex-start;
        }

        .date {
          position: static !important;
          text-align: left;
          padding: 0;
          color: #666 !important;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .news-wrapper.video-wrapper .news-block .news-block-inner .video {
    width: 50%;
    min-width: 50%;
  }

  .model-layout.media-layout .news-wrapper .news-block .news-block-inner .title {
    font-size: 12px;
    line-height: 18px;
    max-height: none;
    margin-top: 0;
  }

  .model-layout.media-layout .news-wrapper .news-block .news-block-inner .title span {
    display: block;
    max-height: 55px;
    overflow: hidden;
  }

  .model-layout.media-layout .news-wrapper .news-block .news-block-inner .title .mobile-date {
    margin: 0;
    font-size: 10px;
  }
}
</style>