<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

ym(69816346, "init", {
  clickmap:true,
  trackLinks:true,
  accurateTrackBounce:true,
  webvisor:true
});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/69816346" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<template>
  <div>
    <div class="fullpage-container fullpage well" id="well" ref="well">
      <div class="full-page-inner">
        <div class="panel main-panel" id="index">
          <div v-view="viewHandler" class="section main-section page-1 page">
            <div class="model-container">
              <div class="model-content">
                <div class="breadcrumbs">
                  <ul>
                    <li>
                      <nuxt-link to="/"><span class="icon-home breadcrumbs-home"></span>
                      </nuxt-link>
                    </li>
                    <li @click="openCatalog()">{{ typeRu() }}</li>
                    <li>{{ item.Name }}</li>
                  </ul>
                  <div class="share">
                    <div class="name">
                      <span v-if="itemMoreInfo.length > 0 && itemMoreInfo[0].withCatalog">Каталог модели.PDF</span>
                      <span v-else>Поделиться</span>
                    </div>
                    <div class="icons">
                      <div class="social-share">
                        <span class="icon-share" @click="socialSharingToggle"></span>
                      </div>
                      <div class="download" v-if="itemMoreInfo.length > 0 && itemMoreInfo[0].withCatalog">
                        <a :href="'/files/' + item.Name.toLowerCase() + '.pdf'" target="_blank">
                          <span class="icon-download"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="share-mobile">
                    <span @click="shareMenu = !shareMenu">Обзор модели.PDF</span>
                  </div>
                </div>
                <div class="carousel">
                <vue-slick-carousel v-bind="slickSettings">
                  <div class="slide swiper-slide front-slide" v-for="(image, index) in sliderImages" :key="`key${index}`">
                    <img :src="image" alt="" @load="doneload(index, 3)" :class="`slider-img-${index}`" class="slider-image active">
                  </div>
                </vue-slick-carousel>
                </div>
                <div class="bottom-info">
                  <div class="characteristics-wrapper">
                    <div class="char-item"
                         v-if="item.VehicleTypeId !== 1376760 && mainChars.loadingHeight">
                      <div class="icon-loading-height"></div>
                      <div class="char-info">
                        <span class="name">Высота разгрузки</span>
                        <span class="value">{{ mainChars.loadingHeight }}</span>
                      </div>
                    </div>
                    <div class="char-item" v-else-if="mainChars.liftingHeight">
                      <div class="icon-loading-height"></div>
                      <div class="char-info">
                        <span class="name">Высота подъема</span>
                        <span class="value">{{ mainChars.liftingHeight }}</span>
                      </div>
                    </div>
                    <div class="char-item" v-if="mainChars.carryingCapacity">
                      <div class="icon-capacity"></div>
                      <div class="char-info">
                        <span class="name">Грузо<i></i>подъемность</span>
                        <span class="value">{{ mainChars.carryingCapacity }}</span>
                      </div>
                    </div>
                    <div class="char-item" v-if="mainChars.weight">
                      <div class="icon-weight"></div>
                      <div class="char-info">
                        <span class="name">Масса</span>
                        <span class="value">{{ mainChars.weight }}</span>
                      </div>
                    </div>
                    <div class="char-item"
                         v-if="item.VehicleTypeId !== 1376760 && mainChars.bucketCapacity">
                      <div class="icon-bucket"></div>
                      <div class="char-info">
                        <span class="name">Ёмкость ковша</span>
                        <span class="value">{{ mainChars.bucketCapacity }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="price-wrapper">
                    <!--<span class="price-description">Цена в базовой комплектации</span>
                    <span class="price">от<span v-if="itemMoreInfo.length > 0">{{ toFormatPrice(itemMoreInfo[0].price) }}</span><span
                        v-else>0</span>руб</span>-->
                    <script data-b24-form="click/301/xaaf2x" data-skip-moving="true">
                      (function(w,d,u){
                        var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
                        var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                      })(window,document,'https://cdn-ru.bitrix24.ru/b3786079/crm/form/loader_301.js');
                    </script>
                    <button class="price-details">Рассчитать точную цену
                    </button>
                    <div class="share">
                      <div class="name">
                        <span v-if="itemMoreInfo.length > 0 && itemMoreInfo[0].withCatalog">Каталог модели.PDF</span>
                        <span v-else>Поделиться</span>
                      </div>
                      <div class="icons">
                        <div class="social-share">
                          <span @click="socialSharingToggle" class="icon-share"></span>
                        </div>
                        <div class="download" v-if="itemMoreInfo.length > 0 && itemMoreInfo[0].withCatalog">
                          <a :href="'/files/' + item.Name.toLowerCase() + '.pdf'"
                             target="_blank">
                            <span class="icon-download"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="actions-wrapper" :class="{'two-items' : !itemMoreInfo[0].withVideo}">
                    <div class="gallery" @click="goTo('player')" v-if="this.itemMoreInfo[0].withGallery">
											<span class="action-icon icon-photo"><span class="path1"></span><span
                          class="path2"></span></span>
                      <span class="name">Посмотреть фото</span>
                      <span class="name one-line">Фото</span>
                    </div>
                    <div class="pano" @click="goTo('player')" v-if="this.itemMoreInfo[0].with360outside || this.itemMoreInfo[0].with360inside">
                      <span class="action-icon icon-360"></span>
                      <span class="name">Обзор 360</span>
                      <span class="name one-line">Обзор 360</span>
                    </div>
                    <div class="compare-add video" v-if="itemMoreInfo[0].withVideo" @click="modalVideo = true">
                      <div class="img">
                        <img src="@/static/img/youtube.png" alt="">
                      </div>
                      <span class="name">Смотреть обзор Youtube</span>
                      <span class="name one-line">К сравнению</span>
                    </div>
                    <!--<div class="compare disabled">
                      <span class="action-icon icon-compare"></span>
                      <span class="name">Сравнить</span>
                      <span class="compare-quantity">2</span>
                      <span class="name one-line">Сравнить</span>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel" id="player" v-if="this.itemMoreInfo[0].with360outside || this.itemMoreInfo[0].with360inside || this.itemMoreInfo[0].withGallery">
          <div v-view="viewHandler" class="section player-section" >
            <div class="model-container">
              <div class="model-content">
                <div class="breadcrumbs">
                  <ul>
                    <li>
                      <nuxt-link to="/"><span class="icon-home breadcrumbs-home"></span>
                      </nuxt-link>
                    </li>
                    <li @click="openCatalog()">{{ typeRu() }}</li>
                    <li v-if="this.itemMoreInfo[0].with360outside || this.itemMoreInfo[0].with360inside ">Обзор 360 <span>{{ item.Name }}</span></li>
                    <li v-else >Галерея <span>{{ item.Name }}</span></li>
                  </ul>
                </div>
                <div class="media-wrapper">
                  <div class="media-toggle">
                    <span @click="mediaToggle('player360')"
                          :class="{'active': player360}"
                          v-if="this.itemMoreInfo[0].with360outside && (this.itemMoreInfo[0].with360inside || this.itemMoreInfo[0].withGallery)"
                    >Экстерьер</span>
                    <span @click="mediaToggle('pano')"
                          :class="{'active': pano}"
                          v-if="this.itemMoreInfo[0].with360inside && (this.itemMoreInfo[0].with360outside || this.itemMoreInfo[0].withGallery)"
                    >Интерьер</span>
                    <span @click="mediaToggle('gallery')"
                          :class="{'active': gallery}"
                          v-if="(this.galleryImgNumber && this.itemMoreInfo[0].withGallery) && (this.itemMoreInfo[0].with360outside || this.itemMoreInfo[0].with360inside)"
                    >Галерея</span>
                  </div>
                  <div class="media-player" ref="mediaPlayer">
                    <div v-if="this.itemMoreInfo[0].with360outside" class="player360" :class="{'active': player360}">
                      <player360 v-if="sliderIsReady" :model="item.Name" :info="itemMoreInfo[0]"
                                 id="element1"></player360>
                      <span v-else>Загрузка ...</span>
                    </div>
                    <div v-if="this.itemMoreInfo[0].with360inside"
                         class="pano-player"
                         :class="{'active': pano}"
                         id="element2"
                         @click="panoHelp = false"
                         v-touch:start="panoHelpCancel"

                    >
                      <client-only>
                        <div ref="marzipano" id="marzipano"></div>
                      </client-only>
                      <div class="help" :class="{'active': panoHelp}">
                        <span v-if="!isMobileOnly">Зажмите для навигации<img src="/img/lkm.png" alt=""></span>
                        <span v-else>Зажмите и двигайте для навигации</span>
                      </div>
                    </div>
                    <div v-if="this.itemMoreInfo[0].withGallery" class="gallery-container" :class="{'active': gallery}">
                      <div class="wrapper-grid">
                        <div @click="modalGalleryToggle(0)" class="box a" :style="`background:url(${galleryImages[0].src})`"></div>
                        <div @click="modalGalleryToggle(1)" class="box b" :style="`background:url(${galleryImages[1].src})`"></div>
                        <div @click="modalGalleryToggle(2)" class="box c" :style="`background:url(${galleryImages[2].src})`">
                          <span class="imgs-left">{{this.galleryImgNumber - 3}}+</span>
                        </div>
                      </div>
                    </div>
                    <div class="no-images" v-if="!this.itemMoreInfo[0].with360outside && !this.itemMoreInfo[0].with360inside && !this.itemMoreInfo[0].withGallery">
                      К сожалению, изображения отсутвуют.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel" id="info">
          <div v-view="viewHandler" class="section characteristics-section">
            <div class="model-container">
              <div class="model-content">
                <div class="breadcrumbs">
                  <ul>
                    <li>
                      <nuxt-link to="/"><span class="icon-home breadcrumbs-home"></span>
                      </nuxt-link>
                    </li>
                    <li @click="openCatalog()">{{ typeRu() }}</li>
                    <li>Технические характеристики <span>для {{ item.Name }}</span></li>
                  </ul>
                </div>
                <div class="top-block">
                  <div class="video" v-if="itemMoreInfo.length > 0 && itemMoreInfo[0].withVideo" @click="modalVideo = true" style="cursor:pointer">
                    <div class="video-wrapper">
                      <img src="@/static/img/youtube.png" alt="">
                    </div>
                    <div class="video-info">
                      <p>Мы сняли обзор со всеми техническими характеристиками</p>
                      <span>Смотреть обзор <i>→</i></span>
                    </div>
                  </div>
                  <div class="capability">
                  </div>
                  <!--<div class="compare">
                    <div class="compare-add">
                    <span class="icon-plus"></span>
                    <span class="name">Добавить к сравнению</span>
                    </div>
                    <div class="compare">
                    <div class="icon-compare"></div>
                    <span class="name">Сравнить</span>
                    <span class="compare-quantity">2</span>
                    </div>
                  </div>-->
                </div>
                <perfect-scrollbar ref="ps2" :options="scrollOptions">
                  <div class="characteristics-table">
                    <div class="char-list" v-for="value of formatedCharacteristics">
                      <span class="char-group-title" v-if="value.length === 1"><i></i>{{ value[0] }}</span>
                      <span class="char-group-item" v-if="value.length === 2">
										<span class="name">{{ value[0] }}</span><span class="value">{{ value[1] }}</span>
									</span>
                    </div>
                  </div>
                </perfect-scrollbar>
              </div>
            </div>
          </div>
        </div>
        <div class="panel" v-view.once="setReadyToLoad" id="set" v-if="this.sets.length !== 0">
          <div v-view="viewHandler" class="section set-section option-section">
            <div class="model-container">
              <div class="model-content">
                <div class="prev-arrow" @click="BtnScrollLeft('sets')"></div>
                <div class="next-arrow" @click="BtnScrollRight('sets')"></div>
                <div class="breadcrumbs">
                  <ul>
                    <li>
                      <nuxt-link to="/"><span class="icon-home breadcrumbs-home"></span>
                      </nuxt-link>
                    </li>
                    <li @click="openCatalog()">{{ typeRu() }}</li>
                    <li>Базовая комплектация <span>для {{ item.Name }}</span></li>
                  </ul>
                </div>
                <perfect-scrollbar ref="ps" :options="scrollOptions" class="ps-for-sets">
                  <div class="options-wrapper">
                    <span class="no-item-note" v-if="!modelSetsListFiltered">Опций не найдено.</span>
                    <div class="item" v-for="setItem of modelSetsListFiltered">
                      <div class="item-inner" @click="openModal(setItem)">
                        <span class="name">
                          <span>{{ setItem.correctName }}</span>
                        </span>
                        <div v-if="setReadyDynamic" class="img" :style="imageCheck(setItem.PartsGroupsId, 'set')">
                        </div>
                        <div v-else class="img">
                        </div>
                      </div>
                    </div>
                  </div>
                </perfect-scrollbar>
                <div class="options-page-bottom set-page-bottom">
                  <div class="set-filter">
                  </div>
                  <div class="share">
                    <div class="name">
                      <span v-if="itemMoreInfo.length > 0 && itemMoreInfo[0].withCatalog">Каталог модели.PDF</span>
                      <span v-else>Поделиться</span>
                    </div>
                    <div class="icons">
                      <div class="social-share">
                        <span class="icon-share" @click="socialSharingToggle"></span>
                      </div>
                      <div class="download" v-if="itemMoreInfo.length > 0 && itemMoreInfo[0].withCatalog">
                        <a :href="'/files/' + item.Name.toLowerCase() + '.pdf'" target="_blank">
                          <span class="icon-download"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel" v-view.once="optionReadyToLoad" id="option" v-if="this.options.length !== 0">
          <div v-view="viewHandler" class="section large-blocks option-section">
            <div class="model-container">
              <div class="model-content">
                <div class="prev-arrow" @click="BtnScrollLeft('options')"></div>
                <div class="next-arrow" @click="BtnScrollRight('options')"></div>
                <div class="breadcrumbs">
                  <ul>
                    <li>
                      <nuxt-link to="/"><span class="icon-home breadcrumbs-home"></span>
                      </nuxt-link>
                    </li>
                    <li @click="openCatalog()">{{ typeRu() }}</li>
                    <li>Опции <span>для {{ item.Name }}</span></li>
                  </ul>
                </div>
                <perfect-scrollbar ref="ps4" :options="scrollOptions" class="ps-for-options">
                  <div class="options-wrapper" :class="{'one-line': this.options.length < 9}">
                    <div class="item" v-for="optionItem of modelOptionListFiltered"
                         :class="{'options-icon_added': checkState.options.includes(optionItem.Id)}">
                      <div
                          class="options-icon options-icon_add"
                          @click="toFormData('options', optionItem)"
                          :class="{'options-icon_added': checkState.options.includes(optionItem.Id)}">

                        <span class="icon-minus"></span>
                      </div>
                      <div class="item-inner" @click="openModal(optionItem)">
                        <span class="name"><span>{{ optionItem.correctName }}</span></span>
                        <div class="img" v-if="optionReadyDynamic" :style="imageCheck(optionItem.PartsGroupsId, 'option')"></div>
                        <div v-else class="img">
                        </div>
                      </div>
                    </div>
                  </div>
                </perfect-scrollbar>
                <div class="options-page-bottom">
                  <div class="option-details">
                    <div class="options">
                      <div class="options-icon options-icon_add">

                      </div>
                      <div class="info">
                        <span class="name">Опции</span>
                        <span class="description">Не входят в базовую комплектацию.<b>Можно выбрать</b></span>
                      </div>
                    </div>
                  </div>
                  <div class="action">
                    <script data-b24-form="click/301/xaaf2x" data-skip-moving="true">
                      (function(w,d,u){
                        var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
                        var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                      })(window,document,'https://cdn-ru.bitrix24.ru/b3786079/crm/form/loader_301.js');
                    </script>
                    <button class="price-checkout">Рассчитать точную цену<span
                          class="options"
                          ref="animatedOption">{{ formData.options.length }}</span></button>
                  </div>
                  <div class="share">
                    <div class="name">
                      <span v-if="itemMoreInfo.length > 0 && itemMoreInfo[0].withCatalog">Каталог модели.PDF</span>
                      <span v-else>Поделиться</span>
                    </div>
                    <div class="icons">
                      <div class="social-share">
                        <span class="icon-share" @click="socialSharingToggle"></span>
                      </div>
                      <div class="download" v-if="itemMoreInfo.length > 0 && itemMoreInfo[0].withCatalog">
                        <a :href="'/files/' + item.Name.toLowerCase() + '.pdf'" target="_blank">
                          <span class="icon-download"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel" v-view.once="attachmentReadyToLoad" id="attachment" v-if="this.attachments.length !== 0">
          <div v-view="viewHandler" class="section large-blocks option-section attachment-section">
            <div class="model-container">
              <div class="model-content">
                <div class="prev-arrow" @click="BtnScrollLeft('attachments')"></div>
                <div class="next-arrow" @click="BtnScrollRight('attachments')"></div>
                <div class="breadcrumbs">
                  <ul>
                    <li>
                      <nuxt-link to="/"><span class="icon-home breadcrumbs-home"></span>
                      </nuxt-link>
                    </li>
                    <li @click="openCatalog()">{{ typeRu() }}</li>
                    <li>Навесное <span>для {{ item.Name }}</span></li>
                  </ul>
                </div>
                <perfect-scrollbar ref="ps3" :options="scrollOptions" class="ps-for-attachments">
                  <div class="options-wrapper" :class="{'one-line': this.attachments.length < 9}">
                    <span class="no-item-note" v-if="modelAttachmentListFiltered.length === 0">Навесное оборудование по заданным категориям не найдено.</span>
                    <div class="item" v-for="attachmentItem of modelAttachmentListFiltered"
                         :class="{'options-icon_added': checkState.attachments.includes(attachmentItem.Id)}">
                      <div class="options-icon options-icon_add"
                           @click="toFormData('attachments', attachmentItem)"
                      >

                      </div>
                      <div class="item-inner" @click="openModal(attachmentItem)">
                        <span class="name"><span>{{ attachmentItem.correctName }}</span></span>
                        <div class="img" v-if="attachmentReadyDynamic" :style="imageCheck(attachmentItem.PartsGroupsId, 'attachment')">
                        </div>
                        <div class="img" v-else></div>
                      </div>
                    </div>
                  </div>
                </perfect-scrollbar>
                <div class="options-page-bottom">
                  <div class="set-filter">
                    <span
                        v-for="attachmentItem of attachmentFilterItems"
                        @click="attachmentFilterSet(attachmentItem.value)"
                        :class="{'active': attachmentItem.value === filters.attachmentFilter}">
                              {{ attachmentItem.name }}
                            </span>
                  </div>
                  <div class="action">
                    <script data-b24-form="click/301/xaaf2x" data-skip-moving="true">
                      (function(w,d,u){
                        var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
                        var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                      })(window,document,'https://cdn-ru.bitrix24.ru/b3786079/crm/form/loader_301.js');
                    </script>
                    <button class="price-checkout">Рассчитать точную цену<span
                          ref="animatedAttachment" class="options">{{ formData.attachments.length }}</span>
                    </button>
                  </div>
                  <div class="share">
                    <div class="name">
                      <span v-if="itemMoreInfo.length > 0 && itemMoreInfo[0].withCatalog">Каталог модели.PDF</span>
                      <span v-else>Поделиться</span>
                    </div>
                    <div class="icons">
                      <div class="social-share">
                        <span class="icon-share" @click="socialSharingToggle"></span>
                      </div>
                      <div class="download" v-if="itemMoreInfo.length > 0 && itemMoreInfo[0].withCatalog">
                        <a :href="'/files/' + item.Name.toLowerCase() + '.pdf'" target="_blank">
                          <span class="icon-download"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="model-navigation">
      <ul>
        <li @click="goTo('index')" class="main-section"><span>Описание</span></li>
        <li @click="goTo('player')" class="player-section" v-if="this.itemMoreInfo[0].with360outside || this.itemMoreInfo[0].with360inside || this.itemMoreInfo[0].withGallery">
          <span v-if="this.itemMoreInfo[0].with360outside || this.itemMoreInfo[0].with360inside ">Обзор 360</span>
          <span v-else >Галерея</span>
        </li>
        <li @click="goTo('info')" class="characteristics-section"><span>Технические характеристики</span></li>
        <li @click="goTo('set')" class="set-section" v-if="sets.length !== 0"><span>Комплектация</span></li>
        <li @click="goTo('option')" class="option-section" v-if="options.length !== 0"><span>Опции</span></li>
        <li @click="goTo('attachment')" class="attachment-section" v-if="attachments.length !== 0"><span>Навесное</span></li>
      </ul>
    </div>
    <transition name="fade">
      <price-form
          :data="this.formData"
          :options="modelOptionListFiltered"
          :attachments="modelAttachmentListFiltered"
          v-if="priceForm"
          @close="priceFormClose"
          @remove="emitRemoveFromFormData"
          @moving="goTo">
      </price-form>
    </transition>
    <transition name="fade">
      <share v-if="socialSharing" @close="socialSharingToggle"></share>
    </transition>
    <transition name="slide-fade-reverse">
      <div class="share-menu" v-if="shareMenu">
        <div class="share-menu-layout" @click="shareMenu = !shareMenu"></div>
        <div class="block" v-if="itemMoreInfo.length > 0 && itemMoreInfo[0].withCatalog">
          <span class="name">Скачать обзор модели PDF</span>
          <a :href="'/files/' + item.Name.toLowerCase() + '.pdf'"
             target="_blank">
            <span class="icon-download"></span>
          </a>
        </div>
        <div class="block">
          <span class="name">Поделиться ссылкой:</span>
          <yandex-share
              :services="['vkontakte','facebook','twitter', 'telegram', 'whatsapp', 'google', 'odnoklassniki', 'skype','gplus']"
          />
        </div>
        <span class="share-back" @click="shareMenu = !shareMenu">Назад</span>
      </div>
    </transition>
    <transition name="fade">
      <div class="modal-info" v-if="modalInfo">
        <div class="modal-layout" @click="closeModal"></div>
        <div class="modal-info-inner">
          <modal-content :status="checkState" :item="itemForModal" :partsId="this.partsIdForModal"
                         @add="toFormData" @close="infoModalClose"></modal-content>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div class="modal-info" v-if="modalVideo">
        <div class="modal-layout" @click="closeModal"></div>
        <div class="modal-info-inner">
          <div class="video">
            <client-only>
              <youtube :enablejsapi=1 ref="youtube" :video-id="getIdfromUrl(itemMoreInfo[0].videoLink)" :resize="true" :fitParent="true"></youtube>
            </client-only>
          </div>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <modal-gallery @close="modalGalleryToggle" :images="galleryImages" :index="this.indexForGallery" v-if="modalGallery"></modal-gallery>
    </transition>
  </div>
</template>

<script>
import ModelCarousel from "@/components/main/ModelCarousel"
import VueSlickCarousel from 'vue-slick-carousel'
import PriceForm from "@/components/main/PriceForm"
import Player360 from "@/components/main/player360";
import Share from "@/components/main/Share";
import ModalContent from "@/components/main/ModalContent";
import ModalGallery from "@/components/main/ModalGallery"
import {isIOS, isMobileOnly} from "mobile-device-detect";

export default {
  name: "ModelPage",
  layout: "model",
  components: {ModelCarousel, PriceForm, Player360, Share, ModalContent, VueSlickCarousel, ModalGallery},
  head() {
    return {
      title: this.itemMoreInfo[0].seoTitle,
      meta: [
        { hid: 'description', name: 'description', content: this.itemMoreInfo[0].seoDescription }
      ]
    }
  },
  data() {
    return {
      isMobileOnly: isMobileOnly,
      panoHelp: true,
      imgPanel: true,
      indexForGallery: 0,
      modalGallery:false,
      galleryIndex: null,
      slickSettings: {
        "dots": true,
        "dotsClass": "slick-dots custom-dot-class",
        "edgeFriction": 0.35,
        "infinite": false,
        "speed": 300,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "adaptiveHeight": false
      },
      modalVideo: false,
      preloader: true,
      sliderIsReady: false,
      documentReady: false,
      modalInfo: false,
      itemForModal: {},
      partsIdForModal: null,
      descriptionForModal: null,
      shareMenu: false,
      socialSharing: false,
      scrolled: false,
      apiCheckData: '',
      player360: false,
      pano: false,
      gallery: false,
      priceForm: false,
      scrollOptions: {
        suppressScrollY: true,
      },
      filters: {
        setFilter: 0,
        attachmentFilter: 0,
      },
      setFilterItems: [
        {name: 'Кабина', value: 'cabin'},
        {name: 'Двигатель', value: 'engine'},
        {name: 'Все', value: 'all'},
      ],
      attachmentFilterItems: [
        {name: 'Бетоносмесители', value: 35},
        {name: 'Буры', value: 39},
        {name: 'Шнеки', value: 42},
        {name: 'Вилы', value: 34},
        {name: 'Захваты', value: 33},
        {name: 'Ковши', value: 27},
        {name: 'Щетки', value: 30},
        {name: 'Каретка', value: 29},
        {name: 'Отвалы', value: 32},
        {name: 'Гидромолоты', value: 37},
        {name: 'Шнекороторы', value: 31},
        {name: 'Другое', value: 38},
        {name: 'Все', value: 0},
      ],
      checkState: {
        options: [],
        attachments: [],
      },
      formData: {
        item: null,
        options: [],
        attachments: [],
        img: '',
      },
      galleryImagesReadyToLoad: false,
      epcImagesReadyToLoad: false,

      counter: 1,
      index: 0,

      setReady: false,
      optionReady: false,
      attachmentReady: false,
      setVisited: false,
      optionVisited: false,
      attachmentVisited: false,
    }
  },
  async validate({store, params}) {
    try {
      const item = await store.dispatch('product/fetchProductsByTypeEpc', params.id)
      let validate
      switch (item.VehicleTypeId) {
        case 1376757:
          params.type === 'frontloaders' ? validate = true : validate = false
          break;
        case 1376760:
          params.type === 'forkloaders' ? validate = true : validate = false
          break;
        case 1376758:
          params.type === 'backhoe' ? validate = true : validate = false
          break;
        case 1376759:
          params.type === 'excavator' ? validate = true : validate = false
          break;
        default:
          validate = false
      }
      return validate
    } catch (e) {
      console.log(e)
    }
  },
  async asyncData({store, params}) {
    try {
      const item = await store.dispatch('product/fetchProductsByTypeEpc', params.id)
      let itemMoreInfo = await store.dispatch('product/fetchMoreInfoByModel', item.Name)
      if (itemMoreInfo.length === 0) {
        itemMoreInfo = [
          {
            price: 0,
            withVideo: false,
            videoLink: '',
            with360inside: false,
            with360outside: false,
            imagesQuantity: 0,
            withGallery: false,
            withCatalog: false,
            seoDescription: '',
            seoTitle: ''

          }
        ]
      }
      const itemChars = await store.dispatch('product/getCharForModelById', item.Id)
      const attachments = await store.dispatch('product/getAttachmentForModelById', item.Id)
      let attachmentsIds = {},
      attachmentsCorrectNames,
      attachmentsImages

      if (attachments.length !== 0){
        attachments.forEach(function (att) {
          attachmentsIds[att.Id] = att.PartsGroupsId
        })
        attachmentsImages = await store.dispatch('product/getAttachmentsImages', attachmentsIds)
        attachmentsCorrectNames = await store.dispatch('product/getAttachmentsByIds', Object.values(attachmentsIds))
      }
      attachments.forEach(function (attachment) {
        attachmentsCorrectNames.forEach(function (nameAttachment) {
          if (attachment.PartsGroupsId === nameAttachment.Id) {
            attachment.correctName = nameAttachment.NameRus
          }
        })
      })


      const options = await store.dispatch('product/getOptionsForModelById', item.Id)
      let optionsIds = {},
      optionsCorrectNames,
      optionsImages

      if (options.length !== 0) {
        options.forEach(function (opt) {
          optionsIds[opt.Id] = opt.PartsGroupsId
        })
        optionsImages = await store.dispatch('product/getAttachmentsImages', optionsIds)
        optionsCorrectNames = await store.dispatch('product/getAttachmentsByIds', Object.values(optionsIds))
      }
      options.forEach(function (option) {
        optionsCorrectNames.forEach(function (nameOption) {
          if (option.PartsGroupsId === nameOption.Id) {
            option.correctName = nameOption.NameRus
          }
        })
      })

      const sets = await store.dispatch('product/getSetsForModelById', item.Id)
      let setsIds = {},
      setsCorrectNames,
      setsImages
      if (sets.length !== 0) {
        sets.forEach(function (set) {
          setsIds[set.Id] = set.PartsGroupsId
        })
        setsImages = await store.dispatch('product/getAttachmentsImages', setsIds)
        setsCorrectNames = await store.dispatch('product/getAttachmentsByIds', Object.values(setsIds))
      }
      sets.forEach(function (set) {
        setsCorrectNames.forEach(function (nameSet) {
          if (set.PartsGroupsId === nameSet.Id) {
            set.correctName = nameSet.NameRus
          }
        })
      })
      let galleryImgNumber = await store.dispatch('product/getImgs', item.Name.toLowerCase())
      return {
        item,
        itemMoreInfo,
        itemChars,
        attachments,
        attachmentsImages,
        options,
        optionsImages,
        sets,
        setsImages,
        galleryImgNumber
      }
    } catch (e) {
      console.log(e)
    }
  },
  computed: {
    sliderImages() {
      let imgs = [
        `/img/models/${this.item.Name.toLowerCase()}/1.png`,
        `/img/models/${this.item.Name.toLowerCase()}/2.png`,
        `/img/models/${this.item.Name.toLowerCase()}/3.png`,
      ]
      if (this.item.VehicleTypeId === 1376760) {
        imgs = [
          `/img/models/${this.item.Name.toLowerCase()}/1.png`
        ]
      }
      return imgs
    },
    setReadyDynamic(){
      let result = this.setReady
      if (this.setVisited){
        result = true
      } else if (this.activePage  === 'set') {
        this.setVisited = true
        result = true
      }
      return result
    },
    optionReadyDynamic(){
      let result = this.optionReady
      if (this.optionVisited){
        result = true
      } else if (this.activePage  === 'option') {
        this.optionVisited = true
        result = true
      }
      return result
    },
    attachmentReadyDynamic(){
      let result = this.attachmentReady
      if (this.attachmentVisited){
        result = true
      } else if (this.activePage  === 'attachment') {
          this.attachmentVisited = true
          result = true
      }
      return result
    },
    galleryImages() {
      let name = this.item.Name.toLowerCase()
      let number = this.galleryImgNumber
      let imgArray = []

      if (number) {
        for (let i = 1; i <= number; i++) {
          let item = {
            id: `id${i}`,
            src: `/img/models/${name}/player/gallery/${i}.jpg`,
            thumbnail: `/img/models/${name}/player/gallery/${i}.jpg`,
          }
          imgArray.push(item)
        }
      }

      return imgArray
    },
    mainChars() {
      let item = this.item
      let mainChars = {
        loadingHeight: '',
        bucketCapacity: '',
        carryingCapacity: '',
        weight: '',
        liftingHeight: ''
      }
      this.itemChars.forEach(function (char) {
        if (char.FeatureId === 8) {
          mainChars.bucketCapacity = char.ValueRus
        }
      })
      this.itemChars.forEach(function (char) {
        if (char.FeatureId === 11 || char.FeatureId === 52 || (item.VehicleTypeId === 1376758 && char.FeatureId === 11)) {
          mainChars.carryingCapacity = char.ValueRus
        }
      })
      this.itemChars.forEach(function (char) {
        if (char.FeatureId === 10 || char.FeatureId === 73 || char.FeatureId === 37) {
          mainChars.weight = char.ValueRus
        }
      })
      this.itemChars.forEach(function (char) {
        if (char.FeatureId === 12 || char.FeatureId === 44) {
          mainChars.loadingHeight = char.ValueRus
        }
      })
      this.itemChars.forEach(function (char) {
        if (char.FeatureId === 27) {
          mainChars.liftingHeight = char.ValueRus
        }
      })

      return mainChars
    },
    activePage() {
      let page = 'index'
      let translate = this.$store.getters.modelPageTranslate
      let imgPanel = this.imgPanel
        switch (translate) {
          case 0:
            page = 'index';
            break;
          case -100:
            imgPanel ? page = 'player' :  page = 'info';
            break;
          case -200:
            imgPanel ? page = 'info' :  page = 'set';
            break;
          case -300:
            imgPanel ? page = 'set' :  page = 'option';
            break;
          case -400:
            imgPanel ? page = 'option' :  page = 'attachment';
            break;
          case -500:
            imgPanel ? page = 'attachment' :  page = 'attachment';
            break;
        }
        return page
    },

    // Фильтруем опции / коплектации / навесное по выбранной модели
    onlyThisModel() {
      return this.optionsList.filter(model => model.forModels.includes(this.item.model));
    },
    // Фильтруем из списка выше именно опции
    modelOptionList() {
      return this.onlyThisModel.filter(option => option.optionType === 'option');
    },
    // Фильтруем из списка выше именно комплектации
    modelSetList() {
      return this.onlyThisModel.filter(option => option.optionType === 'set');
    },
    modelSetListFiltered() {
      if (this.filters.setFilter === 'all') {
        return this.modelSetList
      } else {
        return this.modelSetList.filter(item => item.filter === this.filters.setFilter);
      }
    },
    // Фильтруем из списка выше именно навесное
    modelAttachmentList() {
      this.onlyThisModel.filter(option => option.optionType === 'attachment')
    },
    modelAttachmentListFiltered() {
      let filter = this.filters
      let attFinalList = []
      if (filter.attachmentFilter === 0 || !filter.attachmentFilter) {
        attFinalList = this.attachments
      } else {
        this.attachments.forEach(function (item) {
          if (item.PartsCategoryId === filter.attachmentFilter) {
            attFinalList.push(item)
          }
        })
      }
      return attFinalList
    },
    modelOptionListFiltered() {
      return this.options
    },
    modelSetsListFiltered() {
      return this.sets
    },
    // Форматируем объект характеристик в массив, для вывода всего списка последовательно спанами, а не блоками по разделам.
    // Необходимо для вывода каждой единицы последовательно, что способствует "правильному" преносу каждого пункта при адаптации к размерам экрана.
    formatedCharacteristics() {
      let array = []
      // Вывод хар-тик подряд
      let titleToDuplicateControl = ''
      // сортируем хар-ки по FeatureGroupId
      this.itemChars.sort((a, b) => a.FeatureGroupId > b.FeatureGroupId ? 1 : -1)

      this.itemChars.forEach(function (item) {
        let title = [item.FeatureGroupNameRus]
        if (item.FeatureGroupNameRus !== titleToDuplicateControl) {
          array.push(title)
        }
        titleToDuplicateControl = item.FeatureGroupNameRus
        let key = item.FeatureNameRus
        let value = item.ValueRus
        array.push([key, value])
      })
      return array
    },
  },
  methods: {
    viewHandler (e) {
      let nav = document.querySelector(`.model-navigation ul`)
      if (e.percentInView > 0.5) {
        nav.className = "";
        e.target.element.classList.forEach( myClass => nav.classList.add(myClass))
      }
    },
    BtnScrollLeft(block){
      console.log('block', block)
      let element = document.querySelector(`.ps-for-${block}`)
      console.log('element', element)
      element.scroll({
          left: element.scrollLeft - 400,
          top: 0,
          behavior: 'smooth'
      })
    },
    BtnScrollRight(block){
      console.log('block', block)
      let element = document.querySelector(`.ps-for-${block}`)
      console.log('element', element)
      element.scroll({
          left: element.scrollLeft + 400,
          top: 0,
          behavior: 'smooth'
      })
    },
    panoHelpCancel(){
      console.log('cancel')
      this.panoHelp = false
    },
    modalGalleryToggle(indexForGallery){
      this.indexForGallery = indexForGallery
      this.modalGallery = !this.modalGallery
    },
    setReadyToLoad() {
        this.setReady = true
    },
    optionReadyToLoad() {
      this.optionReady = true
    },
    attachmentReadyToLoad() {
      this.attachmentReady = true
    },
    doneload(index, number) {
      let counter = this.counter
      if(index !== 'fork'){
        let nodeImgs = document.querySelectorAll(`.slider-img-${index}`)
        let nodeLoaders = document.querySelectorAll(`.loading-${index}`)
        nodeImgs.forEach( function(item){
          item.classList.add('active')
        })
        nodeLoaders.forEach( function(item){
          item.classList.add('hide-')
        })
      }
      if(number === 1 || counter === 3){
        console.log('загрузилась')
        this.sliderIsReadyFun()
      } else {
        console.log('каунтер +1')
        this.counter++
      }

    },
    swipeToRight() {
      (this.$refs.swiper).swiper.slideNext()
    },
    swipeToLeft() {
      (this.$refs.swiper).swiper.slidePrev()
    },
    toFormatPrice(data) {
      let price = Number.prototype.toFixed.call(parseFloat(data) || 0, 0);
      return price.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1 ");
    },
    infoModalClose(){
      this.modalInfo = false
    },
    getIdfromUrl (link) {
      return this.$youtube.getIdFromUrl(link)
    },
    sliderIsReadyFun() {
      setTimeout(this.sliderIsReadyChange,1000)
    },
    sliderIsReadyChange() {
      this.sliderIsReady = true
    },
    async getDescription(partsId) {
      try {
        const itemFullInfo = await this.$store.dispatch('product/getItemInfo', partsId)
        this.itemForModal.description = itemFullInfo[0].RemarkRus
        this.itemForModal.name = itemFullInfo[0].NameRus
        this.itemForModal.idForDetails = itemFullInfo[0].Id
      } catch (e) {
        console.log(e)
      }
    },
    async getImage(partsId) {
      try {
        const currentImage = await this.$store.dispatch('product/getImage', partsId)
        this.itemForModal.img = `https://epc.kuzmin.online/epcapi/raw_file/${currentImage[0].Id}/0`
      } catch (e) {
        console.log(e)
      }
    },
    async openModal(item) {
      await this.getDescription(item.PartsGroupsId)
      await this.getImage(item.PartsGroupsId)
      this.itemForModal.type = item.PartsCategoryId
      this.itemForModal.id = item.Id
      this.modalInfo = !this.modalInfo
    },
    closeModal() {
      this.itemForModal = {}
      this.modalInfo = false
      this.modalVideo = false
    },
    imageCheck(attId, type) {
      let typeImg,
          imgSize = '512'
      switch (type) {
        case 'attachment':
          typeImg = this.attachmentsImages
          break
        case 'option':
          typeImg = this.optionsImages
          break
        case 'set':
          typeImg = this.setsImages;
          imgSize = '256'
          break
      }
      let imgId
      typeImg.forEach(function (item) {
        if (item.SourceId === attId) {

          imgId = item.Id
        }
      })
      let style = imgId ? `background:#333333 center / cover no-repeat url(https://epc.kuzmin.online/epcapi/raw_file/${imgId}/${imgSize})` :
          `background:#333333 center / contain no-repeat url(/img/nophoto.png)`
      return style
    },
    socialSharingToggle() {
      this.socialSharing = !this.socialSharing
    },
    handleScroll() {
      this.scrolled = window.scrollY > 0;
    },
    mediaToggle(obj) {
      if (obj === 'pano') {
        setTimeout(() => {
          this.panoHelp = false
        }, 5000);
        this.marzInit()
        this.pano = true
        this.player360 = false
        this.gallery = false

      } else if (obj === 'gallery') {
        this.gallery = true
        this.pano = false
        this.player360 = false
      } else (
          this.pano = false,
              this.gallery = false,
              this.player360 = true
      )
    },
    priceFormOpen() {
      this.formData.item = this.item
      this.priceForm = !this.priceForm
    },
    async getModelImg(id, type) {
      try {
        let data = {
          VehicleId: id,
          type: type
        }
        const currentImage = await this.$store.dispatch('product/getImgByIdAndType', data)
        this.formData.img = `https://epc.kuzmin.online/epcapi/raw_file/${currentImage[0].FileId}/256`

      } catch (e) {
        console.log(e)
      }
    },
    emitRemoveFromFormData(data) {
      this.checkState[data.type].splice(this.checkState[data.type].indexOf(data.id), 1)
    },
    priceFormClose() {
      this.priceForm = false
    },
    alreadyAddedToFormData(source, item) {
      let result = false
      this.formData[source].forEach(function (formItem) {
        if (formItem.id === item.id) {
          result = true
        }
      })
      return result
    },
    removeFromFormData(source, item) {
      for (let i = 0; i < this.formData[source].length; i++) {
        if (this.formData[source][i].id === item.id) {
          this.formData[source].splice(i, 1)
        }
      }
    },
    addToFormData(source, item) {
      this.formData[source].push(item)
    },
    async toFormData(to, item) {
      let src
      try {
        const currentImage = await this.$store.dispatch('product/getImage', item.PartsGroupsId)
        src = `https://epc.kuzmin.online/epcapi/raw_file/${currentImage[0].Id}/256`
      } catch (e) {
        console.log(e)
      }
      let itemToAdd = {
        type: to,
        name: item.PartsGroupsViewRus,
        id: item.PartsGroupsId,
        img: src
      }
      if (to === 'options') {
        if (this.alreadyAddedToFormData('options', itemToAdd)) {
          this.removeFromFormData('options', itemToAdd)
        } else {
          let number = this.$refs.animatedOption
          number.classList.add('animate')

          this.addToFormData('options', itemToAdd)

          setTimeout(function () {
            number.classList.remove('animate')
          }, 300)
        }
      } else if (to === 'attachments') {
        if (this.alreadyAddedToFormData('attachments', itemToAdd)) {
          this.removeFromFormData('attachments', itemToAdd)
        } else {
          let number = this.$refs.animatedAttachment
          number.classList.add('animate')

          this.addToFormData('attachments', itemToAdd)

          setTimeout(function () {
            number.classList.remove('animate')
          }, 300)
        }
      } else {
        console.log('formData ', to, ' отсутствует')
      }
      this.checkForm(to, item.Id)
    },
    checkForm(to, id) {
      if (!this.checkState[to].includes(id)) {
        this.checkState[to].push(id)
      } else {
        this.checkState[to].splice(this.checkState[to].indexOf(id), 1)
      }
    },
    setFilterSet(value) {
      this.filters.setFilter = value
    },
    attachmentFilterSet(value) {
      this.filters.attachmentFilter = value
    },
    openCatalog() {
      let currentType
      switch (this.item.VehicleTypeId) {
        case 1376757:
          currentType = 'frontloaders'
          break;
        case 1376760:
          currentType = 'forkloaders'
          break;
        case 1376758:
          currentType = 'backhoe'
          break;
        case 1376759:
          currentType = 'excavator'
          break;
      }
      this.$router.push(`/catalog/${currentType}`)
    },
    typeRu() {
      switch (this.item.VehicleTypeId) {
        case 1376757:
          return 'Фронтальные погрузчики';
          break;

        case 1376760:
          return 'Вилочные погрузчики';
          break;

        case 1376758:
          return 'Экскаваторы-погрузчики';
          break;
        case 1376759:
          return 'Экскаваторы';
          break;

        default:
          return 'Погрузчики';
      }
    },
    marzInit() {
      if (this.itemMoreInfo[0].with360inside) {

        let viewer = new Marzipano.Viewer(document.getElementById('marzipano'));

        let source = Marzipano.ImageUrlSource.fromString(
            `../../img/models/${this.item.Name.toLowerCase()}/tiles/{z}/{f}/{y}/{x}.jpg`,
            {
              cubeMapPreviewUrl: `../../img/models/${this.item.Name.toLowerCase()}/tiles/preview.jpg`
            });

        // Create geometry.
        let geometry = new Marzipano.CubeGeometry([
          {
            "tileSize": 256,
            "size": 256,
            "fallbackOnly": true
          },
          {
            "tileSize": 512,
            "size": 512
          },
          {
            "tileSize": 512,
            "size": 1024
          },
          {
            "tileSize": 512,
            "size": 2048
          }
        ]);

        // Create view.
        let limiter = Marzipano.RectilinearView.limit.traditional(4096, 100 * Math.PI / 180);
        let view = new Marzipano.RectilinearView(null, limiter);

        // Create scene.
        let scene = viewer.createScene({
          source: source,
          geometry: geometry,
          view: view,
          pinFirstLevel: true
        });

        let autorotate = Marzipano.autorotate({
          yawSpeed: 0.1,         // Yaw rotation speed
          targetPitch: 0,        // Pitch value to converge to
          targetFov: Math.PI / 2   // Fov value to converge to
        });
        // Autorotate will start after 3s of idle time
        viewer.setIdleMovement(1000, autorotate);
        // Stop any ongoing automatic movement
        // viewer.stopMovement();
        // Display scene.
        scene.switchTo();

        document.getElementById('marzipano').onwheel = e => e.stopPropagation();
      }
    },
    async goTo(page){
      await document.querySelector(`#${page}`).scrollIntoView({behavior: 'smooth'})
      setTimeout(this.priceFormClose, 100)

    },
    readyState(){
      this.documentReady = true
    }

  },
  mounted() {
    if (this.itemMoreInfo[0].with360outside) this.player360 = true
    else if (this.itemMoreInfo[0].withGallery) this.gallery = true
    else if (this.itemMoreInfo[0].with360inside) {
      this.pano = true
      this.marzInit()
    } else {
      this.imgPanel = false
    }

    if (window.innerWidth < 768) {
      document.querySelector('#index').style.height = window.innerHeight + 'px'
    }
    this.formData.item = this.item
    this.getModelImg(this.item.Id, 'Vehicles')
    let body = document.querySelector('body');


    document.querySelectorAll('#marzipano canvas').forEach(function (canvas) {
      canvas.onwheel = e => e.stopPropagation();
    })
    this.preloader = false
    document.onreadystatechange = () => {
      if (document.readyState == "complete") {
        this.documentReady = true
        if (window.innerWidth > 767) window.scrollTo(0, 0)
      }
    }
    document.addEventListener('load', () => {
      this.readyState
    })
  },
  beforeMount() {
    window.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll);
  },
}

</script>

<style lang="less">

.icon-share {
  cursor: pointer;
}

.full-screen-request-active {
  .full-screen-request {
    display: flex;
  }
}

.full-screen-request {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.7);

  span {
    color: #fff;
  }

}

.fullpage-container .section.main-section {
  padding-bottom: 60px !important;
}

.filter-scrollbar {
  height: auto !important;
  max-height: none !important;
  min-height: 0 !important;
}

.full-page-inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.model-navigation {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  z-index: 99999;
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    &.main-section{
      .main-section span{
        color: yellow;
      }
    }
    &.player-section{
      .player-section span{
        color: yellow;
      }
    }
    &.characteristics-section{
      .characteristics-section span{
        color: yellow;
      }
    }
    &.option-section:not(.set-section):not(.attachment-section){
      .option-section span{
        color: yellow;
      }
    }
    &.option-section.set-section{
      .set-section span{
        color: yellow;
      }
    }
    &.attachment-section.option-section{
      .attachment-section span{
        color: yellow;
      }
    }
    li {
      margin: 0 40px;
      display: flex;
      position: relative;

      &.active {
        color: yellow;

        span {
          color: yellow;
        }
      }

      span {
        font-weight: 300;
      }

      &:after {
        content: '';
        display: block;
        height: 1px;
        width: 40px;
        background: #fff;
        opacity: 0.2;
        position: absolute;
        right: -60px;
        top: 8px;
      }

      &:last-child {
        &:after {
          display: none
        }
      }

      &.non-active {
        a {
          color: #fff !important;

          span {
            color: #fff;
          }
        }

        &.true-active {
          a {
            color: yellow !important;

            span {
              color: yellow;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main-section {
    .breadcrumbs {
      padding-left: 40px !important;
    }
  }
}

@media (max-width: 1199px) {
  .model-navigation{
    display:none
  }
}
.modal-info .video{
  border-radius: 15px;
  overflow: hidden;
}
.section {
  padding-bottom: 60px;
}
.icon-plus:before,
.icon-minus:before{
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
}
.model-navigation li:not(.active){
  cursor:pointer;
}
.slick-arrow{
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color:#000000;
    background:none;
    border:none;
    font-size:0;
    position: absolute;
    top:50%;
    transform: translateY(-16px);
    z-index: 10;
    padding: 0;
    width: 20px;
    &.slick-disabled{
      opacity:0.3;
    }
    &.slick-prev{
      left:-15px;
      &:before{
        transform: rotate(180deg);
      }
    }
    &.slick-next{
      right:-15px;

    }
    &:before{
      content: "\e921";
      font-family: 'boulder-icons' !important;
      width:100%;
      height:100%;
      font-size:30px;
      color:#929292;
      display:flex;
      align-items: center;
      justify-content: center;
      background:#292929;
      cursor:pointer;
    }
  }
.slick-dots{
  position: absolute;
  display: flex !important;
  list-style: none;
  width:100%;
  justify-content: center;
  padding:0;
  bottom:-10px;
  li{
    cursor:pointer;
    margin:0 5px;
    background:url('/img/dot.png');
    display:block;
    width:7px;
    height:7px;
    align-items: center;
    &.slick-active{
      background:url('/img/dot-active.png');
      width:9px;
      height:9px;
      top:-1px;
      left:1px;
      position: relative;
      margin:0 4px;
    }
  }
  button{
    display:none;
  }
}
.agile img{
  max-width:100%;
  max-height:400px;
}
.agile .slide{
  display:flex;
  justify-content:center;
  align-items:center;
}
@media(max-width:1199px) {
  .agile img {
    max-width: 100%;
    max-height: 300px;
  }
}
@media(max-width:767px){
  .slick-dots{
    display:none !important;
  }
  .agile__nav-button{
    &.agile__nav-button--next{
      left:20px;
    }
    &.agile__nav-button--prev{
      left:-20px;
    }

  }
}
.slick-track{
  display:flex !important;
  align-items: center;
}
@media(min-width:768px){
  .model-page #player{
    min-height:500px;
  }
  .model-page #player .player-section .media-player{
    min-height:500px;
  }
}
</style>
