<template>
  <div class="news-details articles-details">
    <div class="news-details-ps">
      <div :class="this.item.template" class="template">
        <span class="news-title"><span>{{ item.title }}</span><span class="date">{{ date(item.date) }}</span></span>
        <div class="first-block" v-if="item.block1">
          <div class="img">
            <img :src="`/img/media/articles/${ (date(item.date)).replace(/\./g,'') }/1.png`" alt="">
          </div>
          <div class="text" v-html="item.block1"></div>
        </div>
        <div class="second-block" v-if="item.block2">
          <div class="text" v-html="item.block2"></div>
        </div>
        <div class="third-block" v-if="item.block3">
          <div class="text" v-html="item.block3"></div>
        </div>
        <div class="img">
          <img :src="`/img/media/articles/${ (date(item.date)).replace(/\./g,'') }/2.png`" alt="">
        </div>
        <div class="fourth-block" v-if="item.block4">
          <div class="text" v-html="item.block4"></div>
        </div>
        <div class="img">
          <img :src="`/img/media/articles/${ (date(item.date)).replace(/\./g,'') }/3.png`" alt="">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "article-details",
  layout: 'media',
  head() {
    return {
      title: this.item.seoTitle,
      meta: [
        { hid: 'description', name: 'description', content: this.item.seoDescription }
      ]
    }
  },
  data() {
    return {}
  },
  async validate({store, params}) {
    try {
      const item = (await store.dispatch('media/fetchArticleByUrl', params.id))[0]
      return Boolean(item)
    } catch (e) {
      console.log(e)
    }
  },
  async asyncData({store, params}) {
    try {
      const item = (await store.dispatch('media/fetchArticleByUrl', params.id))[0]
      return {item}
    } catch (e) {
      console.log(e)
    }
  },
  mounted() {
  },
  computed: {
    images() {
      let item = this.item
      if (item.imgList.length > 0) {
        return this.item.imgList[0].split(',')
      } else {
        return []
      }

    }
  },
  methods: {
    date(value) {
      let date
      let currentDate = new Date(value)
      let day = ("0" + currentDate.getDate()).slice(-2);
      let month = ("0" + (currentDate.getMonth() + 1)).slice(-2);
      let year = currentDate.getFullYear()
      date = day + "." + month + "." + year
      return date
    },
  }
}
</script>

<style scoped lang="less">
.news-title {
  font-size: 20px;
  display: flex;
  margin-bottom: 30px;

  span {
    color: yellow;
  }

  .date {
    font-size: 12px;
    min-width: 300px;
    display: flex;
    justify-content: flex-end;
    color: #999;
  }
}

.template1 {
  .news-title {
    display: none;
  }
}

.template2 {
  .first-block {
    display: flex;
    flex-direction: column-reverse;

    img {
      align-self: center;
      display: block;
      margin: 20px auto;
      max-width: 100%;
      width: auto;
    }
  }
}

@media (max-width: 1199px) {
  .news-details {
    padding: 100px 30px 0;
  }
}

@media (max-width: 767px) {
  .news-details {
    padding: 80px 20px 0 !important;
  }
}

@media (max-width: 550px) {
  .news-details {
    padding: 60px 10px 0 !important;
  }
}
</style>