<template>
  <div class="news-wrapper">
    <div class="news-container">
      <div class="last-news" @click="goTo(articlesList[0].newsUrl)">
        <div class="img">
          <img :src="`/img/media/articles/${ (date(this.articlesList[0].date)).replace(/\./g,'') }/preview.png`" alt="">
          <span class="dark-layout"></span>
        </div>
        <div class="info">
          <div class="top">
            <span class="title">{{ articlesList[0].title }}</span>
            <span class="date">{{ date(articlesList[0].date) }}</span>
          </div>
          <p v-html="this.articlesList[0].block1"></p>
          <nuxt-link :to="{ name: `/articles/${(this.articlesList[0].id)}`, params: { id: this.articlesList[0]._id }}">
            Читать полностью
          </nuxt-link>
        </div>
      </div>
      <perfect-scrollbar ref="ps">
        <div class="news-block" v-for="item of this.displayedArticlesList">
          <div class="news-block-inner" @click="goTo(item.newsUrl)">
					<span class="title">
            {{ item.title }}
            <span class="mobile-date">
              {{ date(item.date) }}
            </span>
          </span>
            <div class="img">
              <img :src="`/img/media/articles/${ (date(item.date)).replace(/\./g,'') }/preview.png`" alt="">
            </div>
            <p v-html="item.block1"></p>
            <div class="news-block-bottom">
              <nuxt-link :to="`/articles/${item.newsUrl}`">Читать полностью</nuxt-link>
              <span>{{ date(item.date) }}</span>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
    <div class="pagination">
      <ul>
        <li
            v-for="(currentPage, index) of totalPages"
            @click="page = index + 1"
            :class="{'active': page === index + 1 }">
          {{ index + 1 }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import {isMobileOnly} from "mobile-device-detect";

export default {
  name: "articles",
  layout: 'media',
  head() {
    return {
      title: 'Советы и свежие статьи по вилочным и фронтальным погрузчикам компании Boulder!',
      meta: [
        { hid: 'description', name: 'description', content: 'Статьи о спецтехники Boulder. Полезная информация по вилочным и фронтальным погрузчикам, правильный уход за техникой, области применения колесных погрузчиков' }
      ]
    }
  },
  data() {
    return {
      windowWidth: 0,
      page: 1,
      perPage: 4,
      pages: [],
      hiddenArticles: [],
    }
  },

  async asyncData({store}) {
    const articlesList = await store.dispatch('media/fetchArticles')
    // сортируем по дате
    articlesList.sort(function (a, b) {
      return new Date(b.date) - new Date(a.date);
    });
    return {articlesList}
  },
  mounted: function () {
    this.$nextTick(function () {
      this.onResize();
    })
    window.addEventListener('resize', this.onResize)


  },
  computed: {
    displayedArticlesList() {
      return this.paginate(this.articlesList);
    },
    totalPages() {
      return Math.ceil(this.articlesList.length / this.perPage);
    },

  },
  methods: {
    goTo(to) {
      this.$router.push(`/articles/${to}`)
    },
    date(value) {
      let string = value
      let tPosition = string.indexOf('T')
      let date = string.slice(0, tPosition) + 'T23:00:00.000Z'

      date = new Date(date)
      let dd = date.getDate()
      if (dd < 10) dd = '0' + dd;
      let mm = date.getMonth() + 1;
      if (mm < 10) mm = '0' + mm;
      let yy = date.getFullYear();

      return dd + '.' + mm + '.' + yy;
    },
    onResize() {
      if (window.innerWidth < 1200) {
        this.perPage = 99999999
      } else {
        this.perPage = 4
      }
    },
    setPages() {
      let numberOfPages = Math.ceil(this.articlesList.length / this.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index);
      }
    },
    paginate(list) {
      let page = this.page;
      let perPage = this.perPage;
      let from = (page * perPage) - perPage;
      let to = (page * perPage);
      return list.slice(from, to);
    }
  },
  watch: {
    articlesList() {
      this.setPages();
    }
  }
}
</script>

<style lang="less" scoped>
</style>