<template>
  <div class="attach-catalog">
    <div class="panel" id="attachment">
          <div class="section large-blocks option-section attachment-section">
            <div class="model-container">
              <div class="model-content" style="padding: 110px 0 0;">
                <div class="breadcrumbs">
                  <ul>
                    <li>
                      <nuxt-link to="/"><span class="icon-home breadcrumbs-home"></span>
                      </nuxt-link>
                    </li>
                    <li>Навесное оборудование</li>
                  </ul>
                </div>
                <perfect-scrollbar ref="ps" :options="scrollOptions">
                  <div class="options-wrapper">
                    <div @click="toDetails(attachmentItem)" class="item" v-for="attachmentItem of attachmentsListFiltered" v-if="groups.length !== 0">
                        <div class="options-icon-inner">
                        </div>
                      <div class="item-inner">
                        <span class="name" v-if="attachmentItem.ValueRus !== undefined">{{ attachmentItem.NameRus }}</span>
                        <div v-if="attachmentItem.imgId" class="img" :style="`background:#333333 center / cover no-repeat url(https://epc.kuzmin.online/epcapi/raw_file/${attachmentItem.imgId}/512);`"></div>
                        <div v-else class="img" style="background:#333333 url(/img/nophoto.png) no-repeat center center; background-size: auto;"></div>
                      </div>
                    </div>
                    <span class="no-item-note" v-else >Навесное оборудование по заданным категориям не найдено.</span>
                  </div>
                </perfect-scrollbar>
                <div class="options-page-bottom">
                  <div class="set-filter">
                    <span
                        v-for="attachmentItem of attachmentFilterItems"
                        @click="attachmentFilterSet(attachmentItem.value)"
                        :class="{'active': attachmentItem.value === attachmentFilterCurrent}">
                              {{ attachmentItem.name }}
                            </span>
                  </div>
                  <div class="action">
                  </div>
                  <div class="share">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>

</template>

<script>

import {horizontalScrollWheel} from "@/mixins/horizontalScrollWheel";

export default {
  name: "Attachment",
  layout: "attachment",
  mixins: [horizontalScrollWheel],
  head() {
    return {
      title: '',
      meta: [
        { hid: 'description', name: 'description', content: '' }
      ]
    }
  },
  data() {
    return {
      idData:{},
      scrollOptions: {
        suppressScrollY: true,
      },
      filters: {
        attachmentFilter: 0,
      },
      attachmentFilterItems: [
        {name: 'Бетоносмесители', value: 35},
        {name: 'Буры', value: 39},
        {name: 'Шнеки', value: 42},
        {name: 'Вилы', value: 34},
        {name: 'Захваты', value: 33},
        {name: 'Ковши', value: 27},
        {name: 'Щетки', value: 30},
        {name: 'Каретка', value: 29},
        {name: 'Отвалы', value: 32},
        {name: 'Гидромолоты', value: 37},
        {name: 'Шнекороторы', value: 31},
        {name: 'Другое', value: 38},
        {name: 'Все', value: 0},
      ],
    }
  },
  async asyncData({store}) {
    try {
      let groups = await store.dispatch('product/getAllGroupTypes')

      const attIds = groups.map(function(item){
        return item.PartsGroupsId
      })
      const imgsId = await store.dispatch('product/getAllImages', attIds)

      const attachments = await store.dispatch('product/getAttachmentsByIds', attIds)
      groups.forEach(function(item){
        imgsId.forEach(function(itemInner){
          if (item.PartsGroupsId === itemInner.SourceId){
            item.imgId = itemInner.Id
          }
        })
        attachments.forEach(function(itemInner){
          if (item.PartsGroupsId === itemInner.Id){
            item.PartsCategoryId = itemInner.PartsCategoryId
            item.NameRus = itemInner.NameRus
            item.NameEng = itemInner.NameEng
            item.NameChi = itemInner.NameChi
          }
        })
      })
      return {
        groups,
      }
    } catch (e) {
      console.log(e)
    }
  },
  mounted() {
    if (window.innerWidth < 768) {
      document.querySelector('.attachment-section').style.height = window.innerHeight + 'px'
    }
  },
  computed: {
    attachmentFilterCurrent(){
      return this.$store.state.attachmentFilterCurrent
    },
    attachmentsList() {
      let data = this.idData,
          finalList = [],
          alreadyAdded = [],
          groups = this.groups

      // check for name repeats
      groups.forEach(function(item){
        if (alreadyAdded.indexOf(item.NameRus) === -1){
          alreadyAdded.push(item.NameRus)
          finalList.push(item)
        }
        if (data[item.NameRus]){
          data[item.NameRus].push(item.PartsGroupsId)
        } else {
          data[item.NameRus] = [item.PartsGroupsId]
        }
      })

      // If no img search for another group item with img
      finalList.forEach(function (item) {
        if(!item.imgId){
          groups.forEach(function(groupsItem){
            if (item.NameRus === groupsItem.NameRus) {
              item.imgId = groupsItem.imgId
            }
          })
        }
      })
      return finalList
    },
   attachmentsListFiltered() {
      let filter = this.attachmentFilterCurrent
      if (filter === 0){
        return this.attachmentsList
      } else {
        let array = this.attachmentsList.filter(function(item){
          return item.PartsCategoryId === filter
        })
        return array
      }
    }
  },
  methods: {
    toDetails(item){
      this.$router.push(`/attachment/${item.NameEng.replace(/\s/g, "_").toLowerCase()}`)
    },
    attachmentFilterSet(value) {
      this.$store.commit('attachmentFilterSet', value)
    },
  },
}

</script>

<style lang="less">
.attachment-layout .attach-catalog{
  padding:0 15px;
  box-sizing: border-box;
}
@media (max-width: 1199px) and (min-width: 1024px) {
  .attachment-layout .model-container .model-content .breadcrumbs ul li{
    margin:0;
  }
  .attachment-layout .model-container .model-content {
    flex-direction: column;
    justify-content: flex-start;
    padding-left:15px !important;
    padding-right:15px !important;
  }
  .attachment-layout .option-section.large-blocks .options-wrapper .item{
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .model-layout.attachment-layout .option-section .model-container .model-content .ps .options-wrapper{
    height: 500px;
  }
  .attachment-layout .option-section .options-page-bottom{
    width:100%;
  }
  .attachment-layout.model-layout .option-section .model-container .model-content .options-page-bottom{
    margin: 30px 0 0;
  }
  .attachment-layout .option-section .options-page-bottom .set-filter{
    justify-content: flex-start !important;
  }
}
@media(max-width:1023px){
  .attachment-layout .model-container .model-content{
    padding:0 15px !important;
    height:100% !important;
  }
  .attachment-layout .section{
    padding:0;
  }
}
@media(max-width:991px) {
  .attachment-layout .option-section .options-wrapper {
    max-height: 400px;
  }

  .attachment-layout .option-section .model-content .ps {
    flex-grow: 0;
    margin-bottom: 40px;
  }
  .attachment-layout .options-page-bottom .action,
  .attachment-layout .options-page-bottom .share{
    display:none !important;
  }
}
@media(max-width:767px){
  .attachment-layout.model-layout .panel:not(#index) .model-container .model-content .breadcrumbs{
    padding-left:55px !important;
    padding-top:20px !important;
  }
  .attachment-layout.model-layout .option-section .model-container .model-content .ps{
    flex-grow:0;
  }
  .model-layout .option-section.large-blocks .model-container .model-content .ps .options-wrapper .item{
    width: 280px;
    height: 320px;
  }
}
@media(max-width:400px){
  .attachment-layout .model-container .model-content .breadcrumbs ul li:last-child {
    font-size:15px;
  }
  .attachment-layout .menu-layout .menu-toggle.for-mobile {
    top:18px !important;
  }
  body .attachment-layout.model-layout .panel:not(#index) .model-container .model-content .breadcrumbs{
    padding-left:45px !important;
    padding-bottom:0;
  }


}
.icon-share {
  cursor: pointer;
}

.full-screen-request-active {
  .full-screen-request {
    display: flex;
  }
}

.full-screen-request {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.7);

  span {
    color: #fff;
  }

}

.fullpage-container .section.main-section {
  padding-bottom: 60px !important;
}

.filter-scrollbar {
  height: auto !important;
  max-height: none !important;
  min-height: 0 !important;
}

.full-page-inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.model-navigation {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;

  ul {
    padding: 0;
    list-style: none;
    display: flex;

    li {
      margin: 0 40px;
      display: flex;
      position: relative;

      &.active {
        color: yellow;

        span {
          color: yellow;
        }
      }

      span {
        font-weight: 300;
      }

      &:after {
        content: '';
        display: block;
        height: 1px;
        width: 40px;
        background: #fff;
        opacity: 0.2;
        position: absolute;
        right: -60px;
        top: 8px;
      }

      &:last-child {
        &:after {
          display: none
        }
      }

      &.non-active {
        a {
          color: #fff !important;

          span {
            color: #fff;
          }
        }

        &.true-active {
          a {
            color: yellow !important;

            span {
              color: yellow;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main-section {
    .breadcrumbs {
      padding-left: 40px !important;
    }
  }
}

@media (min-width: 1200px){
  .attachment-layout .attach-catalog .option-section .model-container .model-content .options-page-bottom{
    padding-top:20px;
  }
}

@media (max-width: 1199px) {

  .attachment-layout .model-container .model-content {
    padding: 0 !important;
  }
  .attachment-layout .layout-container{
    display:none;
  }
  .attachment-layout .attach-catalog{
    padding:0 20px;
    box-sizing: border-box;
    position: absolute;
    height:100%;
    width:100%;
  }
  .attachment-layout .attach-catalog .panel,
  .attachment-layout .attach-catalog .panel .section,
  .attachment-layout .attach-catalog .panel .section .model-container,
  .attachment-layout .attach-catalog .panel .section .model-container .model-content{
    height:100%;
  }
  .attachment-layout .attach-catalog .panel .section .model-container .model-content{
    justify-content: space-between !important;
  }
  body .attachment-layout .attach-catalog .section{
    padding:0;
    margin:0;
  }
  .attachment-layout .attach-catalog .option-section .model-container .model-content .options-page-bottom{
    padding-bottom:20px;
  }
  .attachment-layout .attach-catalog .breadcrumbs{
    padding-left:50px !important;
  }
  .model-navigation {
    width: 100px;
    margin: 0 auto;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;

    ul {
      justify-content: space-between;
      width: 100%;

      li {
        align-items: center;
        margin: 0;
        width: 10px;
        height: 10px;
        display: block;
        background: url('~@/static/img/dot.png') no-repeat !important;
        background-position: center center;
        background-size: auto;

        span {
          display: none;
        }

        &.active {
          background: url('~@/static/img/dot-active.png') no-repeat !important;
          background-position: center center;
        }

        &:after {
          display: none;
        }
      }
    }
  }
}
@media (max-height: 699px) {
  .attachment-layout .attach-catalog .model-container .model-content .breadcrumbs {
    padding: 20px 0;
  }
  .attachment-layout .attach-catalog .option-section .model-content .ps{
    margin-bottom:0;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .fullpage-container .section {
    padding-bottom: 0 !important;
  }

  .model-navigation {
    display: none !important;
  }
}

.section {
  padding-bottom: 60px;
}

.attachment-layout .model-container .model-content {
  padding: 110px 0 0;
}
</style>
