<template>
	<div class="model-edit-page">
		<label>Название модели</label>
		<input v-model="name">
		<label>Цена модели</label>
		<input v-model="modelPrice">
		<label>Тип погрузчика</label>
		<input v-model="type">
		<label>Изображение для каталога</label>
		<input v-model="catalogCardImg">
		<label>Изображения модели</label>
		<div class="modelImages">
			<input type="text" v-model="firstSrc">
			<input type="text" v-model="secondSrc">
			<input type="text" v-model="thirdSrc">
		</div>
		<label>Видеообзор</label>
		<input v-model="modelVideo">

		<div class="catalog-main-spec">
			<label>Объем ковша</label>
			<input type="text" v-model="newBucketCapacity">
			<label>Грузоподъемность</label>
			<input type="text" v-model="newCarryingCapacity">
			<label>Масса</label>
			<input type="text" v-model="newWeight">
			<label>Высота разгрузки</label>
			<input type="text" v-model="newDischargeHeight">
			<label>Высота подъема</label>
			<input type="text" v-model="newLiftingHeight">
			<label>Глубина копания</label>
			<input type="text" v-model="newDiggingDepth">
		</div>
		<div v-for="(value, name, index) of newCharacteristics" class="characteristics-block">
			<div class="group-name">{{name}} <button @click="deleteGroup(name)">удалить</button></div>

			<div v-for="(innerValue, innerName, innerIndex) of newCharacteristics[name]" class="characteristics-line">
				<div class="name">{{innerName}}</div>
				<input type="text" class="value" :value="innerValue" :ref="`char${index}-${innerIndex}`">
				<button @click="deleteChar(name, innerName)">удалить</button>
				<button @click="setChar(name, innerName, index, innerIndex)">сохранить</button>
			</div>
		</div>
		<div class="add-characteristics">
			<span class="add-title">Добавить хар-ки</span>
			<div class="input-group">
				<label>Название группы характеристик</label>
				<input v-model="charGroup" type="text">
			</div>
			<div class="input-group">
				<label>Характеристикиперечисляются в формате: "<i>название характеристики:значение характеристики;</i>"<span>ПО ОДНОЙ ЗА РАЗ</span></label>
				<textarea v-model="charValue" placeholder="название: значение;"></textarea>
			</div>
			<span class="add-char-group" @click="addCharGroup">Добавить еще группу</span>
		</div>

		<div class="controls">
			<button><nuxt-link to="/admin/products">Оставить без изменений</nuxt-link></button>
			<button @click="saveChanges">Сохранить изменения</button>
		</div>
	</div>


</template>

<script>
	export default {
		layout: 'admin',
		name: "modelEdit",
		data() {
			return {
				// временные переменные для добвления новых характеристик
				charGroup: '',
				charValue: '',

				name: '',
				catalogCardImg: '',
				modelImages: [],
				firstSrc: '',
				secondSrc: '',
				thirdSrc: '',
				modelPrice: '',
				modelVideo: '',
				type: '',
				newBucketCapacity: '',
				newCarryingCapacity: '',
				newWeight: '',
				newDischargeHeight: '',
				newLiftingHeight: '',
				newDiggingDepth: '',
				newCharacteristics: '',
			}
		},
		async asyncData({store, params}) {
			const item = (await store.dispatch('product/fetchAdminByModel', params.model))[0]
			return {item}
		},
		mounted() {
			this.name = this.item.model
			this.type = this.item.type
			this.catalogCardImg =this.item.catalogCardImg
			this.firstSrc = this.item.modelImages[0]
			this.secondSrc = this.item.modelImages[1]
			this.thirdSrc = this.item.modelImages[2]
			this.newBucketCapacity = this.item.catalogMainSpecifications.bucketCapacity
			this.newCarryingCapacity = this.item.catalogMainSpecifications.carryingCapacity
			this.newWeight = this.item.catalogMainSpecifications.weight
			this.newDischargeHeight = this.item.catalogMainSpecifications.dischargeHeight
			this.newLiftingHeight = this.item.catalogMainSpecifications.liftingHeight
			this.newDiggingDepth = this.item.catalogMainSpecifications.diggingDepth
			this.modelPrice = this.item.modelPrice,
			this.modelVideo = this.item.modelVideo
			if (!this.item.characteristics){
				this.newCharacteristics = {}
			} else {
				this.newCharacteristics = this.item.characteristics
			}
		},
		methods: {
			setChar(name, innerName, index, innerIndex){
				// в html input задаем уникальный ref с помощью index, а затем вытягиваем значение value
				let newValue = (this.$refs[`char${index}-${innerIndex}`])[0].value
				// устанавливаем новое значение нужной характеристики
				this.$set(this.newCharacteristics[name], innerName, newValue)

				this.$swal('Характеристика изменена', '', 'success')
			},
			deleteGroup(group){
				this.$delete(this.newCharacteristics, group)
				this.$swal('Группа характеристик удалена', '', 'warning')
			},
			deleteChar(name, innerName) {
				this.$delete(this.newCharacteristics[name],innerName)
				this.$swal('Характеристика удалена', '', 'warning')
			},
			addCharGroup() {
				if (!this.charGroup || !this.charValue) {
					this.$swal('заполните характеристики', "", "error")
				} else {
					// избавляемся от ненужных символов/пробелов/переносов, разбиваем на 2 значения
					let optionsPairArray = [];
					let str = this.charValue;
					str = str.replace(/\s+/g, ' ');
					let arrayOfStrings = str.split(';').filter(i => i);
					arrayOfStrings.forEach(function (str) {
						optionsPairArray.push(str)
					});

					let myPair = optionsPairArray[0].split(':');
					let key = myPair[0].trim();
					let value = myPair[1].trim();

					// Если такой группы характеристик еще нет, то создаем.
					if	(!this.newCharacteristics[this.charGroup]) {
						this.$set(this.newCharacteristics, this.charGroup, {})
					}
					// Вносим значения
					this.$set(this.newCharacteristics[this.charGroup], key, value)
				}
			},
			async saveChanges() {

				// Присваиваем значения по умолчанию ссылкам изображений
				if (!this.catalogCardImg){
					this.catalogCardImg = `/img/models/${(this.name).toLowerCase()}/catalog/1.png`
				}
				if (!this.firstSrc){
					this.firstSrc = `/img/models/${(this.name).toLowerCase()}/1.png`
				}
				if (!this.secondSrc){
					this.secondSrc = `/img/models/${(this.name).toLowerCase()}/2.png`
				}
				if (!this.thirdSrc){
					this.thirdSrc = `/img/models/${(this.name).toLowerCase()}/3.png`
				}
				this.modelImages = [this.firstSrc, this.secondSrc, this.thirdSrc]


				const formData = {
					model: this.name,
					type: this.type,
					bucketCapacity: this.newBucketCapacity,
					carryingCapacity: this.newCarryingCapacity,
					weight: this.newWeight,
					dischargeHeight: this.newDischargeHeight,
					liftingHeight: this.newLiftingHeight,
					diggingDepth: this.newDiggingDepth,
					catalogCardImg: this.catalogCardImg,
					characteristics: this.newCharacteristics,
					modelImages: this.modelImages,
					modelPrice: this.modelPrice,
					modelVideo: this.modelVideo,
				}

				try {

					await this.$store.dispatch('product/update', formData)
					this.$swal('Информация обновлена', '', 'success')

					this.loading = false
				} catch (e) {
					this.loading = false
				}
			}
		}
	}
</script>

<style lang="less" scoped>
	.model-edit-page input{
		display:block;
		height:35px;
		min-width:400px;
		width:100%;
		padding:0 15px;
		margin:5px 0;
		border:none;
		box-sizing:border-box;
		background:rgba(255,255,255,0.3);
		color:#fff;
		font-size:16px;
		border-radius:5px;
	}
	.model-edit-page label{
		color:#666;
		font-size:12px;
		padding:0 5px;
	}
	.characteristics-block{
		margin-top:50px;
		.group-name{
			font-size:24px;
			text-align: center;
			width:100%;
			display:flex;
			justify-content: flex-start;
			color:yellow;
		}
	}
	.characteristics-line{
		display:flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		border-bottom:1px dashed #333;
		padding:5px 0;
		align-items: center;
		.name{
			flex-grow:1;
		}
		.value{
			width:300px;
		}
		button{
			margin-left:15px;
		}
	}
	.add-characteristics{
		textarea{
			width:100%;
			height:100px;
			background:rgba(255,255,255,0.3);
			border-radius: 10px;
		}
		.add-char-group{
			font-size:16px;
			padding:0 20px;
			height:35px;
			background:yellow;
			color:#000;
			display:flex;
			justify-content: center;;
			align-items: center;
			width:300px;
			border-radius: 10px;
			margin:10px 0;
		}
		.add-title{
			font-size:20px;
			margin: 40px 0;
			display:block;
			text-align:center;
		}
	}
</style>