<template>
	<div class="admin-products">
		<button @click="addForm" class="product-add-toggle">
			<span v-if="!this.addFormOpened">Добавить технику</span>
			<span v-else>Список техники</span>
		</button>
		<div class="product-list" v-if="!this.addFormOpened">

			<div class="input-group product-type">

				<input type="radio" name="type" value="all" id="all" v-model="type">
				<label for="all">Все</label>

				<input type="radio" name="type" value="frontloaders" id="frontRadio" v-model="type">
				<label for="frontRadio">Фронтальные погрузчики</label>

				<input type="radio" name="type" value="forkloaders" id="forkRadio" v-model="type">
				<label for="forkRadio">Вилочные погрузчики</label>

				<input type="radio" name="type" value="backhoe" id="backhoeRadio" v-model="type">
				<label for="backhoeRadio">Экскаваторы-погрузчики</label>

				<input type="radio" name="type" value="excavator" id="excavatorRadio" v-model="type">
				<label for="excavatorRadio">Экскаваторы</label>

			</div>

			<div v-for="product of filteredProducts" :key="product._id" class="product-item">
				<v-collapse-wrapper>
					<div class="visible">
						<div class="img">
							<img :src="product.catalogCardImg" alt="">
						</div>
						<span class="model-name"><b v-collapse-toggle>{{product.model}}</b> <span @click="edit(product.model)">Редактировать</span></span>
						<span class="remove" @click="removeProduct(product._id)">Удалить</span>
					</div>
					<div class="" v-collapse-content>
						<span v-for="(charPointValue, charPointName) of product">
							{{charPointName}} - {{charPointValue}}
						</span>
					</div>
				</v-collapse-wrapper>
			</div>
		</div>



		<transition name="fade">
			<product-add v-if="this.addFormOpened" @products-update="newProdAdd"></product-add>
		</transition>
	</div>
</template>

<script>
	import ProductAdd from "../../../components/admin/ProductAdd";

	export default {
		name: "products",
		components: {ProductAdd},
		layout: 'admin',
		middleware: ['admin-auth'],
		data() {
			return {
				type: 'all',
				modal:false,
				modelToEdit:'',
				addFormOpened: false,
			}
		},
		async asyncData({store}) {
		  let products
      store.getters.allVehiclesWithChars ? products = store.getters.allVehiclesWithChars : products = await store.dispatch('fetchAllVehiclesWithChars', {root: true})
			return {products}
		},
		computed: {
			filteredProducts(){
				let type = this.type
				let array = [];

				if ( type !== 'all' ){
					this.products.forEach( function(item){
						if ( item.type === type ) {
							array.push(item)
						}
					})
				} else {
					array = this.products
				}


				return array
			}
		},
		component: {
			ProductAdd
		},
		methods: {
			addForm() {
				this.addFormOpened = !this.addFormOpened
			},
			newProdAdd(newProduct) {
				this.products.push(newProduct)
			},
			async removeProduct(id) {
				let value = confirm('Вы уверены что хотите удалить единицу техники?')
				if(value){
					try {
						await this.$store.dispatch('product/remove', id)
						this.products = this.products.filter(p => p._id !== id)
					} catch (e) {
						console.log(e)
					}
				}
			},
			edit(model){
				this.$router.push(`/admin/products/${model.toLowerCase()}`)
			}
		}
	}
</script>

<style lang="less" scoped>
	.product-add-container{
		position: relative;
		top:0;
		&.fade-enter-active{
			 transition: 0.5s;
			 position: relative;
		 }
		&.fade-leave-active {
			 opacity: 0;
			 transition: 0.5s;
			 position: relative;
			 top:50px;
		 }
		&.fade-enter, .fade-leave-to {
			 opacity: 0;
			 transition: 0.5s;
			 position: relative;
			 top:50px;
		 }
	}
</style>
