<template>
	<div>
    <div class="attachment-block" v-for="att of attachmentsList">
      <span>{{ att.NameRus }}</span> <span>url: /attachment/{{ att.NameEng.replace(/\s/g, "_").toLowerCase() }}</span>
    </div>
	</div>
</template>

<script>
	export default {
		name: "attachment",
		layout: "admin",
		middleware: ['admin-auth'],
    data(){
		  return{
        idData:{},
      }
    },
    async asyncData({store}) {
      try {
        let groups = await store.dispatch('product/getAllGroupTypes')

        const attIds = groups.map(function(item){
          return item.PartsGroupsId
        })
        const imgsId = await store.dispatch('product/getAllImages', attIds)

        const attachments = await store.dispatch('product/getAttachmentsByIds', attIds)
        groups.forEach(function(item){
          imgsId.forEach(function(itemInner){
            if (item.PartsGroupsId === itemInner.SourceId){
              item.imgId = itemInner.Id
            }
          })
          attachments.forEach(function(itemInner){
            if (item.PartsGroupsId === itemInner.Id){
              item.PartsCategoryId = itemInner.PartsCategoryId
              item.NameRus = itemInner.NameRus
              item.NameEng = itemInner.NameEng
              item.NameChi = itemInner.NameChi
            }
          })
        })
        return {
          groups,
        }
      } catch (e) {
        console.log(e)
      }
    },
    computed: {
      attachmentsList() {
        let data = this.idData
        let finalList = []
        let alreadyAdded = []

        this.groups.forEach(function (item) {
          if (alreadyAdded.indexOf(item.NameRus) === -1) {
            alreadyAdded.push(item.NameRus)
            finalList.push(item)
          }
          if (data[item.NameRus]) {
            data[item.NameRus].push(item.PartsGroupsId)
          } else {
            data[item.NameRus] = [item.PartsGroupsId]
          }
        })
        return finalList
      },
    }
	}

</script>

<style scoped lang="less">
.attachment-block{
  display:flex;
  justify-content:space-between;
  padding:10px;
  border:1px solid #333;
  cursor:pointer;
  &:hover{
    border-color:#fff;
    box-shadow: 2px 4px 15px 3px rgba(255, 255, 255, 0.2),
    inset 0 -5px 5px 0px rgba(255, 255, 255, 0.1)
  }
}
</style>