<template>
	<div>
		<ul class="user-list">
<!--			<li v-for="dealer in dealers" :key="dealer._id">
        <div><i>Название:</i> <input type="text" :value="dealer.name"></div>
				<div><i>Координаты:</i> <input type="number" placeholder="x":value="dealer.x"> <span>X</span><input placeholder="x" type="number" :value="dealer.y"></div>
				<div><i>Регион:</i><input type="text" :value="dealer.region"></div>
				<div><i>Город:</i> <input type="text" :value="dealer.city"></div>
				<div><i>Адрес:</i><input type="text" :value="dealer.address"></div>
				<div><i>Email:</i><input type="text" :value="dealer.email"></div>
				<div><i>Телефон:</i> <input type="number" :value="dealer.phone"></div>
			</li>-->
      <li v-for="dealer in dealers" :key="dealer._id">
        <div>
          <span>{{dealer.name}}</span>
          <span>{{dealer.region}} || {{dealer.city}} || {{dealer.region}}</span>
        </div>
        <div>
          <span>{{dealer.phone}}</span>
          <span>{{dealer.email}}</span>
        </div>
        <div>
          <span></span>
          <span class="remove-dealer" @click="removeDealer(dealer._id)">Удалить</span>
        </div>
      </li>
		</ul>
		<div class="user-add">
      <h3>Добавить дилера</h3>
			<div class="input-group">
				<input v-model="x" type="number" placeholder="Координаты - x">
			</div>
			<div class="input-group">
				<input v-model="y" type="number" placeholder="Координаты - y">
			</div>
      <div class="input-group">
				<input v-model="name" type="text" placeholder="Название дилера">
			</div>
      <div class="input-group">
        <input v-model="region" type="text" placeholder="Регион">
      </div>
      <div class="input-group">
        <input v-model="city" type="text" placeholder="Город">
      </div>
      <div class="input-group">
        <input v-model="address" type="text" placeholder="Адрес">
      </div>
      <div class="input-group">
        <input v-model="email" type="text" placeholder="Email">
      </div>
      <div class="input-group">
        <input v-model="phone" type="number" placeholder="Телефон">
      </div>
      <div class="input-group">
        <input v-model="imgSrc" type="text" placeholder="Изображение ( например: msc.png )">
      </div>
			<button @click="createDealer">Добавить</button>
		</div>
	</div>
</template>

<script>

	export default {
		name: "contacts",
		layout: 'admin',
		middleware: ['admin-auth'],
		data() {
			return {
				loading: false,
        x: '', //43.09752189885726,
        y: '', // 131.90132981481926,
        name: '', //'Болдер-Спецтехника',
        city: '', //'Владивосток',
        address: '', //'ул. Липовая д.7а каб 307',
        phone: '', //'+79089915118',
        email: '', //'info@boulder-loaders.ru',
        region: '', //'Приморский край',
        mapActive: false, //true,
        mapZoom: 15, //15,
        short: true, //true,
        imgSrc: '', //'vdk.png'

        dealerToEdit: null,
        dealerToRemove: null
			}

		},
		async asyncData({store}) {
			const dealers = await store.dispatch('fetchAllDealers')
			return {dealers}
		},
		methods: {
			async createDealer() {
					this.loading = true
					try {
						const formData = {
              x: this.x,
              y: this.y,
              name: this.name,
              city: this.city,
              address: this.address,
              phone: this.phone,
              email: this.email,
              region: this.region,
              mapActive: this.mapActive,
              mapZoom: this.mapZoom,
              short: this.short,
              imgSrc: this.imgSrc
						}
            console.log(formData)
						await this.$store.dispatch('addDealer', formData)
						this.$swal('Новый дилер добавлен', '', 'success')
						this.loading = false
					} catch (e) {
						this.loading = false
					}
			},

			async removeDealer(id) {
        let value = confirm('Вы уверены что хотите удалить диллера?')
        if(value){
          try {
            console.log(id)
            await this.$store.dispatch('removeDealer', id)
            this.dealers = this.dealers.filter(p => p._id !== id)
          } catch (e) {
            console.log(e)
          }
        }
      }
		}
	}
</script>

<style scoped lang="less">
.remove-dealer{
  font-size:18px;
  color:#FF0000;
  &:hover{
    opacity:0.5;
  }
}
.user-add{
  display:block;
  margin-top:100px;
  button{
    width:330px;
    display: block;
    margin: 30px 0;
    border: 2px solid #FF0000;
    color: #FFFFFF;
    background: #FF0000;
    padding: 0 25px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s ease-in;
  }
}
.user-list{
  padding:0;
  list-style: circle;
  li{
    border:1px solid #333;
    padding:10px;
    cursor:pointer;
    margin-bottom:15px;
    &:hover{
      border:1px solid rgba(255, 255, 0);
      box-shadow: 2px 4px 15px 3px rgba(255, 255, 0, 0.3),
      inset 0 -5px 5px 0px rgba(255, 255, 0, 0.1);
      div{

      }
    }
    div{
      font-weight:300;
      display:flex;
      justify-content: space-between;
      border-bottom:1px solid #333;
      padding:15px 0;
      &:nth-child(2){
        border-bottom:none;
        i{
         flex-grow:1;
          text-align: left;
        }
      }
    }
  }
}
.input-group{
  display:flex;
  flex-direction: column;
  margin-bottom:10px;
  input{
    background:none;
    border:none;
    border-bottom:1px solid #898989;
    flex-grow:1;
    padding:15px;
    color:#fff;
    max-width:300px;
  }
  label{
    min-width:300px;
    font-weight:300;
    font-size:16px;
    .note{
      display:block;
      margin-top:5px;
      font-size:12px;
      color:#666;
    }
  }
}
</style>