<template>
	<div class="login-container">
		<div class="login-wrapper">
			<div class="login-inner">
				<div class="input-group">
					<label>Логин</label>
					<input v-model="login" type="text">
				</div>
				<div class="input-group">
					<label>Пароль</label>
					<input v-model="password" type="password">
				</div>
				<div class="controls">
					<button @click="onSubmit">Войти</button>
					<button class="back"><nuxt-link to="/">Вернуться на сайт</nuxt-link></button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: "login",
		layout: 'empty',
		data() {
			return {
				loading: false,
				login: '',
				password: '',
			}
		},
		mounted() {
			const {message} = this.$route.query

			switch (message) {
				case 'login':
					this.$swal('Для начала войдите в систему', '', 'error')
					break
				case 'logout':
					this.$swal('Вы успешно вышли из системы', '', 'success')
					break
				case 'session':
					this.$swal('Время сессии истекло. Пожалуйста, зайдите заново', '', 'warning')
					break
			}

      document.onkeyup = (e) => {
        e = e || window.event;
        if (e.keyCode === 13) this.onSubmit()
        return false;
      }




    },
		methods: {
			async onSubmit() {
				this.loading = true

				try {

				  if(!this.login) {
            this.$swal('Введите логин', '', 'error');
          } else if (!this.password){
            this.$swal('Введите пароль', '', 'error');
          } else {
            const formData = {
              login: this.login,
              password: this.password,
            }

            await this.$store.dispatch('auth/login', formData)
            this.$router.push('/admin')
          }


				} catch (e) {
					this.loading = false
				}
			}
		}
	}
</script>

<style scoped>
	.login-container{
		position: fixed;
		width:100%;
		height:100%;
		display:flex;
		justify-content: center;
		align-items: center;
	}
</style>