<template>
	<div class="epc-items-page">
    <div class="filter">
      <div class="input-group">
      <label for="all">Все</label>
      <input name="type" type="radio" id="all" value="Все" v-model="filter">
    </div>

      <div class="input-group">
        <label for="front">Фронтальные погрузчики</label>
        <input name="type" type="radio" value="Фронтальные погрузчики" id="front" v-model="filter">
      </div>
      <div class="input-group">
        <label for="fork">Вилочные погрузчики</label>
        <input name="type" type="radio" value="Вилочные погрузчики" id="fork" v-model="filter">
      </div>
      <div class="input-group">
        <label for="backhoe">Экскаваторы-погрузчики</label>
        <input name="type" type="radio" value="Экскаваторы-погрузчики" id="backhoe" v-model="filter">
      </div>
      <div class="input-group">
        <label for="excavators">Экскаваторы</label>
        <input name="type" type="radio" value="Экскаваторы" id="excavators" v-model="filter">
      </div>

    </div>
		<ul>
      <li v-for="product of prodList" @click="openModal(product)">
        <span class="model">{{product.Name}}</span>
        <span class="type">{{ product.VehicleTypeRus }}</span>
      </li>
    </ul>
    <transition name="fade">
      <div class="modal-info admin-item-model" v-if="modal">
        <div class="modal-layout" @click="cancelChanges"></div>
        <div class="modal-info-inner">
          <div class="top">{{activeItem.Name}} // {{activeItem.VehicleTypeRus }}</div>
          <div class="main-content">
            <div class="block">
              <span>Видеообзор</span>
              <div class="toggle">
                <input v-model="itemDetails.withVideo" type="checkbox" name="toggle" id="videoToggleButton" class="toggle-button">
              </div>
            </div>
            <div class="block" :class="{'disabled': !itemDetails.withVideo }">
              <span>URL Видео</span>
              <div class="toggle">
                <input v-model="itemDetails.videoLink" type="text">
              </div>
            </div>
            <div class="block">
              <span>Каталог модели</span>
              <div class="toggle">
                <input v-model="itemDetails.withCatalog" type="checkbox" name="toggle" id="catalogToggleButton" class="toggle-button">
              </div>
            </div>
            <div class="block">
              <span>360 плеер Интерьер</span>
              <div class="toggle">
                <input v-model="itemDetails.with360inside" type="checkbox" name="toggle" id="playerOutsideToggleButton" class="toggle-button">
              </div>
            </div>
            <div class="block">
              <span>360 плеер Экстерьер</span>
              <div class="toggle">
                <input v-model="itemDetails.with360outside" type="checkbox" name="toggle" id="playerInsideToggleButton" class="toggle-button">
              </div>
            </div>
            <div class="block" :class="{'disabled': !itemDetails.with360outside }">
              <span>Кол-во изображений для экстерьера</span>
              <div class="toggle">
                <input v-model="itemDetails.imagesQuantity" type="number">
              </div>
            </div>
            <div class="block">
              <span>Галерея</span>
              <div class="toggle">
                <input v-model="itemDetails.withGallery" type="checkbox" name="toggle" id="galleryToggleButton" class="toggle-button">
              </div>
            </div>
            <div class="block">
              <span>Цена</span>
              <div class="toggle">
                <input v-model="itemDetails.price" type="number">
              </div>
            </div>
            <div class="seo">
              <span>--------------   SEO   ---------------</span>
              <div class="block">
                <span>Title</span>
                <div class="toggle">
                  <textarea v-model="itemDetails.seoTitle"></textarea>
                </div>
              </div>
              <div class="block">
                <span>Description</span>
                <div class="toggle">
                  <textarea v-model="itemDetails.seoDescription"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <button @click="cancelChanges" class="cancel">Отмена</button>
            <button @click="saveChanges" class="save">Сохранить</button>
          </div>
        </div>
      </div>
    </transition>
	</div>
</template>

<script>
  export default {
		name: "users",
		layout: 'admin',
		middleware: ['admin-auth'],
		data() {
			return {
			  filter: 'Все',
				loading: false,
				login: '',
				password: '',
        modal: '',
        activeItem: '',
        itemDetails: {
          withVideo:false,
          videoLink: '',
          withCatalog: false,
          with360inside: false,
          with360outside: false,
          imagesQuantity: 0,
          withGallery: false,
          price: 0,
          seoTitle: '',
          seoDescription: ''
        }
			}
		},
		async asyncData({ store }) {
			const products = await store.dispatch('fetchAllVehiclesWithChars', {root: true})
			return { products }
		},
		methods: {
      toDetails(item){
        this.itemDetails.model = item.model
        this.itemDetails.withVideo = item.withVideo
        this.itemDetails.withCatalog = item.withCatalog
        this.itemDetails.price = item.price
        this.itemDetails.videoLink = item.videoLink
        this.itemDetails.with360inside = item.with360inside
        this.itemDetails.with360outside = item.with360outside
        this.itemDetails.imagesQuantity = item.imagesQuantity
        this.itemDetails.withGallery = item.withGallery
        this.itemDetails.seoTitle = item.seoTitle
        this.itemDetails.seoDescription = item.seoDescription

      },
      async openModal(item) {
        await item ? this.activeItem = item : this.activeItem = ''
        let model = this.activeItem.Name
        try {
          let alreadyDone = await this.$store.dispatch('product/fetchMoreInfoByModel', model)
          alreadyDone.length !== 0 ? this.toDetails(alreadyDone[0]) : this.toDetails()
        } catch (e) {
          this.loading = false
        }
        this.modal = !this.modal
      },
      async saveChanges(){
        this.loading = true
        let model = this.activeItem.Name
        try {
          const formData = {
            model: this.activeItem.Name,
            withVideo: Boolean(this.itemDetails.withVideo),
            withCatalog: Boolean(this.itemDetails.withCatalog),
            price: this.itemDetails.price,
            videoLink: this.itemDetails.videoLink,
            with360inside: Boolean(this.itemDetails.with360inside),
            with360outside: Boolean(this.itemDetails.with360outside),
            imagesQuantity: this.itemDetails.imagesQuantity,
            seoTitle: this.itemDetails.seoTitle,
            seoDescription: this.itemDetails.seoDescription,
            withGallery: Boolean(this.itemDetails.withGallery),
          }
          let alreadyDone = await this.$store.dispatch('product/fetchMoreInfoByModel', model)
          if( alreadyDone.length === 0 ) {
            await this.$store.dispatch('product/createMoreInfo', formData)
          } else {
            await this.$store.dispatch('product/updateMoreInfoByModel', formData)
          }
          this.$swal('Информация обновлена', '', 'success')
          this.loading = false
          this.modal = !this.modal
        } catch (e) {
          this.loading = false
        }
      },
      cancelChanges(){
        this.modal = !this.modal
        this.itemDetails.withVideo = false
        this.itemDetails.withCatalog = false
        this.itemDetails.price = 0
        this.itemDetails.videoLink = ''
        this.itemDetails.with360inside = false
        this.itemDetails.with360outside = false
        this.itemDetails.imagesQuantity = 0
        this.itemDetails.withGallery = false
        this.itemDetails.seoTitle = ''
        this.itemDetails.seoDescription = ''
      }
		},
    computed: {
      prodList() {
        let result = this.products
        if (this.filter !== 'Все') result = this.products.filter(item => item.VehicleTypeRus === this.filter)
        return result
      }
    }
	}
</script>

<style scoped lang="less">
.filter{
  display:flex;
  justify-content: space-between;
  margin-bottom:20px;
  .input-group{
    cursor: pointer;
    input, label{
      cursor: pointer;
    }
  }
}
.modal-info-inner textarea{
  min-width:300px;
  min-height:100px;
  border-radius:10px;
  border: 1px solid #bbc1e1;
  padding:10px;
}
.modal-info-inner .seo span{
  color:#000
}
@media(max-width:767px){
  .modal-info-inner .seo .block{
    flex-direction:column;
    align-items:flex-start;
  }
  .modal-info-inner .seo .block .toggle,
  .modal-info-inner .seo .block textarea{
    width:100%;
  }
  .modal-info-inner .seo .block textarea{
    margin-top:10px;
  }
}
  .modal-info{
    position: fixed;
    left:0;
    top:0;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
  }
  .epc-items-page{
      ul{
        width:100%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding:0;
        list-style: none;
        li{
          line-height: 30px;
          border:1px solid #666666;
          padding:5px 10px;
          width:47%;
          display:flex;
          &:hover{
            cursor:pointer;
            border-color: #ffff00;
            box-shadow: 2px 4px 15px 3px rgba(255, 255, 0, 0.3),
            inset 0 -5px 5px 0px rgba(255, 255, 0, 0.1)
          }
          .model{
            width:100px;
            display:block;
          }

        }
      }
  }

</style>
