<template>
	<div class="admin-news">
		<div class="news-list">
			<ol>
				<li class="news-line" v-for="item of news">
					<span class="title">{{item.title}}</span>
					<span>{{checkDate(item.date)}}</span>
          <span class="update" @click="updateModal(item.newsUrl)">Редактировать</span>
					<span class="delete icon-minus" @click="newsDelete(item._id)"></span>
				</li>
			</ol>
		</div>
		<div class="add-news">
			<div class="template">
				<input type="radio" value="template1" id="template1" checked v-model="template">
				<label for="template1">
					<span>Шаблон №1</span>
					<img src="/img/news-template1.png" alt="">
				</label>
				<input type="radio" value="template2" id="template2" checked v-model="template">
				<label for="template2">
					<span>Шаблон №2</span>
					<img src="/img/news-template2.png" alt="">
				</label>
				<input type="radio" value="template3" id="template3" checked v-model="template">
				<label for="template3">
					<span>Шаблон №3</span>
				</label>
			</div>
			<div class="title">
				<label>Заголовок</label>
				<input type="text" v-model="title">
			</div>
			<div class="date">
				<label>Дата</label>
				<date-picker v-model="pickDate" type="date"></date-picker>
				<span class="note">Если оставить пустым публикация датируется сегодняшним числом</span>

			</div>
<!--			<div class="preview-img">
				<label>Превью новости</label>
				<input type="text" v-model="preview">
			</div>
			<div class="img-list">
				<label>Ссылки изображений через запятую в формате: /news/название изображения</label>
				<textarea v-model="imgList"></textarea>
			</div>-->
			<div class="main-content">
				<div class="block1">
					<label>Блок 1</label>
					<vue-editor v-model="block1"></vue-editor>
				</div>
				<div class="block2">
					<label>Блок 2</label>
					<vue-editor v-model="block2"></vue-editor>
				</div>
				<div class="block3">
					<label>Блок 3</label>
					<vue-editor v-model="block3"></vue-editor>
				</div>
				<div class="block4">
					<label>Остальной текст</label>
					<vue-editor v-model="block4"></vue-editor>
				</div>
			</div>
			<button @click="addNews" class="add">Добавить новость</button>
		</div>
    <transition name="fade">
      <div class="modal-info admin-item-model" v-if="modal">
        <div class="layout" @click="closeModal"></div>
        <div class="modal-update-content">
          <div class="add-news">
            <span>Заголовок</span>
            <input type="text" v-model="activeNews.title">
            <span>seo Title</span>
            <input type="text" v-model="activeNews.seoTitle">
            <span>seo Description</span>
            <input type="text" v-model="activeNews.seoDescription">
            <div class="date">
              <date-picker v-model="newDate" type="date"></date-picker>
              <span class="note">Если оставить пустым дата останется без изменений</span>
            </div>
            <div class="template">
              <input type="radio" value="template1" id="template11"  v-model="activeNews.template">
              <label for="template11">
                <span>Шаблон №1</span>
                <img src="/img/news-template1.png" alt="">
              </label>
              <input type="radio" value="template2" id="template22"  v-model="activeNews.template">
              <label for="template22">
                <span>Шаблон №2</span>
                <img src="/img/news-template2.png" alt="">
              </label>
              <input type="radio" value="template3" id="template33"  v-model="activeNews.template">
              <label for="template33">
                <span>Шаблон №3</span>
              </label>
            </div>
            <div class="main-content">
              <div class="block1">
                <label>Блок 1</label>
                <vue-editor v-model="activeNews.block1"></vue-editor>
              </div>
              <div class="block2">
                <label>Блок 2</label>
                <vue-editor v-model="activeNews.block2"></vue-editor>
              </div>
              <div class="block3">
                <label>Блок 3</label>
                <vue-editor v-model="activeNews.block3"></vue-editor>
              </div>
              <div class="block4">
                <label>Остальной текст</label>
                <vue-editor v-model="activeNews.block4"></vue-editor>
              </div>
            </div>
            <div class="controls">
              <span class="cancel" @click="closeModal">Отменить</span>
              <span class="changes-save" @click="newsUpdate">Сохранить</span>
            </div>
          </div>
        </div>
      </div>
    </transition>
	</div>
</template>

<script>
	import { slugify } from 'transliteration';

	export default {
		name: "news",
		layout: 'admin',
		data() {
			return {
			  activeNews: null,
			  modal: false,
        newDate: '',
				pickDate: '',
				loading: false,
				template: 'template1',
				title: '',
				date: '',
				preview: '',
				block1: '',
				block2: '',
				block3: '',
				block4: '',
				imgList: [],
        seoTitle: '',
        seoDescription: '',
			}
		},
		async asyncData({store}) {
			const news = await store.dispatch('media/fetchAdminNews')
			return {news}
		},
		computed: {
			newsDate(value) {
				return this.checkDate(value)
			}
		},
		methods: {
      closeModal() {
        this.modal = false
      },
		  async updateModal(url) {
        this.activeNews = (await this.$store.dispatch('media/fetchNewsByUrl', url))[0]
		    this.modal = true
      },
			checkDate(value) {
        let string = value
        let tPosition = string.indexOf('T')
        let date = string.slice(0, tPosition) + 'T23:00:00.000Z'

        date = new Date(date)
        let dd = date.getDate()
        if (dd < 10) dd = '0' + dd;
        let mm = date.getMonth() + 1;
        if (mm < 10) mm = '0' + mm;
        let yy = date.getFullYear();

        return dd + '.' + mm + '.' + yy;
      },

			async addNews() {
				this.loading = true

				if(!this.pickDate){
					this.date  = new Date()
				} else {
					this.date  = this.pickDate
				}

				try {
					const formData = {
						template: this.template,
						title: this.title,
						newsUrl: slugify(this.title),
						date: this.date,
						preview: this.preview,
						block1: this.block1,
						block2: this.block2,
						block3: this.block3,
						block4: this.block4,
						imgList: this.imgList,
            seoTitle: this.seoTitle,
            seoDescription: this.seoDescription
					}

					await this.$store.dispatch('media/addNews', formData)
					this.$swal('Новость опубликована', '', 'success')
					this.loading = false
				} catch (e) {
					this.loading = false
				}
			},
      async newsUpdate() {
        this.loading = true

        let date
        this.newDate ? date = new Date(this.newDate) : date = this.activeNews.date

        try {
          const formData = {
            newsUrl: this.activeNews.newsUrl,
            template: this.activeNews.template,
            title: this.activeNews.title,
            date: date,
            block1: this.activeNews.block1,
            block2: this.activeNews.block2,
            block3: this.activeNews.block3,
            block4: this.activeNews.block4,
            seoTitle: this.activeNews.seoTitle,
            seoDescription: this.activeNews.seoDescription,
          }

          await this.$store.dispatch('media/updateNews', formData)
          this.$swal('Новость обновлена', '', 'success')
          this.loading = false
        } catch (e) {
          this.loading = false
        }
      },
			async newsDelete(id) {
				let value = confirm('Вы уверены что хотите удалить новость?')
				if(value){
					try {
						await this.$store.dispatch('media/removeNews', id)
						this.news = this.news.filter(p => p._id !== id)
					} catch (e) {
						console.log(e)
					}
				}
			},
		}
	}
</script>

<style scoped lang="less">
.admin-layout {
  .modal-info {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px 0;
    box-sizing: border-box;

    .template input[type=radio]:checked + label {
      color: #000;
    }

    .template input[type=radio] + label span {
      color: #000 !important;
      padding-bottom: 5px;
      border-bottom: 2px solid transparent;
    }

    .template input[type=radio]:checked + label span {
      color: #000 !important;
      padding-bottom: 5px;
      border-bottom: 2px solid #FF0000;
    }

    .layout {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
    }

    .modal-update-content {
      background: #999;
      position: relative;
      z-index: 1;
      min-height: 400px;
      width: 80%;
      color: #000;
      padding: 30px;
      border-radius: 20px;
      max-height: 100%;
      overflow: auto;

      input {
        width: 100%;
        border: 1px solid #666 !important;
        margin: 10px 0;
      }

      span {
        color: #000;
        display: block;
        margin-top: 20px;
      }
    }
  }
  .news-list {
    ol {
      padding: 0;
      width: 100%;
    }

    .news-line {
      display: flex;
      width: 100%;
      justify-content: space-between;
      min-width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #333;
      margin-bottom: 10px;

      span:nth-child(2) {
        color: #666;
      }

      .update {
        color: #FFFF00;
        margin: 0 0 0 15px;
        display: inline-block;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          color: #fff;
        }
      }

      &:hover {
        border: 1px solid #fff;
      }

      .title {
        flex-grow: 1;
      }

      .delete {
        font-size: 20px;
        justify-self: flex-end;
        color: red;
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }
  .add-news {
    margin-top: 50px;

    .template {
      display: flex;
      margin: 10px 0 30px;

      input[type=radio] {
        display: none;
      }

      input[type=radio]:checked + label {
        span {
          color: yellow;
        }

        img {
          box-shadow: 5px 10px 21px 0px rgba(0, 0, 0, 0.75);
        }
      }

      label {
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        transition: 0.3s;
        cursor: pointer;

        span {
          font-size: 18px;
          margin-bottom: 20px;
          transition: 0.3s;
        }

        img {
          transition: 0.3s;
        }
      }
    }

    .title,
    .preview-img,
    .img-list {
      display: flex;
      flex-direction: column;
      margin: 15px 0;

      label {
        font-size: 16px;
        margin-bottom: 10px
      }

      input,
      textarea {
        height: 35px;
        border-radius: 5px;
        border: none;
        padding: 15px;
        box-sizing: border-box;
      }
    }

    .date {
      margin: 20px 0;
    }

    .main-content {
      label {
        font-size: 16px;
        margin: 15px 0;
        display: block;
      }
    }

    button.add {
      height: 40px;
      width: 300px;
      border: none;
      border-radius: 10px;
      align-items: center;
      font-size: 18px;
      background: red;
      color: #fff;
      display: flex;
      justify-content: center;
      margin-top: 15px;
      cursor: pointer;
    }
  }
}

</style>
