<template>
	<div class="admin-news">
    <div class="news-list">
      <ol>
        <li class="news-line" v-for="item of questions">
          <span class="title">{{item.title}}</span>
          <span>{{checkDate(item.date)}}</span>
          <span class="update" @click="updateModal(item.url)">Редактировать</span>
          <span class="delete icon-minus" @click="questionDelete(item._id)"></span>
        </li>
      </ol>
    </div>
		<div class="add-news">
			<div class="title">
				<label>Заголовок</label>
				<input type="text" v-model="title">
			</div>
			<div class="date">
				<label>Дата</label>
				<date-picker v-model="pickDate" type="date"></date-picker>
				<span class="note">Если оставить пустым публикация датируется сегодняшним числом</span>
			</div>
			<div class="main-content">
				<div class="block1">
					<label>Блок 1</label>
					<vue-editor v-model="block1"></vue-editor>
				</div>
			</div>
			<button @click="addQuestion" class="add">Добавить вопрос</button>
		</div>
    <transition name="fade">
      <div class="modal-info admin-item-model" v-if="modal">
        <div class="layout" @click="closeModal"></div>
        <div class="modal-update-content">
          <div class="add-news">
            <span>Заголовок</span>
            <input type="text" v-model="activeQuestion.title">
            <span>seo Title</span>
            <input type="text" v-model="activeQuestion.seoTitle">
            <span>seo Description</span>
            <input type="text" v-model="activeQuestion.seoDescription">
            <div class="date">
              <date-picker v-model="newDate" type="date"></date-picker>
              <span class="note">Если оставить пустым дата останется без изменений</span>
            </div>
            <div class="main-content">
              <div class="block1">
                <label>Блок 1</label>
                <vue-editor v-model="activeQuestion.block1"></vue-editor>
              </div>
            </div>
            <div class="controls">
              <span class="cancel" @click="closeModal">Отменить</span>
              <span class="changes-save" @click="questionUpdate">Сохранить</span>
            </div>
          </div>
        </div>
      </div>
    </transition>
	</div>
</template>

<script>

	export default {
		name: "news",
		layout: 'admin',
		data() {
			return {
        activeQuestion: null,
        modal: false,
				pickDate: '',
        newDate: '',
				loading: false,
				title: '',
				date: '',
				block1: '',
        seoTitle: '',
        seoDescription: '',
			}
		},
		async asyncData({store}) {
			const questions = await store.dispatch('media/fetchQuestions')
			return {questions}
		},
    computed: {
      newsDate(value) {
        return this.checkDate(value)
      }
    },
		methods: {
      closeModal() {
        this.modal = false
      },
      async updateModal(url) {
        this.activeQuestion = (await this.$store.dispatch('media/fetchQuestionsById', url))[0]
        this.modal = true
      },
      checkDate(value) {
        let date
        let currentDate = new Date(value)
        let day = ("0" + currentDate.getDate()).slice(-2);
        let month = ("0" + (currentDate.getMonth() + 1)).slice(-2);
        let year = currentDate.getFullYear()
        date = day + "." + month + "." + year
        return date
      },
			async addQuestion() {
				this.loading = true

				if(!this.pickDate){
					this.date  = new Date()
				} else {
					this.date  = this.pickDate
				}

				try {
					const formData = {
						title: this.title,
						date: this.date,
						block1: this.block1,
            seoTitle: this.seoTitle,
            seoDescription: this.seoDescription,
					}
					await this.$store.dispatch('media/addQuestion', formData)
					this.$swal('Вопрос добавлен', '', 'success')

					this.title = '',
					this.date = '',
					this.block1 = '',
					this.loading = false
				} catch (e) {
					this.loading = false
				}
			},
      async questionUpdate() {
        this.loading = true

        let date
        this.newDate ? date = new Date(this.newDate) : date = this.activeQuestion.date

        try {
          const formData = {
            url: this.activeQuestion.url,
            title: this.activeQuestion.title,
            date: date,
            block1: this.activeQuestion.block1,
            seoTitle: this.activeQuestion.seoTitle,
            seoDescription: this.activeQuestion.seoDescription,
          }
          console.log('question.vue formdata', formData)
          await this.$store.dispatch('media/updateQuestion', formData)
          this.$swal('Вопрос обновлен', '', 'success')
          this.loading = false
          console.log('formData',formData)
        } catch (e) {
          console.log(e)
          this.loading = false
        }
      },
      async questionDelete(id) {
        let value = confirm('Вы уверены что хотите удалить новость?')
        if(value){
          try {
            await this.$store.dispatch('media/removeQuestion', id)
            this.news = this.news.filter(p => p._id !== id)
          } catch (e) {
            console.log(e)
          }
        }
      },
		}
	}
</script>

<style scoped lang="less">
.admin-layout {
  .modal-info {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px 0;
    box-sizing: border-box;

    .template input[type=radio]:checked + label {
      color: #000;
    }

    .template input[type=radio] + label span {
      color: #000 !important;
      padding-bottom: 5px;
      border-bottom: 2px solid transparent;
    }

    .template input[type=radio]:checked + label span {
      color: #000 !important;
      padding-bottom: 5px;
      border-bottom: 2px solid #FF0000;
    }

    .layout {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
    }

    .modal-update-content {
      background: #999;
      position: relative;
      z-index: 1;
      min-height: 400px;
      width: 80%;
      color: #000;
      padding: 30px;
      border-radius: 20px;
      max-height: 100%;
      overflow: auto;

      input {
        width: 100%;
        border: 1px solid #666 !important;
        margin: 10px 0;
      }

      span {
        color: #000;
        display: block;
        margin-top: 20px;
      }
    }
  }
  .news-list {
    ol {
      padding: 0;
      width: 100%;
    }

    .news-line {
      display: flex;
      width: 100%;
      justify-content: space-between;
      min-width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #333;
      margin-bottom: 10px;

      span:nth-child(2) {
        color: #666;
      }

      .update {
        color: #FFFF00;
        margin: 0 0 0 15px;
        display: inline-block;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          color: #fff;
        }
      }

      &:hover {
        border: 1px solid #fff;
      }

      .title {
        flex-grow: 1;
      }

      .delete {
        font-size: 20px;
        justify-self: flex-end;
        color: red;
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }
  .add-news {
    margin-top: 50px;

    .template {
      display: flex;
      margin: 10px 0 30px;

      input[type=radio] {
        display: none;
      }

      input[type=radio]:checked + label {
        span {
          color: yellow;
        }

        img {
          box-shadow: 5px 10px 21px 0px rgba(0, 0, 0, 0.75);
        }
      }

      label {
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        transition: 0.3s;
        cursor: pointer;

        span {
          font-size: 18px;
          margin-bottom: 20px;
          transition: 0.3s;
        }

        img {
          transition: 0.3s;
        }
      }
    }

    .title,
    .preview-img,
    .img-list {
      display: flex;
      flex-direction: column;
      margin: 15px 0;

      label {
        font-size: 16px;
        margin-bottom: 10px
      }

      input,
      textarea {
        height: 35px;
        border-radius: 5px;
        border: none;
        padding: 15px;
        box-sizing: border-box;
      }
    }

    .date {
      margin: 20px 0;
    }

    .main-content {
      label {
        font-size: 16px;
        margin: 15px 0;
        display: block;
      }
    }

    button.add {
      height: 40px;
      width: 300px;
      border: none;
      border-radius: 10px;
      align-items: center;
      font-size: 18px;
      background: red;
      color: #fff;
      display: flex;
      justify-content: center;
      margin-top: 15px;
      cursor: pointer;
    }
  }
}
</style>