<template>
	<div>
		<ul class="user-list">
			<li v-for="user in users" :key="user._id">
				{{user.login}}
			</li>
		</ul>
		<div class="user-add">
      <h3>Создать пользователя</h3>
			<div class="input-group">
				<input v-model="login" type="text" placeholder="Логин">
			</div>
			<div class="input-group">
				<input v-model="password" type="text" placeholder="Пароль">
			</div>
			<button @click="createUser">Создать</button>
		</div>
	</div>
</template>

<script>

	export default {
		name: "users",
		layout: 'admin',
		middleware: ['admin-auth'],
		data() {
			return {
				loading: false,
				login: '',
				password: '',
			}
		},
		async asyncData({store}) {
			const users = await store.dispatch('user/fetchUsers')
			return {users}
		},
		methods: {
			async createUser() {
					this.loading = true
					try {
						const formData = {
							login: this.login,
							password: this.password,
						}

						await this.$store.dispatch('auth/createUser', formData)
						this.$swal('Новый пользователь добавлен', '', 'success')
						this.login =''
						this.password = ''
						this.loading = false
					} catch (e) {
						this.loading = false
					}
			}
		}
	}
</script>

<style scoped lang="less">
.user-add{
  display:block;
  margin-top:100px;
  button{
    width:330px;
    display: block;
    margin: 30px 0;
    border: 2px solid #FF0000;
    color: #FFFFFF;
    background: #FF0000;
    padding: 0 25px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s ease-in;
  }
}
.user-list{
  padding:0;
  list-style: none;
  li{
    border:1px solid #333;
    padding:10px;
  }
}
.input-group{
  display:flex;
  flex-direction: column;
  margin-bottom:10px;
  input{
    background:none;
    border:none;
    border-bottom:1px solid #898989;
    flex-grow:1;
    padding:15px;
    color:#fff;
    max-width:300px;

  }
  label{
    min-width:300px;
    font-weight:300;
    font-size:16px;
    .note{
      display:block;
      margin-top:5px;
      font-size:12px;
      color:#666;
    }
  }
}
</style>