<template>
  <div class="admin-video">
    <div class="video-wrapper vacancy-wrapper">
      <div class="block" v-for="vacancy of this.vacancyList">
        <div class="title-block">
          <span class="title">{{vacancy.title}}</span>
          <span class="id">id: {{vacancy._id}}</span>
        </div>
        <div class="salary-block">
          <span class="salary" v-if="vacancy.salaryFrom">От {{toFormatPrice(vacancy.salaryFrom)}} руб.</span>
          <span class="salary" v-if="vacancy.salaryTo">до {{toFormatPrice(vacancy.salaryTo)}} руб.</span>
          <span class="salary" v-if="!vacancy.salaryTo && !vacancy.salaryFrom">ЗП не указана</span>
        </div>
        <div class="description-block">
          <p class="description">{{vacancy.description || 'Нет описания'}}</p>
        </div>
        <div class="responsibilities-block">
          <p class="responsibilities">{{vacancy.responsibilities || 'Обязанности не указаны'}}</p>
        </div>
        <div class="requirements-block">
          <p class="requirements">{{vacancy.requirements || 'Требования не указаны'}}</p>
        </div>
        <div class="conditions-block">
          <p class="conditions">{{vacancy.conditions || 'Условия не указаны'}}</p>
        </div>
        <div class="controls">

          <span @click="vacancyUpdate(vacancy)" class="update">Редактировать</span>
          <span @click="vacancyRemove(vacancy._id)" class="remove">Удалить</span>
        </div>
      </div>
    </div>
    <button class="add-vacancy" @click="modal=true">
      Добавить новую вакансию
    </button>
    <transition name="fade">
      <div class="modal-info admin-item-model vacancy-modal" v-if="modal">
        <div class="layout" @click="cancel"></div>
        <div class="main-content">
          <div class="input-group">
            <label>Название вакансии</label>
            <input v-model="vacancy.title">
          </div>
          <div class="input-group">
            <label>Заработная плата</label>
            <div class="salary">
              <span>От</span>
              <input v-model="vacancy.salaryFrom">
              <span>До</span>
              <input v-model="vacancy.salaryTo">
            </div>
          </div>
          <div class="input-group">
            <label>Описание вакансии</label>
            <textarea v-model="vacancy.description"></textarea>
          </div>
          <div class="input-group">
            <label>Обязаности</label>
            <textarea v-model="vacancy.responsibilities"></textarea>
          </div>
          <div class="input-group">
            <label>Требования</label>
            <textarea v-model="vacancy.requirements"></textarea>
          </div>
          <div class="input-group">
            <label>Условия</label>
            <textarea v-model="vacancy.conditions"></textarea>
          </div>
          <div class="controls">
            <span class="cancel" @click="cancel">Отменить</span>
            <span v-if="vacancy.id" class="changes-save" @click="vacancyUpdateSubmit">Обновить</span>
            <span v-else class="changes-save" @click="addVacancy">Добавить</span>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>

export default {
  name: "vacancy",
  layout: 'admin',
  data() {
    return {
      modal: false,
      vacancy: {
        id: null,
        title: '',
        description: '',
        salaryFrom: 0,
        salaryTo: 0,
        responsibilities: '',
        requirements: '',
        conditions: '',
      }
    }
  },
  async asyncData({store}) {
    const vacancyList = await store.dispatch('media/fetchVacancyList')
    return {vacancyList}
  },
  methods: {
    async vacancyListUpdate() {
      this.vacancyList = await this.$store.dispatch('media/fetchVacancyList')
    },
    vacancyReset() {
      this.vacancy.id = null
      this.vacancy.title = ''
      this.vacancy.description = ''
      this.vacancy.salaryFrom = 0
      this.vacancy.salaryTo = 0
      this.vacancy.responsibilities = ''
      this.vacancy.requirements = ''
      this.vacancy.conditions = ''
    },
    vacancyUpdate (vacancy) {
      this.vacancy.id = vacancy._id
      this.vacancy.title = vacancy.title
      this.vacancy.description = vacancy.description
      this.vacancy.salaryFrom =  vacancy.salaryFrom
      this.vacancy.salaryTo = vacancy.salaryTo
      this.vacancy.responsibilities = vacancy.responsibilities
      this.vacancy.requirements = vacancy.requirements
      this.vacancy.conditions = vacancy.conditions
      this.modal = true
    },
    toFormatPrice(data) {
      let price = Number.prototype.toFixed.call(parseFloat(data) || 0, 0);
      return price.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1 ");
    },
    async vacancyRemove (id) {
      let value = confirm('Вы уверены что хотите удалить вакансию?')
      if(value){
        this.loading = true
        try {
          await this.$store.dispatch('media/removeVacancy', id)
          await this.vacancyListUpdate()
          this.loading = false
        } catch (e) {
          this.loading = false
          console.log(e)
        }
      }
    },
    async addVacancy() {
      this.loading = true
      try {
        const formData = {
          title: this.vacancy.title,
          description: this.vacancy.description,
          salaryFrom: this.vacancy.salaryFrom,
          salaryTo: this.vacancy.salaryTo,
          responsibilities: this.vacancy.responsibilities,
          requirements: this.vacancy.requirements,
          conditions: this.vacancy.conditions
        }
        await this.$store.dispatch('media/addVacancy', formData)
        await this.vacancyListUpdate()
        this.$swal('Вакансия добавлена', '', 'success')
        this.vacancyReset()
        this.modal = false
        this.loading = false
      } catch (e) {
        this.loading = false
      }
    },
    cancel() {
      this.modal = false
      this.vacancyReset()
    },
    async vacancyUpdateSubmit() {
      this.loading = true
      try {
        const formData = {
          id: this.vacancy.id,
          title: this.vacancy.title,
          description: this.vacancy.description,
          salaryFrom: this.vacancy.salaryFrom,
          salaryTo: this.vacancy.salaryTo,
          responsibilities: this.vacancy.responsibilities,
          requirements: this.vacancy.requirements,
          conditions: this.vacancy.conditions
        }
        await this.$store.dispatch('media/updateVacancy', formData)
        this.$swal('Вакансия обновлена', '', 'success')
        await this.vacancyListUpdate()
        this.vacancyReset()
        this.modal = false
        this.loading = false
      } catch (e) {
        console.log(e)
        this.loading = false
      }
    },
  }
}
</script>

<style scoped lang="less">
.modal-info{
  width:100%;
  height:100%;
  position: fixed;
  left:0;
  top:0;
  display:flex;
  align-items: center;
  justify-content: center;
  .layout{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.8);
  }
  .main-content{
    background:#fff;
    position: relative;
    z-index: 1;
    height:400px;
    width:450px;
    color:#000;
    padding:30px;
    border-radius: 20px;
    span,
    label{
      color:#000;
      display:block;
      margin:10px 0;
    }
    input{
      width:100% !important;
      margin:5px 0;
      border:1px solid #666;
    }
  }
}
.date{
  color:#666;
  font-size:12px;
  margin:5px 0;
}
.controls{
  display:flex;
  justify-content: space-between;
  span{
    display: flex;
    align-items: center;
    margin: 10px 0;
    border: 2px solid #FF0000;
    background: none;
    padding: 0 15px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    background: #FF0000;
    color: #fff;
    font-weight: 400;
    &.update{
      background:#ffff00;
      color:#000000;
      border:1px solid #FFFF00;
    }
  }
}
.video-wrapper{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}
.block{
  margin:10px;
  max-width:250px;
  display:flex;
  flex-direction: column;
}
.video{
  width:250px;
  height:140px;
  overflow: hidden;
}
.add-block{
  margin-top:50px;
  .add-title{
    font-size:20px;
    display:block;
    margin-bottom:30px;
  }
  input{
    display:block;
    margin-bottom:10px;
    width:100%;
    max-width:500px;
    border-radius: 10px;
    line-height: 40px;
    height:40px;
    padding:0 10px;
  }
  label,
  .note{
    display:block;
    margin:10px 0;
    font-weight:300;
  }
  button{
    display:block;
    margin:30px 0;
    border: 2px solid #FF0000;
    background: none;
    padding: 0 25px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    background: #FF0000;
    color: #fff;
    font-weight: 400;
    width:250px;
    &:hover{
      transition: all 0.3s ease-in;
      box-shadow: 2px 4px 15px 3px rgba(182, 0, 0, 0.5), inset 0 -5px 20px 3px rgba(182, 0, 0, 0.5);
    }
  }
}
.vacancy-wrapper{
  box-sizing: border-box;
  display:flex;
  .block{
    box-sizing: border-box;
    width:100%;
    max-width:none;
    .title-block{
      display:flex;
      justify-content: space-between;
      align-items: flex-end;
      .title{
        font-size:22px;
      }
      .id{
        font-size:12px;
        color:#666666;
      }
    }
    .salary-block{
      font-size:18px;
      margin:10px 0 20px;
      .salary{
        color:#666 !important;
      }
    }
    .description{
      font-size:14px;
      font-weight:300;
      margin:0 0 10px;
    }
    .controls{
      border-top:1px solid #ccc;
      display:flex;
      width:100%;
      justify-content: flex-end;
      span{
        margin-left:15px;
      }
    }
  }
}
.add-vacancy{
  font-size:16px;
  background:yellow;
  color:#000;
  border:none;
  display:flex;
  align-items: center;
  justify-content: center;
  width:250px;
  border-radius: 5px;
  height:30px;
  cursor:pointer;
  margin-left:auto;
  margin-right:10px;
}
.vacancy-modal{
  .main-content{
    height:auto;
  }
  .input-group{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    input{
      border-radius: 0;

    }
    .salary{
      width:100%;
      display:flex;
      justify-content: space-between;
      align-items: center;
      span{
        display:block;
        margin-right:10px;
        &:nth-child(3) {
          margin-left:10px
        }
      }
    }
    label{
      width:100%;
      display:block;
    }
    textarea{
      width:100%;
      min-height:100px;
      padding:15px;
      box-sizing: border-box;
    }
  }
}
</style>