<template>
	<div class="admin-video">
    <div class="video-wrapper">
      <div class="block" v-for="item of this.video">
        <div class="video">
          <client-only>
            <youtube ref="youtube" :video-id="item.videoUrl" :resize="true" :fitParent="true"></youtube>
          </client-only>
        </div>
        <p>{{item.videoName}}</p>
        <p class="date">{{checkDate(item.date)}}</p>
        <div class="controls">

          <span @click="videoUpdateModal(item.pageUrl)" class="update">Редактировать</span>
          <span @click="videoRemove(item._id)" class="remove">Удалить</span>
        </div>
      </div>
    </div>
    <div class="add-block">
      <span class="add-title">
        Добавить видео
      </span>
      <input type="text" v-model="videoUrl" placeholder="Video URL">
      <input type="text" v-model="videoName" placeholder="Video Name">
      <div class="date">
        <label>Дата</label>
        <date-picker v-model="pickDate" type="date"></date-picker>
        <span class="note">Если оставить пустым публикация датируется сегодняшним числом</span>
      </div>
      <input type="text" v-model="seoTitle" placeholder="Title">
      <input type="text" v-model="seoDescription" placeholder="Description">
      <button @click="submit">Добавить</button>

    </div>
    <transition name="fade">
      <div class="modal-info admin-item-model" v-if="modal">
        <div class="layout" @click="closeModal"></div>
        <div class="main-content">
              <input v-model="activeVideo.videoName">
              <span class="urlId">URL ID - "{{activeVideo.videoUrl}}"</span>
              <input v-model="newUrl" placeholder="Вставте URl для замены видео или оставте без изменений">
              <label>Дата</label>
              <date-picker v-model="newDate" type="date"></date-picker>
              <span>---------  SEO  ---------</span>
              <input v-model="activeVideo.seoTitle" placeholder="seoTitle">
              <input v-model="activeVideo.seoDescription" placeholder="seoDescription">
          <div class="controls">
            <span class="cancel" @click="closeModal">Отменить</span>
            <span class="changes-save" @click="videoUpdate">Сохранить</span>
          </div>
        </div>
      </div>
    </transition>
	</div>
</template>

<script>
  import { slugify } from 'transliteration';

	export default {
		name: "video",
		layout: 'admin',
    data() {
		  return {
        newUrl: '',
        modal:false,
        activeVideo: null,
        loading: false,
        pickDate: '',
        newDate: '',
        date: '',
        pageUrl: '',
        videoUrl: '',
        videoName: '',
        seoTitle: '',
        seoDescription: ''
      }
    },
    async asyncData({store}) {
      const video = await store.dispatch('media/fetchVideo')
      return {video}
    },
    computed: {
      videoDate(value) {
        return this.checkDate(value)
      }
    },
    methods: {
      getId (link) {
        return this.$youtube.getIdFromUrl(link)
      },
      checkDate(value) {
        let date
        let currentDate = new Date(value)
        let day = ("0" + currentDate.getDate()).slice(-2);
        let month = ("0" + (currentDate.getMonth() + 1)).slice(-2);
        let year = currentDate.getFullYear()
        date = day + "." + month + "." + year
        return date
      },
      async submit() {
          this.loading = true

          if(!this.pickDate){
            this.date  = new Date()
          } else {
            this.date  = this.pickDate
          }
          try {
            const formData = {
              videoName: this.videoName,
              pageUrl: slugify(this.videoName),
              videoUrl: this.getId(this.videoUrl),
              date: this.date,
              seoTitle: this.seoTitle,
              seoDescription: this.seoDescription
            }

            await this.$store.dispatch('media/addVideo', formData)
            this.$swal('Видео добавлено', '', 'success')
            this.loading = false
          } catch (e) {
            this.loading = false
          }
        },
      async videoRemove(id) {
        let confirmData = confirm('Вы уверены, что хотите удалить видео?')
        if (confirmData) {
          try {
            await this.$store.dispatch('media/removeVideo', id)
            this.video = this.video.filter(p => p._id !== id)
            this.$swal('Видео удалено', '', 'success')
          } catch (e) {
            console.log(e)
          }
        }
      },
      async videoUpdateModal(url) {
          try {
            this.activeVideo = (await this.$store.dispatch('media/fetchVideoByUrl', url))[0]
            this.modal = true

          } catch (e) {
            console.log(e)
          }
      },
      async videoUpdate() {
        this.loading = true

        let url
        this.newUrl ? url = this.getId(this.newUrl) : url = this.activeVideo.videoUrl

        let date
        this.newDate ? date = new Date(this.newDate) : date = this.activeNews.date

        try {
          const formData = {
            pageUrl: this.activeVideo.pageUrl,
            videoName: this.activeVideo.videoName,
            seoTitle: this.activeVideo.seoTitle,
            seoDescription: this.activeVideo.seoDescription,
            videoUrl: url,
            date: date
          }

          await this.$store.dispatch('media/updateVideo', formData)
          this.$swal('Видео обновлено', '', 'success')
          this.loading = false
          this.modal = false

        } catch (e) {
          this.loading = false
          console.log(e)
        }
      },
      closeModal() {
        this.modal = false
        this.newUrl = ''
      }
    },
	}
</script>

<style scoped lang="less">
.modal-info{
  width:100%;
  height:100%;
  position: fixed;
  left:0;
  top:0;
  display:flex;
  align-items: center;
  justify-content: center;
  .layout{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.8);
  }
  .main-content{
    background:#fff;
    position: relative;
    z-index: 1;
    height:400px;
    width:450px;
    color:#000;
    padding:30px;
    border-radius: 20px;
    span,
    label{
      color:#000;
      display:block;
      margin:10px 0;
    }
    input{
      width:100% !important;
      margin:5px 0;
      border:1px solid #666;
    }
  }
}
.date{
  color:#666;
  font-size:12px;
  margin:5px 0;
}
.controls{
  display:flex;
  justify-content: space-between;
  span{
    display: flex;
    align-items: center;
    margin: 10px 0;
    border: 2px solid #FF0000;
    background: none;
    padding: 0 15px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    background: #FF0000;
    color: #fff;
    font-weight: 400;
    &.update{
      background:#ffff00;
      color:#000000;
      border:1px solid #FFFF00;
    }
  }
}
  .video-wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;

  }
  .block{
    margin:10px;
    max-width:250px;
    display:flex;
    flex-direction: column;
  }
  .video{
    width:250px;
    height:140px;
    overflow: hidden;
  }
  .add-block{
      margin-top:50px;
      .add-title{
        font-size:20px;
        display:block;
        margin-bottom:30px;
      }
    input{
      display:block;
      margin-bottom:10px;
      width:100%;
      max-width:500px;
      border-radius: 10px;
      line-height: 40px;
      height:40px;
      padding:0 10px;
    }
    label,
    .note{
      display:block;
      margin:10px 0;
      font-weight:300;
    }
    button{
      display:block;
      margin:30px 0;
      border: 2px solid #FF0000;
      background: none;
      padding: 0 25px;
      height: 45px;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s ease-in;
      background: #FF0000;
      color: #fff;
      font-weight: 400;
      width:250px;
      &:hover{
        transition: all 0.3s ease-in;
        box-shadow: 2px 4px 15px 3px rgba(182, 0, 0, 0.5), inset 0 -5px 20px 3px rgba(182, 0, 0, 0.5);
      }
    }
  }
</style>