<template>
  <div class="section about" v-touch:swipe.left="swipeHandler">
    <div class="about-wrapper">
      <div class="info-block">
        <div>
          <h3>БОЛДЕР</h3>
          <p>BOULDER – это марка, уже более пяти лет выпускающая на российский рынок высококачественную современную спецтехнику по доступной цене. Благодаря накопленному с 2010 года практическому опыту в сфере поставок, высокому профессионализму кадров и ответственным дилерам, нам удалось найти признание у отечественного покупателя и заслужить репутацию надежного производителя и поставщика легкой, средней и тяжелой специализированной техники.   </p>
          <div class="icons-wrapper">
            <div><span class="icon-doc-ok"></span><span>Российское производство</span></div>
            <div><span class="icon-doc-ok"></span><span>Собственные разработки</span></div>
          </div>
          <p>С 2012 года мы основали собственное производство, соответствующее требованиям местного рынка, с повышенными требованиями к характеристикам машины, и уже в 2014 разработка модельного ряда прошла финальную стадию . В 2020 году уже более 1000 машин было собрано и отправлено во все концы страны– от Калининграда до Магадана. </p>
        </div>
        <div>
          <h3>Преимущества продукции</h3>
          <p>За годы упорного труда нам удалось адаптировать надежные технологии со всего мира и разработать собственные, позволившие Boulder создать по-настоящему высококачественную спецтехнику.</p> <p>Мы производим погрузчики и экскаваторы, подготовленные к реалиям работы в России: способные эффективно работать при минусовых температурах, проходящие по любому рельефу, не требовательные к топливу и оригинальным запчастям.</p> <p>Отслеживая мировые технологические новинки, Boulder постоянно расширяет линейку предлагаемой техники и навесного оборудования более совершенными моделями, предлагая потребителям только лучшее.</p>
        </div>
      </div>
      <div class="number-block">
        <div class="block">
          <span class="counter-title">Более</span>
          <client-only>
            <div class="animated-number">
              <animate-number
                  from="0"
                  mode="auto"
                  to="2000"
                  from-color="#FFFFFF"
                  to-color="#F7D900"
                  duration="1500"
                  easing="easeOutQuad"
                  ref="myNum1"
              ></animate-number>
            </div>
          </client-only>
          <span>ед. спецтехники <br>произведено на 2022 год</span>
        </div>
        <div class="block">
          <span class="counter-title">Модельный ряд</span>
          <client-only>
            <div class="animated-number">
              <animate-number
                  from="0"
                  mode="auto"
                  to="30"
                  from-color="#FFFFFF"
                  to-color="#F7D900"
                  duration="1200"
                  easing="easeOutQuad"
                  ref="myNum2"
              ></animate-number>
              <span class="plus">+</span>
            </div>
          </client-only>
          <span>машин</span>
          <nuxt-link to="/catalog">Каталог техники</nuxt-link>
        </div>
        <div class="block">
          <span class="counter-title">Более</span>
          <client-only>
            <div class="animated-number">
              <animate-number
                  from="0"
                  mode="auto"
                  to="30"
                  from-color="#FFFFFF"
                  to-color="#F7D900"
                  duration="1300"
                  ref="myNum3"
              ></animate-number>
            </div>
          </client-only>
          <span>тендерных государственных поставок</span>
        </div>
      </div>
    </div>
  </div>
 </template>

<script>
import {companyScroll} from '@/mixins/companyScroll.js'


export default {
  name: "about",
  layout: 'newcompany',
  data() {
    return {}
  },
  methods: {
    swipeHandler() {
      if(window.innerWidth < 768){
        this.$router.push(`/company/technology`)
      }
    },
  },
}
</script>

<style scoped lang="less">
.number-block{
  margin-top:40px;
}
.section.about {
  height: 100%;
  background: #292929;
  box-sizing: border-box;
}
</style>
