<template>
  <div class="section technology" v-touch:swipe.left="swipeHandlerLeft" v-touch:swipe.right="swipeHandlerRight">
    <div class="technology-wrapper">
      <div class="top-line">
        <h3>технология производства</h3>
        <p>Под компьютерным управлением плазменный луч точно обрезает детали, и их не нужно дополнительно
          обрабатывать.<br>
          Так на производстве минимизируется риск деформировать металл, и в дальнейшем достигается высочайшая точность
          при сборке. </p>
      </div>
      <div>
        <div v-swiper:mySwiper="techSwiperOptions" ref="swipertech" :auto-update="true" :auto-destroy="true">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="img">

                <img src="/img/tech/1.png" alt="">
                <span class="icon-doc-ok"></span>
              </div>
              <span class="title">Плазменная нарезка деталей</span>
              <div class="info">
                <p>Плазменная резка материала, применяемая на производстве, гарантирует минимальную деформацию деталей, так как при этом способе разреза материала механическое воздействие на него полностью отсутствует.<br> Сжатая плазменная дуга генерирует теплоту, проплавляющую металл, а плазменная струя оперативно убирает расплав с поверхности, за счет чего и в процессе резки, и после остывания детали получаются единообразные и максимально совместимые.<br> Благодаря таким технологиям, мы уверены в качестве и прочности рамы, составных частей машины и отсутствии брака.</p>

              </div>
            </div>
            <div class="swiper-slide">
              <div class="img">
                <img src="/img/tech/1.png" alt="">
                <span class="icon-doc-ok"></span>
              </div>
              <span class="title">Роботизированная сварка</span>
              <div class="info">
                <p>Лазерная сварка всех частей конструкции погрузчика производится при плотностях мощности излучения Е = 106 - 107 Вт/см². Благодаря этому, детали свариваются с высокой точностью и не требуют дальнейшей механической доработки.</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img">
                <img src="/img/tech/1.png" alt="">
                <span class="icon-doc-ok"></span>
              </div>
              <span class="title">Порошковая покраска металлических изделий</span>
              <div class="info">
                <p>Порошковая окраска, используемая на всех элементах корпуса погрузчика, обеспечивает технике уникальное покрытие с антикоррозийными и ударопрочными свойствами. Обжиг в печи полимеризации гарантирует эмали хорошую плотность и яркий, не тускнеющий цвет.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img">
                <img src="/img/tech/1.png" alt="">
                <span class="icon-doc-ok"></span>
              </div>
              <span class="title">Система контроля качества</span>
              <div class="info">
                <p>Производственные процессы детально регламентированы и прописаны в технологических картах лично
                  инженерами компании.<br>
                  Кадровая политика нашей компании акцентирована постоянном обучении по системе наставничества,
                  сохранении опытных кадров, регулярном тестировании и повышении квалификации.
                  Каждый специалист несет персональную ответственность за выполняемую работу: по каждой изготовленной
                  единице техники заполняются электронные бланки этапов сборки и результатов тестирования контроля
                  качества. Сами документы привязаны к номеру рамы и хранятся в производственных отчетах.
                  Перед отгрузкой готовой техники со стоянки завода производится заключительная проверка всех узлов и
                  агрегатов.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img">
                <img src="/img/tech/1.png" alt="">
                <span class="icon-doc-ok"></span>
              </div>
              <span class="title">Контроль качества</span>
              <div class="info">
                <p>Контроль качества позволяет нам гордиться своей продукцией. Он начинается еще на этапе закупки деталей и не прекращается даже после того, как машина покидает цех сборки. Каждый погрузчик или экскаватор проходит практическое тестирование в полевых условиях, доказав свою эффективность, прежде чем отправиться к покупателю. </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img">
                <img src="/img/tech/1.png" alt="">
                <span class="icon-doc-ok"></span>
              </div>
              <span class="title">Зимний пакет</span>
              <div class="info">
                <p>Зимнее оснащение которым оснащена наша техника, рассчитан на работу в условиях отрицательных температур и включает в себя систему подогрева двигателя и масел, предпусковой подогреватель воздуха во впускном коллекторе, утепленный капот и отопляемую кабину, оборудованную сидением с подогревом.</p>
              </div>
            </div>
          </div>
          <span class="slider-control right icon-arrow" @click="swipeToRight"></span>
          <span class="slider-control left icon-arrow" @click="swipeToLeft"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "technology",
  layout: 'newcompany',
  data() {
    return {
      techSwiperOptions: {
        loop: true,
        slidesPerView: '3',
        centeredSlides: false,

        speed: 500,
        spaceBetween: 50,
        //autoplay: {
        //delay: 5000,
        //disableOnInteraction: false
        //},
        breakpoints: {
          767: {
            allowTouchMove: false,
            slidesPerView: '1',
            spaceBetween: 50,
          },
          1199: {
            slidesPerView: '2',
            spaceBetween: 50,
          },

        }
      },
    }
  },

  methods: {
    swipeToRight() {
      (this.$refs.swipertech).swiper.slideNext()
    },
    swipeToLeft() {
      (this.$refs.swipertech).swiper.slidePrev()
    },
    swipeHandlerLeft() {
      if(window.innerWidth < 768) {
        this.$router.push(`/company/dealer`)
      }
    },
    swipeHandlerRight() {
      if(window.innerWidth < 768) {
        this.$router.push(`/company/about`)
      }
    },
  },
}
</script>

<style scoped lang="less">
.slideup-enter-active {
  animation: move-up .8s;
}

.slideup-enter-active {
  animation: move-up .8s;
}

.slideup-enter-active {
  animation: move-up .8s;
}

@keyframes move-up {
  0% {
    transform: translateY(-100%)
  }
  100% {
    transform: translateY(0)
  }
}

@keyframes move-up {
  0% {
    transform: translateY(-100%)
  }
  100% {
    transform: translateY(0)
  }
}

@keyframes move-up {
  0% {
    transform: translateY(-100%)
  }
  100% {
    transform: translateY(0)
  }
}

.section.technology {
  background: #292929;
  height: 100%;
}

.technology-wrapper {
  text-align: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;

  .top-line {
    margin: 50px 0;

    h3 {
      text-align: center;
      font-weight: normal;
      font-size: 26px;
      line-height: 31px;
      display: block;
      align-items: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #E7E7E7;
    }

    p {
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.01em;
      color: #EAEAEA;
    }
  }
}

.swiper-container {
  position: relative;
  padding: 0 40px;
  box-sizing: border-box;

  .swiper-slide {
    text-align: left;

    .img {
      text-align: center;
      margin: 00px 0 40px;

      img {
        display: none;
      }

      span {
        font-size: 80px;
        color: yellow;
      }

    }

    .title {
      font-size: 20px;
      line-height: 16px;
      display: block;
      text-align: center;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      min-height: 40px;
      margin-bottom: 10px;
    }

    .info {
      span, p, li, a {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: #C1C1C1;
      }

      ul {
        list-style: none;
        padding: 0;
      }
    }

  }

  .right {
    color: #7f828b;
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 40px;
    cursor: pointer;
  }

  .left {
    color: #7f828b;
    position: absolute;
    top: 30px;
    left: 0;
    transform: rotate(180deg);
    font-size: 40px;
    cursor: pointer;
  }
}

@media (min-width: 768px) and (max-height: 850px) {
  .technology-wrapper {
    height: 100%;

    .swiper-container {
      margin-top: 90px;
    }

    .top-line {
      display: none;
    }

  }
}

@media (max-width: 767px) {
  .technology-wrapper {
    padding-bottom: 60px;
    height: 100%;

    .breadcrumbs {
      display: none !important;
    }

    .top-line {
      display: none;
    }

    .swiper-container {
      padding: 0;

      .slider-control {
        font-size: 20px;
        top: 100px !important;
      }

      .swiper-slide {
        .img {
          span {
            display: none;
          }

          img {
            min-height: 200px;
            display: block;
            max-width: 100%;
            width: auto;
            margin: 0 auto;
          }
        }
      }

      .right, .left {
        z-index: 10;
        top: 80px;
        color: #fff;
        width: 27px;
      }
    }

    .tech-scroll {
      height: 100%;

    }
  }

}

@media (max-width: 399px) {
  .swiper-container {
    .swiper-slide {
      .img {
        margin-bottom: 10px;

        img {
          width: 100% !important;
        }
      }

      .title {
        font-size: 18px;
        text-align: left;
        height: auto;
        min-height: 0;
      }

      .info {
        p, span, li, a {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }
}

</style>
