<template>
  <div class="dealer-advantages" v-touch:swipe.left="swipeHandlerLeft" v-touch:swipe.right="swipeHandlerRight">
    <div class="dealer-container">
      <div class="breadcrumbs">
        <ul>
          <li>
            <nuxt-link to="/"><span class="icon-home breadcrumbs-home"></span></nuxt-link>
          </li>
          <li>Как стать дилером</li>
        </ul>
      </div>
      <div class="dealer-content-wrapper">
        <span class="title">Почему именно BOULDER</span>
        <p class="pre-title">
          </p>
        <div class="steps-content">
          <div class="adv-block">
            <div class="top">
              <span class="icon-ok"></span>
              <span class="title">
									Система менеджмента качества
								</span>
            </div>
            <p>Все наши погрузчики разработаны и собраны в России. Мы Постоянно регистрируем собственные патенты.</p>
            <p>Мы контролируем каждый этап производства комплектующих у поставщиков, каждый этап сборки на нашей
              сборочной площадке и проводим предпродажное тестирование</p>
            <p>Мы контролируем каждый этап сборки на нашей сборочной площадке</p>
            <p>Мы проводим предпродажное тестирование.</p>
          </div>
          <div class="adv-block">
            <div class="top">
              <span class="icon-ok"></span>
              <span class="title">
									Клиентоориентированное производство и гарантия
								</span>
            </div>
            <p>Мы зарегистрированы в реестре производителей РФ</p>
            <p>Наша техника имеет российские ПСМ</p>
            <p>Техника специально разработана для условий РФ. Надежность уже проверена временем и подтверждена
              клиентами</p>
            <p>Клиентоориентированное производство: оперативная реакция на доработки и изменения моделей. Возможность
              размещения заказов под специальную спецификацию, с изменением базовых характеристик</p>
            <p>Условия нашей гарантии позволяют клиентам самим обслуживать погрузчик (При условии соблюдения регламента
              ТО)</p>
            <p>И поэтому ... Мы единственные в РФ кто дает гарантию 2 года / 3000 часов и реально ее поддерживает</p>
          </div>
          <div class="adv-block">
            <div class="top">
              <span class="icon-ok"></span>
              <span class="title">
									Продвижение бренда
								</span>
            </div>
            <p>Мы активно продвигаем бренд и наших дилеров на всей территории РФ (сайт, yandex, google, avito, drom,
              smm, youtube… прямые рассылки, отдел прямых продаж…)</p>
            <p>За 3 года мы произвели и поставили более 380 единиц на территории нашей страны. Бренд уже отлично
              известен в РФ.</p>
            <p>Мы постоянно расширяем линейку производимых видов техники. С нами ваши обороты постоянно растут.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {companyScroll} from '@/mixins/companyScroll.js'

export default {
  name: "advantages",
  layout: "dealer",
  mixins: [companyScroll],
  head() {
    return {
      title: 'Как стать дилером Болдер - Наши приемущества',
      meta: [
        { hid: 'description', name: 'description', content: '' }
      ]
    }
  },
  transition(to, from) {
    console.log(to, from)
    if (from) {
      console.log(from)
      if (from.name === 'dealer-steps') return 'fpslideup'
      else if (from.name === 'dealer-maintenance') return 'fpslidedown'
    } else return 'fpfade'
  },
  methods: {
    swipeHandlerLeft() {
      if(window.innerWidth < 768) {
        this.$router.push(`/dealer/maintenance`)
      }

    },
    swipeHandlerRight() {
      if(window.innerWidth < 768) {
        this.$router.push(`/dealer/steps`)
      }
    }
  }
}
</script>

<style lang="less">
.dealer-content-wrapper {
  padding: 0 15px;

  .adv-block {
    .top {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

}

@media (max-width: 1199px) {
  .dealer-container {
    .breadcrumbs {
      margin-bottom: 15px;
    }

    .dealer-content-wrapper {
      .pre-title {
        display: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .dealer-container {
    padding-top: 60px;

    .breadcrumbs {
      display: none;
    }

    .dealer-content-wrapper {
      .title {
        font-size: 20px;
        margin: 20px 0 20px;
      }

      .steps-content {
        flex-direction: column;
        margin-bottom: 50px;

        .adv-block {
          width: 100%;
          border: 2px solid #4E4D4D;
          border-radius: 20px;
          margin-bottom: 20px;
          padding: 30px;
          box-sizing: border-box;

          .top {

            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 30px;

            span {
              margin: 0;
              display: flex;
              flex-direction: row;
              align-items: center;

              &.icon-ok {
                margin: 0;
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .dealer-container {
    .dealer-content-wrapper {
      .steps-content {
        flex-direction: column;
        margin-bottom: 50px;

        .adv-block {

          padding: 15px;

          .top {
            margin-bottom: 10px;
          }

          .title {
            font-size: 14px;
          }
        }
      }
    }
  }
}

</style>
