<template>
  <div class="dealer-maintenance" v-touch:swipe.right="swipeHandler">
    <div class="dealer-container">
      <div class="breadcrumbs">
        <ul>
          <li>
            <nuxt-link to="/"><span class="icon-home breadcrumbs-home"></span></nuxt-link>
          </li>
          <li>Как стать дилером</li>
        </ul>
      </div>
      <div class="dealer-content-wrapper">
        <span class="title">Как мы поможем вам продавать</span>
        <p class="pre-title">
          </p>
        <div class="steps-content">
          <div class="adv-block maintenance-block">
            <div class="title">
              Маркетинг
            </div>
            <p>Наш сайт имеет более 9000 уникальных посетителей в месяц, наши объявления на различных интернет-
              площадках просматривают более 20 000 человек в месяц (в случае если в регионе есть дилер, в дополнение к
              вашим объявлениям, мы размещаем не менее 1-го объявления на центральном интернет-ресурсе продаж
              спецтехники каждого крупного города).</p>
            <p>Мы размещаем информацию о нас (а значит и о вас) в отраслевых печатных и электронных изданиях. мы делаем
              не менее 3-х рассылок в месяц (около 80 000 адресов).</p>
            <p>Мы делаем для вас полиграфическую продукцию, а также Обеспечиваем необходимой документацией для участия
              в торгах.</p>
            <p>И в результате мы (а значит и вы) получаем не менее 12 профильных запросов в день по разным регионам
              страны.</p>
          </div>
          <div class="adv-block maintenance-block">
            <div class="title">
              Сервисная служба
            </div>
            <p>Мы осуществляем методологическую помощь при гарантийных и негарантийных случаях для ваших
              специалистов.</p>
            <p>Мы осуществляем отправку всех необходимых запасных частей (с центрального склада во Владивостоке).</p>
            <p>Мы несем все согласованные затраты по гарантийным случаям ваших клиентов.</p>
            <p>У нас всегда поддерживается сток необходимых запасных частей для осуществления гарантии и для обеспечения
              продаж запчастей</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {companyScroll} from '@/mixins/companyScroll.js'

export default {
  name: "maintenance",
  layout: "dealer",
  transition: 'fpslideup',
  mixins: [companyScroll],
  head() {
    return {
      title: 'Как стать дилером Болдер - Как мы поможем вам продавать',
      meta: [
        { hid: 'description', name: 'description', content: '' }
      ]
    }
  },
  methods: {
    swipeHandler() {
      if(window.innerWidth < 768) {
        this.$router.push(`/dealer/advantages`)
      }
    },
  },
}
</script>

<style scoped>
.dealer-content-wrapper {
  padding: 0 15px;
}
</style>
