<template>
  <div class="dealer-steps"> <!--v-touch:swipe.left="swipeHandler"-->
    <div class="dealer-container">
      <div class="breadcrumbs">
        <ul>
          <li>
            <nuxt-link to="/"><span class="icon-home breadcrumbs-home"></span></nuxt-link>
          </li>
          <li>Как стать дилером</li>
        </ul>
      </div>
      <div class="dealer-content-wrapper steps-wrapper">
        <span class="title">Основные этапы</span>
        <p class="pre-title">Благодарим за проявленный к нашей компании интерес.<br>
          Совместный труд BOULDER и каждого из наших партнеров в широкой дилерской сети помогает делать отечественный рынок спецтехники современнее, доступнее и технологичнее. Вступайте в крепкую команду Болдер уже сегодня, обеспечив свой регион высококачественной российской техникой по доступным ценам.</p>
        <div class="steps-content">
          <div class="step-blocks">
            <div class="block">
              <span class="number"><span>1</span></span>
              <span class="icon icon-doc-ok"></span>
              <span class="name">Ознакомиться с требованиями</span>
              <div class="bottom">
                  <span>Дилерская политика PDF</span>
                       <div class="icon-wrapper">
                         <a href="/files/boulder-diler.pdf" target="_blank">
                          <span class="icon-download"></span>
                         </a>
                       </div>
              </div>
            </div>
            <div class="block">
              <span class="number"><span>2</span></span>
              <span class="icon icon-doc-ok"></span>
              <span class="name">Отправить запрос<br> с описанием на почту<br> komdir@boulder.com.ru<br> <br> или</span>

              <div class="bottom">
                <span></span>
                <div class="icon-wrapper">
                  <script data-b24-form="click/291/ppvu1b" data-skip-moving="true">
                    (function(w,d,u){
                      var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
                      var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                    })(window,document,'https://cdn-ru.bitrix24.ru/b3786079/crm/form/loader_291.js');
                  </script>
                  <button>Заполнить форму</button>
                </div>
              </div>
            </div>
            <div class="block">
              <span class="number"><span>3</span></span>
              <span class="icon icon-doc-ok"></span>
              <span class="name">Получить одобрение</span>
              <div class="bottom">
                <span></span>
                <div class="icon-wrapper">
                  <span class="icon-ok"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="right-part">
            <span class="sub-title">После подписания <br>дилерского договора:</span>
            <ul>
              <li><span class="icon-ok"></span>Получаете сертификат</li>
              <li><span class="icon-ok"></span>Ваши контакты появляются на сайте</li>
              <li><span class="icon-ok"></span>Получаете необходимые материалы</li>
              <li><span class="icon-ok"></span>Получаете запросы в вашем регионе</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <transition name="fade">
      <dealer-form v-if="dealerForm" @formToggle="formToggleClose"></dealer-form>
    </transition>
  </div>
</template>

<script>
//import {companyScroll} from '@/mixins/companyScroll.js'
import Dealer from "@/pages/company/dealer";
import DealerForm from "@/components/main/DealerForm"

export default {
  name: "steps",
  components: {Dealer, DealerForm},
  layout: "dealer",
  transition: 'fpslidedown',
  //mixins: [companyScroll],
  head() {
    return {
      title: 'Стань Частью Большой Компании Boulder. Самая Выгодная Спецтехника Только У Нас',
      meta: [
        { hid: 'description', name: 'description', content: 'В нашем ассортименте фронтальные и вилочные погрузчики, экскаваторы погрузчики и мини экскаваторы. Техника не стоит на месте и вечно развивается' }
      ]
    }
  },
  data() {
    return {
      dealerForm: false
    }
  },
  methods: {
    /*swipeHandler() {
      if(window.innerWidth < 768) {
        this.$router.push(`/dealer/advantages`)
      }
    },*/
    formToggleClose() {
      this.dealerForm = false
    }
  },
}
</script>

<style scoped lang="less">
.dealer-steps .dealer-container{
  padding-top:20px !important;
}
.dealer-content-wrapper {
  padding: 0 15px;
}

@media (max-width: 1199px) {
  .steps-content {
    justify-content: center !important;

    .right-part {
      display: none;
    }
  }

  .dealer-container .dealer-content-wrapper .step-blocks .block {
    width: 230px;
  }
}

@media (min-width: 768px) and (max-height: 830px) {
  .dealer-container {
    .breadcrumbs {
      margin-bottom: 5vh;
    }

    .dealer-content-wrapper {
      .pre-title {
        display: none;
      }
    }
  }
}

@media (min-width: 768px) and (max-height: 760px) {
  .dealer-container {
    .breadcrumbs {
      margin-bottom: 3vh;
    }

    .dealer-content-wrapper .title {
      font-size: 20px;
    }

    .steps-content {
      margin-top: 3vh;
    }
  }
}

@media (max-width: 768px) {
  .dealer-container {
    .breadcrumbs {
      display: none;
    }

    .dealer-content-wrapper {
      .title {
        font-size: 20px;
      }

      .pre-title {
        display: none;
      }

      .step-blocks {
        flex-direction: column;
        min-width: 100% !important;
        width: 100% !important;

        .block {
          min-width: 100% !important;
          width: 100% !important;
          margin: 0 0 15px;
          height: 150px;
          padding: 15px;

          .icon {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .dealer-container {
    padding-top: 60px;

    .dealer-content-wrapper {
      margin-bottom: 0;

      .title {
        font-size: 20px;
        margin: 20px 0 20px;
      }

      .steps-content {
        margin-top: 0;
        padding-top: 0;
      }

      .step-blocks {
        .number {
          height: 80px;
          line-height: 70px;
        }

        .block {
          padding-left: 55px;
          justify-content: space-around;

          .name {
            font-size: 18px;

            br {
              display: none;
            }
          }

          .bottom {
            position: static;
          }
        }
      }
    }
  }
}
</style>
