<template>
  <div class="section about vacancy">
    <div class="about-wrapper">
      <div class="info-block">
        <div class="vacancy-info" v-if="vacancy">
          <span class="back" @click="vacancyReset">Назад к списку вакансий</span>
          <span class="vacancy-title">{{this.vacancy.title}}</span>
          <div class="salary-block">
            <span class="salary" v-if="vacancy.salaryFrom">От {{toFormatPrice(vacancy.salaryFrom)}} руб.</span>
            <span class="salary" v-if="vacancy.salaryTo">до {{toFormatPrice(vacancy.salaryTo)}} руб.</span>
            <span class="salary" v-if="!vacancy.salaryTo && !vacancy.salaryFrom">ЗП не указана</span>
          </div>
          <div class="description-block" v-if="vacancy.description">
            <p class="description vacancy-text">{{vacancy.description || 'Нет описания'}}</p>
          </div>
          <div class="responsibilities-block" v-if="vacancy.responsibilities">
            <span class="vacancy-title">Обязанности</span>
            <p class="responsibilities vacancy-text">{{vacancy.responsibilities || 'Обязанности не указаны'}}</p>
          </div>
          <div class="requirements-block" v-if="vacancy.requirements">
            <span class="vacancy-title">Основные требования</span>
            <p class="requirements vacancy-text">{{vacancy.requirements || 'Требования не указаны'}}</p>
          </div>
          <div class="conditions-block" v-if="vacancy.conditions">
            <span class="vacancy-title">Условия</span>
            <p class="conditions vacancy-text">{{vacancy.conditions || 'Условия не указаны'}}</p>
          </div>
        </div>
        <div class="vacancy-form">
            <span class="form-title vacancy-title">Оставить резюме</span>
            <div class="input-group" :class="{ 'hasError': $v.form.name.$error }">
              <label>Ваше имя</label>
              <input type="text" v-model="form.name">
            </div>
            <div class="input-group" :class="{ 'hasError': $v.form.phone.$error }">
              <label>Телефон для связи</label>
              <the-mask mask="+7 (XXX) XXX XX-XX" v-model="form.phone" type="tel"
                        placeholder="+7 (XXX) XXX XX-XX"></the-mask>
            </div>
            <div class="input-group" :class="{ 'hasError': $v.form.mail.$error }">
              <label>Email</label>
              <input type="text" v-model="form.mail">
            </div>
            <span class="form-pre-title">Оставьте ссылку на свое резюме</span>
            <div class="input-group">
              <label>Ссылка на резюме <span>(Например, на hh.ru)</span></label>
              <input type="text" v-model="form.resumeLink">
            </div>

            <div class="main-btn-wrapper">
              <button ref="sendBtn" class="main-btn" :class="{'loading': loading, 'success': success}" @click="vacancySubmit">
                <span class="default">Отправить</span>
                <span class="success">Заявка отправлена</span>
                <span class="error">Не удалось</span>
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import {numeric, required, minLength, email} from "vuelidate/lib/validators";

export default {
  name: "vacancy",
  layout: 'newcompany',
  mixins: [validationMixin],
  async asyncData({store, params}) {
    console.log(params.id)
    try {
      const vacancy = await store.dispatch('media/fetchVacancyById', params.id)
      return {vacancy}
    } catch (e) {
      console.log(e)
    }
  },
  data() {
    return {
      file: null,
      loading: false,
      success: false,
      form: {
        phone: null,
        mail: null,
        name: null,
        resumeLink: '',
        resume: '',
      }
    }
  },
  validations: {
    form: {
      name: {required},
      mail: {email},
      phone: {numeric, required, min: minLength(10)}
    }
  },
  methods: {
    previewFiles() {
      this.files = this.$refs.resumeAttachment.files;
      console.log('this.files', this.files);
    },
    loadingFalse() {
      this.loading = false
    },
    successTrue() {
      this.success = true
    },
    toDetails(vacancy) {
      this.vacancy.id = index._id
      this.vacancy.title = index.title
      this.vacancy.description = index.description
      this.vacancy.salaryFrom = index.salaryFrom
      this.vacancy.salaryTo = index.salaryTo
      this.vacancy.responsibilities = index.responsibilities
      this.vacancy.requirements = index.requirements
      this.vacancy.conditions = index.conditions
    },
    vacancyReset() {
      this.$router.push(`/company/vacancy`)
    },
    swipeHandler() {
      if (window.innerWidth < 768) {
        this.$router.push(`/company/technology`)
      }
    },
    toFormatPrice(data) {
      let price = Number.prototype.toFixed.call(parseFloat(data) || 0, 0);
      return price.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1 ");
    },
    async vacancySubmit() {
      this.$v.form.$touch();
      try {
        const formData = this.form
        formData.vacancy = this.vacancy.title
        if (!this.$v.form.$error) {
          this.loading = true
          await this.$store.dispatch('vacancyMail', formData, {root: true})
          setTimeout(this.loadingFalse, 1000)
          this.successTrue()
        }
      } catch (e) {
        console.log(e)
        this.loading = false
      }
    }
  }
}
</script>

<style scoped lang="less">

.slide-right-enter-active, .slide-right-leave-active {
  transition: .5s;
}
.slide-right-enter, .slide-right-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateX(100px);
}
.section.vacancy{
  height: 100%;
  overflow: hidden;
  width: 100%;
  .info-block{
    padding-top:50px;
  }
  .about-wrapper{
    padding:0;
  }
  .info-block{
    flex-grow:1;
  }
  .page-title{
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
  .vacancy-wrapper{
    width:100% !important;
  }
  .vacancy-block{
    margin-top:70px;
    width:100%;
  }
  .vacancy-title{
    font-size: 26px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
  .vacancy-description{
    margin:25px 0;
    display:block;
    max-width:800px;
  }
  .vacancy-details{
    max-width:300px;
    width:100%;
    background: #C6C6CB;
    border-radius: 5px;
    height:45px;
    font-weight: 300;
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #000000;
    border:none;
  }
  .vacancy-info{
    .back{
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      text-decoration-line: underline;
      color: #98B5FF;
      margin-bottom:15px;
      cursor:pointer;
    }
    .salary-block{
      margin:5px 0 30px;
      display:flex;
    }
    .salary{
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
      color: #8E8E8E;
      margin-right:5px;
    }
    .vacancy-text{
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
    }
    .responsibilities-block,
    .requirements-block,
    .conditions-block{
      margin-top:40px;
    }
  }
  .vacancy-form{
    padding-top:30px;
    .form-title{
      margin-bottom:50px;
    }
    .form-pre-title{
      margin:50px 0 30px;
      letter-spacing: 0.7px;
      display:flex;
    }
    .input-group{
      max-width:330px;
      width:100%;
      margin-bottom:20px;
      &.hasError{
        input{
          border:1px solid red;
        }
      }
      label{
        font-weight: 300;
        letter-spacing: 0.7px;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin-bottom:5px;
        span{
          display:inline-block;
          margin-left:5px;
          color: #8E8E8E;
        }
      }
      input{
        width:100%;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        border-radius: 5px;
        background: none;
        padding:0 15px;
        height:45px;
        color:#fff;
      }
    }
    .vacancy-form-submit{
      cursor: pointer;
      max-width: 330px;
      width: 100%;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 47px;
      background: #FF0000;
      border: none;
      color: #fff;
      box-shadow: 2px 4px 15px rgb(182 0 0 / 50%);
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.02em;
      position: relative;
    }
    .main-btn-wrapper{
      max-width: 330px;
      width: 100%;
      display:flex;
      justify-content: center;
    }
  }
}
@media(max-width:1299px){
  .section.vacancy{
    .about-wrapper {
      padding: 0 15px;
    }
  }
}
@media(max-width:767px){
  .section.vacancy .info-block{
    padding-top:0;
    padding-bottom:30px;
  }
  .vacancy-info{
    padding-top:5px;
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-btn {
  background: #FF0000 !important;
  display: block;
  border: 2px solid #FF0000;
  font-weight: 700;
  color: #FF0000;
  background: none;
  padding: 0 25px;
  height: 47px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  &.loading {
    transition: 0.3s;
    background: none !important;
    width: 35px !important;
    height: 35px !important;
    padding: 0 !important;
    border-radius: 50% !important;
    border-color: #FFF !important;
    border-width: 4px !important;
    font-size: 0 !important;
    border-left-color: #FB1C1C !important;
    animation: rotating 2s 0.25s linear infinite !important;

    &.success {
      background: none !important;
      border-color: #FFF !important;
      border-left-color: #FB1C1C !important;
    }
  }

  &.success {
    background: #FB1C1C !important;
    border-color: #FB1C1C !important;
    color: #FFF !important;

    .default {
      display: none;
    }

    .success {
      color: #FFF !important;
      display: block;
    }
  }

  .default {
    color: #fff;
  }

  .success, .error {
    display: none;
  }
}
</style>
