<template>
  <div class="section about vacancy" v-touch:swipe.left="swipeHandler">
    <div class="about-wrapper">
      <div class="info-block">
        <div class="vacancy-wrapper" v-if="!vacancy.id">
            <span class="page-title">Вакансии</span>
            <div v-if="vacancyList.length">
              <div class="vacancy-block" v-for="vacancy of vacancyList">
                <span class="vacancy-title" @click="toDetails(vacancy)">{{ vacancy.title }}</span>
                <p class="vacancy-description">{{ vacancy.description }}</p>
                <button class="vacancy-details" @click="toDetails(vacancy)">Подробнее</button>
              </div>
            </div>
          <p v-else>К сожалению, в данный момент нет открытых вакансий в нашей компании.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "technology",
  layout: 'newcompany',
  async asyncData({store}) {
    const vacancyList = await store.dispatch('media/fetchVacancyList')
    return {vacancyList}
  },
  data() {
    return {
      loading: false,
      success: false,
      form: {
        phone: null,
        mail: null,
        name: null,
        resumeLink: '',
        resume: '',
      },
      vacancy: {
        id: null,
        title: '',
        description: '',
        salaryFrom: 0,
        salaryTo: 0,
        responsibilities: '',
        requirements: '',
        conditions: '',
      }
    }
  },
  methods: {
    loadingFalse() {
      this.loading = false
    },
    successTrue() {
      this.success = true
    },
    toDetails(vacancy) {
      console.log(vacancy)
      this.$router.push(`/company/vacancy/${vacancy._id}`)
    },
    vacancyReset() {
      this.vacancy.id = null
      this.vacancy.title = ''
      this.vacancy.description = ''
      this.vacancy.salaryFrom = 0
      this.vacancy.salaryTo = 0
      this.vacancy.responsibilities = ''
      this.vacancy.requirements = ''
      this.vacancy.conditions = ''
    },
    swipeHandler() {
      if (window.innerWidth < 768) {
        this.$router.push(`/company/technology`)
      }
    },
    toFormatPrice(data) {
      let price = Number.prototype.toFixed.call(parseFloat(data) || 0, 0);
      return price.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1 ");
    }
  }
}
</script>

<style scoped lang="less">
.slide-right-enter-active, .slide-right-leave-active {
  transition: .5s;
}
.slide-right-enter, .slide-right-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateX(100px);
}
.section.vacancy{
  height: 100%;
  overflow: hidden;
  width: 100%;
  .info-block{
    padding-top:50px;
  }
  .about-wrapper{
    padding:0;
  }
  .info-block{
    flex-grow:1;
  }
  .page-title{
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
  .vacancy-wrapper{
    width:100% !important;
  }
  .vacancy-block{
    margin-top:70px;
    width:100%;
    max-width: 850px;
    border-bottom: 1px solid #666;
    padding-bottom: 50px;
    &:last-child{
      border-bottom:none;
      border-bottom:0;
    }
  }
  .vacancy-title{
    font-size: 26px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    cursor:pointer;
    transition: 0.3s;
    &:hover{
      color:yellow;
    }
  }
  .vacancy-description{
    margin:25px 0;
    display:block;
    max-width:800px;
  }
  .vacancy-details{
    max-width:300px;
    width:100%;
    background: #C6C6CB;
    border-radius: 5px;
    height:45px;
    font-weight: 300;
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #000000;
    border:none;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
      background: yellow;
    }
  }
  .vacancy-info{
    .back{
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      text-decoration-line: underline;
      color: #98B5FF;
      margin-bottom:15px;
      cursor:pointer;
    }
    .salary-block{
      margin:5px 0 30px;
      display:flex;
    }
    .salary{
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
      color: #8E8E8E;
      margin-right:5px;
    }
    .vacancy-text{
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
    }
    .responsibilities-block,
    .requirements-block,
    .conditions-block{
      margin-top:40px;
    }
  }
  .vacancy-form{
    padding-top:30px;
    .form-title{
      margin-bottom:50px;
    }
    .form-pre-title{
      margin:50px 0 30px;
      letter-spacing: 0.7px;
      display:flex;
    }
    .input-group{
      max-width:330px;
      width:100%;
      margin-bottom:20px;
      &.hasError{
        input{
          border:1px solid red;
        }
      }
      label{
        font-weight: 300;
        letter-spacing: 0.7px;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin-bottom:5px;
        span{
          display:inline-block;
          margin-left:5px;
          color: #8E8E8E;
        }
      }
      input{
        width:100%;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        border-radius: 5px;
        background: none;
        padding:0 15px;
        height:45px;
        color:#fff;
      }
    }
    .vacancy-form-submit{
      cursor: pointer;
      max-width: 330px;
      width: 100%;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 47px;
      background: #FF0000;
      border: none;
      color: #fff;
      box-shadow: 2px 4px 15px rgb(182 0 0 / 50%);
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.02em;
      position: relative;
    }
    .main-btn-wrapper{
      max-width: 330px;
      width: 100%;
      display:flex;
      justify-content: center;
    }
  }
}
@media(max-width:1299px){
  .section.vacancy{
    .about-wrapper {
      padding: 0 15px;
    }
  }
}
@media(max-width:767px){
  .section.vacancy .info-block{
    padding-top:0;
    padding-bottom:30px;
  }
  .vacancy-info{
    padding-top:5px;
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-btn {
  background: #FF0000 !important;
  display: block;
  border: 2px solid #FF0000;
  font-weight: 700;
  color: #FF0000;
  background: none;
  padding: 0 25px;
  height: 47px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  &.loading {
    transition: 0.3s;
    background: none !important;
    width: 35px !important;
    height: 35px !important;
    padding: 0 !important;
    border-radius: 50% !important;
    border-color: #FFF !important;
    border-width: 4px !important;
    font-size: 0 !important;
    border-left-color: #FB1C1C !important;
    animation: rotating 2s 0.25s linear infinite !important;

    &.success {
      background: none !important;
      border-color: #FFF !important;
      border-left-color: #FB1C1C !important;
    }
  }

  &.success {
    background: #FB1C1C !important;
    border-color: #FB1C1C !important;
    color: #FFF !important;

    .default {
      display: none;
    }

    .success {
      color: #FFF !important;
      display: block;
    }
  }

  .default {
    color: #fff;
  }

  .success, .error {
    display: none;
  }
}
</style>
