<template>
  <div class="call-order-layout-container">
    <div class="layout" @click="close"></div>
    <div class="call-order">
      <span class="close" @click="close"></span>
      <input placeholder="Ваше имя" v-model="name">
      <the-mask :class="{ 'hasError': $v.phone.$error }" mask="+7 (XXX) XXX XX-XX" v-model="phone" type="tel"
                placeholder="+7 (XXX) XXX XX-XX"></the-mask>
      <button ref="sendBtn" :class="{'loading': loading, 'success': success}" @click="submit">
        <span class="default">Заказать</span>
        <span class="success">Запрос отправлен</span>
        <span class="error">Не удалось</span>
      </button>
    </div>
  </div>
</template>

<script>
import {numeric, required, minLength} from "vuelidate/lib/validators";

export default {
  name: "callOrder",
  data() {
    return {
      phone: '',
      name: '',
      loading: false,
      success: false,
    }
  },
  validations: {
    phone: {numeric, required, min: minLength(10)}
  },
  methods: {
    close() {
      this.$emit('formToggle')
    },
    loadingFalse() {
      this.loading = false
    },
    successTrue() {
      this.success = true
    },
    async submit() {
      this.$v.phone.$touch();
      const formData = {
        name: this.name,
        phone: this.phone,
      }
      try {
        if (!this.$v.phone.$error) {
          this.loading = true
          await this.$store.dispatch('callOrder', formData, {root: true})
          this.$gtm.push({ event: 'sendForm', virtualFormUrl: `${this.$route.fullPath}/call_order`  })
          setTimeout(this.loadingFalse, 1000)
          this.successTrue()
        }
      } catch (e) {
        this.loading = false
        console.log(e)
      }
    }
  }
}
</script>

<style scoped lang="less">
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.call-order {
  position: absolute;
  background: #fff;
  top: 100%;
  width: 220px;
  padding: 15px 25px 15px;
  box-sizing: border-box;
  left: -22px;
  border-radius: 15px;
  margin-top: 10px;

  .close {
    display: block;
    position: relative;
    margin-left: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #FB1C1C;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      width: 15px;
      height: 1px;
      background: #FB1C1C;
      position: absolute;
      left: 2px;
      bottom: 9px;
      transform: rotate(45deg);
    }

    &:after {
      content: '';
      display: block;
      width: 15px;
      height: 1px;
      background: #FB1C1C;
      position: absolute;
      left: 2px;
      bottom: 9px;
      transform: rotate(-45deg);
    }
  }

  input {
    height: 20px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;

    &.hasError {
      border-bottom: 1px solid #FB1C1C;
      color: #FB1C1C;
    }
  }

  button {
    display: block !important;
    background: #FB1C1C !important;
    transition: 0.3s;

    &.loading {
      transition: 0.3s;
      background: none !important;
      width: 35px !important;
      height: 35px !important;
      padding: 0 !important;
      border-radius: 50% !important;
      border-color: #FFF !important;
      border-width: 4px !important;
      font-size: 0 !important;
      border-left-color: #FB1C1C !important;
      animation: rotating 2s 0.25s linear infinite !important;

      &.success {
        background: none !important;
        border-color: #FFF !important;
        border-left-color: #FB1C1C !important;
      }
    }

    &.success {
      background: #FB1C1C !important;
      border-color: #FB1C1C !important;
      color: #FFF !important;

      .default {
        display: none;
      }

      .success {
        color: #FFF !important;
        display: block;
      }
    }

    .default {
      color: #fff;
    }

    .success, .error {
      display: none;
    }
  }
}

</style>
