<template>
  <div class="casco-wrapper">
    <div class="casco-layout" @click="close"></div>
    <div class="casco-content">
      <div class="casco-info">
        <span class="title">КАСКО-СПЕЦТЕХНИКА В ПОДАРОК!</span>
        <p class="sub-title">Не действует для лизинговых предложений.</p>br
        <p class="sub-title">Совместно с СК "Согласие" даем акцию при покупке любого погрузчика страховка КАСКО в
          подарок.</p>
        <div class="case">
          <span class="case-title">Перечень страховых случаев:</span>
          <div class="block">
            <div class="img"><img src="/img/casco.svg" alt=""></div>
            <ul>
              <li>Cтихийное бедствие</li>
              <li>Воздействие животных</li>
              <li>Пожар</li>
              <li>Удар молнии</li>
              <li>Просадка или иное движение грунта</li>
            </ul>
          </div>
          <div class="block">
            <div class="img"><img src="/img/casco2.svg" alt=""></div>
            <ul>
              <li>Взрыв</li>
              <li>Авария</li>
              <li>Хищение или угон</li>
              <li>Падение летательных аппаратов</li>
              <li>Противоправные действия третьих лиц</li>
            </ul>
          </div>
        </div>
        <p>Срок страхования по данному предложению составляет <b>12 месяцев</b></p>
        <div class="casco">
          <span class="casco-btn" @click="close">назад</span>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "casco",
  data() {
    return {}
  },
  methods: {
    close() {
      this.$emit('cascoToggle')
    },
  }
}
</script>

<style scoped lang="less">
.casco {
  margin-top: 40px;

  .casco-btn {
    color: #181818;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
.casco-wrapper {
  display: flex;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}
.casco-layout {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}
.casco-info {
  position: relative;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  padding: 50px 50px 40px;
  background: #fff;

  .title {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    margin: 20px 0 40px;
    display: block;
  }

  .sub-title {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #181818;
    max-width: 600px;
    display: block;
  }

  p {
    color: #181818;
  }

  .case {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;

    .case-title {
      min-width: 100%;
      width: 100%;
      display: block;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      align-items: center;
      letter-spacing: 0.02em;
      color: #181818;
      margin-bottom: 30px;
    }

    .block {
      width: 50%;
      display: flex;
      align-items: center;

      .img {
        width: 150px;
        height: 180px;

        img {
          width: 100%;

        }
      }

      ul {
        padding: 0;
        margin: 0 0 0 15px;
        list-style: none;

        li {
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          align-items: center;
          letter-spacing: 0.02em;
          color: #181818;
          margin-bottom: 20px;
          text-align: left;
        }
      }
    }
  }
}
@media(max-width:767px){
  .casco-wrapper{
    align-items: flex-start;
    overflow: auto;
  }
  .casco-info {
    padding:20px;
    .title{
      font-size:18px;
      line-height: 22px;
      margin:20px 0;
    }
    .sub-title{
      font-size:14px;
    }
    .case{
      flex-direction:column;
      align-items: center;
      margin:30px 0;
      .block{
        width:300px;
      }
    }
  }
}
</style>
