<template>
  <div class="dealer-form call-order">
    <div class="overlay" @click="close"></div>
    <div class="dealer-form-container">
      <div class="dealer-form-content">
        <span class="close" @click="close"></span>
        <input placeholder="Ваше имя*" v-model="name">
        <the-mask mask="+7 (XXX) XXX XX-XX" v-model="phone" type="tel" placeholder="+7 (XXX) XXX XX-XX*"></the-mask>
        <span v-if="errors.phone" class="error">Пожалуйста, введите корректный номер телефона</span>
        <input placeholder="Email" v-model="mail">
        <input placeholder="ИНН" v-model="inn">
        <button ref="sendBtn" :class="{'loading': loading, 'success': success}" @click="submit">
          <span class="default">Отправить</span>
          <span class="success">Запрос отправлен</span>
          <span class="error">Не удалось</span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import {numeric, required, minLength} from "vuelidate/lib/validators";

export default {
  name: "DealerForm",
  data() {
    return {
      phone: '',
      name: '',
      mail: '',
      inn: '',
      loading: false,
      success: false,
      errors: {
        phone: false,
      }
    }
  },
  validations: {
    phone: {numeric, required, min: minLength(10)}
  },
  methods: {
    close() {
      this.$emit('formToggle')
    },
    loadingFalse() {
      this.loading = false
    },
    successTrue() {
      this.success = true
    },
    async submit() {
      this.$v.phone.$touch();
      this.errors.phone = this.$v.phone.$error
      let error = this.errors.phone
      if (!error) {
        const formData = {
          name: this.name,
          phone: this.phone,
          mail: this.mail,
          inn: this.inn,
        }

        try {
          this.loading = true
          await this.$store.dispatch('dealerForm', formData, {root: true})
          this.$gtm.push({ event: 'sendForm', virtualFormUrl: `${this.$route.fullPath}/dealer_form`  })
          setTimeout(this.loadingFalse, 1000)
          this.successTrue()

        } catch (e) {
          this.loading = false
          console.log(e)
        }

      }
    }
  }
}
</script>

<style scoped lang="less">
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error {
  font-size: 12px;
  color: #FF0000;
  margin-bottom: 10px;
}

.call-order.dealer-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  margin-top: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dealer-form-container {
  background: #fff;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.call-order {
  position: absolute;
  background: #fff;
  top: 100%;
  width: 220px;
  padding: 15px 25px 15px;
  box-sizing: border-box;
  left: -22px;
  border-radius: 15px;
  margin-top: 10px;

  .close {
    display: block;
    position: relative;
    margin-left: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #FB1C1C;
    cursor: pointer;
    top: -30px;
    left: 30px;

    &:before {
      content: '';
      display: block;
      width: 15px;
      height: 1px;
      background: #FB1C1C;
      position: absolute;
      left: 2px;
      bottom: 9px;
      transform: rotate(45deg);
    }

    &:after {
      content: '';
      display: block;
      width: 15px;
      height: 1px;
      background: #FB1C1C;
      position: absolute;
      left: 2px;
      bottom: 9px;
      transform: rotate(-45deg);
    }
  }

  input {
    height: 20px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;

    &.hasError {
      border-bottom: 1px solid #FB1C1C;
      color: #FB1C1C;
    }
  }

  button {
    margin-top: 40px;
    display: block !important;
    background: #FB1C1C !important;
    transition: 0.3s;

    &.loading {
      transition: 0.3s;
      background: none !important;
      width: 35px !important;
      height: 35px !important;
      padding: 0 !important;
      border-radius: 50% !important;
      border-color: #FFF !important;
      border-width: 4px !important;
      font-size: 0 !important;
      border-left-color: #FB1C1C !important;
      animation: rotating 2s 0.25s linear infinite !important;

      &.success {
        background: none !important;
        border-color: #FFF !important;
        border-left-color: #FB1C1C !important;
      }
    }

    &.success {
      background: #FB1C1C !important;
      border-color: #FB1C1C !important;
      color: #FFF !important;

      .default {
        display: none;
      }

      .success {
        color: #FFF !important;
        display: block;
      }
    }

    .default {
      color: #fff;
    }

    .success, .error {
      display: none;
    }
  }
}
.dealer-form-container{
  position:relative;
}
.dealer-form-container:before{
  content:'';
  width:100%;
  height:100%;
  display:block;
  position:absolute;
  left:0;
  top:0;
  opacity:0.2
}
.dealer-form-content{
  z-index:1;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.dealer-form-content input{
  display:block;
  border-radius:5px;
  height:25px !important;
}

</style>
