<template>
	<div class="dealer">
		<perfect-scrollbar ref="dealers-ps" v-view.once="check">
			<div class="dealer-toggle">
				<span v-for="dealer of dealerList" @click="changeLoc(dealer)" :class="{'active': dealer.mapActive}">{{dealer.region}}</span>
			</div>
		</perfect-scrollbar>
		<div class="title">
			<h3>Дилерская сеть<span>Boulder</span></h3>
		</div>
		<client-only>
			<div class="map">
				<yandex-map
						:coords="coords"
						:zoom="zoom"
						:scrollZoom="false"
						ref="map"
				>
					<ymap-marker
							:coords="coords"
              hideIconOnBalloonOpen="false"
							marker-id="123"
							:icon="markerIcon"
							:balloon-template="balloonTemplate"
							@balloonopen="balloonOpen"
							@balloonclose="balloonClose"
					/>
				</yandex-map>
			</div>
		</client-only>
	</div>
</template>

<script>
	export default {
		name: "DealerBlock",
		data: () => ({
			coords: [
        55.71282156901534,
        37.41851450000001,
			],
      main:{
        x: 43.09752189885726,
        y: 131.90132981481926,
        name:'Болдер-Спецтехника',
        city:'Владивосток',
        address: 'ул. Липовая д.7а каб 307',
        phone: ['+79089915118'],
        email: 'info@boulder-loaders.ru',
        region: 'Приморский край',
        mapActive: false,
        mapZoom: 15
      },
			markerIcon: {
				color: 'red',
			},
			zoom: 15,
			dealerList: [
        {
          x: 43.09752189885726,
          y: 131.90132981481926,
          name: 'Болдер-Спецтехника',
          city: 'Владивосток',
          address: 'ул. Липовая д.7а каб 307',
          phone: ['+79089915118'],
          phone2: '+7(924) 430-80-96',
          email: 'info@boulder.com.ru',
          region: 'Приморский край',
          mapActive: true,
          mapZoom: 15,
          short: true,
          imgSrc: 'vdk.png'
        },
        {
          x: 55.576559,
          y: 37.622917,
          name: 'ООО "Болдер"',
          city: 'Москва',
          address: 'Востряковский пр., 10Б, стр. 2, каб. 31б',
          phone: ['+7 (999) 551-66-11', '+79295516611'],
          phone2: '',
          email: 'msk@boulder.com.ru',
          region: 'Московская область',
          mapActive: false,
          mapZoom: 15,
          short: true,
          imgSrc: 'msk.png'
        },
        {
          x: 46.934498074333376,
          y: 142.74179549999997,
          name: 'Болдер-Сахалин',
          city: 'Южно-Сахалинск',
          address: 'ул.Ленина д.441 кор.А оф.317',
          phone: ['+7(962)123-30-20'],
          phone2: '',
          email: 'sakh.boulder@mail.ru',
          region: 'Сахалинская область',
          mapActive: false,
          mapZoom: 15,
          short: true,
          imgSrc: 'shk.png'
        },
        {
          x: 56.712768,
          y: 60.582607,
          name: 'Болдер-Урал',
          city: 'Екатеринбург',
          address: 'Полевской тракт д.16, офис 2, 16-й километр',
          phone: ['+79221665200'],
          phone2: '',
          email: 'ural@boulder.com.ru',
          region: 'Уральский Федеральный Округ',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        {
          x: 55.03355306967293,
          y: 82.933033,
          name: 'ООО "Болдер-Сибирь"',
          city: 'Новосибирск',
          address: 'ул.Фабричная 10 кор 17. Офис 413',
          phone: ['+7(383) 299-88-22','+7(913) 917-88-22'],
          phone2: '',
          email: 'boldersibir@yandex.ru',
          region: 'Сибирский Федеральный Округ',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'nvsb.png'
        },
        {
          x: 60.029489564063255,
          y: 30.266945999999884,
          name: 'ООО "Живая Сталь"',
          city: 'Санкт-Петербург',
          address: 'ул. Автобусная д.7 литера А, этаж 2, помещ. 1н, №7',
          phone: ['+78124674167'],
          phone2: '',
          email: 'info@boulder-russia.ru',
          region: 'Северо-западный Федеральный Округ',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'spb.png'
        },
        {
          x: 56.2094960685293,
          y: 95.71635599999999,
          name: 'ООО "Водоканал-Сервис"',
          city: 'Канск',
          address: '4-й мкр. Центральный 33Б',
          phone: ['+7(913)570-34-02'],
          phone2: '',
          email: 'yu.torg@ws124.ru',
          region: 'Красноярский край и Иркутская область',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'knk.png'
        },
        {
          x: 56.082788,
          y: 92.941945,
          name: 'Болдер-Красноярск',
          city: 'Красноярск',
          address: 'Северное шоссе 7/8',
          phone: ['+7(902)991-89-89','+7(391) 241-89-89'],
          phone2: '',
          email: 'boulder24@mail.ru',
          region: 'Красноярский край',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'krs.png'
        },
        {
          x: 62.0346432,
          y: 129.6665535,
          name: 'ООО "ВостокевроТехника"',
          city: 'Якутск',
          address: 'Вилюйский тракт 3км. д.53',
          phone: ['89142758070'],
          phone2: '',
          phone3: '89142759070',
          email: '711383@mail.ru',
          region: 'Республика Саха (Якутия)',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ya.png'
        },
        {
          x: 57.153859,
          y: 65.472892,
          name: 'ООО "Белые Росы"',
          city: 'Тюмень',
          address: 'ул. Аккумуляторная д.1 офис 209',
          phone: ['+7(922) 267-61-59','+7(919) 940-16-67'],
          phone2: '',
          email: 'boulder_tum@mail.ru',
          region: 'Тюменская область, ХМАО',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        {
          x: 59.180353,
          y: 39.957342,
          name: 'ООО "ПКФ Агротехника"',
          city: 'Вологда',
          address: 'Московское шоссе д.50',
          phone: ['+7 (911) 501-58-48'],
          phone2: '',
          email: 'at_vologda@mail.ru',
          region: 'Вологодская область',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        /*{
          x: 54.728737,
          y: 55.980826,
          name: 'ООО "АМ ГРУПП ПЛЮС"',
          city: 'Уфа',
          address: 'ул. Кирова, 99/2, офис 5',
          phone: ['8 (800) 551-95-09'],
          phone2: '',
          email: 'info@boulder-amg.ru',
          region: 'Республика Башкортостан',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },*/
        {
          x: 58.610388,
          y: 49.632899,
          name: 'ООО "ПКФ Агротехника"',
          city: 'Киров',
          address: '2-й Кирпичный пер. д.2/3',
          phone: ['+7 (8332) 53-90-94'],
          phone2: '',
          email: 'at_kirov@mail.ru',
          region: 'Кировская область, Удмуртия',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        {
          x: 53.342323,
          y: 83.776488,
          name: 'Салон спецтехники "АлтайЗнак"',
          city: 'Барнаул',
          address: 'пр-т. Социалистический д.85',
          phone: ['+7(385-2) 56-00-00'],
          phone2: '',
          email: 'mstaltaiznak@yandex.ru  director@altaiznak.ru',
          region: 'Алтайский край, Республика Алтай',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        {
          x: 56.216514,
          y: 44.104514,
          name: 'ООО "ПРОМИНВЕСТ"',
          city: 'п. Ждановский',
          address: 'ул. Магистральная 9Г',
          phone: ['+7(831)416-16-13'],
          phone2: '',
          email: 'katok-nn@mail.ru',
          region: 'Нижегородская область',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        {
          x: 48.494143,
          y: 135.111173,
          name: 'Болдер-Хабаровск',
          city: 'Хабаровск',
          address: 'ул. Промышленная 14/4',
          phone: ['+7(919)766-91-11'],
          phone2: '',
          email: 'info@boulder27.ru',
          region: 'Хабаровский край',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        /*{
          x: 48.478222573891884,
          y: 135.06879949999998,
          name: 'Болдер-Спецтехника',
          city: 'Хабаровск',
          address: 'ул. Муравьева-Амурского д.44 офис 311',
          phone: ['+79241143130'],
          email: 'hab@boulder-loaders.ru',
          region: 'Хабаровский край',
          mapActive: false,
          mapZoom: 15,
          short: true,
          imgSrc: 'hab.png'
        }*/
      ],
      hiddenPhone: true,
		}),
    computed: {
			balloonTemplate() {
			  let phone
        let phoneBlockTemplate = ``

        if (this.activeDealer.phone.length === 1) {
          phone = this.activeDealer.phone[0]

          phoneBlockTemplate = `
            <div
              class="block closed"
              id="dealer_tel_${this.telToId(phone)}_toggle"
              onclick="this.classList.remove('closed')">
                <a class="closed" href="tel:${phone}'">
                    <span class="icon-phone"></span>
                    <span>
                        ${this.phoneFormat(phone).slice(0,-2) + '**'}
                        <span class="note" id="dealer_id_${phone}">Показать номер</span>
                    </span>
                 </a>
                 <a class="opened" href="tel:${phone}'">
                    <span class="icon-phone"></span>
                    <span>
                        ${this.phoneFormat(phone)}
                    </span>
                 </a>
						</div>`
        } else if (this.activeDealer.phone.length > 1) {
          this.activeDealer.phone.forEach(phone => {
            phoneBlockTemplate = phoneBlockTemplate + `
            <div
               class="block closed"
               id="dealer_tel_${this.telToId(phone)}_toggle"
               onclick="this.classList.remove('closed')">
                <a class="closed" href="tel:${phone}'">
                    <span class="icon-phone"></span>
                    <span>
                        ${this.phoneFormat(phone).slice(0,-2) + '**'}
                        <span class="note" id="dealer_id_${phone}">Показать номер</span>
                    </span>
                 </a>
                 <a class="opened" href="tel:${phone}'">
                    <span class="icon-phone"></span>
                    <span>
                        ${this.phoneFormat(phone)}
                    </span>
                 </a>
						</div>`
          })
        }
			  let innerTemplate = `
            <div class="block">
							  <a href="" onclick="this.setAttribute('href', 'mailto:${this.activeDealer.email}')">
								<span class="icon-mail"></span>
								<span>${this.activeDealer.email}</span>
								</a>
							</div>
						<div class="block">
								<span class="icon-location-circle"></span>
								<span>${this.activeDealer.address}</span>
							</div>
        `
        innerTemplate = phoneBlockTemplate + innerTemplate
        if (this.activeDealer.phone2) innerTemplate += `
        <div
           class="block closed"
           id="dealer_tel_${this.telToId(this.activeDealer.phone2)}_toggle"
           onclick="this.classList.remove('closed')">
            <a class="closed" href="">
                <span class="icon-gear"></span>
                <span>Отдел по продаже запчастей: <br>${this.phoneFormat(this.activeDealer.phone2).slice(0,-2) + '**'} <span class="note" id="dealer_id_${this.activeDealer.phone2}">Показать номер</span></span>
            </a>
            <a class="opened" href="tel:${this.activeDealer.phone2}">
                <span class="icon-gear"></span>
                <span>Отдел по продаже запчастей: <br>${this.phoneFormat(this.activeDealer.phone2)} </span>
            </a>
				</div>
        `

        if (this.activeDealer.phone3) innerTemplate += `
        <div
          class="block closed"
          id="dealer_tel_${this.telToId(this.activeDealer.phone3)}_toggle"
          onclick="this.classList.remove('closed')">
            <a class="closed" href="">
                <span class="icon-gear"></span>
                <span>Сервисная служба: <br>${this.phoneFormat(this.activeDealer.phone3).slice(0,-2) + '**'} <span class="note" id="dealer_id_${this.activeDealer.phone3}">Показать номер</span></span>
            </a>
            <a class="opened" href="tel:${this.activeDealer.phone3}">
                <span class="icon-gear"></span>
                <span>Сервисная служба: <br>${this.phoneFormat(this.activeDealer.phone3)} </span>
            </a>
				</div>
				`
			  let template = `
					<div class="balloon-wrapper">
						<span class="title">${this.activeDealer.name}</span>
						<div class="wrapper">
							${innerTemplate}
						</div>
					</div>
				`
				return template
			},
			activeDealer() {
				let activeDealer
				this.dealerList.forEach( function(dealer) {
					if (dealer.mapActive === true) {
						activeDealer = dealer
					}
				})
				return activeDealer
			}
		},
    mounted() {
		  /*let bal = this.$refs.map.myMap.balloon
      setTimeout(() => {
        bal.open(this.coords, this.balloonTemplate)
      }, 3000)*/
    },
    methods: {
		  telToId (phone) {
		    let result = ''
		    if ( phone ) result = phone.replace(/[^\d\+]/g, '').replace('+', '')
		    return result
      },
      phoneFormat(phone){
        let lenPhone = phone.length;
        let tt = phone.split('');
        if (lenPhone === 12){
          tt.splice(2,"", " (");
          tt.splice(6,"", ") ");
          tt.splice(10,"", "-");
          tt.splice(13,"", "-");
        } if (phone[0] == 8) {
          tt.splice(1,"", "-");
          tt.splice(5,"", "-");
          tt.splice(9,"", "-");
        }
        return tt.join('')
      },
		  check(){
		    setTimeout(this.changeLoc(this.dealerList[0]), 2000)
      },
			changeLoc(dealer){
		    if(this.$refs.map.myMap.balloon){
          this.$refs.map.myMap.balloon.close(this.coords, this.balloonTemplate)
        }
				this.dealerList.forEach(dealer => dealer.mapActive = false);
				dealer.mapActive = true;
				this.coords = [dealer.x, dealer.y];
				this.zoom = dealer.mapZoom;
				this.balOpen()
			},
			balloonOpen() {
        let bal = this.$refs.map.myMap.balloon
        let coords = this.coords
        let template = this.balloonTemplate
        bal.open(coords, template)
			},
			balloonClose() {
				console.log('2')
			},
			balOpen(){
				let bal = this.$refs.map.myMap.balloon
				let coords = this.coords
				let template = this.balloonTemplate
				setTimeout(function(){
					bal.open(coords, template)
				}, 1000)
			}
		},
	}
</script>

<style lang="less">
	.map{
		.ymaps-2-1-77-balloon{
			box-shadow: none !important;
			transform: translate(-28%, -30px);
      position: relative;
      &:before{
        height:50px;
        width:1px;
        display:none;
        content: '';
      }
		}
		.ymaps-2-1-77-balloon__tail{
			display:none;
		}
		.ymaps-2-1-77-balloon__layout{
      width:300px;
			background:rgba(0,0,0,0.8) !important;
			border-radius: 15px;
		}
		.ymaps-2-1-77-balloon__content{
			background: none !important;
			padding:20px !important;;
			box-sizing: border-box;
			width:100%;
			& > ymaps{
				height: 100% !important;
				width:100% !important;
			}
		}
	}
  @media(max-width:1199px){
    .map {
      .ymaps-2-1-77-balloon {
        transform: translate(-28%, 70px);
      }
    }
  }
  @media(max-width:520px){
    .map {
      .ymaps-2-1-77-balloon {
        transform: translate(0px, 70px);
      }
    }
  }
  .dealer .block{
    position:relative;
    .note{
      font-size:12px!important;
      color:#000 !important;
      text-decoration:underline;
      display:block;
      margin:0 !important;
    }
    .closed{
      display:none !important;
    }
    .opened{
      display:flex !important;
    }
    &:before{
      pointer-events:none;
      display:none;
    }
    &.closed{
      cursor:pointer;
      &:before{
        content:'';
        display:flex;
        width:100%;
        height:50px;
        position:absolute;
        z-index:1;
      }
      a{
        pointer-events:none;
      }
      .opened{
        display:none !important;
      }
      .closed{
        display:flex !important;
      }
    }
  }

</style>
