<template>
  <div class="form">
    <input type="text" v-model="name" placeholder="Ваше имя">
    <input type="email" v-model="mail" placeholder="Ваш e-mail">
    <client-only>
      <the-mask type="tel" mask="+7 (XXX) XXX XX-XX" v-model="phone" placeholder="Телефон"></the-mask>
      <span class="error-phone" ref="phoneError">Введите корректный номер телефона</span>
    </client-only>
    <span class="label">Комментарий</span>
    <textarea v-model="comment"></textarea>
    <div class="form-bottom">
    <button @click="footerSumbit" :class="{'loading': loading, 'success': success, 'disabled': btnDisabled}">
      <span class="default">Отправить</span>
      <span class="success">Запрос отправлен</span>
      <span class="error">Не удалось</span>
    </button>
    <span class="mobile" @click="footerFormToggle">Отменить</span>
    </div>
  </div>
</template>

<script>
import { numeric, required, minLength } from "vuelidate/lib/validators";
export default {
  name: "FooterForm",
  data() {
    return{
      name: '',
      mail: '',
      phone: '',
      comment: '',
      loading: false,
      success: false,
    }
  },
  validations: {
    phone: { numeric, required, min: minLength(10)}
  },
  computed: {
    btnDisabled() {
      return !this.phone;
    },
    phoneCorrect() {
      return !!this.$v.phone.$error;
    }

  },
  methods:{
    footerFormToggle() {
      this.$emit('close')
    },
    loadingFalse() {
      this.loading = false
    },
    successTrue() {
      this.success = true
    },
    async footerSumbit() {
      this.$v.phone.$touch();
      const formData = {
        name: this.name,
        mail: this.mail,
        phone: this.phone,
        text: this.comment
      }

      try{
        if(!this.$v.phone.$error) {
          this.loading = true
          this.$refs.phoneError.style.opacity='0'
          await this.$store.dispatch('formFooter', formData, {root: true})
          this.$gtm.push({ event: 'sendForm', virtualFormUrl: `${this.$route.fullPath}/footer_question_form`  })
          setTimeout(this.loadingFalse, 1000)
          this.successTrue()
          setTimeout(this.footerFormToggle, 3000)
        } else {
          this.$refs.phoneError.style.opacity='1'
        }
      } catch (e) {
        console.log(e)
      }
    },
  }
}
</script>

<style scoped lang="less">
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-landing-page footer .block.form button{
  display:block !important;
  background: #FB1C1C !important;
  transition: 0.3s;
  cursor:pointer !important;
  &.disabled{
    background:#3d3d3d !important;
    box-shadow: none !important;
  }
  &.loading{
    border:4px solid #fff !important;
    transition: 0.3s;
    background: none !important;
    width: 35px !important;
    height:35px !important;
    padding:0 !important;
    border-radius:50% !important;
    font-size:0 !important;
    border-left-color:#FB1C1C !important;
    animation: rotating 2s 0.25s linear infinite !important;
    &.success{
      background: none !important;
      border-color: #FFF !important;
      border-left-color:#FB1C1C !important;
    }
  }
  &.success{
    background: #FB1C1C !important;
    border-color: #FB1C1C !important;
    color:#FFF !important;
    cursor: default;
    pointer-events: none;
    .default{
      display:none;
    }
    .success{
      color:#FFF !important;
      display:block;
      cursor: default;
      pointer-events: none;
    }
  }
  .default{
    color:#fff;
  }
  .success,.error{
    display:none;
  }
}
input.hasError{
  border-bottom:1px solid red !important;
  color:red !important;
  & + .error-phone{
    opacity: 1;
    transition: 0.3s;
  }
}
.error-phone{
  color:red;
  font-size:12px;
  line-height: 0;
  position: relative;
  top:-10px;
  opacity:0;
}
@media(max-width:991px){
  .main-landing-page footer .block.form .form{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0 !important;
    &.on{
      opacity:1 !important;
      z-index: 999999 !important;
      top: 0 !important;

    }
  }
}
.form-bottom{
  display:flex;
  width:100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span{
    text-align: center;
  }
}
</style>
