<template>
  <div class="how-to-buy" v-view.once="showImgs">
    <div class="bg-layout">
      <picture v-if="show">
        <source srcset="/img/steps-bg.webp" type="image/webp">
        <source srcset="/img/steps-bg.png" type="image/png">
        <img src="/img/steps-bg.png" alt="">
      </picture>
      <div class="black-layout"></div>
    </div>
    <h3><span>Как купить технику</span> <img src="/img/boulder-logo.svg" alt=""></h3>
    <div class="steps-container">
      <div class="steps">
        <div v-animate="'appear'" class="line">
          <div v-animate="'step1'" class="step">
            <span class="number">1</span>
            <span class="description">
              <span>Выберите технику на сайте</span>
              <span class="mobile">Также Вы можете выбрать дополнительные опции и навесное оборудование</span>
            </span>
          </div>
          <div v-animate="'step2'" class="step">
            <span class="number">2</span>
            <span class="description">
              <span>Оставьте заявку</span>
              <span class="mobile">Наш менеджер свяжется с Вами для уточнения всех вопросов</span>
            </span>
          </div>
          <div v-animate="'step3'" class="step">
            <span class="number">3</span>
            <span class="description">
              <span>Получите КП</span>
              <span class="mobile">Различные способы оплаты</span>
            </span>
          </div>
          <div v-animate="'step4'" class="step">
            <span class="number">4</span>
            <span class="description">
              <span>Заключите договор</span>
              <span class="mobile">Мы осуществим отгрузку от ближайшего дилера</span>
            </span>
          </div>
          <div v-animate="'step5'" class="step">
            <span class="number">5</span>
            <span class="description">
              <span>Получите технику</span>
            </span>
          </div>
        </div>
        <div class="bottom-line">
          <p>Также Вы можете выбрать дополнительные опции и навесное оборудование</p>
          <p>Наш менеджер свяжется с Вами для уточнения всех вопросов</p>
          <p>Различные способы оплаты</p>
          <p>Мы осуществим отгрузку от ближайшего дилера</p>
        </div>
      </div>
      <div class="questions">
        <span class="title">Часто задаваемые вопросы</span>
        <div class="accordion">
          <div v-for="(question, index) of questionsListSorted" :key="index" class="question-item">
            <v-collapse-wrapper>

              <div class="" v-collapse-content>
                <div v-html="question.block1" class="info"></div>
                <nuxt-link :to="'/questions/' + question.url">Читать полностью</nuxt-link>
              </div>
              <div class="visible" v-collapse-toggle>
                <span class="question-name">{{ question.title }}<span class="icon-arrow"></span></span>
              </div>
            </v-collapse-wrapper>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HowToBuy",
  props: ['allQuestions'],
  data() {
    return {
      show:false,
      questionsList: this.allQuestions
    }
  },
  computed: {
    questionsListSorted() {
      let newArray = []
      this.questionsList.forEach((item) => {
        if (newArray.length < 8) {
          newArray.push(item)
        }
      })
      return newArray
    }
  },
  methods: {
    showImgs(){
      this.show = true
    }
  }
}
</script>

<style lang="less" scoped>
.main-landing-page .how-to-buy .steps-container .steps{
  margin-top:300px;
}
.how-to-buy{
  position: relative;
  overflow: hidden;
}
h3 span{
  position: relative;
  z-index: 1;
}
.bg-layout{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  .black-layout{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:block;
    background:rgba(0,0,0,0.9)
  }
  img{
    min-width:100%;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}


@keyframes zoom {
  0% {
    transform: scale(1);
    color: white;
  }
  50% {
    transform: scale(1.4);
    color: yellow;
  }
  100% {
    transform: scale(1);
    color: yellow;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(25px)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

.appear.animate + .bottom-line p {
  opacity: 0;
  position: relative;
  left: -30px;
  transition-duration: 1.5s;
}

.appear.animate-active + .bottom-line p {
  opacity: 1;
  left: 0;
}

.appear.animate-active + .bottom-line p:nth-child(1) {
  transition-delay: 2s;
}

.appear.animate-active + .bottom-line p:nth-child(2) {
  transition-delay: 3.5s;
}

.appear.animate-active + .bottom-line p:nth-child(3) {
  transition-delay: 5s;
}

.appear.animate-active + .bottom-line p:nth-child(4) {
  transition-delay: 6.5s;
}

.step {
  position: relative;
}

.step .number {
  opacity: 0
}

.step:after {
  content: '';
  width: 90px;
  max-width: 0;
  height: 1px;
  background: grey;
  position: absolute;
  margin-left: 5px;
  left: 100%;
  top: 40px;
}

.step:last-child:after {
  display: none;
}

.step.animate-active .number {
  opacity: 1;
}

.step.animate-active:after {
  max-width: 90px;
  transition: 0.8s;
}

.step1.animate-active .number {
  animation: zoom 1.5s;
  animation-delay: 0s;
}

.step1.animate-active:after {
  transition-delay: 1s;
}

.step2.animate-active:after {
  transition-delay: 2.5s;
}

.step3.animate-active:after {
  transition-delay: 4s;
}

.step4.animate-active:after {
  transition-delay: 5.5s;
}

.step1 .description {
  transform: translateY(25px);
}

.step1.animate-active .description {
  opacity: 1 !important;
  transform: translateY(0);
  transition: 1s;
  transition-delay: 1s;
}

.step2.animate-active .number {
  animation: zoom 1.5s;
  animation-delay: 1.5s;
  transition-delay: 1.5s;
}

.step2 .description {
  transform: translateY(25px);
}

.step2.animate-active .description {
  opacity: 1 !important;
  transform: translateY(0);
  transition: 1s;
  transition-delay: 2.5s;
}

.step3.animate-active .number {
  animation: zoom 1.5s;
  animation-delay: 3s;
  transition-delay: 3s;
}

.step3 .description {
  transform: translateY(25px);
}

.step3.animate-active .description {
  opacity: 1 !important;
  transform: translateY(0);
  transition: 1s;
  transition-delay: 4s;
}

.step4.animate-active .number {
  animation: zoom 1.5s;
  animation-delay: 4.5s;
  transition-delay: 4.5s;
}

.step4 .description {
  transform: translateY(25px);
}

.step4.animate-active .description {
  opacity: 1 !important;
  transform: translateY(0);
  transition: 1s;
  transition-delay: 5.5s;
}

.step5.animate-active .number {
  animation: zoom 1.5s;
  animation-delay: 6s;
  transition-delay: 6s;
}

.step5 .description {
  transform: translateY(25px);
}

.step5.animate-active .description {
  opacity: 1 !important;
  transform: translateY(0);
  transition: 1s;
  transition-delay: 7s;
}

.accordion .info {
  max-height: 95px;
  overflow: hidden;
}

.accordion a {
  color: yellow;
  text-align: right;
  display: block;
  margin: 20px 0;
  text-decoration: underline;
  font-weight: 300;
  font-size: 12px;
}
@media(min-width:992px){
  span.mobile{
    display:none;
  }
}
@media(max-width:1600px){
  .main-landing-page{
    .how-to-buy {
      .steps-container {
        .steps {
          margin-top:100px;
        }
      }
      .bg-layout{
        img{
          position: absolute;
          bottom:0;
          left:0;
        }
      }
    }

  }
}
@media(max-width:991px){
  body .how-to-buy{
    h3{
      margin:50px 0 80px;
      flex-direction: column;
      img{
        margin-top:15px;
        margin-left:0;
      }
    }
    .steps-container{
      .steps{
        width:100%;
        margin-top:0 !important;
        .line{
          width:100%;
          display:flex;
          flex-direction: column;
          margin:0;
          align-items: center;
          .step{
            margin:0;
            width:100% !important;
            display:flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            max-width:430px;
            box-sizing: border-box;
            padding:0 15px;
            justify-content: flex-start;
            .number{
              font-size:80px;
              margin:0 20px 0 0;
              position: relative;
              top:-13px;

            }
            .description{
              font-style: normal;
              font-weight: 100;
              font-size: 20px !important;

              letter-spacing: 0.03em;

              display:flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              span{
                color: #FFFF00 !important;
                text-align: left;
              }
              .mobile{
                font-size:14px !important;
                color:#fff !important;
                text-align: left;
                margin-top:10px;
                margin-bottom:10px;
              }


            }
            &:after{
              display:none;
            }
          }
        }

        .bottom-line{
          display:none;
        }
      }
    }
  }
}
@media(max-width:767px){
  body .how-to-buy {
    h3 {
      font-size:20px;
      margin:30px 0 50px;
      img{
        max-width:150px;
        margin-top:10px;
      }
    }
    .steps-container .steps .line .step{
      margin-bottom:15px;
      .number{
        font-size:60px;
        top:-8px;
      }
    }
  }

}
</style>
