<template>
  <div class="last-news"  v-view.once="showImg">
    <div class="slider-container">
      <h3>Читайте последние новости:</h3>
      <div v-swiper:mySwiper1="swiperNewsOption" @slideChange="slideChanged" ref="lastNewsSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="block of newsListSorted">
            <nuxt-link v-if="block.newsUrl" :to="`/news/${block.newsUrl}`">
              <div class="news-block">
                <picture v-if="showPreview">
                  <source :srcset="`/img/media/news/${block.dateString}/preview.webp`" type="image/webp">
                  <img :src="`/img/media/news/${block.dateString}/preview.png`" alt="">
                </picture>
                <span class="description">{{ block.title }}</span>
                <div class="bottom">
                  <span>Boulder</span>
                  <span class="more">Смотреть</span>
                </div>
                <span class="date">{{date(block.date)}}</span>
              </div>
            </nuxt-link>
          </div>
        </div>
        <span class="slider-control right icon-arrow" @click="swipeToRight"></span>
        <span class="slider-control left icon-arrow" @click="swipeToLeft"></span>
      </div>
      <nuxt-link class="all-news" to="/news">Все новости</nuxt-link>
    </div>
  </div>
</template>
<script>
export default {
  name: "LastNews",
  props: ['news'],
  data() {
    return {
      showPreview: false,
      newsList: this.news,
      swiperNewsOption: {
        loop: false,
        slidesPerView: '5',
        centeredSlides: false,
        speed: 500,
        autoplay: {
          delay: 7000,
          disableOnInteraction: false
        },
        breakpoints: {
          1600: {
            slidesPerView: '4',
          },
          1199: {
            slidesPerView: '3',
          },
          991: {
            slidesPerView: '2',
          },
          600: {
            slidesPerView: '1',
          },
        }
      },
    }
  },
  computed: {
    newsListSorted(){
      let newList =this.newsList.slice(0);
      newList.sort(function (a, b) {
        return new Date(b.date) - new Date(a.date);
      });
      return newList
    }
  },
  methods: {
    showImg(){
      this.showPreview = true
    },
    date(value) {
      let string = value
      let tPosition = string.indexOf('T')
      let date = string.slice(0, tPosition) + 'T23:00:00.000Z'

      date = new Date(date)
      let dd = date.getDate()
      if (dd < 10) dd = '0' + dd;
      let mm = date.getMonth() + 1;
      if (mm < 10) mm = '0' + mm;
      let yy = date.getFullYear();

      return dd + '.' + mm + '.' + yy;
    },
    dateUrl(value) {
      let string = value
      let tPosition = string.indexOf('T')
      let date = string.slice(0, tPosition) + 'T23:00:00.000Z'

      date = new Date(date)
      let mm = date.getMonth() + 1;
      if (mm < 10) mm = '0' + mm;

      let dd = date.getDate()
      if (dd < 9) dd = '0' + dd +1;
      if (mm === 1 || mm === 3 || mm === 5 || mm === 7 || mm === 8 || mm === 10 || mm === 12){
        if(dd === 31) dd = '01'
      }
      if (mm === 2 || mm === 4 || mm === 6 || mm === 9 || mm === 11) {
        if(dd === 30) dd = '01'
      }


      let yy = date.getFullYear();

      return dd + mm  + yy;
    },
    slideChanged() {
    },
    swipeToRight() {
      (this.$refs.lastNewsSwiper).swiper.slideNext()
    },
    swipeToLeft() {
      (this.$refs.lastNewsSwiper).swiper.slidePrev()
    }
  }
}
</script>

<style lang="less" scoped>
.date{
  font-size:12px;
  color:#666;
  position: relative;
  top:-5px;
}
.last-news {
  border-bottom: 5px solid #fff;
  text-align: center;

  h3 {
    font-weight: normal;
    font-size: 40px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
    letter-spacing: 0.02em;
    margin: 80px 0;
  }

  .all-news {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 180px;
    text-align: center;
    margin: 60px auto;
    font-size: 16px;
    border: 2px solid #FB1C1C;
    color: #fff;
    background: #FB1C1C;
    padding: 0 25px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;

    &:hover {
      transition: all 0.3s ease-in;
      box-shadow: 2px 4px 15px rgba(182, 0, 0, 0.5);
    }

  }

  .slider-container {
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;

    & > a {
      display: flex;
      justify-content: center;
    }

    .description {
      display: flex;
      width: 100%;
      height: 120px;
      justify-content: center;
      align-items: center;
    }

    .bottom {
      background: yellow;
      color: #000;
      height: 50px;
      border-radius: 0 0 20px 20px;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;

      span {
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;
        color: #000;
      }

      .more {
        display: none;
      }
    }
  }

  .news-block {
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
    &:hover{
      img{
        transform: scale(1.1)
      }
    }
    &:hover {
      .bottom-more {
        color: red !important;
        transition: 0.3s;
      }
    }

    img {
      transition: 0.3s;
      max-width: 100%;
      min-height: 150px;
      max-height: 150px;
      width: 100%;
    }
  }

  .swiper-container {
    position: static;
  }

  .left {
    display: block;
    transform: rotate(180deg);
    position: absolute;
    right: auto;
    left: -70px;
    top: 50%;
  }

  .right {
    position: absolute;
    right: -70px;
    top: 50%;
  }

  .slider-control {
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
  }
}

@media (max-width: 1600px) {
  .last-news {
    .slider-container {
      padding: 0 40px;
      box-sizing: border-box;
    }

    .left {
      left: 15px;
    }

    .right {
      right: 15px;
    }
  }
}

@media (max-width: 1199px) {
  .last-news {
    h3 {
      margin: 50px 0 60px;
      font-size: 30px;
    }
  }
}

@media (max-width: 767px) {
  .last-news {
    h3 {
      font-size: 18px;
      text-transform: uppercase;
      margin: 30px 0 40px;
    }

    .swiper-slide {
      .bottom {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        box-sizing: border-box;

        span {
          font-weight: 700;
        }

        .more {
          display: flex;
          align-items: center;
          font-size: 12px;
          text-transform: none;
          font-weight: 300;

          i {
            font-style: normal;
            font-size: 34px;
            position: relative;
            top: -3px;
          }
        }
      }

      .bottom-more {
        display: none;
      }
    }

    .all-news {
      font-size: 14px;
      font-weight: 300;
    }

    .news-block {
      max-width: 300px;
    }
  }
}

@media (max-width: 550px) {
  .last-news {
    .slider-container {
      padding: 0 15px;
    }

    .left {
      left: 0;
    }

    .right {
      right: 0;
    }
  }
}
</style>