<template>
  <div class="leasing-block">
    <transition name="fade">
      <div key="leasing" class="leasing-info">
        <div ref="layout" class="hidden-layout" @click="hide"></div>
        <div v-swiper:mySwiperLeasing="swiperLeasingOption">
          <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="leasing of leasingList">
              <div class="swp-container">
                <div class="img">
                  <img :src="leasing.img" alt="">
                </div>
                <div class="info">
                  <div class="info-wrapper">
                    <div v-if="leasing.specInfo.priceRise">
                      <span>Предложение</span>
                      <span><span>{{ leasing.specInfo.priceRise }}</span></span>
                    </div>
                    <div v-if="leasing.specInfo.prepay">
                      <span>Аванс</span>
                      <span><span><i>от </i>{{ leasing.specInfo.prepay }}</span></span>
                    </div>
                    <div v-if="leasing.specInfo.term">
                      <span>Срок лизинга</span>
                      <span><span v-if="leasing.specInfo.term[0]"><i>от </i>{{ leasing.specInfo.term[0] }}</span><span
                          v-if="leasing.specInfo.term[1]"><i> до </i>{{ leasing.specInfo.term[1] }}</span></span>
                    </div>
                    <div v-if="leasing.specInfo.value.length !== 0 ">
                      <span>Объем финансирования</span>
                      <span v-if="leasing.specInfo.value === 'nolimit'">
										без ограничений
									</span>
                      <span v-else>
										<span v-if="leasing.specInfo.value[0]"><i>от </i>{{ leasing.specInfo.value[0] }}</span>
										<span v-if="leasing.specInfo.value[1]"><i>до </i>{{ leasing.specInfo.value[1] }}</span>
									</span>
                    </div>
                    <div v-if="leasing.specInfo.priceRise2">
                      <span>Сайт компании</span>
                      <span><a href="https://baltlease.ru/" rel="nofollow" target="_blank">><span>{{ leasing.specInfo.priceRise2 }}</span></a></span>
                    </div>
                    <div v-if="leasing.specInfo.priceRise3">
                      <span>Сайт компании</span>
                      <span><a href="https://www.sberleasing.ru/" rel="nofollow" target="_blank">><span>{{ leasing.specInfo.priceRise3 }}</span></a></span>
                    </div>
                    <div v-if="leasing.specInfo.priceRise4">
                      <span>Сайт компании</span>
                      <span><a href="https://timeleasing.ru/" rel="nofollow" target="_blank">><span>{{ leasing.specInfo.priceRise4 }}</span></a></span>
                    </div>
                    <div v-if="leasing.specInfo.priceRise5">
                      <span>Сайт компании</span>
                      <span><a href="https://alfaleasing.ru/" rel="nofollow" target="_blank">><span>{{ leasing.specInfo.priceRise5 }}</span></a></span>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination swiper-pagination-bullets" slot="pagination"></div>
        </div>
        <div class="compare-link">
          <nuxt-link to="">Посмотреть сравнение компаний</nuxt-link>
        </div>
        <div class="order">
          <h3>Быстрая заявка на лизинг</h3>
          <div class="order-wrapper">
            <div class="block done block-types">
              <div class="preview" @click="open('type')">
                <span class="number" :class="{'active': formData.type.value}">1</span>
                <div class="value">
                  <span v-if="formData.type.value">{{ formData.type.name }}</span>
                  <span v-else>Выберите тип погрузчика</span>
                </div>
              </div>
              <transition name="slide-up">
                <div class="hidden" v-if="dropdown.typeList">
                  <div v-for="item of typesList" @click="typeChoose(item)">
                    <img :src="item.img" alt="">
                    <span>{{ item.title }}</span>
                  </div>
                </div>
              </transition>
            </div>
            <div class="block block-models">
              <div class="preview" @click="open('model')" :class="{'disabled': !this.formData.type.value}">
                <span class="number" :class="{'active': formData.model}">2</span>
                <div class="value">
                  <span v-if="formData.model">{{ formData.model }}</span>
                  <span v-else>Выберите модель</span>
                </div>
              </div>
              <transition name="slide-up">
                <div class="hidden model-hidden" v-if="dropdown.modelList">
                  <perfect-scrollbar ref="modelsOpenedScrollDesktop" class="modelsOpenedScroll modelChooseBlock">
                    <div v-for="item of choosenList" @click="modelChoose(item.Name)">
                      <img :src="`/img/models/${item.Name.toLowerCase()}/catalog/1.png`" alt="">
                      <span class="model-name">{{ item.Name }}</span>
                      <ul class="info">
                        <li v-if="item.VehicleTypeId !== 1376760">
                          <span class="title">Емкость ковша</span>
                          <span class="value">{{ item.catalogMainSpecifications.bucketCapacity }}</span>
                        </li>
                        <li v-if="item.VehicleTypeId === 1376760">
                          <span class="title">Высота</span>
                          <span class="value">{{ item.catalogMainSpecifications.liftingHeight }}</span>
                        </li>
                        <li>
                          <span class="title">Грузоподъемность</span>
                          <span class="value">{{ item.catalogMainSpecifications.carryingCapacity }}</span>
                        </li>
                        <li>
                          <span class="title">Масса</span>
                          <span class="value">{{ item.catalogMainSpecifications.weight }}</span>
                        </li>
                        <li v-if="item.extraType.full">
                          <span class="title">Тип</span>
                          <span class="value">{{ item.extraType.short || item.extraType.full}}</span>
                        </li>
                      </ul>
                    </div>
                  </perfect-scrollbar>
                </div>
              </transition>
            </div>
            <div class="block block-models">
              <div class="preview" @click="open('company')" :class="{'disabled': !this.formData.model}">
                <span class="number" :class="{'active': formData.leasingCompany.length !== 0}">3</span>
                <div class="value">
                  <span>Выберите лизинговую компанию</span>
                </div>
              </div>
              <transition name="slide-up">
                <div class="hidden company-hidden" v-if="dropdown.company">
                  <div v-for="item of leasingList" @click="leasingChoose(item.name)"
                       :class="{'checked': formData.leasingCompany.includes(item.name)}">
                    <img :src="item.img" alt="">
                  </div>
                </div>
              </transition>
            </div>
            <div class="block block-models">
              <div class="preview" @click="open('userForm')"
                   :class="{'disabled': formData.leasingCompany.length === 0}">
                <span class="number"
                      :class="{'active': this.formData.user.name && this.formData.user.city && this.formData.user.phone}">4</span>
                <div class="value">
                  <span>Укажите Ваши данные</span>
                </div>
              </div>
              <transition name="slide-up">
                <div class="hidden user-form-hidden" v-if="dropdown.userForm">
                  <input type="text" v-model="formData.user.name" placeholder="Ваше имя">
                  <input type="text" v-model="formData.user.city" placeholder="Город">
                  <the-mask mask="+7 (XXX) XXX XX-XX" v-model="formData.user.phone" placeholder="Телефон"></the-mask>
                  <span>Комментарий <span>(если нужно)</span></span>
                  <textarea v-model="formData.user.comment"></textarea>
                </div>
              </transition>
            </div>
            <div class="block block-models">
              <div class="preview" :class="{'disabled': !readyToSubmit}">
                <span class="number">5</span>
                <div class="value">
                  <button @click="submit" ref="sendBtn"
                          :class="{'disabled': !formData.user.phone, 'loading': localLoading, 'success': success}">
                    <span v-if="!readyToSubmit">Заполните форму</span>
                    <span v-else>
										<span class="default">Отправить запрос</span>
										<span class="success">Запрос отправлен</span>
										<span class="error">Не удалось</span>
									</span>

                  </button>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mobile-leasing-calc">
          <button @click="calcToggle">Быстрый расчет лизинга</button>
          <transition name="fade">
            <div class="mobile-leasing-form" v-if="this.mobileCalc.opened">
              <transition name="slide-right">
                <div v-if="this.formData.type.value === ''" class="types-opened">
                  <h3><span>1</span>Выберите тип техники</h3>
                  <div v-for="item of typesList" @click="typeChoose(item)" class="types-block">
                    <img :src="item.img" alt="">
                    <span>{{ item.title }}</span>
                  </div>
                </div>
                <div v-else class="models-opened">
                  <div class="types-line">
                    <span v-for="item of typesList" @click="typeChoose(item)"
                          :class="{'active': item.value === formData.type.value}">{{ item.title }}</span>
                  </div>
                </div>
              </transition>
              <transition name="fade">
                <div class="model-choose" v-if="this.formData.type.value !== ''">
                  <perfect-scrollbar ref="modelsChooseScroll" class="modelsChooseScroll">
                    <div v-for="item of choosenList" @click="modelChoose(item.Name)" class="modelChooseBlock">
                      <div class="add-icons">
                        <span v-if="item.Name === formData.model" class="icon-ok"></span>
                        <span v-else class="icon-plus"></span>
                      </div>
                      <img :src="`/img/models/${item.Name.toLowerCase()}/catalog/1.png`" alt="">
                      <span class="model-name">{{ item.Name }}</span>
                      <ul class="info">
                        <li v-if="item.VehicleTypeId !== 1376760">
                          <span class="title">Емкость ковша</span>
                          <span class="value">{{ item.catalogMainSpecifications.bucketCapacity }}</span>
                        </li>
                        <li v-if="item.VehicleTypeId === 1376760">
                          <span class="title">Высота подъема</span>
                          <span class="value">{{ item.catalogMainSpecifications.liftingHeight }}</span>
                        </li>
                        <li>
                          <span class="title">Грузоподъемность</span>
                          <span class="value">{{ item.catalogMainSpecifications.carryingCapacity }}</span>
                        </li>
                        <li>
                          <span class="title">Масса</span>
                          <span class="value">{{ item.catalogMainSpecifications.weight }}</span>
                        </li>
                      </ul>
                    </div>
                  </perfect-scrollbar>
                </div>
              </transition>
              <div class="mobile-form">
                <h3><span>2</span>Укажите Ваш телефон</h3>
                <div class="input-wrapper">
                  <input type="text" v-model="formData.user.name" placeholder="Ваше имя (необязательно)">
                  <the-mask type="tel" mask="+7 (XXX) XXX XX-XX" v-model="formData.user.phone"
                            placeholder="Телефон"></the-mask>
                  <span class="error"
                        v-if="this.mobileCalc.telRequired">Необходимо указать телефон для обратной связи</span>
                  <span class="error" v-if="this.mobileCalc.modelRequired">Необходимо выбрать технику</span>
                </div>

                <button ref="sendBtn" :class="{'loading': mobileLoading, 'success': mobileSuccess}"
                        @click="mobileSubmit">
                  <span class="default">Отправить заявку</span>
                  <span class="success">Заявка отправлена</span>
                </button>

                <span class="back" @click="calcClose">Назад</span>
              </div>
            </div>
          </transition>
        </div>
      </div>
    </transition>
    <div>
      <span>br</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "LeasingBlock",
  props: ['allProducts'],
  data() {
    return {
      casco: false,
      scrollOptions: {
        suppressScrollX: true,
        suppressScrollY: false,
      },
      mobileCalc: {
        opened: false,
        telRequired: false,
        modelRequired: false,
      },
      //productList: this.allProducts,
      swiperLeasingOption: {
        loop: false,
        slidesPerView: 'auto',
        centeredSlides: true,
        spaceBetween: 30,
        effect: 'fade',
        speed: 500,
        autoplay: {
          delay: 5000,
          disableOnInteraction: false
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          renderBullet(index, className) {
            return `
              <div class="${className} pagination-item">
                <picture>
                    <source srcset="/img/leasing/${index + 1}.webp" type="image/webp">
                    <source srcset="/img/leasing/${index + 1}.png" type="image/png">
                    <img src="/img/leasing/${index + 1}.png" alt="">
                </picture>
              </div>
            `
          }
          //
        }
      },
      leasingList: [
        {
          name: 'Балтийский лизинг',
          img: '/img/leasing/1.png',
          spec: true,
          specInfo: {
            priceRise: 'спецпрограмма',
            prepay: '0% (в том числе для новых клиентов)',
            term: ['12 мес', '5 лет'],
            priceRise2: 'baltlease.ru',
            value: [],
          },
        },
        {
          name: 'Сбербанк лизинг',
          img: '/img/leasing/2.png',
          spec: false,
          specInfo: {
            priceRise: 'спецпрограмма',
            prepay: '10%',
            term: ['6 мес', '10 лет'],
            value: 'nolimit',
            priceRise3: 'sberleasing.ru',
          },
        },

        {
          name: 'Тайм Лизинг',
          img: '/img/leasing/3.png',
          spec: true,
          specInfo: {
            priceRise: 'спецпрограмма',
            prepay: '5%',
            term: ['12 мес', '3 лет'],
            value: 'nolimit',
            priceRise4: 'timeleasing.ru',
          },
        },

        /*{
          name: 'Альфа лизинг',
          img: '/img/leasing/4.png',
          spec: true,
          specInfo: {
            priceRise: 'спецпрограмма',
            prepay: '0%',
            term: ['', '60 мес'],
            value: '',
            priceRise5: 'alfaleasing.ru',
          },
        },*/



      ],
      formData: {
        type: {
          value: '',
          name: ''
        },
        model: '',
        leasingCompany: [],
        user: {
          name: '',
          city: '',
          phone: '',
          comment: '',
        }
      },
      typesList: [
        {img: '/img/models/wl20/catalog/1.png', value: 1376757, title: 'Фронтальные погрузчики'},
        {img: '/img/models/fl15/catalog/1.png', value: 1376760, title: 'Вилочные погрузчики'},
        {img: '/img/models/bl30-25/catalog/1.png', value: 1376758, title: 'Экскаваторы-погрузчики'},
        {img: '/img/models/ex10/catalog/1.png', value: 1376759, title: 'Экскаваторы'},
      ],
      dropdown: {
        typeList: false,
        modelList: false,
        company: false,
        userForm: false,
      },
      localLoading: false,
      success: false,
      mobileLoading: false,
      mobileSuccess: false
    }
  },
  computed: {
    productList(){
      return this.allProducts
    },
    choosenList() {
      const list = []
      let type = this.formData.type.value
      this.productList.forEach(function (item) {
        if (item.VehicleTypeId === type) {
          list.push(item)
        }
      })
      return list
    },
    readyToSubmit() {
      if (this.formData.type.value && this.formData.model && this.formData.leasingCompany.length !== 0 && this.formData.user.name && this.formData.user.city && this.formData.user.phone) {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    cascoOpen() {
      this.$emit('cascoToggle')
    },
    calcToggle() {
      this.mobileCalc.opened = !this.mobileCalc.opened
    },
    calcClose() {
      this.mobileCalc.opened = false
    },
    typeChoose(item) {
      this.formData.type.value = item.value
      this.formData.type.name = item.title
      this.dropdown.typeList = false
      this.$refs.layout.style.display = "none"
    },
    modelChoose(model) {
      this.formData.model = model
      this.dropdown.modelList = false
      this.$refs.layout.style.display = "none"
    },
    leasingChoose(item) {
      let index = this.formData.leasingCompany.indexOf(item)
      if (index === -1) {
        this.formData.leasingCompany.push(item)
      } else {
        this.formData.leasingCompany.splice(index, 1)
      }
    },
    hide() {
      if (this.dropdown.typeList === true) {
        this.dropdown.typeList = false
      }
      if (this.dropdown.company === true) {
        this.dropdown.company = false
      }
      if (this.dropdown.modelList === true) {
        this.dropdown.modelList = false
      }
      if (this.dropdown.userForm === true) {
        this.dropdown.userForm = false
      }
      this.$refs.layout.style.display = "none"

    },
    open(type) {
      this.$refs.layout.style.display = "block"
      switch (type) {
        case 'type':
          this.dropdown.modelList = false
          this.dropdown.company = false
          this.dropdown.userForm = false
          this.dropdown.typeList = true;
          break
        case 'model':
          this.dropdown.company = false
          this.dropdown.userForm = false
          this.dropdown.typeList = false
          this.dropdown.modelList = true
          break
        case 'company':
          this.dropdown.userForm = false
          this.dropdown.typeList = false
          this.dropdown.modelList = false
          this.dropdown.company = true
          break
        case 'userForm':
          this.dropdown.typeList = false
          this.dropdown.modelList = false
          this.dropdown.company = false
          this.dropdown.userForm = true
          break
      }
    },
    loadingFalse() {
      this.localLoading = false
    },
    successTrue() {
      this.success = true
    },
    async submit() {
      const formData = this.formData
      try {
        if (this.readyToSubmit) {
          this.localLoading = true
          await this.$store.dispatch('leasingMail', formData, {root: true})
          this.$gtm.push({ event: 'sendForm', virtualFormUrl: `${this.$route.fullPath}/leasing_form`  })
          setTimeout(this.loadingFalse, 1000)
          this.successTrue()
        }
      } catch (e) {
        this.localLoading = false
        console.log(e)
      }

    },
    mobileSuccessTrue() {
      this.mobileLoading = false
      this.mobileSuccess = true
    },
    async mobileSubmit() {
      const formData = this.formData
      try {
        this.mobileLoading = true
        if (this.formData.user.phone === '') {
          this.mobileCalc.telRequired = true
          this.mobileLoading = false
        } else if (this.formData.model === '') {
          this.mobileCalc.telRequired = false
          this.mobileCalc.modelRequired = true
          this.mobileLoading = false
        } else {
          this.mobileCalc.modelRequired = false
          this.mobileCalc.telRequired = false
          await this.$store.dispatch('leasingMail', formData, {root: true})
          setTimeout(this.mobileSuccessTrue, 1000)
          setTimeout(this.calcToggle, 3000)
        }
      } catch (e) {
        console.log(e)
      }

    }
  },
}
</script>

<style lang="less">
@black: #000000;
@white: #000000;
@boulderRed: #FB1C1C;
@boulderYellow: #F7D900;
@lightGrey: #BDBDBD;
@lightGrey2: #8F8F8F;
@backgroundColor: #292929;

.leasing-block ::-webkit-input-placeholder {color:@lightGrey !important}
.leasing-block ::-moz-placeholder          {color:@lightGrey !important}
.leasing-block :-moz-placeholder           {color:@lightGrey !important}
.leasing-block :-ms-input-placeholder      {color:@lightGrey !important}
.leasing-block .user-form-hidden span      {color:@lightGrey !important;font-weight:100;}

.leasing-block .mobile-form button {
  display: block !important;
  background: #FB1C1C !important;
  transition: 0.3s;

  &.loading {
    transition: 0.3s;
    background: none !important;
    width: 35px !important;
    height: 35px !important;
    padding: 0 !important;
    border-radius: 50% !important;
    border-color: #FFF !important;
    border-width: 4px !important;
    font-size: 0 !important;
    border-left-color: #FB1C1C !important;
    animation: rotating 2s 0.25s linear infinite !important;

    &.success {
      background: none !important;
      border-color: #FFF !important;
      border-left-color: #FB1C1C !important;
    }
  }

  &.success {
    background: #FB1C1C !important;
    border-color: #FB1C1C !important;
    color: #FFF !important;

    .default {
      display: none;
    }

    .success {
      color: #FFF !important;
      display: block;
    }
  }

  .default {
    color: #fff;
  }

  .success, .error {
    display: none;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;

}

.fade-enter,
.fade-leave-to {
  transition: none;
  transform: translateX(100px);
  opacity: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modelsOpenedScroll,
.modelsChooseScroll {
  display: flex;
}

.modelsChooseScroll .ps__rail-x,
.modelsChooseScroll .ps__rail-y,
.models-opened .ps__rail-x {
  display: none !important;
}

.slide-up-enter-active {
  transition: all .3s ease;
}

.slide-up-leave-active {
  transition: all .3s ease;
}

.slide-up-enter, .slide-up-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

.slide-right-enter-active {
  transition: all .3s ease;
}

.slide-right-leave-active {
  transition: all .3s ease;
}

.slide-right-enter, .slide-right-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

.hidden-layout {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  background: transparent;
  top: 0;
  left: 0;
  z-index: 999;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.mobile-leasing-form {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modelsChooseScroll {
  max-height: 70vh;
}

.leasing-info {
  overflow: hidden;
}

.modelsOpenedScroll {
  margin: 0 !important;
}

body .leasing-block .ps__rail-y {
  top: 10px !important;
  right: 10px !important;
  padding: 0 !important;
  width: 5px !important;
  background: #333 !important;
  opacity: 1 !important;
  border: none !important;
  box-shadow: none !important;

  .ps__thumb-y {
    width: 8px !important;
    border: none !important;
    padding: 0 !important;
    left: -1px !important;
    background: @boulderRed !important;
    box-shadow: none !important;
  }
}

body .leasing-block .ps__rail-x {
  display: none !important;
}

.leasing-block {
  background: #fff;
  color: #000;
  padding-top: 100px;

  .swiper-container {
    .swiper-wrapper {
      justify-content: center;
      display: flex;

      .swiper-slide {
        opacity: 0 !important;
        display: flex;
        align-items: center;

        .swp-container {
          width: 100%;
          max-width: 1199px;
          display: flex;
          justify-content: space-between;
          margin: 0 auto;
        }

        .img {
          width: 50%;
          display: flex;
          justify-content: center;
          position: relative;

          &:after {
            position: absolute;
            content: '';
            width: 1px;
            height: 50%;
            top: 25%;
            right: 0;
            background: @lightGrey;
          }
        }

        .info {
          width: 50%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;

          span {
            color: #000;
          }

          .info-wrapper {
            & > div {
              margin: 10px 0;

              & > span:first-child {
                width: 200px;
                display: inline-block;
                margin-right: 20px;
                text-align: right;
                font-size: 16px;
                font-weight: 300;
                color: #1D1D1D;
              }

              & > span:last-child {
                color: @boulderRed;
                font-size: 18px;
                font-weight: normal;

                span {
                  color: @boulderRed;
                  font-size: 18px;
                  font-weight: normal;
                }
              }

              i {
                color: @black;
                font-size: 16px;
                font-weight: 300;
                font-style: normal;
              }

            }
          }

        }
      }

      .swiper-slide-active {
        opacity: 1 !important;

      }
    }

    .swiper-pagination {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      justify-content: center;
      padding: 40px 150px 0;
      box-sizing: border-box;
      position: static;

      img {
        width: 110px;
        margin: 0 40px;
        display: block;
        height: auto;
        background: none !important;
        filter: grayscale(100%);
        opacity: 0.8;
        border-radius: 0;

        &.swiper-pagination-bullet-active {
          filter: none !important;
          opacity: 1;
          transform: scale(1.1);
          transition: 0.2s;
        }
      }
    }
  }

  .compare-link {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 40px auto 80px;
    pointer-events: none;
    opacity: 0;
    a {
      color: @boulderRed;
      text-decoration: underline;
    }
  }

  .order {
    background: @backgroundColor;
    max-width: 1400px;
    margin: 0 auto;
    border-radius: 40px;
    padding: 30px 50px;

    h3 {
      background: @boulderYellow;
      color: @black;
      width: 450px;
      border-radius: 15px;
      margin: 0 auto;
      box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
      text-align: center;
      font-size: 20px;
      line-height: 55px;
      font-weight: normal;
      letter-spacing: 0.03em;
      position: relative;
      top: -57px;
    }

    .order-wrapper {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;

      .block {
        max-width: 150px;
        width: 150px;
        display: flex;
        justify-content: center;
        position: relative;
        &:nth-child(3){
          .hidden {
            padding-left: 30px !important;

          }
        }
        &:nth-child(4){
          .hidden {
            padding: 20px !important;
            min-width:300px;

          }
        }
        &:after {
          content: '';
          width: 130px;
          height: 1px;
          background: @lightGrey;
          position: absolute;
          left: 100%;
          top: 20px;
          opacity: 0.5;
        }

        &:last-child {
          max-width: 200px;
          width: 200px;

          &:after {
            display: none;
          }

          .preview {
            max-width: 100%;

            .value {
              width: 100%;
              max-width: none;
              cursor: default;

              button {
                width: 100%;
              }
            }
          }
        }

        &:first-child {
          .hidden {
            padding: 20px;
            div {
              min-height:42px;
              img,span{
                transition:0.3s;
              }
              &:hover{
                img{
                  transform:scale(1.1)
                }
                span{
                  color:#fff;
                }
              }
            }
          }
        }

        &.block-models {
          .hidden {
            max-height: 90vh;
            padding: 20px 20px 20px 10px;
            .modelsOpenedScroll {
              flex-direction: column;
              max-width: 350px;
              max-height: 90vh;
              height: 570px;
              padding: 0 20px 0 20px;
            }

            .modelChooseBlock div {
              border: 1px solid transparent;
              border-radius: 10px;
              padding: 10px;
              width:100%;
              &:hover {
                border: 1px solid #444;
                box-shadow: 0 3px 33px 0 rgba(92, 92, 92, 0.5);
              }
            }
          }
        }


        .preview {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          width: 100%;

          &.disabled {
            pointer-events: none;

            span {
              color: @lightGrey2 !important;
            }
          }

          .number {
            color: @lightGrey;
            letter-spacing: 0.02em;
            font-size: 35px;
            font-weight: bold;
            line-height: 40px;
            text-align: center;
            margin-bottom: 15px;
            font-family: 'HelveticaNeueCyr', sans-serif;

            &.active {
              color: @boulderYellow;
              text-shadow: 0 0 6px rgba(250, 255, 0, 0.5);
            }
          }

          .value {
            display: block;
            max-width: 110px;
            min-height: 90px;
            text-align: center;
            cursor: pointer;

            button {
              display: block;
              border: 1px solid #FB1C1C;
              background: @boulderRed;
              color: #ffffff;
              padding: 0 25px;
              height: 45px;
              border-radius: 10px;
              cursor: pointer;

              &.disabled {
                background: #ececec !important;
                border: 1px solid @lightGrey !important;
                color: @black !important;
              }

              span {
                &:after {
                  display: none
                }
              }

            }

            span {
              position: relative;

              &:after {
                content: '▼';
                display: block;
                position: absolute;
                right: -50px;
                top: 0;
              }
            }
          }
        }

        .layout-for-close {
          width: 100%;
          height: 100vh;
          position: fixed;
          top: 0;
          left: 0;
        }

        .hidden {
          position: absolute;
          bottom: 0;
          background: rgba(31, 31, 31, 0.97);
          padding: 0px;
          border-radius: 15px;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
          z-index: 1000;

          div {
            display: flex;
            align-items: center;
            margin: 15px 0 0;
            cursor: pointer;
          }

          img {
            width: 80px;
            max-width: 80px;
            margin-right: 10px;
          }

          span {
            font-weight: 300;
            font-size: 12px;
            letter-spacing: 0.05em;
            color: #8F8F8F;
            text-align: center;
          }

          .info {
            padding: 0;
            list-style: none;
            flex-grow: 1;

            li {
              font-size: 12px;
              display: flex;
              justify-content: space-between;

              span {
                &.title {
                  font-weight: 300;
                  text-align: right;
                  padding-right: 10px;
                  flex-grow: 1;
                }

                &.value {
                  color: #fff !important;
                  font-weight: normal;
                }
              }
            }
          }

          &.model-hidden {
            min-width: 350px;
            overflow: hidden;

            .model-name {
              color: @boulderRed;
              font-size: 16px;
              margin: 0 20px;
              font-weight: bold;
            }
          }

          &.company-hidden {
            div {
              &:before {
                display: block;
                width: 15px;
                height: 15px;
                border: 1px solid @lightGrey2;
                border-radius: 2px;
                content: '';
                margin-right: 20px;
              }
            }

            div.checked {
              &:before {
                background: @boulderYellow;
              }
            }
          }
        }

        .user-form-hidden {
          padding: 20px 30px;
          min-width: 250px;
          font-family: 'HelveticaNeueCyr', sans-serif;

          input {
            box-sizing: border-box;
            width: 100%;
            background: none;
            border: none;
            border-bottom: 1px solid #444;
            color: #fff;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 0.02em;
            height: 30px;
            font-family: 'HelveticaNeueCyr', sans-serif;
            margin-bottom:10px;
            &::placeholder {
              color: #fff;
              font-family: 'HelveticaNeueCyr', sans-serif;
            }
          }

          & > span {
            display: block;
            text-align: left;
            margin-top: 10px;
            margin-bottom: 10px;
          }

          span {

            color: #fff;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 0.02em;

            span {
              color: @lightGrey2;
            }
          }

          textarea {
            box-sizing: border-box;
            width: 100%;
            background: none;
            border: 1px solid #444;
            border-radius: 5px;
            height: 80px;
            color: #fff;
            font-size: 10px;
            font-weight: 300;
            letter-spacing: 0.02em;
            padding: 5px;
          }
        }
      }
    }

    .preview.disabled {
      button {
        background: @lightGrey !important;
        border: 1px solid @lightGrey !important;
        color: @black !important;

        &.success {
          background: #FB1C1C !important;
          border-color: #FB1C1C !important;
          color: #FFF !important;
          cursor: default !important;
        }
      }
    }

    button {
      display: block !important;
      background: #FB1C1C !important;
      transition: 0.3s;
      margin: 0 auto;

      &.loading {
        transition: 0.3s;
        background: none !important;
        width: 35px !important;
        height: 35px !important;
        padding: 0 !important;
        border-radius: 50% !important;
        border-color: #FFF !important;
        border-width: 4px !important;
        font-size: 0 !important;
        border-left-color: #FB1C1C !important;
        animation: rotating 2s 0.25s linear infinite !important;

        &.success {
          background: none !important;
          border-color: #FFF !important;
          border-left-color: #FB1C1C !important;
          cursor: default !important;
        }
      }

      &.success {
        background: #FB1C1C !important;
        border-color: #FB1C1C !important;
        color: #FFF !important;
        pointer-events: none !important;
        cursor: default !important;

        .default {
          display: none;
        }

        .success {
          color: #FFF !important;
          display: block;

        }
      }

      .default {
        color: #fff;
      }

      .success, .error {
        display: none;
      }

    }
  }

  .mobile-leasing-calc {
    display: none;
  }

  .casco {
    display: flex;
    justify-content: center;

    .casco-btn {
      margin: 55px 0;
      border: 1px solid @boulderRed;
      border-radius: 20px;
      height: 55px;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.05em;
      color: @black;
      padding: 0 30px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .casco-back {
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 16px;
      display: block;
      text-align: center;
      letter-spacing: 0.05em;
      color: #000000;
      margin: 40px 0 80px;
      cursor: pointer;
    }
  }

  .mobile-leasing-form {
    background: @backgroundColor;
    padding: 15px 0 15px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h3 {
      color: yellow;
      display: flex;
      align-items: center;
      margin: 0;
      width: 100%;
      min-width: 100%;

      span {
        border: 2px solid yellow;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: yellow;
        margin-right: 10px;
      }
    }

    .types-opened {
      display: flex;
      flex-wrap: wrap;
      padding-right: 15px;

      .types-block {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;

        span {
          text-transform: uppercase;
          letter-spacing: 0.05em;
          max-width: 100px;
          text-align: center;
          margin-top: 10px;
          font-size: 10px;
        }

        img {
          max-width: 80%;
          max-width: 130px;
        }
      }
    }

    .mobile-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      padding-right: 15px;
      flex-grow: 1;
      justify-content: center;

      .input-wrapper {
        width: 100%;
        padding: 0 35px;
        display: block;
        box-sizing: border-box;
        margin: 0;
      }

      input {
        background: none;
        border: none;
        border-bottom: 1px solid #666;
        width: 100%;
        height: 20px;
        margin: 10px 0;
        color: #fff;
      }

      button {
        margin: 15px 0 !important;
      }

      .back {
        line-height: 40px;
      }

      .error {
        color: red;
        text-align: center;
        display: block;
        font-size: 12px;
      }
    }

    .model-choose {
      display: flex;
      overflow-x: auto;
      padding-bottom: 20px;

      .modelsChooseScroll > div {
        border: 1px solid #ccc;
        border-radius: 20px;
        padding: 15px;
        width: 280px;
        min-width: 280px;
        height: 200px;
        margin-right: 15px;
        overflow: visible;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;

        .add-icons {
          position: absolute;
          left: 10px;
          top: 10px;

          span {
            font-size: 40px;

            &:before {
              color: yellow
            }
          }
        }

        img {
          width: auto;
          height: auto;
          max-height: 120px;
        }

        .model-name {
          position: absolute;
          right: 15px;
          top: 15px;
          color: red;
        }

        .info {
          padding: 0;
          width: 80%;
          min-width: 230px;

          li {
            display: flex;
            justify-content: space-between;
            width: 100%;

            span {
              font-size: 12px;
              line-height: 16px;
              display: flex;
              align-items: center;
              letter-spacing: 0.02em;
              color: #D2D1D1;
            }
          }
        }
      }
    }

    .types-line {
      display: flex;
      padding: 0 0 15px;
      margin-bottom: 15px;
      overflow-x: auto;

      span {
        white-space: nowrap;
        display: block;
        margin-right: 20px;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        font-size: 14px;
        padding-bottom: 5px;

        &.active {
          border-bottom: 3px solid red;
        }
      }
    }
  }

}

@media (max-width: 1600px) {
  .leasing-block {
    .swiper-container {
      .swiper-pagination {
        padding: 40px 0 0;

        img {
          margin: 0 30px;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .leasing-block {
    padding-left: 15px;
    padding-right: 15px;

    .swiper-container {
      .swiper-pagination {
        img {
          margin: 0 20px;
        }
      }
    }

    .order {
      .order-wrapper {
        .block:after {
          width: 7vw;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .leasing-block {
    .swiper-container {
      .swiper-pagination {
        flex-wrap: wrap;

        img {
          margin: 0 15px;
          width: 90px;
        }
      }
    }

    .order {
      .order-wrapper {
        .block {
          &:after {
            width: 5vw;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .leasing-block {
    padding: 30px 0 45px;

    .order {
      display: none;
    }

    .compare-link {
      display: none;
    }

    .mobile-leasing-calc {
      display: block;
      margin-top: 50px;

      button {
        display: block;
        font-weight: 500;
        font-size: 14px;
        margin: 0 auto;
        border: 1px solid #FB1C1C;
        color: #FFF;
        background: #FB1C1C;
        padding: 0 25px;
        height: 45px;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 2px 4px 15px rgba(182, 0, 0, 0.5);
      }
    }

    .casco-info {
      .case {
        flex-direction: column;
        align-items: center;

        .block {
          width: 100%;
          max-width: 655px;
        }
      }
    }

    .casco {
      .casco-btn{
        margin:20px 0 0;
        font-size:14px;
        border:none;
        height:auto;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 767px) {
  .leasing-block {
    padding: 0 15px 40px;

    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          .swp-container {
            flex-direction: column;

            .img {
              width: 100%;

              &:after {
                display: none;
              }

              img {
                max-width: 70%;
                align-self: center;
              }
            }

            .info {
              width: 100%;
              margin: 15px 0;

              .info-wrapper {
                width: 100% !important;

                & > div {
                  width: 100% !important;
                  margin: 5px 0;
                  display: flex;
                  justify-content: space-between;

                  & > span {
                    width: 48% !important;
                    margin: 0 !important;

                    &:first-child {
                      font-size: 14px;
                    }

                    &:last-child {
                      font-size: 14px;

                      i {
                        font-size: 14px;
                      }

                      span {
                        font-size: 16px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .swiper-pagination {
        padding-top: 20px;

        img {
          width: 70px;
          margin: 0 10px;
        }
      }
    }

    .mobile-leasing-calc {
      display: block;
      margin-top: 50px;

      button {
        display: block;
        font-weight: 500;
        font-size: 14px;
        margin: 0 auto 20px;
        border: 1px solid #FB1C1C;
        color: #FFF;
        background: #FB1C1C;
        padding: 0 25px;
        height: 45px;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 2px 4px 15px rgba(182, 0, 0, 0.5);
      }
    }

    .compare-link {
      display: none;
    }
  }
}

</style>
