<template>
  <div class="location" :class="{'city-ask': askCityForm}">
    <!--<span @click="askCityForm = !askCityForm" class="location-city">{{positionCity || positionObj.city || 'Выбрать город'}}</span>-->
    <span @click="askCityForm = !askCityForm"
          class="location-city">{{ storePositionObj.city || 'Выберите город' }}</span>
    <span v-if="this.cityInfo"></span>
    <span class="icon-location-circle"></span>
    <div class="location-info">
      <div class="location-info-wrapper">
        <span>Ближайшие дилеры:</span>
        <div v-if="storeClosestDealer" class="first">
          <span class="city">{{ storeClosestDealer[0].partner.city }}</span>
          <span class="name">{{ storeClosestDealer[0].partner.name }}</span>
          <span class="address">{{ storeClosestDealer[0].partner.address }}</span>
          <div class="phone-wrapper">
            <div v-if="firstDealerContacts">
              <a v-for="phone of storeClosestDealer[0].partner.phone" :href="'tel:' + phone">
                <span class="phone">{{ phoneFormat(phone) }}</span>
              </a>
            </div>
            <div v-else>
              <span class="phone-wrapper" v-for="phone of storeClosestDealer[0].partner.phone" @click="firstDealerContacts = true">
                <span class="phone">{{ phoneFormat(phone).slice(0,-2) + '**' }}</span>
              </span>
              <span class="note" :id="`loc_tel_${storeClosestDealer[0].partner.phone[0]}`" @click="firstDealerContacts = true">Показать контакты</span>
            </div>
          </div>
        </div>
        <div v-if="storeClosestDealer">
          <span class="city">{{ storeClosestDealer[1].partner.city }}</span>
          <span class="name">{{ storeClosestDealer[1].partner.name }}</span>
          <span class="address">{{ storeClosestDealer[1].partner.address }}</span>
<!--          <a v-for="phone of storeClosestDealer[1].partner.phone" :href="'tel:' + phone">
            <span class="phone">{{ phoneFormat(phone) }}</span>
          </a>-->
          <div class="phone-wrapper">
            <div v-if="secondDealerContacts">
              <a v-for="phone of storeClosestDealer[1].partner.phone" :href="'tel:' + phone">
                <span class="phone">{{ phoneFormat(phone) }}</span>
              </a>
            </div>
            <div v-else>
              <span class="phone-wrapper" v-for="phone of storeClosestDealer[1].partner.phone" @click="secondDealerContacts = true">
                <span class="phone">{{ phoneFormat(phone).slice(0,-2) + '**' }}</span>
              </span>
              <span class="note" :id="`loc_tel_${storeClosestDealer[1].partner.phone[0]}`" @click="secondDealerContacts = true">Показать контакты</span>
            </div>
          </div>
        </div>
        <nuxt-link to="/company/dealer" class="map-toggle">Посмотреть на карте<span
            class="icon-location-circle"></span></nuxt-link>
      </div>
    </div>
    <transition name="moveFromRight">
      <div class="feedback-city" v-if="askCityForm">
        <span class="title" v-if="myObjectSuggestions">{{ myObjectSuggestions }}</span>
        <span class="title" v-else-if="storePositionObj.city">Ваш город {{ storePositionObj.city }}?</span>
        <span class="title" v-else>Укажите ваш населенный пункт</span>
        <div class="bottom">
          <button v-if="myObjectSuggestions " @click="cityAccept">Да</button>
          <button v-else-if="storePositionObj.city" @click="askFormCancel">Да</button>
          <button v-else @click="askFormCancel">Отмена</button>
          <div class="change">
            <div v-if="suggestionsOn" class="city-choose">
              <dadata-suggestions
                  v-model="myObject"
                  :fullInfo.sync="myObjectFull"
                  field-value="value"
                  :options="dadataOptions"
                  formatSelected: this.removeNonCity
              />
            </div>
            <span v-else @click="anotherCity"><span v-if="myObjectSuggestions || storePositionObj.city">Выбрать другой город</span><span v-else>Введите город</span></span>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "Location",
  data() {
    return {
      firstDealerContacts: false,
      secondDealerContacts: false,
      cityToAsk: '',
      askCityForm: false,
      cityInfo: false,
      partners: [
        {
          x: 43.09752189885726,
          y: 131.90132981481926,
          name: 'Болдер-Спецтехника',
          city: 'Владивосток',
          address: 'ул. Липовая д.7а каб 307',
          phone: ['+79089915118'],
          phone2: '+7(924) 430-80-96',
          email: 'info@boulder.com.ru',
          region: 'Приморский край',
          mapActive: true,
          mapZoom: 15,
          short: true,
          imgSrc: 'vdk.png'
        },
        {
          x: 55.71282156901534,
          y: 37.41851450000001,
          name: 'ООО "Болдер"',
          city: 'Москва',
          address: 'Востряковский пр., 10Б, стр. 2, каб. 31б',
          phone: ['+79295516611', '+7 (999) 551-66-11'],
          phone2: '',
          email: 'msk@boulder.com.ru',
          region: 'Московская область',
          mapActive: false,
          mapZoom: 15,
          short: true,
          imgSrc: 'msk.png'
        },
        {
          x: 46.934498074333376,
          y: 142.74179549999997,
          name: 'Болдер-Сахалин',
          city: 'Южно-Сахалинск',
          address: 'ул.Ленина д.441 кор.А оф.317',
          phone: ['+7(962)123-30-20'],
          email: 'sakh.boulder@mail.ru',
          region: 'Сахалинская область',
          mapActive: false,
          mapZoom: 15,
          short: true,
          imgSrc: 'shk.png'
        },
        {
          x: 56.877858067841416,
          y: 60.68242799999992,
          name: 'ООО "Промышленное обеспечение-СП"',
          city: 'Екатеринбург',
          address: 'ул. Искровцев д.38А офис 301/309',
          phone: ['+73432472332'],
          email: 'promo-sp@bk.ru',
          region: 'Уральский Федеральный Округ',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        {
          x: 55.03355306967293,
          y: 82.933033,
          name: 'ООО "Болдер-Сибирь"',
          city: 'Новосибирск',
          address: 'ул.Фабричная 10 кор 17. Офис 413',
          phone: ['+7(383) 299-88-22','+7(913) 917-88-22'],
          email: 'boldersibir@yandex.ru',
          region: 'Сибирский Федеральный Округ',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'nvsb.png'
        },
        {
          x: 60.029489564063255,
          y: 30.266945999999884,
          name: 'ООО "Живая Сталь"',
          city: 'Санкт-Петербург',
          address: '3-й Верхний пер.,д.6 к.2',
          phone: ['88124674167'],
          email: 'info@boulder-russia.ru',
          region: 'Северо-западный Федеральный Округ',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'spb.png'
        },
        {
          x: 56.2094960685293,
          y: 95.71635599999999,
          name: 'ООО "Водоканал-Сервис"',
          city: 'Канск',
          address: '4-й мкр. Центральный 33Б',
          phone: ['+7(913)570-34-02'],
          email: 'yu.torg@ws124.ru',
          region: 'Красноярский край и Иркутская область',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'knk.png'
        },
        {
          x: 56.082788,
          y: 92.941945,
          name: 'Болдер-Красноярск',
          city: 'Красноярск',
          address: 'Северное шоссе 7/8',
          phone: ['+7(902)991-89-89','+7(391) 241-89-89'],
          phone2: '',
          email: 'boulder24@mail.ru',
          region: 'Красноярский край',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'krs.png'
        },
        {
          x: 62.0346432,
          y: 129.6665535,
          name: 'ООО "ВостокевроТехника"',
          city: 'Якутск',
          address: 'Вилюйский тракт 3км. д.53',
          phone: ['+79142711383'],
          email: '711383@mail.ru',
          region: 'Республика Саха (Якутия)',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ya.png'
        },
        {
          x: 57.153859,
          y: 65.472892,
          name: 'ООО "Белые Росы"',
          city: 'Тюмень',
          address: 'ул. Аккумуляторная д.1 офис 209',
          phone: ['+7(922) 267-61-59','+7(919) 940-16-67'],
          email: 'boulder_tum@mail.ru',
          region: 'Тюменская область, ХМАО',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        /*{
          x: 54.728737,
          y: 55.980826,
          name: 'ООО "АМ ГРУПП ПЛЮС"',
          city: 'Уфа',
          address: 'ул. Кирова, 99/2, офис 5',
          phone: [' 8 (800) 551-95-09'],
          email: 'info@boulder-amg.ru',
          region: 'Республика Башкортостан',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },*/
        {
          x: 59.180353,
          y: 39.957342,
          name: 'ООО "ПКФ Агротехника"',
          city: 'Вологда',
          address: 'Московское шоссе д.50',
          phone: ['+7 (911) 501-58-48'],
          email: 'at_vologda@mail.ru',
          region: 'Вологодская область',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        {
          x: 58.610388,
          y: 49.632899,
          name: 'ООО "ПКФ Агротехника"',
          city: 'Киров',
          address: '2-й Кирпичный пер. д.2/3',
          phone: [' +7 (8332) 53-90-94'],
          email: 'at_kirov@mail.ru',
          region: 'Кировская область, Удмуртия',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        {
          x: 53.342323,
          y: 83.776488,
          name: 'Салон спецтехники "АлтайЗнак"',
          city: 'Барнаул',
          address: 'пр-т. Социалистический д.85',
          phone: ['+7(385-2) 56-00-00'],
          email: 'mstaltaiznak@yandex.ru  director@altaiznak.ru',
          region: 'Алтайский край, Республика Алтай',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        {
          x: 56.216514,
          y: 44.104514,
          name: 'ООО "ПРОМИНВЕСТ"',
          city: 'п. Ждановский',
          address: 'ул. Магистральная 9Г',
          phone: ['+7(831)416-16-13'],
          email: 'katok-nn@mail.ru',
          region: 'Нижегородская область',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        {
          x: 48.494143,
          y: 135.111173,
          name: 'Болдер-Хабаровск',
          city: 'Хабаровск',
          address: 'ул. Промышленная 14/4',
          phone: ['+7(919)766-91-11'],
          email: 'info@boulder27.ru',
          region: 'Хабаровский край',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        /*{
          x: 48.478222573891884,
          y: 135.06879949999998,
          name: 'Болдер-Спецтехника',
          city: 'Хабаровск',
          address: 'ул. Муравьева-Амурского д.44 офис 311',
          phone: ['+79241143130'],
          email: 'hab@boulder-loaders.ru',
          region: 'Хабаровский край',
          mapActive: false,
          mapZoom: 15,
          short: true,
          imgSrc: 'hab.png'
        }*/
      ],
      suggestionsOn: false,
      myObjectSuggestions: '',
      myObject: '',
      myObjectFull: {},
      dadataOptions: {
        type: 'ADDRESS',
        geoLocation: false,
        hint: false,
        bounds: "city-settlement",
        formatSelected: this.removeNonCity,
      }
    }
  },
  computed: {
    storePositionObj() {
      return this.$store.getters.geoPosition
    },
    storeCityPositionObj() {
      return this.$store.getters.geoPosition.city
    },
    storeClosestDealer() {
      return this.$store.getters.closestDealer
    },
    storePositionData() {
      let array = []
      if (this.storePositionObj && this.storeClosestDealer) {
        array.push(this.storePositionObj, this.storeClosestDealer)
      }
      return array
    },
  },

  mounted() {
    if (!this.storeCityPositionObj) {
      this.geoMethod();
    }
    if (!this.$store.getters.closestDealer) this.toClosestPartners(this.storePositionObj)

  },
  methods: {
    phoneFormat(phone){
      let lenPhone = phone.length;
      let tt = phone.split('');
      if (lenPhone === 12){
        tt.splice(2,"", " (");
        tt.splice(6,"", ") ");
        tt.splice(10,"", "-");
        tt.splice(13,"", "-");
      } if (phone[0] == 8) {
        tt.splice(1,"", "-");
        tt.splice(5,"", "-");
        tt.splice(9,"", "-");
      }
      return tt.join('')
    },
    checkInput(){
      document.querySelector('.suggestions-input').focus();
    },
    anotherCity() {
      this.suggestionsOn = !this.suggestionsOn
      setTimeout(this.checkInput,100)
    },
    askFormCancel() {
      this.askCityForm = !this.askCityForm
      this.$store.dispatch('cityCheckForm', {root: true})
    },
    toClosestPartners(posPayload) {
      this.checkClosestPartners(posPayload.x, posPayload.y, this.partners)
    },
    removeNonCity(suggestions) {
      this.myObjectSuggestions = suggestions.value
    },
    cityAccept() {
      let cookieCity = this.$store.getters.cookieCity
      let newCity = this.myObject
      let newCityX,
          newCityY
      if (this.myObjectFull.data) {
        newCityX = this.myObjectFull.data.geo_lat
        newCityY = this.myObjectFull.data.geo_lon

      }
      let posPayload = {
        x: newCityX,
        y: newCityY,
        city: newCity
      }

      if (this.myObject && this.myObject !== this.storePositionObj.city) {
        this.$store.commit('setPosition', posPayload, {root: true})
        this.$store.commit('setCookie', posPayload, {root: true})
        this.checkClosestPartners(posPayload.x, posPayload.y, this.partners)
      } else {
        this.$store.commit('setCookie', this.$store.getters.geoPosition, {root: true})
      }

      this.askCityForm = !this.askCityForm
      this.myObject = ''
      this.suggestionsOn = false
    },
    checkClosestPartners(x, y, partnerArray) {
      let lat1 = x
      let lon1 = y
      let distanceArray = []

      partnerArray.forEach(partner => {
        let lat2 = partner.x;
        let lon2 = partner.y;

        let dist = {}
        dist.value = this.calculateTheDistance(lat1, lon1, lat2, lon2)
        dist.partner = partner

        distanceArray.push(dist)
      })

      let distanceSortedArray = distanceArray.sort((a, b) => a.value - b.value)
      let arrForCookies = []
      arrForCookies.push(distanceSortedArray[0], distanceSortedArray[1])
      this.$store.dispatch('toClosestDealer', arrForCookies, {root: true})
      return arrForCookies

    },
    calculateTheDistance(lat1, lon1, lat2, lon2) {
      let R = 6371; 													// Radius of the earth in km
      let dLat = this.degToRad(lat2 - lat1);  						// deg2rad below
      let dLon = this.degToRad(lon2 - lon1);
      let a =
          Math.sin(dLat / 2) * Math.sin(dLat / 2) +
          Math.cos(this.degToRad(lat1)) * Math.cos(this.degToRad(lat2)) *
          Math.sin(dLon / 2) * Math.sin(dLon / 2)
      ;
      let c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
      let distance = {}
      distance = R * c; 										// Distance in km
      return distance;
    },
    degToRad(deg) {
      return deg * (Math.PI / 180)
    },
    async geoMethod() {
      if (navigator.geolocation) {
        let options = {
          enableHighAccuracy: true,
          timeout: 99999999,
          maximumAge: 0
        };
        await navigator.geolocation.getCurrentPosition(this.showPosition, this.geoError, options);
      } else {
        console.log('Не поддерживается')
      }
      if (!this.$store.getters.cookieCity || this.$store.getters.cookieCity !== this.$store.getters.geoPosition.city) {
        if (!this.$store.getters.cityCheckDone) setTimeout(this.cityFeedback, 7000)
      }

    },
    async showCoords(position) {
      let x = position.coords.latitude;
      let y = position.coords.longitude;
      let mycity = await this.$store.getters.cookieCity

      let posPayload = {
        x,
        y,
        city: mycity
      }
      this.$store.commit('setPosition', posPayload, {root: true})

    },
    async showPosition(position) {
      //let x = 56.2140882;
      //let y = 95.7135278;
      let x = position.coords.latitude;
      let y = position.coords.longitude;
      try {
        const cityObj = await this.$axios.$get(`https://suggestions.dadata.ru/suggestions/api/4_1/rs/geolocate/address?lat=${x}&lon=${y}`,

            {
              headers:
                  {
                    "Accept": "application/json",
                    "Authorization": "Token 091194fa191d3eb0429f229dd8614c026fc44c2d"
                  }
            })
        let mycity

        if (cityObj.suggestions.length !== 0) {
          mycity = cityObj.suggestions[0].data.city || cityObj.suggestions[0].data.settlement
        } else {
          mycity = []
        }

        let posPayload = {
          x,
          y,
          city: mycity
        }

        await this.$store.commit('setPosition', posPayload, {root: true})

        this.toClosestPartners(posPayload)

      } catch (e) {
        console.log(e)
      }
    },

    cityFeedback() {
      this.askCityForm = true
    },

    geoError(err) {
      console.log(`geo ERROR(${err.code}): ${err.message}`);
    }
  }
}
</script>

<style lang="less" scoped>
.location {
  .phone-wrapper{
    cursor:pointer;
  }
  .phone-wrapper:hover + .note{
    color:yellow !important;
  }
  .note{
    cursor: pointer;
    transition: 0.3s;
    margin-top:0 !important;
    transform: translateY(-5px);
    &:hover{
      color:yellow !important;
    }
  }
  .feedback-city {
    right: -50px;

    &.moveFromRight-enter-active {
      transition: 0.5s;
      right: -50px;
    }

    &.moveFromRight-leave-active {
      opacity: 0;
      transition: 0.5s;
      right: -150px;
    }

    &.moveFromRight-leave-to {
      opacity: 0;
      transition: 0.5s;
      right: -150px;
    }

    &.moveFromRight-enter {
      opacity: 0;
      transition: 0.5s;
      right: -150px;
    }
  }
  .phone-wrapper{
    display:flex;
    flex-direction: column;
    margin-top:0 !important;
    div{
      margin-top:0 !important;
      display:flex;
      flex-direction: column;
    }
  }
}
</style>
