<template>
   <div class="phone-wrapper">
    <span class="phone-number" v-if="!mainNumber.visible" @click="mainNumber.visible = true">{{phoneFormat(mainNumber.value).slice(0,-2) + '**'}}</span>
    <span class="phone-number" v-else><a :href="'tel:' + mainNumber.value">{{phoneFormat(mainNumber.value)}}</a></span>
    <span v-if="!mainNumber.visible" :id="`main_number_btn_${mainNumber.value}`" class="note mute" @click="mainNumber.visible = true">Показать номер</span>

  </div>

</template>

<script>
export default {
  name: "MainPhoneNumber",
  data() {
    return {
      mainNumber: {
        visible: false,
        value: 88002500425,
      },
    }
  },
  methods: {
    phoneFormat(phone){
      phone = String(phone)
      let lenPhone = phone.length;
      let tt = phone.split('');
      if (lenPhone === 12){
        tt.splice(2,"", " (");
        tt.splice(6,"", ") ");
        tt.splice(10,"", "-");
        tt.splice(13,"", "-");
      } if (phone[0] == 8) {
        tt.splice(1,"", "-");
        tt.splice(5,"", "-");
        tt.splice(9,"", "-");
      }
      return tt.join('')
    },
  }
}
</script>

<style lang="less">
.contact-container{
  a, .phone-number{
    white-space: nowrap;
    font-size: 20px !important;
    font-weight:normal !important;
    color: #fff !important;
    transition: all 0.5s ease-in;
  }
  .phone-wrapper{
    margin:10px 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    transition:transform 0.5s ease-in-out;
    position: relative;
    cursor: pointer;
    &:hover{
      .note{
        color:#FFFFFF !important;
      }
    }
  }
  .note{
    font-size:13px;
    display:block !important
  }
}

header, .header, .contact-container{
  .phone{
    a, .phone-number{
      white-space: nowrap;
      font-size: 24px !important;
      font-weight:normal !important;
      color: #fff !important;
      transition: all 0.5s ease-in;
    }
  }
  .phone-wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    transition:transform 0.5s ease-in-out;
    position: relative;
    cursor: pointer;
    &:hover{
      .note{
        color:#FFFFFF !important;
      }
    }
  }
  .note{
    font-size:13px;
    transform:translateY(2px);
    color:#777;
    transition:0.3s;
    cursor:pointer;
  }
}
.header{
  .phone-wrapper{
    margin-left:10px;
    .note{
      bottom:-20px;
      position: absolute;
      cursor:pointer;
      &:hover{
        color:#FFFFFF;
      }
    }
  }
}
.main-landing-page header.scrolled .header-container .phone .phone-wrapper{
  transform:translateY(27px)
}
@media(max-width:767px){
  .main-landing-page header.scrolled .header-container .phone .phone-wrapper{
    transform:translateY(0px)
  }
  .contact-container{
    .phone-wrapper{
      display: flex !important;
      align-items: center;
      justify-content: center;
      margin: 20px auto 20px;
      border: 1px solid #FB1C1C;
      color: #FB1C1C;
      padding: 0 25px;
      height: 55px;
      border-radius: 10px;
      cursor: pointer;
      box-shadow: 0 0 12px rgba(249,4,4, 0.5) !important;
      width: 200px;
      font-size: 20px;
    }
  }
}
body .site-menu .phone-wrapper{
  align-items: flex-start !important;
  .note.mute{
    position: relative !important;
    bottom:0;
  }
}
</style>
