<template>
  <client-only>
    <div class="main-slider-wrapper">
      <!-- You can find this swiper instance object in current component by the "mySwiper"  -->
      <div v-swiper:mySwiper="swiperOption" @slideChange="slideChanged">
        <div class="swiper-wrapper">
          <div class="swiper-slide front-slide">
            <h3>Фронтальные погрузчики</h3>
            <img src="@/static/img/front-loader-img.png" alt="">
          </div>
          <div class="swiper-slide fork-slide">
            <h3>Вилочные погрузчики</h3>
            <img src="@/static/img/fork-loader-img.png" alt="">
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination-bullets"></div>
      </div>
    </div>
  </client-only>
</template>

<script>
export default {
  data() {
    return {
      index: 0,
      swiperOption: {
        loop: true,
        slidesPerView: 'auto',
        centeredSlides: true,
        spaceBetween: 30,
        effect: 'fade',
        speed: 500,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false
        },
        //on: {
        //	slideChange() {
        //	},
        //	tap() {
        //		console.log('onTap', this);
        //	}
        //}
      }
    }
  },
  methods: {
    slideChanged() {
      this.$emit('activeIndex', this.mySwiper.activeIndex)
    },
  },
}
</script>

<style lang="less" scoped>
@keyframes name-animation {
  from {
    left: 20px;
  }
  to {
    left: 50px;
  }
}

@keyframes front-img-animation {
  from {
    left: 80px;
  }
  to {
    left: 50px;
  }
}

@keyframes fork-img-animation {
  from {
    left: 30px;
  }
  to {
    left: 0;
  }
}

@keyframes img-animation {
  from {
    left: 110px;
  }
  to {
    left: 80px;
  }
}

.swiper-slide {
  opacity: 0 !important;
}

.swiper-slide-active {
  opacity: 1 !important;

  h3 {
    animation: name-animation 1.5s ease-in-out;
    -webkit-animation: name-animation 1.5s ease-in-out;
  }

  &.front-slide img {
    animation: front-img-animation 1.5s ease-in-out;
    -webkit-animation: front-img-animation 1.5s ease-in-out;
  }

  img {
    animation: img-animation 1.5s ease-in-out;
    -webkit-animation: img-animation 1.5s ease-in-out;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  @keyframes name-animation {
    from {
      left: 35px;
    }
    to {
      left: 65px;
    }
  }
}

@media (max-width: 767px) {
  @keyframes name-animation {
    from {
      left: -25px;
    }
    to {
      left: 0;
    }
  }
  @keyframes img-animation {
    from {
      left: 80px;
    }
    to {
      left: 50px;
    }
  }
  @keyframes front-img-animation {
    from {
      left: 30px;
    }
    to {
      left: 00px;
    }
  }
}

@media (max-width: 413px) {
  @keyframes front-img-animation {
    from {
      left: -30px;
    }
    to {
      left: -60px;
    }
  }
  .swiper-slide-active.fork-slide img {
    animation: fork-img-animation 1.5s ease-in-out;
    -webkit-animation: fork-img-animation 1.5s ease-in-out;
  }
}

@media only screen and (orientation: landscape) and (max-width: 650px) {
  @keyframes fork-img-animation {
    from {
      left: 60px;
    }
    to {
      left: -10px;
    }
  }
  @keyframes front-img-animation {
    from {
      left: -20px;
    }
    to {
      left: -50px;
    }
  }
  .swiper-slide-active.fork-slide img {
    animation: fork-img-animation 1.5s ease-in-out;
    -webkit-animation: fork-img-animation 1.5s ease-in-out;
  }
}
</style>
