<template>
  <div class="mobile-feedback-city">
    <div class="feedback-city">
      <span class="title" v-if="myObjectSuggestions">{{ myObjectSuggestions }}</span>
      <span class="title"
            v-else-if="positionObj.city">Ваш город {{ positionObj.city }}?</span>
      <span class="title" v-else>Укажите ваш населенный пункт</span>
      <div class="bottom">
        <button v-if="myObjectSuggestions " @click="cityAccept">Да</button>
        <button v-else-if="positionObj.city" @click="askFormCancel">Да</button>
        <button v-else @click="askFormCancel">Отмена</button>
        <div class="change">
          <div v-if="suggestionsOn" class="city-choose">
            <dadata-suggestions
                v-model="myObject"
                :fullInfo.sync="myObjectFull"
                field-value="value"
                :options="dadataOptions"
                formatSelected: this.removeNonCity
            />
          </div>
          <span v-else @click="anotherCity"><span v-if="myObjectSuggestions || positionObj.city">Выбрать другой город</span><span v-else>Введите город</span></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MobileCityChoose",
  data() {
    return {
      suggestionsOn: false,
      myObjectSuggestions: '',
      myObject: '',
      myObjectFull: {},
      dadataOptions: {
        type: 'ADDRESS',
        geoLocation: false,
        hint: false,
        bounds: "city-settlement",
        formatSelected: this.removeNonCity,
      }
    }
  },
  computed: {
    positionObj() {
      return this.$store.getters.geoPosition
    },
  },
  methods: {
    checkInput(){
      document.querySelector('.suggestions-input').focus();
    },
    anotherCity() {
      this.suggestionsOn = !this.suggestionsOn
      setTimeout(this.checkInput,100)
    },
    askFormCancel() {
      this.$store.dispatch('cityCheckForm', {root: true})
      this.close()
    },
    removeNonCity(suggestions) {
      this.myObjectSuggestions = suggestions.value
    },
    cityAccept() {
      let cookieCity = this.$store.getters.cookieCity

      let newCity = this.myObject
      let newCityX,
          newCityY
      if (this.myObjectFull.data) {
        newCityX = this.myObjectFull.data.geo_lat
        newCityY = this.myObjectFull.data.geo_lon
      }

      let posPayload = {
        x: newCityX,
        y: newCityY,
        city: newCity
      }

      if (this.myObject && this.myObject !== cookieCity) {
        this.$store.commit('setPosition', posPayload, {root: true})
      }

      if (this.myObject && this.myObject !== this.positionObj.city) {
        this.$store.commit('setPosition', posPayload, {root: true})
        this.$store.commit('setCookie', posPayload, {root: true})
        this.checkClosestPartners(posPayload.x, posPayload.y, this.partners)
      } else {
        this.$store.commit('setCookie', this.$store.getters.geoPosition, {root: true})
      }

      this.askCityForm = !this.askCityForm
      this.myObject = ''
      this.suggestionsOn = false

      this.close()
    },
    close() {
      this.$emit('cityclose')
    }
  },

}
</script>

<style lang="less" scoped>
.mobile-feedback-city {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);

  .feedback-city {
    position: relative;
    background: rgba(31, 31, 31, 0.95);
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #fff;
    min-width: 280px;
    z-index: 2;
    padding: 4px 4px 0 0;
    transition: 0.5s;

    .title {
      padding: 25px 0 35px;
      display: flex;
      justify-content: center;
      color: #fff;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 0.04em;
    }

    .bottom {
      display: flex;
      align-items: center;

      button {
        background: #545454;
        border: none;
        color: yellow;
        width: 65px;
        height: 35px;
        border-radius: 0 20px 0 20px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.04em;
      }

      .change {
        flex-grow: 1;
        text-align: left;
        padding-left: 15px;
      }
    }
  }
}
.mobile-feedback-city.city-choose-transition-leave-to input{
  display:none !important;
  opacity:0 !important;
  visibility:hidden !important;
}
</style>
