<template>
  <div class="item-info">
    <span @click="cancel" class="close"><span></span></span>
    <span class="name">
      <span>{{ currentItem.name }}</span>
      <button v-if="currentItem.type !== 26" @click="addItemToForm" :class="{'active': itemStatus}">
        <span v-if="itemStatus">Добавлено<span class="icon-ok"></span></span>
        <span v-else>Добавить <span class="icon-plus"></span></span>
      </button>
    </span>
    <p class="description">{{ currentItem.description }}</p>
    <img :src="currentItem.img" alt="">
  </div>

</template>

<script>
export default {
  name: "modal",
  props: ['status', 'item', 'attachments', 'partsId'],
  data() {
    return {
      addStatus: this.status,
      currentItem: this.item,
      allAttachments: this.attachments,
      partsIdForModal: this.partsId,
      itemDescription: '',
      itemName: '',
      itemImg: '',
    }
  },
  async asyncData({store}) {

  },
  computed: {
    itemStatus() {
      return this.addStatus.options.includes(this.currentItem.id) || this.addStatus.attachments.includes(this.currentItem.id)
    }
  },
  methods: {
    cancel() {
      this.$emit('close')
    },
    async addItemToForm() {
      let attArray = [27, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 42]
      let type = ''
      let item
      if (attArray.includes(this.currentItem.type)) {
        type = 'attachments';
      } else {
        type = 'options';
      }

      try {
        item = await this.$store.dispatch('product/getInfoForModelAdd', this.currentItem.id)
      } catch (e) {
        console.log(e)
      }
      console.log('type', type)


      this.$emit('add', type, item[0])
    }
  }
}
</script>

<style lang="less">
.item-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  opacity: 1;
}

.item-info .name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;

  span {
    font-weight: 400;
    color: #000;
    font-size: 18px;
  }

  button {
    cursor: pointer;
    max-width: 120px;
    width: 160px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    background: #FF0000;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.02em;
    position: relative;
    transition: 0.3s;
    padding: 0 15px;
    span{
      font-size:14px !important;
    }
    &:hover,
    &.active {
      box-shadow: 2px 4px 15px rgba(182, 0, 0, 0.5);
    }

    & > span {
      width: 100%;
    }

    span {
      color: #fff;
      display: flex;
      justify-content: space-around;

      align-items: center;
    }
  }
}

.item-info .description {
  font-weight: 300;
  color: #000;
  font-size: 14px;
  letter-spacing: 0.5px;
  max-width: 100%;
  padding: 0 20px;
  text-align: left;
  margin-bottom: 40px;
}

.item-info img {
  max-width: 100%;
}
</style>

