<template>
  <div class="wrap-gallery">
    <div class="layout" @click="close"></div>
    <div class="gallery">
      <lingallery :iid.sync="currentId"
                  :responsive="true"
                  :items="images"
                  :startImage="index"
                  :disableImageClick="false"
                  :show-controls="true"
                  :right-control-class="'gallery-next'"
                  :left-control-class="'gallery-prev'"
      />
    </div>
    <div class="close" @click="close">
      <span></span>
      <span></span>
    </div>
  </div>
</template>

<script>
export default {
  name: "preloader",
  layout: 'empty',
  props: ['images', 'index'],
  data(){
    return{
      images: this.images,
      currentId: null,
      index: this.index
    }
  },
  methods: {
    close(){
      this.$emit('close')
    }
  }
}
</script>

<style scoped lang="less">
    .wrap-gallery{
      padding:50px 50px 150px;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.8);
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: center;
      .layout{
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .gallery{
        z-index: 999;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        position: relative;
        .lingalleryContainer{
          width: 100%;
          height: 100%;
          .lingallery{
            width: 100% !important;
            height: 100% !important;
            figure{
              width: 100%;
              height: 100% !important;
            }
          }
        }
      }
    }
    .close{
      display:block;
      position: fixed;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 220px;
      z-index: 999;
      cursor:pointer;
      span{
        position: relative;
        width: 17px;
        background: #fff;
        display: block;
        height: 1px;
        &:first-child{
          top: 9px;
          left: 1px;
          transform: rotate(45deg);
        }
        &:last-child{
          top: 8px;
          left: 1px;
          transform: rotate(-45deg);
        }
      }
    }
</style>
