<template>
  <client-only>
    <div class="model-carousel">
      <div class="loading" :class="`loading-${index}`">
        <div class="sk-three-bounce">
          <div class="sk-bounce-1 sk-child"></div>
          <div class="sk-bounce-2 sk-child"></div>
          <div class="sk-bounce-3 sk-child"></div>
        </div>
      </div>
      <div class="main-slider-wrapper">

        <div v-swiper:mySwiper="swiperOption" ref="swiper" v-if="sliderImages.length > 1">

          <div class="swiper-wrapper">
            <div class="swiper-slide front-slide" v-for="(image, index) in sliderImages" :key="`key${index}`">

              <img :src="image" alt="" @load="doneload(index, 3)" :class="`slider-img-${index}`" class="slider-image active">
            </div>
          </div>
          <div class="swiper-pagination swiper-pagination-bullets"></div>
        </div>
        <div v-else class="fork-img-container">
          <img :src="sliderImages[0]" alt="" @load="doneload('fork', 1)">
        </div>
      </div>
      <span v-if="sliderImages.length > 1" class="slider-control right" @click="swipeToRight"><img
          src="/icons/right.svg" alt=""></span>
      <span v-if="sliderImages.length > 1" class="slider-control left" @click="swipeToLeft"><img src="/icons/left.svg"
                                                                                                 alt=""></span>
    </div>

  </client-only>
</template>

<script>
export default {
  name: "ModelCarousel",
  props: ['model'],
  data() {
    return {
      counter: 1,
      index: 0,
      swiperOption: {
        loop: false,
        slidesPerView: 'auto',
        centeredSlides: true,
        spaceBetween: 30,
        speed: 500,
        pagination: {
          el: '.swiper-pagination',
          bullets: true,
          clickable: true,
        },
      }
    }
  },
  computed: {
    sliderImages() {
      let imgs = [
        `/img/models/${this.model.Name.toLowerCase()}/1.png`,
        `/img/models/${this.model.Name.toLowerCase()}/2.png`,
        `/img/models/${this.model.Name.toLowerCase()}/3.png`,
      ]
      if (this.model.VehicleTypeId === 1376760) {
        imgs = [
          `/img/models/${this.model.Name.toLowerCase()}/1.png`
        ]
      }
      return imgs
    }
  },
  methods: {
    doneload(index, number) {
      let counter = this.counter
      if(index !== 'fork'){
        let nodeImgs = document.querySelectorAll(`.slider-img-${index}`)
        let nodeLoaders = document.querySelectorAll(`.loading-${index}`)
        nodeImgs.forEach( function(item){
          item.classList.add('active')
        })
        nodeLoaders.forEach( function(item){
          item.classList.add('hide-')
        })
      }
      if(number === 1 || counter === 3){
        console.log('загрузилась')
        this.$emit('carousel')
      } else {
        console.log('каунтер +1')
        this.counter++
      }

    },
    swipeToRight() {
      (this.$refs.swiper).swiper.slideNext()
    },
    swipeToLeft() {
      (this.$refs.swiper).swiper.slidePrev()
    }
  }
}
</script>

<style scoped lang="less">
.fork-img-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.slider-image{
  opacity:0;
  transition: 0.3s;
}
.slider-image.active{
  opacity:1;
}
.loading{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  &.hide{
    opacity: 0;
    pointer-events: none;
  }
}

.sk-three-bounce {
  width: (4em * 2);
  margin: auto;
  text-align: center;

  .sk-child {
    width: (3em / 2);
    height: (3em / 2);
    background-color: #666;
    margin:0 5px;
    border-radius: 100%;
    display: inline-block;
    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
  }

  .sk-bounce-1 {
    animation-delay: -0.32s;
  }
  .sk-bounce-2 {
    animation-delay: (-0.32s / 2);
  }
}

@keyframes sk-three-bounce {
  0%, 80%, 100% {
    transform: scale(0);
    opacity:0.5;
  }
  40% {
    transform: scale(1.0);
    opacity:1;
  }
}

</style>
