<template>
  <div class="call-order-layout-container">
    <div class="layout" @click="close"></div>
    <div class="call-order">
      <h3>Укажите какая запчасть вас интересует и мы свяжемся с вами</h3>
      <span class="close" @click="close"></span>
      <button><script data-b24-form="click/269/waya2c" data-skip-moving="true">
                (function(w,d,u){
                    var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
                    var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                  })(window,document,'https://cdn-ru.bitrix24.ru/b3786079/crm/form/loader_269.js');
             </script>

        <span class="default">Отправить запрос</span>
        <span class="success">Запрос отправлен</span>
        <span class="error">Не удалось</span>
      </button>
    </div>
  </div>
</template>

<script>
import {numeric, required, minLength} from "vuelidate/lib/validators";

export default {
  name: "callOrder",
  data() {
    return {
      phone: '',
      name: '',
      loading: false,
      success: false,
    }
  },
  validations: {
    phone: {numeric, required, min: minLength(10)}
  },
  methods: {
    close() {
      this.$emit('formToggle')
    },
    loadingFalse() {
      this.loading = false
    },
    successTrue() {
      this.success = true
    },
    async submit() {
      this.$v.phone.$touch();
      //

      const formData = {
        name: this.name,
        phone: this.phone,
      }

      try {
        if (!this.$v.phone.$error) {
          this.loading = true
          await this.$store.dispatch('callOrder', formData, {root: true})

          setTimeout(this.loadingFalse, 1000)
          this.successTrue()
        }

      } catch (e) {
        this.loading = false
        console.log(e)
      }

    }
  }
}
</script>

<style scoped lang="less">
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.call-order {
  position: absolute;
  background: #fff;
  top: 100%;
  width: 400px;
  padding: 15px 25px 15px;
  box-sizing: border-box;
  left: -22px;
  border-radius: 15px;
  margin-top: 10px;
  h3{
    color:#000;
  }
  .close {
    display: block;
    position: relative;
    margin-left: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #FB1C1C;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      width: 15px;
      height: 1px;
      background: #FB1C1C;
      position: absolute;
      left: 2px;
      bottom: 9px;
      transform: rotate(45deg);
    }

    &:after {
      content: '';
      display: block;
      width: 15px;
      height: 1px;
      background: #FB1C1C;
      position: absolute;
      left: 2px;
      bottom: 9px;
      transform: rotate(-45deg);
    }
  }

  input {
    height: 20px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    width:100%;
    &.hasError {
      border-bottom: 1px solid #FB1C1C;
      color: #FB1C1C;
    }
  }

  button {
    display: block !important;
    background: #FB1C1C !important;
    transition: 0.3s;
    display: block;
    margin: 10px auto;
    border: 2px solid #FF0000;
    font-weight: 700;
    color: #FF0000;
    background: none;
    padding: 0 25px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &.loading {
      transition: 0.3s;
      background: none !important;
      width: 35px !important;
      height: 35px !important;
      padding: 0 !important;
      border-radius: 50% !important;
      border-color: #FFF !important;
      border-width: 4px !important;
      font-size: 0 !important;
      border-left-color: #FB1C1C !important;
      animation: rotating 2s 0.25s linear infinite !important;

      &.success {
        background: none !important;
        border-color: #FFF !important;
        border-left-color: #FB1C1C !important;
      }
    }

    &.success {
      background: #FB1C1C !important;
      border-color: #FB1C1C !important;
      color: #FFF !important;

      .default {
        display: none;
      }

      .success {
        color: #FFF !important;
        display: block;
      }
    }

    .default {
      color: #fff;
    }

    .success, .error {
      display: none;
    }
  }
}

</style>

