<template>
  <div class="player360-container">
    <vue-three-sixty
        :amount=this.moreInfo.imagesQuantity
        :autoplay=false
        :spinReverse=true
        :loop=1
        :hotspots=[10]
        buttonClass="dark"
        :imagePath="`/img/models/${this.itemModel.toLowerCase()}/player/360/`"
        fileName="{index}.jpg"
        ref="myplayer"
    />
  </div>
</template>

<script>
export default {
  name: "player360",
  props: ['model', 'info'],
  data() {
    return {
      player: '',
      activeImage: null,
      itemModel: this.model,
      moreInfo: this.info

    }
  },
  computed: {
    activeImageOn() {
      return this.player.activeImage
    }
  },
  mounted() {
    this.player = this.$refs.myplayer
    console.log('player360item', this.itemModel)
  }
}
</script>

<style lang="less">

.v360-viewport {
  background: none;
}

#v360-menu-btns {
  background-color: transparent !important;
}

.v360-image-container {
  max-height: 550px !important;
  width: auto !important;
  border-radius: 20px;
  overflow: hidden;
}

.active-img {
  text-align: center;
}

</style>