<template>
  <div class="wrap-loader">
    <div class="loader">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="wrap-text">
        <div class="text">
          <span>B</span><span>O</span><span>U</span><span>L</span><span>D</span><span>E</span><span>R</span><span></span>
        </div>
      </div>
    </div>
    <div class="loader-text">Загрузка</div>
  </div>
</template>

<script>
export default {
  name: "preloader",
  layout: 'empty',
}
</script>

<style scoped>

</style>