<template>
  <div class="price-form-wrapper">
    <div class="dark-layout" @click="formClose"></div>
    <div class="price-form-container">
      <transition name="right-slide">
        <div class="checkedOptions" v-if="showOptions" >
          <div class="options-wrapper">
            <span class="title">Выбранные опции</span>
            <div class="options-block-wrapper">
              <perfect-scrollbar ref="ps2" :options="scrollOptions">
                <div class="option-block" v-for="option of formData.options">
                  <img :src="option.img" alt="">
                  <span class="option-name">{{ option.name }}</span>
                  <span class="remove"><span @click="remove('options', option)">Убрать опцию</span></span>
                </div>
              </perfect-scrollbar>
            </div>
          </div>
          <button @click="closeChecked">Назад</button>
        </div>
      </transition>
      <transition name="right-slide">
        <div class="checkedOptions" v-if="showAttachments">
          <div class="options-wrapper">
            <span class="title">Выбранное навесное</span>
            <div class="options-block-wrapper">
              <perfect-scrollbar ref="ps2" :options="scrollOptions">
                <div class="option-block" v-for="attachment of formData.attachments">
                  <img :src="attachment.img" alt="">
                  <span class="option-name">{{ attachment.name }}</span>
                  <span class="remove"><span @click="remove('attachments', attachment)">Убрать навесное</span></span>
                </div>
              </perfect-scrollbar>
            </div>
          </div>
          <button @click="closeChecked">Назад</button>
        </div>
      </transition>
      <span class="model">{{ formData.item.model }}</span>
      <div class="img">
        <img :src="formData.img" alt="">
      </div>
      <div class="options-attachments">
        <div class="options" v-if="allOptions.length !== 0">
          <span>Выбранные опции<span>{{ formData.options.length }}</span></span>
          <button v-if="formData.options.length === 0" @click="jumpTo('option')">Выбрать</button>
          <button v-else @click="showOptionsOn">Посмотреть</button>
        </div>
        <div class="attachments" v-if="allAttachments.length !== 0">
          <span>Выбранное навесное<span>{{ formData.attachments.length }}</span></span>
          <button v-if="formData.attachments.length === 0" @click="jumpTo('attachment')">Выбрать</button>
          <button v-else @click="showAttachmentsOn">Посмотреть</button>
        </div>
      </div>
      <div class="form">
        <div class="form-group" :class="{ 'hasError': $v.form.name.$error }">
          <input type="text" v-model="form.name" placeholder="Ваше имя">
        </div>
        <div class="form-group" :class="{ 'hasError': $v.form.mail.$error }">
          <input type="text" v-model="form.mail" placeholder="Ваш e-mail">
        </div>
        <div class="form-group" :class="{ 'hasError': $v.form.phone.$error }">
          <the-mask mask="+7 (XXX) XXX XX-XX" v-model="form.phone" type="tel"
                    placeholder="+7 (XXX) XXX XX-XX"></the-mask>
        </div>
        <div class="form-group">
          <textarea v-model="form.text" placeholder="Комментарий (если нужно)"></textarea>
        </div>
        <p v-if="$v.$anyError === true" class="error-note">Заполните необходимые поля</p>
      </div>

      <button @click="submit" class="send-form-btn" :class="{'loading': loading, 'success': success}">
        <span class="default">Расчитать</span>
        <span class="success">Расчет запрошен</span>
        <span class="error">Не удалось</span>
      </button>
      <p class="note">Введенные данные будут использоваться только для расчета стоимости, а не для спама и рассылок</p>
      <div class="mobile-cancel" @click="formClose">
        <span></span>
        <span></span>
      </div>
    </div>

  </div>
</template>

<script>
import {numeric, required, email, minLength} from "vuelidate/lib/validators";


export default {
  name: "PriceForm",
  props: ['data', 'options', 'attachments'],

  data() {
    return {
      scrollOptions: {
        suppressScrollX: true,
      },
      formData: this.data,
      allOptions: this.options,
      showOptions: false,
      showAttachments: false,
      allAttachments: this.attachments,
      form: {
        phone: null,
        mail: null,
        name: null,
        text: null,
      },
      loading: false,
      success: false,

    }
  },

  validations: {
    form: {
      name: {required},
      mail: {email},
      phone: {numeric, required, min: minLength(10)}
    }
  },
  computed: {
    optionsChecked() {
      let optionsChecked = []
      let data = this.formData.options
      this.allOptions.forEach(function (option) {
        data.forEach(function (item) {
          if (item === option._id) {
            optionsChecked.push(option)
          }
        })
      })
      return optionsChecked
    },
    attachmentsChecked() {
      let attachmentsChecked = []
      let data = this.formData.attachments
      this.allAttachments.forEach(function (attachment) {
        data.forEach(function (item) {
          if (item === attachment._id) {
            attachmentsChecked.push(attachment)
          }
        })
      })
      return attachmentsChecked
    }
  },
  methods: {
    async remove(type, item) {
      let obj = {
        id: item.id,
        vehicleId: this.formData.item.Id
      }
      const idForRemove = await this.$store.dispatch('product/getOptOrAtachId', obj)
      this.formData[type] = this.formData[type].filter(function (itemInner) {
        return item.id !== itemInner.id
      })
      let data = {
        type: type,
        id: idForRemove,
      }
      this.$emit('remove', data)

    },
    formClose() {
      this.$emit('close')
    },
    showOptionsOn() {
      this.showOptions = true
    },
    showAttachmentsOn() {
      this.showAttachments = true
    },
    closeChecked() {
      this.showOptions = false
      this.showAttachments = false
    },
    jumpTo(type) {
      this.$emit('close')
      this.$emit('moving', type)

    },
    loadingFalse() {
      this.loading = false
    },
    successTrue() {
      this.success = true
    },
    async submit() {
      this.$v.form.$touch();

      const formDataToSend = {
        name: this.form.name,
        mail: this.form.mail,
        phone: this.form.phone,
        text: this.form.text,
        formData: this.formData
      }
      try {
        if (!this.$v.form.$error) {
          this.loading = true
          await this.$store.dispatch('formMail', formDataToSend, {root: true})
          this.$gtm.push({ event: 'sendForm', virtualFormUrl: `${this.$route.fullPath}/price_form`  })
          setTimeout(this.loadingFalse, 1000)
          this.successTrue()
          setTimeout(this.formClose, 3000)
        }
      } catch (e) {
        console.log(e)
        this.loading = false
      }

    }
  }
}
</script>

<style lang="less" scoped>
.checkedOptions .options-wrapper .options-block-wrapper {
  padding-right: 0;
}

.checkedOptions .options-wrapper .options-block-wrapper,
.checkedOptions .options-wrapper .options-block-wrapper .ps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  max-height: 450px;
  margin-right: 0;


  box-sizing: border-box;
}

.checkedOptions .options-wrapper .options-block-wrapper .ps .ps__rail-y {
  opacity: 1 !important;
}

.checkedOptions .options-wrapper .options-block-wrapper .ps {
  padding-right: 20px;
  padding-bottom: 0;
}

.checkedOptions .options-wrapper .option-block {
  display: flex;
  width: 48%;
  margin-bottom: 25px;
  flex-direction: column;
}

.checkedOptions .options-wrapper .option-block .option-name {
  font-size: 12px;
  display: block;
  text-align: center;
  margin: 10px 0;
}

.checkedOptions .options-wrapper .option-block .remove {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.checkedOptions .options-wrapper .option-block .remove span {
  display: block;
  width: 100%;
  background: #ff0000;
  border-radius: 0 0 15px 15px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  color:#fff;
}

.checkedOptions .options-wrapper .option-block img {
  border-radius: 15px 15px 0 0;
}

.checkedOptions .options-wrapper .title {
  display: block;
  text-align: center;
  margin: 50px 0 40px;
}

.checkedOptions .options-wrapper {
  display: flex;
  flex-direction: column;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-enter-active {
  transition: 0.5s;
}

.fade-leave-active {
  opacity: 0;
  transition: 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  transition: 0.5s;
}

.right-slide-enter-active {
  transition: 0.5s;
  left: 0 !important;
  right: auto !important;
}

.right-slide-leave-active {
  left: 50% !important;
  right: auto !important;
  opacity: 0;
  transition: 0.5s;
}

.right-slide-enter, .right-slide-leave-to {
  left: 50% !important;
  right: auto !important;
  opacity: 0;
  transition: 0.5s;
}

.mobile-cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  display: none;
}

.mobile-cancel span:first-child {
  position: relative;
  top: 9px;
  left: 1px;
  width: 17px;
  height: 1px;
  background: #666;
  display: block;
  transform: rotate(45deg)
}

.mobile-cancel span:last-child {
  position: relative;
  top: 8px;
  left: 1px;
  width: 17px;
  height: 1px;
  background: #666;
  display: block;
  transform: rotate(-45deg)
}

.send-form-btn {
  display: block !important;
  background: #FB1C1C !important;
  transition: 0.3s;

  &.loading {
    transition: 0.3s;
    background: none !important;
    width: 35px !important;
    height: 35px !important;
    padding: 0 !important;
    border-radius: 50% !important;
    border: 4px solid #FFF !important;
    font-size: 0 !important;
    border-left-color: #FB1C1C !important;
    animation: rotating 2s 0.25s linear infinite !important;

    &.success {
      background: none !important;
      border-color: #FFF !important;
      border-left-color: #FB1C1C !important;
    }
  }

  &.success {
    background: #FB1C1C !important;
    border-color: #FB1C1C !important;
    color: #FFF !important;

    .default {
      display: none;
    }

    .success {
      color: #FFF !important;
      display: block;
    }
  }

  .default {
    color: #fff;
  }

  .success, .error {
    display: none;
  }
}

@media (max-width: 767px) {
  .mobile-cancel {
    display: block;
  }
}

@media (max-height: 600px) {
  .mobile-cancel {
    top: 15px;
  }
}
</style>
