<template>
  <div class="share-wrapper">
    <div class="overlay" @click="shareCancel"></div>
    <div class="container">
      <span>Поделиться ссылкой:</span>
      <yandex-share
          :services="['vkontakte','facebook','twitter', 'telegram', 'whatsapp', 'google', 'odnoklassniki', 'skype','gplus']"
      />
    </div>
  </div>

</template>

<script>
export default {
  name: "share",
  data() {
    return {}
  },
  methods: {
    shareCancel() {
      this.$emit('close')
    }
  }
}
</script>

<style>
.share-wrapper .overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  font-family: 'HelveticaNeueCyr', sans-serif;
}

.share-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-wrapper .container {
  width: 400px;
  height: 150px !important;
  padding: 20px 0;
  box-sizing: border-box;
  background: #3d3d3d;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: center;
  position: relative;
  z-index: 1;
}

.share-wrapper .container span {
  font-size: 18px;
  display: block;
  min-width: 100%;
  font-weight: 300;
  text-align: center;

}

.share-wrapper .ya-share2__container_size_m .ya-share2__icon {
  height: 34px;
  width: 34px;
  background-size: cover;

}

.share-wrapper .ya-share2__container_size_m {
  border-radius: 7px !important;
  overflow: hidden;
}
</style>