<template>
  <div class="site-menu">
    <div class="layout" @click="menuClose"></div>
    <div class="site-menu-wrapper">
      <div class="menu-logo" @click="menuClose">
        <nuxt-link to="/">
          <img src="../../static/img/boulder-logo.svg" alt="">
        </nuxt-link>
      </div>
      <div class="location" @click="mobileCityChooseToggle">
        <img class="location-icon" src="../../static/icons/location-m.svg" alt="">
        <span class="location-city" v-if="positionObj.city">{{ positionObj.city }}</span>
        <span class="location-city" v-else>Выбрать город</span>
      </div>
      <transition name="city-choose-transition">
        <mobile-city-choose v-if="mobileCityChooseStatus" @cityclose="mobileCityChooseToggle"></mobile-city-choose>
      </transition>
      <div class="account">
        <img class="account-icon" src="../../static/icons/account.svg" alt="">
        <span>Личный кабинет</span>
      </div>
      <div class="socials">
        <a class="icon-wrapper" href="https://vk.com/bouldercorp" target="_blank"><span class="icon-vk"></span></a>
        <a class="icon-wrapper" href="https://www.facebook.com/boulder.rus/" target="_blank"><span
            class="icon-facebook"></span></a>
        <a class="icon-wrapper" href="https://www.instagram.com/boulder_vl/" target="_blank"><span
            class="icon-instagram"></span></a>
        <a class="icon-wrapper" href="https://www.youtube.com/channel/UCGwdS_71qu90Gn71XpDh9sA" target="_blank"><span
            class="icon-youtube"><span class="path1"></span><span class="path2"></span></span></a>
        <a href="#" class="icon-wrapper"><span class="icon-mail"></span></a>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=+79146805347&text=Приветствую вас,%20болдер!"
           class="whatsapp-wrapper"><img class="whatsapp-icon" src="../../static/img/whatsapp.png" alt=""></a>
      </div>
      <div class="route-wrapper">
        <div class="centered-container">
          <ul class="menu-first-level">
            <li
                v-for="(item, i) of menuList"
                :key="i">
              <span v-if="item.levelToggle === true"
                    @click="menuLevel = 2, activeSubMenu = item.subMenu">{{ item.name }}</span>
              <nuxt-link v-else :to="item.route">{{ item.name }}</nuxt-link>
            </li>
          </ul>
          <transition name="fade">
            <ul class="menu-second-level" v-if="menuLevel === 2">
              <li @click="activeSubMenu='', menuLevel = 1"><span><i class="icon-arrow"></i>Назад</span></li>
              <li @click="menuClose"
                  v-for="(item, i) of subMenu[activeSubMenu]"
                  :key="i">
                <span v-if="item.parts" @click="partsOrderOpen">{{ item.name }}</span>
                <nuxt-link v-else :to="item.route">{{ item.name }}</nuxt-link>
              </li>
            </ul>
          </transition>
        </div>
      </div>
      <div class="menu-footer">
        <div class="whatsapp">
          <a target="_blank" href="https://api.whatsapp.com/send?phone=+79146805347&text=Приветствую вас,%20болдер!">
            <img class="whatsapp-icon" src="@/static/img/whatsapp.png" alt="">
            <span>Whatsapp</span>
          </a>
        </div>
        <div class="phone">
          <span class="icon-phone"></span>
          <div>
<!--            <a href="tel:88002500425">8 800 25 004 25</a>-->
            <main-phone-number/>
            <span class="free-call">Звонок бесплатный</span>
          </div>
        </div>

      </div>
      <div class="close" @click="menuClose">
        <span></span>
        <span></span>
      </div>

    </div>
  </div>
</template>

<script>
import MobileCityChoose from "./MobileCityChoose"
const MainPhoneNumber = () => import ("./MainPhoneNumber")


export default {
  name: "SiteMenu",
  components: {MobileCityChoose, MainPhoneNumber},
  data() {
    return {
      mobileCityChooseStatus: false,
      menuLevel: 1,
      activeSubMenu: '',
      menuList: [
        {name: 'Продукция', levelToggle: true, subMenu: 'products'},
        {name: 'Компания', levelToggle: true, subMenu: 'company'},
        {name: 'Медиа', levelToggle: true, subMenu: 'media'},
        {name: 'Контакты', route: '/contacts'},
        {name: 'Стать дилером', route: '/dealer/steps'},
      ],
      subMenu: {
        products: [
          {name: 'Фронтальные погрузчики', route: '/catalog/frontloaders'},
          {name: 'Вилочные погрузчики', route: '/catalog/forkloaders'},
          {name: 'Экскаваторы-погрузчики', route: '/catalog/backhoe'},
          {name: 'Экскаваторы', route: '/catalog/excavator'},
          {name: 'Запчасти', route: '/', parts: true},
          {name: 'Навесное', route: '/attachment'},
        ],
        company: [
          {name: 'О "Болдер"', route: '/company/about'},
          {name: 'Технологии производства', route: '/company/technology'},
          {name: 'Дилерская сеть', route: '/company/dealer'},
          {name: 'Вакансии', route: '/company/vacancy'},
          {name: 'Лизинг', route: '/leasing'},
        ],
        media: [
          {name: 'Видео', route: '/video'},
          {name: 'Новости', route: '/news'},
          {name: 'Часто задаваемые вопросы', route: '/questions'},
          {name: 'Статьи', route: '/articles'},
        ],

      }
    }
  },
  computed: {
    positionObj() {
      return this.$store.getters.geoPosition
    },
  },
  methods: {
    partsOrderOpen() {
      this.$emit('partsOrderOpen', false)
    },
    menuClose() {
      this.$emit('closeMenuAction', false)
    },
    mobileCityChooseToggle() {
      this.mobileCityChooseStatus = !this.mobileCityChooseStatus
    }
  },
}
</script>

<style scoped lang="less">

.free-call{
  margin-left:10px;
  margin-top:10px;
  display:block;
}
.city-choose-transition-enter-active {
  transition: all .3s ease;
}

.city-choose-transition-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.city-choose-transition-enter, .city-choose-transition-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.centered-container {
  width: 100%;
  position: relative;
}

.route-wrapper {
  position: relative;
}

.menu-first-level {
  li {
    cursor: pointer;

    &:hover {
      span {
        color: #fff;
      }
    }

    span {
      color: #BDBDBD;
    }
  }
}

.menu-second-level {
  position: absolute !important;
  z-index: 1;
  background: #232323;
  top: 0;

  li {
    cursor: pointer;

    i {
      display: inline-block;
      margin-right: 5px;
      font-size: 10px;
      transform: rotate(180deg);
      color: #fff;
    }

    &:hover {
      span {
        color: #fff;
      }
    }

    span {
      font-size: 14px;
      color: #BDBDBD;
      display: flex;
      align-items: center;

    }
  }
}

.fade-enter-active {
  transition: 0.5s;
}

.fade-leave-active {
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  transform: translateX(30px);
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  transform: translateX(30px);
}

@media (min-height: 736px) {
  .menu-second-level {
    top: -14px;
  }
}
</style>
