<template>
  <div class="video-section">
    <div class="video-section">
      <client-only>
        <youtube ref="youtube" :video-id="currentVideo.videoUrl" :resize="true" :fitParent="true"></youtube>
      </client-only>
      <div class="layout" ref="layout">
        <img src="/img/videoImg.webp" alt="">
        <div class="btn-wrapper">
          <div class="inner-wrapper">
            <h3>{{ currentVideo.videoName }}</h3>
            <div class="btn-container">
              <button @click="playVideo">
                <img src="img/play.png" alt="">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="player-controls" ref="controls">
      <span class="icon-arrow" @click="controlsToggle"></span>
      <span class="title">Полезные видео</span>
      <ul>
        <li v-for="link in videoList" @click="changeVideo(link)" :class="{'active': currentVideoIndex === link.index }">
          <span class="icon-play"></span>
          <span>{{ link.videoName }}</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "VideoBlock",
  props: ["video"],
  data() {
    return {
      videoList: this.video,
      currentVideoIndex: 0,
      videoArray: [
        {videoId: 'DKVwhH48T24', videoName: 'Обзор WL20T. Самая популярная модель', index: 0},
        {videoId: 'BmE-pg9MVk0', videoName: 'Уборка Снега На Фронтальном Погрузчике Boulder WL56', index: 1},
        {videoId: 'DKVwhH48T24', videoName: 'Обзор WL20T. Самая популярная модель', index: 3},
        {videoId: 'BmE-pg9MVk0', videoName: 'Уборка Снега На Фронтальном Погрузчике Boulder WL56', index: 4},
        {videoId: 'DKVwhH48T24', videoName: 'Обзор WL20T. Самая популярная модель', index: 5},
        {videoId: 'BmE-pg9MVk0', videoName: 'Уборка Снега На Фронтальном Погрузчике Boulder WL56', index: 6},
      ],
    }
  },
  computed: {
    currentVideo() {
      let thisVideo
      let index = this.currentVideoIndex
      this.videoList.forEach(function (video) {
        if (video.index === index) {
          thisVideo = video

        }
      })
      return thisVideo
    },
    player() {
      return this.$refs.youtube.player
    }
  },
  methods: {
    controlsToggle() {
      this.$refs.controls.classList.remove('hidden')
    },
    playVideo() {
      this.player.playVideo()
      this.$refs.layout.classList.add('hidden')
      this.$refs.controls.classList.add('hidden')
    },
    changeVideo(link) {
      this.currentVideoIndex = link.index
      setTimeout(this.playVideo, 100)
    }
  }
}

</script>

<style lang="less" scoped>
.player-controls {
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #FB1C1C;
  border-radius: 10px;
  position: absolute;
  right: 100px;
  top: 50%;
  padding: 30px;
  box-sizing: border-box;
  max-width: 330px;
  margin-top: -180px;
  z-index: 98;
  transition: right 0.5s ease-in;

  &.hidden {
    right: -300px;
    transition: right 0.5s ease-in;

    .icon-arrow {
      z-index: 999;
      opacity: 1;
      transition: 0.3s;
    }
  }

  .icon-arrow {
    opacity: 0;
    font-family: 'boulder-icons', sans-serif;
    content: "\e901";
    font-size: 40px;
    color: #fff;
    display: block;
    position: absolute;
    left: -50px;
    top: 46%;
    transform: rotate(180deg);
    cursor: pointer;

    &:hover {
      color: #F5FF00;
    }
  }

  .title {
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      width: 300px;
      overflow: hidden;
      display: flex;
      align-items: center;
      margin: 10px 0;

      &.active {
        span {
          color: #F5FF00;
        }
      }

      img {
        border: 1px solid #fff;
        padding: 10px;
        border-radius: 50%;
        width: 10px;
      }

      span {
        display: inline-block;
        white-space: nowrap;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 0;
        cursor: pointer;
      }

    }
  }
}

@media (max-width: 1199px) {
  .player-controls {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    box-sizing: border-box;
    margin: 0;
    border: none;
    max-width: none;
    width: 100%;
    position: static;
    display: block !important;

    .title {
      font-size: 16px;
      text-transform: uppercase;
      display: block;
      text-align: center;
      margin-bottom: 40px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        width: 100%;
        max-width: 500px;
        overflow: hidden;
        display: flex;
        align-items: center;
        margin: 10px auto;
        min-height: 35px;

        &:hover {
          span {
            color: #FFF;
          }
        }

        img {
          border: 1px solid #fff;
          padding: 10px;
          border-radius: 50%;
          width: 10px;
        }

        span {
          display: inline-block;
          white-space: nowrap;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-left: 15px;
          cursor: pointer;
        }

      }
    }
  }
}

@media (max-width: 550px) {
  .player-controls {
    padding: 20px 20px 20px 10px;

    ul {
      li {
        span {
          font-size: 12px;
          margin: 0;
        }
      }
    }
  }
}

</style>