<template>
  <div class="question-info">
    <perfect-scrollbar ref="ps-template" class="news-details-ps">
    <div class="question-details">
      <h3>{{item.title}}</h3>
        <div class="first-block">
          <div class="text" v-html="item.block1"></div>
        </div>
    </div>
    </perfect-scrollbar>
  </div>
</template>

<script>
	export default {
		name: "news-details",
		layout: 'media',
    head() {
      return {
        title: this.item.seoTitle,
        meta: [
          { hid: 'description', name: 'description', content: this.item.seoDescription }
        ]
      }
    },
		data() {
			return {
			}
		},
    async validate({store, params}) {
      try {
        const item = (await store.dispatch('media/fetchQuestionsById', params.id))[0]
        return Boolean(item)
      } catch (e) {
        console.log(e)
      }
    },
		async asyncData({store, params}) {
			try{
				const item = (await store.dispatch('media/fetchQuestionsById', params.id))[0]
				return {item}
			} catch (e) {
				console.log(e)
			}
		},
		computed: {
		}
	}
</script>

<style scoped lang="less">
  @media(max-width:1199px){
    .question-info{
      padding:100px 30px 0;
    }
  }
  @media(max-width:767px){
    .question-info{
      padding:80px 20px 0 !important;
    }
  }
  @media(max-width:550px){
    .question-info{
      padding:60px 10px 0 !important;
    }
  }
</style>