<template>
	<div class="news-wrapper questions">
		<div class="news-container">
			<perfect-scrollbar ref="ps">
			<div class="news-block" v-for="item of displayedQuestionsList">
				<div class="news-block-inner" @click="goTo(item.url)">
					<span class="title">{{item.title}}</span>
					<p v-html="item.block1"></p>
					<div class="news-block-bottom">
						<nuxt-link :to="`/questions/${item.url}`">Читать полностью</nuxt-link>
						<span>{{date(item.date)}}</span>
					</div>
				</div>
			</div>
			</perfect-scrollbar>
		</div>

		<div class="pagination">
			<ul>
				<li
					v-for="(currentPage, index) of totalPages"
					@click="page = index + 1"
					:class="{'active': page === index + 1 }">
					{{index + 1}}
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
	export default {
		name: "news",
		layout: 'media',
		data() {
			return {
				windowWidth: 0,
				page: 1,
				perPage: 4,
				pages: [],
				hiddenNews: [],
			}
		},
		async asyncData({store}) {
      let questionList
      store.getters['media/questions'] ? questionList = store.getters['media/questions'] : questionList = await store.dispatch('media/fetchQuestions')
      let questionsList = questionList.slice(0);
			questionsList.sort(function(a,b){
				return new Date(b.date) - new Date(a.date);
			});
			return {questionsList}
		},
		mounted: function () {
			this.$nextTick(function () {
				this.onResize();
			})
			window.addEventListener('resize', this.onResize)
		},
		computed: {
			displayedQuestionsList () {
				return this.paginate(this.questionsList);
			},
			totalPages() {
				return Math.ceil(this.questionsList.length / this.perPage);
			},
		},
		methods: {
      goTo(to){
        this.$router.push(`/questions/${to}`)
      },
      date(value) {
        let string = value
        let tPosition = string.indexOf('T')
        let date = string.slice(0, tPosition) + 'T23:00:00.000Z'

        date = new Date(date)
        let dd = date.getDate()
        if (dd < 10) dd = '0' + dd;
        let mm = date.getMonth() + 1;
        if (mm < 10) mm = '0' + mm;
        let yy = date.getFullYear();

        return dd + '.' + mm + '.' + yy;
      },
      newFormatDate(date) {
          date = new Date(date.replace(/-/g, '\/').replace(/T.+/, ''))
          let dd = date.getDate()
          console.log(dd);
          if (dd < 10) dd = '0' + dd;
          let mm = date.getMonth() + 1;
          if (mm < 10) mm = '0' + mm;
          let yy = date.getFullYear();

          return dd + '.' + mm + '.' + yy;
      },
			onResize() {
				if( window.innerWidth < 1200) {
					this.perPage = 99999999
				} else {
					this.perPage = 4
				}
			},
			setPages () {
				let numberOfPages = Math.ceil(this.newsList.length / this.perPage);
				for (let index = 1; index <= numberOfPages; index++) {
					this.pages.push(index);
				}
			},
			paginate (list) {
				let page = this.page;
				let perPage = this.perPage;
				let from = (page * perPage) - perPage;
				let to = (page * perPage);
				return  list.slice(from, to);
			}
		},
		watch: {
			newsList () {
				this.setPages();
			}
		}
	}
</script>

<style lang="less" scoped>

	.model-layout.media-layout .news-wrapper .news-container:after{
		display:none !important;
	}
	@media(min-width:1200px) {
		.media-layout {
			.news-wrapper {
				.news-block {
					min-height: 440px;
					.news-block-inner{
						min-height: 440px;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						.title{

						}
					}
				}
			}
		}
	}
  @media(max-width:767px){
    body .media-layout .news-wrapper.questions{
      padding-top:90px !important;
      .news-block{
        .news-block-inner{
          padding:10px !important;
          border-radius: 5px;
          .title{
            min-height:0;
          }
        }
      }
    }
  }


</style>