<template>
  <div class="option-section attachment-inner">
          <div class="model-container">
            <div class="model-content attach">
              <div class="breadcrumbs">
                <ul>
                  <li>
                    <nuxt-link to="/"><span class="icon-home breadcrumbs-home"></span>
                    </nuxt-link>
                  </li>
                  <li>{{this.attGroup[0].NameRus}}</li>
                </ul>
              </div>
              <div class="content-wrapper attachment-content-wrapper">
                <div class="left">
                  <div v-if="activeItemImgSrc" class="img" :style="activeItemImgSrc[1]" ref="attachMainImg">
                    <img class="activeImg" :src="activeItemImgSrc[0]" alt="">
                  </div>
                  <div v-else class="img no-img" ref="attachMainImg">
                    <img class="activeImg" src="/img/nophoto.png" alt="">
                  </div>
                  <div class="description">
                    <p>{{this.activeItem.descriptionRus}}</p>
                  </div>
                </div>
                <div class="right">
                  <div class="active-item-toggle" v-if="this.attGroupMoreInfo.length > 0">
                    <span class="mini-title">Выберите модель техники</span>
                    <div class="item-wrapper">
                      <span :class="{'active': item.Id === activeItem.Id}" class="toggle-item" @click="activeItemToggle(item)" v-for="item of this.attGroupMoreInfo">
                        <span class="model">{{item.VehicleView.replace('BOULDER ', '')}}</span><span class="note">{{item.RemarkRus}}</span>
                      </span>
                    </div>
                  </div>
                  <div class="form">
                    <span>Узнайте стоимость и сроки доставки навсного оборудования</span>
                    <div class="preview">
                      <div class="attach">
                        <div v-if="activeItemImgSrc" class="img" ref="attachImg">
                          <img class="activeImg" :src="activeItemImgSrc[2]" alt="">
                        </div>
                        <div v-else class="img no-img" ref="attachNoImg">
                          <img class="activeImg" src="/img/nophoto.png" alt="">
                        </div>
                        <span class="att-title">{{this.attGroup[0].NameRus}}<span> для</span><br><br><span>{{this.activeItem.Code}}</span></span>
                      </div>
                      <div class="vehicle">
                        <div class="img" ref="vehicleImg">
                            <img :src="activeVehicleImg" alt="" >
                        </div>
                        <span class="vehicle-title">{{this.activeItem.VehicleView}}</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" v-model="form.name" placeholder="Ваше имя">
                    </div>
                    <div class="form-group">
                      <the-mask mask="+7 (XXX) XXX XX-XX" v-model="form.phone" type="tel"
                                placeholder="+7 (XXX) XXX XX-XX*"></the-mask>
                      <span v-if="phoneError" class="phone-error">Введите корректный номер телефона.</span>
                    </div>
                    <button @click="submit" class="send-form-btn" :class="{'loading': loading, 'success': success}">
                      <span class="default">Узнать подробнее</span>
                      <span class="success">Запрос отправлен</span>
                      <span class="error">Не удалось</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </div>
</template>

<script>


import {numeric, required, minLength} from "vuelidate/lib/validators";
import { TheMask } from 'vue-the-mask'
export default {
  name: "Attachment",
  layout: "attachment",
  components: {TheMask},
  head() {
    return {
      title: '',
      meta: [
        { hid: 'description', name: 'description', content: '' }
      ]
    }
  },
  data() {
    return {
      idData:{},
      phoneError: false,
      form: {
        name: '',
        phone: null,
      },
      loading: false,
      success: false,
    }
  },
  validations: {
    form: {
      phone: {numeric, required, min: minLength(10)}
    }
  },
  async asyncData({store, params}) {
    let activeItem = null
    let type = params.type
    type = type.charAt(0).toUpperCase() + type.slice(1);
    type = type.replace(/_/g, " ");
    try {
      let attGroup = await store.dispatch('product/getAllGroupTypesByNameEng', type)
      let attGroupIds = attGroup.map(function(item){
        return item.Id
      })
      let codesArray = attGroup.map(function(item){
        return item.Code
      })
      let attGroupMoreInfo = await store.dispatch('product/getAllGroupMoreInfo', attGroupIds)
      let partsNotes = await store.dispatch('product/getPartsByCodes', codesArray)

      let attIds = attGroupMoreInfo.map(function(item){
        return item.PartsGroupsId
      })
      let imgsId = await store.dispatch('product/getAllImages', attIds)
      let attGroupMoreInfoVehiclesIds = attGroupMoreInfo.map(function(item){
        return item.VehicleId
      })
      let data = {
        type: ['vehicles'],
        id: attGroupMoreInfoVehiclesIds
      }
      let vehiclesImgs = await store.dispatch('product/getImageByTypeAndId', data)

      attGroupMoreInfo.forEach(function(item){
        attGroup.forEach(function(itemInner){
          if (item.PartsGroupsId === itemInner.Id ){
            item.descriptionRus = itemInner.RemarkRus
            item.Code = itemInner.Code
          }
        })
        vehiclesImgs.forEach(function(itemInner){
          if(item.VehicleId === itemInner.SourceId){
            item.vehicleImgId = itemInner.Id
          }
        })
      })
      attGroupMoreInfo.forEach(function(item){
          partsNotes.forEach(function(itemInner){
            if(item.Code === itemInner.PartNumber){
              item.RemarkRus = itemInner.RemarkRus
            }
          })
      })
      activeItem = attGroupMoreInfo[0]
      return {
        attGroup, attGroupIds, attGroupMoreInfo, imgsId, activeItem, partsNotes
      }
    } catch (e) {
      console.log(e)
    }
  },
  computed: {
      activeItemImgSrc() {
        let activeItem = this.activeItem
        let id
        this.imgsId.forEach(function (item) {
          if (item.SourceId === activeItem.PartsGroupsId) {
            id = item.Id
          }
        })
        console.log('id', id)
        if (id !== undefined){
          id =[`https://epc.kuzmin.online/epcapi/raw_file/${id}/0`,
            `background: url(https://epc.kuzmin.online/epcapi/raw_file/${id}/256) no-repeat;`,
            `https://epc.kuzmin.online/epcapi/raw_file/${id}/256`]
        }
        return id
      },
      activeVehicleImg() {
        return `https://epc.kuzmin.online/epcapi/raw_file/${this.activeItem.vehicleImgId}/256`

      }
 },
  mounted() {
    this.activeItemToggle(this.attGroupMoreInfo[0])
  },
 methods: {
   activeItemToggle(item){
     let attachImg
     this.$refs.attachImg ? attachImg = this.$refs.attachImg : attachImg = this.$refs.attachNoImg
     attachImg.classList.remove('animate')
     this.$refs.vehicleImg.classList.remove('animate')
     this.$refs.attachMainImg.classList.remove('animate')
     setTimeout(this.animAdd, 300)
     this.activeItem = item
   },
   async submit() {
     this.$v.form.phone.$touch();
     try {
       if (!this.$v.form.phone.$error) {
         this.phoneError = false
         this.loading = true
         let data = {
           name: this.form.name,
           phone: this.form.phone,
           attachment: this.attGroup[0].NameRus,
           vehicle: this.activeItem.VehicleView
         }
         await this.$store.dispatch('attachmentOrder', data, {root: true})
         this.$gtm.push({ event: 'sendForm', virtualFormUrl: `${this.$route.fullPath}/attachment_order_form`  })
         setTimeout(this.loadingFalse, 1000)
         this.successTrue()
       } else {
         this.phoneError = true
       }
     } catch (e) {
       console.log(e)
       this.loading = false
     }
   },
   animAdd(){
     let attachImg
     this.$refs.attachImg ? attachImg = this.$refs.attachImg : attachImg = this.$refs.attachNoImg
     attachImg.classList.add('animate')

     this.$refs.vehicleImg.classList.add('animate')
     this.$refs.attachMainImg.classList.add('animate')
   },
   loadingFalse() {
     this.loading = false
   },
   successTrue() {
     this.success = true
   },
 },
}

</script>

<style lang="less">
.content-wrapper .right .active-item-toggle .toggle-item .model{
  text-align: left!important;
}
@media (max-width: 1024px) and (min-width: 767px){
  .attachment-inner .model-container .model-content .breadcrumbs{
    padding-top:10px;
  }
}
@media (max-width: 1199px) and (min-width: 1024px){
  .attachment-inner .model-container .model-content.attach{
    display:flex;
    flex-direction: column;
  }
  .attachment-inner .model-container .model-content .breadcrumbs{
    position: static;
    width:100%;
  }
  .attachment-inner .model-container .model-content .breadcrumbs ul li:last-child{
    text-align: left;
  }
  .attachment-inner .attachment-content-wrapper{
    padding:0 15px;
  }
}
@media(max-width:1199px){
  .attachment-inner .model-container .model-content.attach {
    padding: 25px 0 0;
  }
  .attachment-inner .model-container .model-content .breadcrumbs ul{
    margin-top:10px;
  }
  .attachment-inner .model-container .model-content .breadcrumbs{
    padding-left:55px;
  }
  .attachment-inner .content-wrapper .left .img{
    min-width:0;
  }
  .attachment-inner .content-wrapper .left {
    width: 70%;
    padding-right: 20px;
  }
  .attachment-inner .content-wrapper .right .active-item-toggle{
    height:auto;
    margin-bottom:40px;
  }
}
@media(max-width:1099px){
  .attachment-inner .content-wrapper.attachment-content-wrapper{
    display:flex;
    flex-direction: column;
  }
  .attachment-inner .content-wrapper.attachment-content-wrapper .left,
  .attachment-inner .content-wrapper.attachment-content-wrapper .right{
    width:100%;
    min-width:100%;
  }
  .attachment-inner .content-wrapper.attachment-content-wrapper .left{
    display:flex;
    flex-direction: column;
    margin-bottom:30px;
  }
  .attachment-inner .content-wrapper .right .form {
    border:none;
    padding:0;
  }
  .attachment-inner .content-wrapper .right .form > span{
    text-align: center;
    display:block;
    margin-bottom:30px;
  }
  .attachment-inner .content-wrapper .right .form .preview{
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
  }
  .attachment-inner .content-wrapper .right .active-item-toggle{
    text-align: center;
    justify-content: center;
  }
  .attachment-inner .content-wrapper .right .active-item-toggle .mini-title{
    justify-content: center;
  }

  .attachment-inner .content-wrapper .right .active-item-toggle .item-wrapper {
    width:100%;
    justify-content: center;
  }

    .attachment-inner .model-container .model-content .breadcrumbs{
    margin-bottom:20px !important;
  }
  .attachment-inner .content-wrapper.attachment-content-wrapper .left .description p {
    padding:0;
    margin:0 0 40px;
    font-weight: 300;
    color:#B9ACAC;

  }
  .attachment-inner .content-wrapper.attachment-content-wrapper .left .description{
    order:-1;
  }
}
@media(max-width:1024px){
  .attachment-inner .model-container .model-content.attach{
    padding:15px 15px 0;
  }

}
@media(max-width:991px){
  .attachment-inner .model-container .model-content .breadcrumbs ul{
    width:100%;
  }
  .attachment-inner .model-container .model-content .breadcrumbs ul li:first-child{
    display:none
  }
  .attachment-inner .model-container .model-content .breadcrumbs ul li{
    margin:0;
  }
}
@media(max-width:767px){
  .option-section.attachment-inner .content-wrapper .left .img{
    height:auto;
    padding:0;
    background: none !important;
  }
  .option-section.attachment-inner .content-wrapper .left .img img{
    max-width:100%;
  }
  .option-section.attachment-inner .menu-layout .menu-toggle.for-mobile{
    top:10px !important
  }
  .option-section.attachment-inner .model-container .model-content .breadcrumbs ul{
    margin-top:20px;
  }
  .option-section.attachment-inner .model-container .model-content .breadcrumbs ul li:last-child {
    font-size:16px;
    line-height:22px !important;
  }
  .attachment-inner .model-container .model-content .breadcrumbs{
    margin-bottom:0 !important;
    padding-top:15px;
  }
  .attachment-inner .model-container .model-content .breadcrumbs ul li{
    max-width:none;
    width:100%;
    text-align: left;
  }
  .attachment-inner .model-container .model-content.attach{
    padding:0 15px;
  }
}
@media (max-width: 410px) {
  .option-section.attachment-inner .model-container .model-content .breadcrumbs ul{
    margin-top:9px;
  }
  .option-section.attachment-inner .model-container .model-content .breadcrumbs ul li:last-child {
    font-size:14px;
    line-height:18px !important;
  }
}
.icon-share {
  cursor: pointer;
}

.full-screen-request-active {
  .full-screen-request {
    display: flex;
  }
}
.full-screen-request {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.7);

  span {
    color: #fff;
  }

}
.fullpage-container .section.main-section {
  padding-bottom: 60px !important;
}
.filter-scrollbar {
  height: auto !important;
  max-height: none !important;
  min-height: 0 !important;
}
.full-page-inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .main-section {
    .breadcrumbs {
      padding-left: 40px !important;
    }
  }
}
@media (max-width: 1199px) {
  .model-navigation {
    width: 100px;
    margin: 0 auto;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;

    ul {
      justify-content: space-between;
      width: 100%;

      li {
        align-items: center;
        margin: 0;
        width: 10px;
        height: 10px;
        display: block;
        background: url('~@/static/img/dot.png') no-repeat !important;
        background-position: center center;
        background-size: auto;

        span {
          display: none;
        }

        &.active {
          background: url('~@/static/img/dot-active.png') no-repeat !important;
          background-position: center center;
        }

        &:after {
          display: none;
        }
      }
    }
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .fullpage-container .section {
    padding-bottom: 0 !important;
  }

  .model-navigation {
    display: none !important;
  }
}
.section {
  padding-bottom: 60px;
}
.model-container .model-content.attach {
  padding: 38px 0 0;
  .icon-home.breadcrumbs-home{
    position: relative;
    top:-2px;
  }
}

.content-wrapper{
  display:flex;
  justify-content: space-between;
  &.attachment-content-wrapper{
    padding-bottom:50px;
  }
  .right{
    width:30%;
    .active-item-toggle{
      display:flex;
      align-items: flex-start;
      flex-direction: column;
      .mini-title{
        min-width:100%;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #B9ACAC;
        margin-bottom:10px;
      }
      .item-wrapper{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        width:100%;
        margin:20px 0 40px;
      }
      .toggle-item{
        padding:0 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 35px;
        display: flex;
        align-items: flex-end;
        justify-content:flex-start;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        border: 1px solid transparent;
        box-sizing: border-box;
        border-radius: 5px;
        margin-right:10px;
        margin-top:0px;
        cursor:pointer;
        &.active{
          border: 1px solid #FFFF00;
        }
        .model{
          font-size:16px;
          font-weight:500;
          min-width:80px;
        }
        .note{
          font-size:12px;
          font-weight:100;
          color:#B0B0B0;
        }
      }
    }
    .form{
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-sizing: border-box;
      border-radius: 20px;
      padding:30px 30px 20px;
      & > span{
        min-width:100%;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #B9ACAC;
        margin-bottom:10px;
        text-align: center;
      }
      .preview{
        margin: 30px 0;
        display:flex;
        justify-content: space-between;
      }
      .attach{
        min-width:40%;
        max-width:40%;
        position: relative;
        &:after{
          content:'';
          display:block;
          width:15px;
          height:15px;
          border:2px solid #FF0000;
          border-left:none;
          border-bottom:none;
          transform: rotate(45deg);
          position: absolute;
          top:45px;
          right:-40px;
        }
        .att-title{
          text-align: center;
          font-size: 12px;
          line-height: 12px;
          display: block;
          letter-spacing: 0.02em;
          font-weight: 300;
          color: #C6C6C6;
          span{
            color:#FF0000;
          }
        }
        .img{
          max-width:100%;
          opacity:0;
          display:flex;
          justify-content: center;
          align-items: center;
          margin-bottom:15px;
          height:100px;
          img{
            height:auto;
            max-height:100%;
            max-width:100%;
            width:auto;
            overflow: hidden;
            border-radius: 15px;
          }
          &.animate{
            opacity: 1;
            transition:0.3s ease-out;
          }
        }
      }
      .vehicle{
        min-width:40%;
        max-width:40%;
        .vehicle-title {
          font-size: 14px;
          line-height: 12px;
          display: block;
          text-align: center;
          letter-spacing: 0.02em;
          font-weight: 400;
          color: #C6C6C6;
        }
        .img{
          height:100px;
          display:flex;
          align-items: center;
          width:100%;
          transform: translateX(50px);
          opacity:0;
          margin-bottom:15px;
          img{
            max-width:100%;
            height:auto;
          }
          &.animate{
            transform: translateX(0px);
            opacity: 1;
            transition:0.3s ease-out;
          }
        }
        img{
          -moz-transform: scale(-1, 1);
          -webkit-transform: scale(-1, 1);
          -o-transform: scale(-1, 1);
          transform: scale(-1, 1);
        }
      }
      .form-group{
        position: relative;
      }
      .phone-error{
        font-size:12px;
        color: #ff0000;
        display:block;
        text-align: center;
        position: absolute;
        width:100%;
        bottom:-15px;
      }
      input{
        width:100%;
        max-width:225px;
        display:flex;
        margin:10px auto 0;
        background:none;
        height:35px;
        border:none;
        border-bottom: 1px solid #666;
        color:#fff;
      }
      button{
        height:40px;
        width:100%;
        max-width:225px;
        margin:40px auto 20px;
        border:none;
        border-radius: 10px;
      }
    }
  }
  .left{
    width:60%;
    .img{
      display:flex;
      width:100%;
      justify-content: center;
      align-items: center;
      background-size: 100% 100% !important;
      position: relative;
      min-width:750px;
      height:550px;
      border-radius: 25px;
      overflow: hidden;
      &.animate{
        img {
          opacity: 1 !important;
          transition: 0.3s ease-out;
        }
      }
      img{
        opacity:0;

      }
      &:before{
        position: absolute;
        width:100%;
        height:100%;
        display:block;
        content:'';
        background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
        backdrop-filter: blur(8px); // This be the blur
        left:0;
        top:0;
      }
    }
    .activeImg{
      max-width:90%;
      position: static;
      z-index: 1;
      border-radius: 20px;
    }
    p{
      margin-top:50px;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      letter-spacing: 0.04em;
      color: #E9E9E9;
      padding:0 15px;
    }
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.send-form-btn {
  display: block !important;
  background: #FB1C1C !important;
  transition: 0.3s;
  height:35px;
  cursor:pointer;
  &.loading {
    transition: 0.3s;
    background: none !important;
    width: 35px !important;
    height: 35px !important;
    padding: 0 !important;
    border-radius: 50% !important;
    border: 4px solid #FFF !important;
    font-size: 0 !important;
    border-left-color: #FB1C1C !important;
    animation: rotating 2s 0.25s linear infinite !important;
    .default {
      display: none !important;;
    }
    &.success {
      background: none !important;
      border-color: #FFF !important;
      border-left-color: #FB1C1C !important;
    }
  }

  &.success {
    background: #FB1C1C !important;
    border-color: #FB1C1C !important;
    color: #FFF !important;

    .default {
      display: none !important;;
    }

    .success {
      color: #FFF !important;
      display: block;
    }
  }

  .default {
    color: #fff;
    font-size:16px;
  }

  .success, .error {
    display: none;
  }
}
</style>
