@font-face {
	font-family: 'HelveticaNeueCyr';
	font-display: swap;
	src: url('/fonts/HelveticaNeueCyr-Roman.eot');
	src: local('/fonts/HelveticaNeueCyr-Roman'),
	url('/fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
	url('/fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
	url('/fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	font-display: swap;
	src: url('/fonts/HelveticaNeueCyr-Bold.eot');
	src: local('/fonts/HelveticaNeueCyr-Bold'),
	url('/fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
	url('/fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
	url('/fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	font-display: swap;
	src: url('/fonts/HelveticaNeueCyr-Light.eot');
	src: local('/fonts/HelveticaNeueCyr-Light'),
	url('/fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
	url('/fonts/HelveticaNeueCyr-Light.woff') format('woff'),
	url('/fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueCyr';
	font-display: swap;
	src: url('/fonts/HelveticaNeueCyr-Thin.eot');
	src: local('/fonts/HelveticaNeueCyr-Thin'),
	url('/fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
	url('/fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
	url('/fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
  	font-family: 'boulder-icons';
  	src:  url('/fonts/boulder-icons.eot?qytbr1');
  	src:  url('/fonts/boulder-icons.eot?qytbr1#iefix') format('embedded-opentype'),
    url('/fonts/boulder-icons.ttf?qytbr1') format('truetype'),
    url('/fonts/boulder-icons.woff?qytbr1') format('woff'),
    url('/fonts/boulder-icons.svg?qytbr1#icomoon') format('svg');
  	font-weight: normal;
  	font-style: normal;
  	font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'boulder-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color:#000000;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
	content: "\e905";
}
.icon-home:before {
	content: "\e906";
}
body .icon-youtube .path1,
body .icon-youtube .path2{
	font-family: 'boulder-icons' !important;
}
.icon-youtube .path1:before {
	content: "\e909";
	color: #f00;
}
.icon-youtube .path2:before {
	content: "\e90a";
	margin-left: -1em;
	color: #f00;
}
.icon-minus:before {
	content: "\e900";
}
.icon-plus:before {
	content: "\e901";
}
.icon-360:before {
	content: "\e902";
}
.icon-facebook:before {
	content: "\e903";
}
.icon-instagram:before {
	content: "\e904";
}
.icon-r:before {
	content: "\e907";
}
.icon-vk:before {
	content: "\e908";
}
.icon-doc-download:before {
	content: "\e90b";
}
.icon-doc-ok:before {
	content: "\e90c";
}
.icon-doc-send:before {
	content: "\e90d";
}
.icon-ok:before {
	content: "\e90e";
}
.icon-location-circle:before {
	content: "\e90f";
}
.icon-location:before {
	content: "\e910";
	
}
.icon-download:before {
	content: "\e912";
}
.icon-defend:before {
	content: "\e913";
}
.icon-weather-defend:before {
	content: "\e914";
}
.icon-photo:before {
	content: "\e915";
	
}
.icon-user:before {
	content: "\e916";
}
.icon-no-photo:before {
	content: "\e917";
}
.icon-loading-height:before {
	content: "\e918";
}
.icon-capacity:before {
	content: "\e919";
	
}
.icon-bucket:before {
	content: "\e91a";
}
.icon-weight:before {
	content: "\e91b";
}
.icon-mail:before {
	content: "\e91c";
	
}
.icon-share:before {
	content: "\e91d";
}
.icon-delivery:before {
	content: "\e91e";
}
.icon-calc:before {
	content: "\e91f";
}
.icon-compare:before {
	content: "\e920";
	
}
.icon-arrow:before {
	content: "\e921";
}
.icon-phone:before {
	content: "\e922";
}
.icon-gear:before {
	content: "\e923";
}
