.slider {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.slider.slider-horizontal {
	width: 210px;
	height: 50px;
	border-radius: 25px !important;
}
.slider.slider-horizontal .slider-track {
	height: 52px;
	background: #565656;
	box-shadow:inset 2px 2px 6px rgba(0,0,0,0.8);
	margin-top: 0;
	top: -2px;
	border-radius: 25px !important;
	width: calc(100% + 50px);
	left: -10px;
}
.slider.slider-horizontal .slider-selection,
.slider.slider-horizontal .slider-track-low,
.slider.slider-horizontal .slider-track-high {
	height: 100%;
	top: 0;
	bottom: 0;
}
.slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle {
	margin-left: -10px;
}
.slider.slider-horizontal .slider-tick.triangle,
.slider.slider-horizontal .slider-handle.triangle {
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	border-width: 0 10px 10px 10px;
	width: 0;
	height: 0;
	border-bottom-color: #2e6da4;
	margin-top: 0;
}
.slider.slider-horizontal .slider-tick-container {
	white-space: nowrap;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.slider.slider-horizontal .slider-tick-label-container {
	white-space: nowrap;
	margin-top: 20px;
}
.slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
	padding-top: 4px;
	display: inline-block;
	text-align: center;
}
.slider.slider-horizontal .tooltip {
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.slider.slider-horizontal.slider-rtl .slider-track {
	left: initial;
	right: 0;
}
.slider.slider-horizontal.slider-rtl .slider-tick,
.slider.slider-horizontal.slider-rtl .slider-handle {
	margin-left: initial;
	margin-right: -10px;
}
.slider.slider-horizontal.slider-rtl .slider-tick-container {
	left: initial;
	right: 0;
}
.slider.slider-horizontal.slider-rtl .tooltip {
	-ms-transform: translateX(50%);
	transform: translateX(50%);
}
.slider.slider-disabled .slider-handle {
	background-image: -webkit-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
	background-image: -o-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
	background-image: linear-gradient(to bottom, #dfdfdf 0%, #bebebe 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf', endColorstr='#ffbebebe', GradientType=0);
	background-repeat: repeat-x;
}
.slider.slider-disabled .slider-track {
	background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%);
	background-image: -o-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%);
	background-image: linear-gradient(to bottom, #e5e5e5 0%, #e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffe9e9e9', GradientType=0);
	background-repeat: repeat-x;
	cursor: not-allowed;
}
.slider input {
	display: none;
}
.slider .tooltip {
	pointer-events: none;
	position: absolute;
	z-index: 1;
	transform:none !important;
	top:0px !important;
	width:50px;
	height:50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin:0 0 0 -10px !important;
}
.slider .tooltip-max{
}
.slider .tooltip.top {
	margin-top: -36px;
}
.slider .tooltip-inner {
	white-space: nowrap;
	max-width: none;
}
.slider .hide {
	display: none;
}
.slider-track {
	position: absolute;
	cursor: pointer;
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
	background-image: -o-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
	background-image: linear-gradient(to bottom, #f5f5f5 0%, #f9f9f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
	background-repeat: repeat-x;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}
.slider-selection {
	position: absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 25px;
}
.slider-selection.tick-slider-selection {
	background-image: -webkit-linear-gradient(top, #8ac1ef 0%, #82b3de 100%);
	background-image: -o-linear-gradient(top, #8ac1ef 0%, #82b3de 100%);
	background-image: linear-gradient(to bottom, #8ac1ef 0%, #82b3de 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8ac1ef', endColorstr='#ff82b3de', GradientType=0);
	background-repeat: repeat-x;
}
.slider-track-low,
.slider-track-high {
	position: absolute;
	background: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 4px;
}
.slider-handle {
	position: absolute;
	top: 0;
	width: 50px;
	height: 50px;
	background-color: #337ab7;
	background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
	background-image: -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
	background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
	background-repeat: repeat-x;
	filter: none;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	border: 0px solid transparent;
}
.slider-handle:hover {
	cursor: pointer;
}
.slider-handle.round {
	border-radius: 50%;
}
.slider-handle.triangle {
	background: transparent none;
}
.slider-handle.custom {
	background: transparent none;
}
.slider-handle.custom::before {
	line-height: 20px;
	font-size: 20px;
	content: '\2605';
	color: #726204;
}
.slider-tick {
	position: absolute;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
	background-image: -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
	background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
	background-repeat: repeat-x;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	filter: none;
	opacity: 0.8;
	border: 0px solid transparent;
}
.slider-tick.round {
	border-radius: 50%;
}
.slider-tick.triangle {
	background: transparent none;
}
.slider-tick.custom {
	background: transparent none;
}
.slider-tick.custom::before {
	line-height: 20px;
	font-size: 20px;
	content: '\2605';
	color: #726204;
}
.slider-tick.in-selection {
	background-image: -webkit-linear-gradient(top, #8ac1ef 0%, #82b3de 100%);
	background-image: -o-linear-gradient(top, #8ac1ef 0%, #82b3de 100%);
	background-image: linear-gradient(to bottom, #8ac1ef 0%, #82b3de 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8ac1ef', endColorstr='#ff82b3de', GradientType=0);
	background-repeat: repeat-x;
	opacity: 1;
}
.max-slider-handle{
	box-sizing: border-box;
}
.tooltip-inner{
	z-index: 2;
	position: relative;
}
.tooltip-main{
	display:none !important;
}
.tooltip-min{
	border-radius: 50%;
	box-sizing: border-box;
}
.tooltip-max{
	box-sizing: border-box;
	border-radius: 50%;
}