<template>
  <div class="news-wrapper">
    <div class="news-container">
      <div class="last-news" @click="goTo(newsList[0].newsUrl)">
        <div class="img">
          <img :src="`/img/media/news/${ (date(this.newsList[0].date)).replace(/\./g,'') }/preview.png`" alt="">
          <span class="dark-layout"></span>
        </div>
        <div class="info">
          <div class="top">
            <span class="title">{{ newsList[0].title }}</span>
            <span class="date">{{ date(newsList[0].date) }}</span>
          </div>
          <p v-html="this.newsList[0].block1"></p>
          <nuxt-link :to="{ name: `/news/${(this.newsList[0].id)}`, params: { id: this.newsList[0]._id }}">
            Читать полностью
          </nuxt-link>
        </div>
      </div>
      <perfect-scrollbar ref="ps">
        <div class="news-block" v-for="item of displayedNewsList">
          <div class="news-block-inner" @click="goTo(item.newsUrl)">
					<span class="title">
            {{ item.title }}
            <span class="mobile-date">
              {{ date(item.date) }}
            </span>
          </span>
            <div class="img">
              <img :src="`/img/media/news/${ (date(item.date)).replace(/\./g,'') }/preview.png`" alt="">
            </div>
            <p v-html="item.block1"></p>
            <div class="news-block-bottom">
              <nuxt-link :to="`/news/${item.newsUrl}`">Читать полностью</nuxt-link>
              <!--<span @click="readMore(item)">Читать полностью</span>-->
              <span>{{ date(item.date) }}</span>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
    </div>

    <div class="pagination">
      <ul>
        <li
            v-for="(currentPage, index) of totalPages"
            @click="page = index + 1"
            :class="{'active': page === index + 1 }">
          {{ index + 1 }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import {slugify} from 'transliteration';

export default {
  name: "news",
  layout: 'media',
  head() {
    return {
      title: 'Новости о фронтальных и вилочных погрузчиках Boulder, события и акции',
      meta: [
        { hid: 'description', name: 'description', content: 'Все свежие новости о фронтальных и вилочных погрузчиках компании Boulder, а также специальные предложения и акции можно посмотреть на оф.сайте' }
      ]
    }
  },
  data() {
    return {
      windowWidth: 0,
      page: 1,
      perPage: 4,
      pages: [],
      hiddenNews: [],
    }
  },

  async asyncData({store}) {
    let newList
    store.getters['media/news'] ? newList = store.getters['media/news'] : newList = await store.dispatch('media/fetchNews')
    let newsList = newList.slice(0);
    newsList.sort(function (a, b) {
      return new Date(b.date) - new Date(a.date);
    });
    return {newsList}
  },
  mounted: function () {
    this.$nextTick(function () {
      this.onResize();
    })
    window.addEventListener('resize', this.onResize)


  },
  computed: {
    displayedNewsList() {
      return this.paginate(this.newsList);
    },
    totalPages() {
      return Math.ceil(this.newsList.length / this.perPage);
    },

  },
  methods: {
    /*readMore(item){
      this.$router.push({path: `/news/${this.slugTest(item.title)}`, params: {id: item._id}});
    },*/
    goTo(to) {
      this.$router.push(`/news/${to}`)
    },
    slugTest(value) {
      return slugify(value)
    },
    date(value) {
      let string = value
      let tPosition = string.indexOf('T')
      let date = string.slice(0, tPosition) + 'T23:00:00.000Z'

      date = new Date(date)
      let dd = date.getDate()
      if (dd < 10) dd = '0' + dd;
      let mm = date.getMonth() + 1;
      if (mm < 10) mm = '0' + mm;
      let yy = date.getFullYear();

      return dd + '.' + mm + '.' + yy;
    },
    onResize() {
      if (window.innerWidth < 1200) {
        this.perPage = 99999999
      } else {
        this.perPage = 4
      }
    },
    setPages() {
      let numberOfPages = Math.ceil(this.newsList.length / this.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index);
      }
    },
    paginate(list) {
      let page = this.page;
      let perPage = this.perPage;
      let from = (page * perPage) - perPage;
      let to = (page * perPage);
      return list.slice(from, to);
    }
  },
  watch: {
    newsList() {
      this.setPages();
    }
  }
}
</script>

<style lang="less" scoped>

</style>
