<template>
  <div class="catalog-content" :class="{'filter-closed' : filterToggle}">
    <div class="prev-arrow" @click="buttonScrollLeft"></div>
    <div class="next-arrow" @click="buttonScrollRight"></div>
    <div class="breadcrumbs">
      <ul>
        <li>
          <nuxt-link to="/"><span class="icon-home breadcrumbs-home"></span></nuxt-link>
        </li>
        <li>
          <span @click="breadcrumbsHiddenMenu = !breadcrumbsHiddenMenu">{{ typeRu().name }} <span class="arrow">▼</span></span>

          <div v-if="breadcrumbsHiddenMenu" class="breadcrumbs-type-menu">
            <div class="overlay" @click="breadcrumbsHiddenMenu = !breadcrumbsHiddenMenu"></div>
            <ul class="hidden-menu">
              <li v-for="link of links" @click="step(link.to)">{{ link.name }}</li>
            </ul>
            <i></i>
          </div>

        </li>
      </ul>
      <div class="quantity-info">
        <span class="current-number" ref="currentNumber">{{ filteredProductList.length }}</span>
        из
        <span class="total-number">{{ this.productListMain.length }}</span>
        моделей
      </div>
      <div class="menu-toggle" @click="menuShownToggle" :class="{'active': menuShown}">
        <span></span><span></span><span></span>
      </div>
    </div>
    <div class="product-container" :class="{'full': !filter, 'cut': filter}">
      <perfect-scrollbar ref="ps" :options="scrollOptions">
        <div class="product-wrapper" :class="{'out-of-view':filteredProductList.length > 9}">
          <div class="item" v-for="(item, i) of filteredProductList" @click="modelOpen(item)">
            <div class="item-inner">
              <span class="model">{{ item.Name }}</span>
              <ul class="info">
                <li v-if="item.VehicleTypeId !== 1376760">
                  <span v-if="productsType === 'excavator'" class="title">Высота копания</span>
                  <span v-else class="title">Емкость ковша</span>
                  <span class="value">{{ item.catalogMainSpecifications.bucketCapacity }}</span>
                </li>
                <li v-if="item.VehicleTypeId === 1376760">
                  <span class="title">Высота подъема</span>
                  <span class="value">{{ item.catalogMainSpecifications.liftingHeight }}</span>
                </li>
                <li>
                  <span v-if="productsType === 'excavator'" class="title">Глубина копания</span>
                  <span v-else class="title">Грузоподъемность</span>
                  <span class="value">{{ item.catalogMainSpecifications.carryingCapacity }}</span>
                </li>
                <li>
                  <span class="title">Масса</span>
                  <span class="value">{{ item.catalogMainSpecifications.weight }}</span>
                </li>
              </ul>
              <img class="catalog-item-img" :src="`https://epc.kuzmin.online/epcapi/raw_file/${item.imgId}/256`" alt="">
            </div>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
    <div class="catalog-filter" :class="{'closed': !filter}">
      <div class="always-visible">
        <span class="filter-hide-btn" @click="filterHide">
          <span v-if="filter">Скрыть фильтры</span>
          <span v-else>Показать фильтры</span>
        </span>
        <div class="quantity-info">
          <span class="current-number" :class="{'animate': numberAnimate}"
                ref="currentNumber2">{{ filteredProductList.length }}</span>
          из
          <span class="total-number">{{ this.productListMain.length }}</span>
          моделей
        </div>
      </div>

      <div class="type-filter-wrapper type" v-if="productsType === 'forkloaders'">
        <span class="name">Тип</span>
        <div class="value" @click="typeToggle" :class="{'opened': typeFilter.opened}">
					<span>{{ typeFilter.name }}<i>▲</i></span>
					<ul class="fork-sub-menu">
						<li v-for="(listItem, i) of typeFilter.list" :key="i"
                @click="setTypeFilter(listItem.val, listItem.name)">{{ listItem.name }}</li>
					</ul>
				</div>
      </div>
      <div class="filter-wrapper" v-if="productsType !== 'forkloaders'">
        <span class="filter-name"><span v-if="productsType === 'excavator'">Максимальная высота копания</span><span v-else>Емкость ковша</span><span class="measure" v-if="productsType === 'excavator'">мм</span><span v-else class="measure">м&sup3;</span></span>
        <b-form-slider :value="filterDynamicValues.valueBucket" :tooltipSplit="true" :min="0"
                       :max="filterDynamicValues.valueBucket[1]" :step="0.1" @change="changeBucket"/>
      </div>
      <div class="filter-wrapper" v-if="productsType === 'forkloaders'">
        <span class="filter-name"><span>Высота подъема</span><span class="measure">м&sup3;</span></span>
        <b-form-slider :value="filterDynamicValues.valueLift" :tooltipSplit="true" :min="0"
                       :max="filterDynamicValues.valueLift[1]" :step="0.5" @change="changeLift"/>
      </div>
      <div class="filter-wrapper">
        <span class="filter-name"><span v-if="productsType === 'excavator'">Максимальная глубина копания</span><span v-else>Грузоподъемность</span><span class="measure">мм</span></span>
        <b-form-slider :value="filterDynamicValues.valueCarryingCapacity" :tooltipSplit="true" :min="0"
                       :max="filterDynamicValues.valueCarryingCapacity[1]" @change="changeCarrying"/>
      </div>
      <div class="filter-wrapper">
        <span class="filter-name"><span>Масса</span><span class="measure">кг</span></span>
        <b-form-slider :value="filterDynamicValues.valueWeight" :tooltipSplit="true" :min="0"
                       :max="filterDynamicValues.valueWeight[1]" @change="changeWeight"/>
      </div>
      <div class="quantity-info"><span class="current-number">{{ filteredProductList.length }}</span>
        из
        <span class="total-number">{{ this.productListMain.length }}</span>
        моделей
      </div>
    </div>
    <transition name="slide-fade">
      <site-menu v-if="menuShown" @closeMenuAction="closeMenu"></site-menu>
    </transition>
    <transition name="slide-fade-reverse">
      <div class="type-menu" v-if="breadcrumbsHiddenMenu">
        <div class="layout" @click="breadcrumbsHiddenMenu = false"></div>
        <ul class="">
          <li v-for="link of links" @click="step(link.to)">{{ link.name }}</li>
          <li @click="breadcrumbsHiddenMenu = !breadcrumbsHiddenMenu" style="font-size: 14px; color: #999;">Назад</li>
        </ul>
      </div>
    </transition>
  </div>
</template>
<script>
import {horizontalScrollWheel} from '@/mixins/horizontalScrollWheel'
import SiteMenu from '@/components/main/SiteMenu'
import {mapMutations} from 'vuex'
import Location from "@/components/main/Location";

export default {
  name: "catalog",
  layout: 'catalog',
  components: {
    SiteMenu
  },
  mixins: [horizontalScrollWheel],
  validate({params}) {
    let validate = false
    if (params.type === undefined || params.type === 'frontloaders' || params.type === 'forkloaders' || params.type === 'backhoe' || params.type === 'excavator') {
      validate = true
    }
    return validate
  },
  data() {
    return {
      menuShown: false,
      filter: true,
      scrollOptions: {
        suppressScrollY: true,
      },
      breadcrumbsHiddenMenu: false,
      typeFilter: {
        opened: false,
        value: 'all',
        name: 'Все',
        list: [
          {name: 'Все', val: 'all'},
          {name: 'Дизельные', val: 'diesel'},
          {name: 'Газ-бензиновые', val: 'gaz-petrol'},
          {name: 'Электрические', val: 'electro'},
          {name: 'Электрические штабелеры (ричтраки)', val: 'electro-stacker'},
          {name: 'Электрические 3-х опорные', val: 'electro-three-support'},
        ],
      },
      mainFilter: {
        bucketCapacity: {
          min: null,
          max: null,
        },
        carryingCapacity: {
          min: null,
          max: null,
        }
      },
      filterValues: {
        valueLift: [0, 9999],
        valueBucket: [0, 9999],
        valueCarryingCapacity: [0, 99999999],
        valueWeight: [0, 99999999],
      },
      links: [
        {name: 'Фронтальные погрузчики', to: '/catalog/frontloaders'},
        {name: 'Вилочные погрузчики', to: '/catalog/forkloaders'},
        {name: 'Экскаваторы-погрузчики', to: '/catalog/backhoe'},
        {name: 'Экскаваторы', to: '/catalog/excavator'},
      ],
      numberAnimate: false,
    }
  },
  asyncData: async function ({store, params}) {
    let currentType, productListMainAll
    const productListMain = []
    let productsType = params.type || 'frontloaders'

    if (!params.type || params.type === "frontloaders") {
      currentType = 1376757
    }
    switch (params.type) {
      case 'frontloaders':
        currentType = 1376757
        break;
      case 'forkloaders':
        currentType = 1376760
        break;
      case 'backhoe':
        currentType = 1376758
        break;
      case 'excavator':
        currentType = 1376759
        break;
    }
    store.getters.allVehiclesWithChars ? productListMainAll = store.getters.allVehiclesWithChars : productListMainAll = await store.dispatch('fetchAllVehiclesWithChars', {root: true})
    productListMainAll.forEach(function (item) {
      if (item.VehicleTypeId === currentType) {
        productListMain.push(item)
      }
    })
    return {productListMain, productsType}
  },
  mounted() {
    let forkType = this.$route.query
    switch (Object.values(forkType)[0]) {
      case 'all':
        this.typeFilter.name = 'Все'
        this.typeFilter.value = 'all'
        break
      case 'diesel':
        this.typeFilter.name = 'Дизельные'
        this.typeFilter.value = 'diesel'
        break
      case 'electro':
        this.typeFilter.value = 'electro'
        this.typeFilter.name = 'Электрические'
        break
      case 'gaz-petrol':
        this.typeFilter.value = 'gaz-petrol'
        this.typeFilter.name = 'Газ-бензиновые'
        break
      case 'electro-stacker':
        this.typeFilter.value = 'electro-stacker'
        this.typeFilter.name = 'Электрические штабелеры (ричтраки)'
        break
      case 'electro-three-support':
        this.typeFilter.value = 'electro-three-support'
        this.typeFilter.name = 'Электрические 3-х опорные'
        break
    }
    if (window.innerWidth > window.innerHeight && window.innerHeight < 500) this.filter = false
  },
  computed: {
    filterToggle() {
      return this.$store.state.catalog.catalogFilterOpened
    },
    filteredProductList() {
      let array = []
      for (let i = 0; i < this.productListMain.length; i++) {
        let item = this.productListMain[i]
        if (item.VehicleTypeEng === 'Forklifts' && this.typeFilter.value !== 'all') {
          let accept = false
          switch (this.typeFilter.value) {
            case 'diesel':
              item.characteristics.forEach(function(charItem){
                if(charItem.FeatureNameRus === "Тип техники" && charItem.ValueRus === 'Дизельные') {
                  accept = true
                }
              })
              break;
            case 'electro':
              item.characteristics.forEach(function(charItem){
                if(charItem.FeatureNameRus === "Тип техники" && charItem.ValueRus === 'Электрические') {
                  accept = true
                }
              })
              break;
            case 'gaz-petrol':
              item.characteristics.forEach(function(charItem){
                if(charItem.FeatureNameRus === "Тип техники" && charItem.ValueRus === 'Газ-бензиновые') {
                  accept = true
                }
              })
              break;
            case 'electro-stacker':
              item.characteristics.forEach(function(charItem){
                if(charItem.FeatureNameRus === "Тип техники" && charItem.ValueRus === 'Электрические штабелеры (ричтраки)') {
                  accept = true
                }
              })
              break;
            case 'electro-three-support':
              item.characteristics.forEach(function(charItem){
                if(charItem.FeatureNameRus === "Тип техники" && charItem.ValueRus === 'Электрические 3-х опорные') {
                  accept = true
                }
              })
              break;
          }
          if(!accept){
            continue
          }
        }
        if (item.catalogMainSpecifications.bucketCapacity) {
          let bucketStr = item.catalogMainSpecifications.bucketCapacity.replace(' ', '')
          bucketStr = bucketStr.replace(',', '.')
          let bucketMin,
              bucketMax;
          let slashPosition
          if (this.productsType === "excavator"){
            slashPosition = bucketStr.indexOf('×')
          } else {
            slashPosition = bucketStr.indexOf('/')
          }
          if (slashPosition === -1) {
            bucketMin = bucketStr.replace(',', '.');
            bucketMax = bucketStr.replace(',', '.');
          } else {
            bucketMin = bucketStr.replace(',', '.').slice(0, slashPosition);
            bucketMax = bucketStr.replace(',', '.').slice(slashPosition + 1);
          }

          if (bucketMin < this.filterValues.valueBucket[0] || bucketMax > this.filterValues.valueBucket[1]) {
            continue
          }
        }
        if (item.catalogMainSpecifications.carryingCapacity) {
          let carryingCapacityStr = item.catalogMainSpecifications.carryingCapacity.split(' ').join('')
          if (carryingCapacityStr < this.filterValues.valueCarryingCapacity[0] || carryingCapacityStr > this.filterValues.valueCarryingCapacity[1]) {
            continue
          }
        }
        if (item.catalogMainSpecifications.weight) {
          let weightStr = item.catalogMainSpecifications.weight.split(' ').join('')
          if (weightStr < this.filterValues.valueWeight[0] || weightStr > this.filterValues.valueWeight[1]) {
            continue
          }
        }
        if (item.catalogMainSpecifications.liftingHeight) {
          let liftStr = item.catalogMainSpecifications.liftingHeight.split(' ').join('')
          liftStr = liftStr.split(',').join('.')
          let liftMin,
              liftMax;
          let position = liftStr.indexOf('-')
          if (position === -1) {
            liftMin = liftStr
            liftMax = liftStr
          } else {
            liftMin = liftStr.slice(0, position);
            liftMax = liftStr.slice(position + 1);
          }
          if (liftMin < this.filterValues.valueLift[0] || liftMax > this.filterValues.valueLift[1]) {
            continue
          }
        }

        array.push(item)
      }
      return array
    },
    filterDynamicValues() {
      let maxLift = 0
      let maxBucket = 0
      let maxCarry = 0
      let maxWeight = 0

      for (let i = 0; i < this.productListMain.length; i++) {
        let item = this.productListMain[i]

        let liftStr = item.catalogMainSpecifications.liftingHeight.split(' ').join('')
        liftStr = liftStr.split(',').join('.')
        let position = liftStr.indexOf('-')
        let liftMax = Number(liftStr.slice(position + 1));
        if (liftMax > maxLift) {
          maxLift = liftMax
        }

        let bucketStr = item.catalogMainSpecifications.bucketCapacity.split(' ').join('')
        bucketStr = bucketStr.split(',').join('.')
        let slashPosition
        if (this.productsType === "excavator"){
          slashPosition = bucketStr.indexOf('×')
        } else {
          slashPosition = bucketStr.indexOf('/')
        }
        let bucketMax = Number(bucketStr.slice(slashPosition + 1));

        if (bucketMax > maxBucket) {
          maxBucket = bucketMax
        }

        if (Number(item.catalogMainSpecifications.carryingCapacity) > maxCarry) {
          maxCarry = Number(item.catalogMainSpecifications.carryingCapacity)
        }

        if (Number(item.catalogMainSpecifications.weight) > maxWeight) {
          maxWeight = Number(item.catalogMainSpecifications.weight)
        }

      }

      return {
        valueLift: [0, maxLift],
        valueBucket: [0, maxBucket],
        valueCarryingCapacity: [0, maxCarry],
        valueWeight: [0, maxWeight],
      }
    }
  },
  methods: {
    buttonScrollLeft(duration){
      let element = document.querySelector('.ps')
      element.scroll({
        left: element.scrollLeft - 400,
        top: 0,
        behavior: 'smooth'
      })
    },
    buttonScrollRight(duration){
      console.log(element)
      let element = document.querySelector('.ps')
      console.log(element)
      element.scroll({
        left: element.scrollLeft + 400,
        top: 0,
        behavior: 'smooth'
      })
    },
    menuShownToggle() {
      this.menuShown = !this.menuShown
    },
    closeMenu(data) {
      this.menuShown = data;
      this.desktopMenuShown = data
    },
    filterHide() {
      this.filter = !this.filter
    },
    getListFromStore() {
      this.productListMain = this.$store.state.lastProductListMain
    },

    ...mapMutations({
      toggleFilter: 'catalog/catalogFilterToggle'
    }),
    changeBucket(valueObj) {
      this.filterValues.valueBucket = valueObj.newValue
    },
    changeLift(valueObj) {
      this.filterValues.valueLift = valueObj.newValue
    },
    changeCarrying(valueObj) {
      let previousLength = this.filteredProductList.length
      this.filterValues.valueCarryingCapacity = valueObj.newValue
      if (previousLength !== this.filteredProductList.length) {
        this.numberAnimate = true

        setTimeout(function () {
          this.numberAnimate = false
        }, 2000)
      }
    },
    changeWeight(valueObj) {
      this.filterValues.valueWeight = valueObj.newValue
    },
    typeToggle() {
      this.typeFilter.opened = !this.typeFilter.opened
    },
    setTypeFilter(type, name) {
      this.typeFilter.value = type;
      this.typeFilter.name = name
    },
    modelOpen(model) {
      this.$router.push(`/catalog/${this.productsType}/${model.Name.replace(' ', '').toLowerCase()}`)
    },
    typeRu() {
      switch (this.productsType) {
        case 'frontloaders':
          return {
            type: 'frontloaders',
            name: 'Фронтальные погрузчики',
          };
        case 'forkloaders':
          return {
            type: 'forkloaders',
            name: 'Вилочные погрузчики',
          };
        case 'backhoe':
          return {
            type: 'backhoe',
            name: 'Экскаваторы-погрузчики',
          };
        case 'excavator':
          return {
            type: 'excavator',
            name: 'Экскаваторы',
          };

        default:
          return 'Погрузчики';
      }
    },
    step(to) {
      this.breadcrumbsHiddenMenu = !this.breadcrumbsHiddenMenu
      this.$router.push(to)
    },
  }
}
</script>
<style lang="less">

.type-menu {
  display: none;
}
body .catalog-layout .always-visible .quantity-info{
  display: flex !important;
  align-items: flex-end;
  line-height: inherit !important;
}
@media (max-width: 767px) {
  .catalog-content .breadcrumbs {
    position: fixed;
    top: 0;
    left: 0;
    background: #292929;
    z-index: 99;
  }

  .breadcrumbs-type-menu {
    display: none;
  }

  .type-menu {
    display: flex;
    max-width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    margin-left: 0;
    width: 320px;
    border-radius: 0;
    height: 100%;
    background: #232323;
    z-index: 999 !important;
    overflow: hidden;
    align-items: center;
    .layout{
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0,0,0,0.8);
    }
    ul {
      z-index:1;
      list-style: none;
      padding: 20% 0 20% 30px;
      position: relative;
      height: 100%;
      background: #292929;
      width: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      justify-content: space-around;
      &:before {
        width: 8px;
        height: 100%;
        position: absolute;
        left: -4px;
        top: 0;
        content: '';
        display: block;
        background: #FF0000;
        border-radius: 6px;
        box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.5);
      }

      li {
        font-size: 16px;
        line-height: 35px;

        &:last-child {
          margin-top: 20px;
        }
      }
    }
  }

  .catalog-content .breadcrumbs .overlay {
    background: rgba(0, 0, 0, 0.8);
    min-width: 2000px;
    min-height: 2000px;
  }

  .catalog-layout .breadcrumbs ul li .hidden-menu {
    display: flex;
    flex-direction: column;
    background: none;
    max-width: none !important;
    width: 100%;
    min-width: 400px;
    justify-content: flex-start !important;
    align-items: flex-start;
    left: 0;

    li {
      font-size: 18px !important;
      width: 100% !important;
      line-height: 30px;

      &:last-child {
        max-width: none;
      }
    }
  }
}
@media (min-width: 1024px) {
  .always-visible {
    display: none !important;
  }
}
.filterHide-enter-active {
  transition: .6s ease;
}

.filterHide-leave-active {
  transition: .6s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.filterHide-enter, .filterHide-leave-to {
  max-height: 0;
  opacity: 0;
}

.catalog-content .catalog-filter.closed {
  max-height: 60px;
  overflow: hidden;
  transition: 0.5s;
  opacity: 1;
  .filter-wrapper,
  .type-filter-wrapper {
    opacity: 0;
    transition: 0.5s;
  }
}

.always-visible {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;

  .quantity-info {
    display: flex !important;
    flex-direction: row;
    padding: 0;
    width: auto;
    justify-content: flex-start;

    .total-number {
      margin-right: 5px !important;
    }
  }
}

.filter-hide-btn {
  padding: 20px 0;
}

.breadcrumbs .menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 17px;
  margin-left: 10px;

  span {
    display: block;
    width: 33px;
    height: 3px;
    background: #FF0000;

    &:first-child {
      transform: rotate(0deg);

      transition: 0.3s;
    }

    &:nth-child(2) {
      opacity: 1;
      transition: 0.3s;
    }

    &:last-child {

      transform: rotate(0deg);
      transition: 0.3s;
    }
  }
}
.prev-arrow{
  left: 25px;
  position: absolute;
  height: 30px;
  width: 30px;
  background: none;
  top: 50%;
  margin-top: -15px;
  transform:rotate(180deg);
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
}
.prev-arrow:before{
  content: "\e921";
  font-size:23px;
  font-family: 'boulder-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
.next-arrow{
  right: 25px;
  position: absolute;
  height: 30px;
  width: 30px;
  top: 50%;
  margin-top: -15px;
}
.next-arrow:before{
  font-size:23px;
  content: "\e921";
  font-family: 'boulder-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
}
@media (max-width: 1023px) {
  .catalog-content .breadcrumbs .quantity-info {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .prev-arrow,
  .next-arrow{
    display:none;
  }
  .breadcrumbs .menu-toggle {
    display: flex;
  }

  .catalog-content .breadcrumbs .quantity-info {
    justify-self: flex-end;
    flex-grow: 1;
    margin-right: 20px;

    .total-number {
      margin-right: 5px;
    }
  }
}
</style>
