<template>
  <transition name="layout" mode="out-in">
    <div class="admin-layout">
      <div class="admin-header">
        хэдер
      </div>
      <div class="admin-container">
        <div class="admin-sidebar">
          <admin-menu></admin-menu>
        </div>
        <div class="admin-content">
          <nuxt/>
        </div>
      </div>
      <div class="admin-footer">
      </div>
    </div>
  </transition>
</template>

<script>
import AdminMenu from '@/components/admin/AdminMenu'
import ProductAdd from '@/components/admin/ProductAdd'

export default {
  name: "admin",
  components: {
    AdminMenu,
    ProductAdd
  },
  computed: {
    error() {
      return this.$store.getters.error
    }
  },
  watch: {
    error(value) {
      this.$swal(value.response.data.message, '', 'error')
    }
  }

}
</script>

<style lang="less">
.admin-layout {
  .modal-info{
    .controls{
      display:flex;
      width:250px;
      justify-content: space-between;
      span{
        display: flex;
        align-items: center;
        margin: 10px 0;
        border: 2px solid #FF0000;
        background: none;
        padding: 0 15px;
        height: 35px;
        line-height: 30px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in;
        background: #FF0000;
        color: #fff !important;
        font-weight: 400;
        box-sizing: border-box;
        &.update{
          background:#ffff00;
          color:#000000;
          border:1px solid #FFFF00;
        }
      }
    }
  }
}
</style>
