<template>
  <transition name="layout" mode="out-in">
    <div class="default-layout model-layout attachment-layout">
      <div class="menu-layout" :class="{'scrolled': this.scrolled}">
        <div class="menu-toggle for-mobile" @click="menuShownToggle" :class="{'active': menuShown}">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="hidden-layout">
          <div class="phone">
            <a href="tel:88002500425">8 800 25 004 25</a>
          </div>
        </div>
      </div>
      <div class="layout-container">
        <div class="header">
          <div class="header_left-part">
            <div @click="desktopMenuShownToggle" class="menu-toggle" :class="{'active': desktopMenuShown}">
              <div class="toggle">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <span>Меню</span>
            </div>
            <div class="account">
              <span class="account-icon icon-user"></span>
              <span>Личный кабинет</span>
            </div>
            <transition name="slide-fade">
              <site-menu v-if="desktopMenuShown" @closeMenuAction="closeMenu"></site-menu>
            </transition>
          </div>
          <div class="header_logo">
            <nuxt-link to="/">
              <div class="logo-wrapper">
                <span>Спецтехника</span>
                <span>болдер<span class="icon-r"></span></span>
                <img src="@/static/img/boulder-logo.svg" alt="">
              </div>
              <span class="madein">cделано в России</span>
            </nuxt-link>
          </div>
          <div class="header_right-part">
            <location></location>
            <div class="phone">
              <span class="icon-phone"></span>
              <a href="tel:88002500425">8 800 25 004 25</a>
            </div>
          </div>
        </div>
      </div>
      <div class="main-content">
        <nuxt/>
      </div>
      <transition name="slide-fade">
        <site-menu v-if="menuShown" @closeMenuAction="closeMenu" @partsOrderOpen="partsOrderToggle = !partsOrderToggle"></site-menu>
      </transition>
      <transition name="slide-up-fade">
        <div class="call-order-wrapper parts-order-wrapper" v-if="partsOrderToggle">
          <parts-order @formToggle="partsOrderToggle = !partsOrderToggle"></parts-order>
        </div>
      </transition>
    </div>
  </transition>
</template>

<script>
import SiteMenu from '@/components/main/SiteMenu'
import Location from '../components/main/Location.vue'
const PartsOrder = () => import ("../components/main/PartsOrder")

export default {
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href: process.env.BASE_URL + this.$route.path
        }
      ]
    }
  },
  data() {
    return {
      partsOrderToggle: false,
      scrolled: false,
      menuShown: false,
      desktopMenuShown: false,
    }
  },
  mounted() {
    window.scrollTo(0, 0);
  },

  components: {
    SiteMenu, Location, PartsOrder
  },
  computed: {
    trueActive() {
      let url = this.$route.fullPath
      return !(url.indexOf('player') !== -1 || url.indexOf('info') !== -1 || url.indexOf('sets') !== -1 || url.indexOf('options') !== -1 || url.indexOf('attachments') !== -1);
    },
    mainLink() {
      let url = this.$route.fullPath
      let thisPage

      if (url.indexOf('player') !== -1) thisPage = 'player';
      if (url.indexOf('info') !== -1) thisPage = 'info'
      if (url.indexOf('sets') !== -1) thisPage = 'sets'
      if (url.indexOf('options') !== -1) thisPage = 'options'
      if (url.indexOf('attachments') !== -1) thisPage = 'attachments'

      return url.replace(thisPage, '')
    },
    error() {
      return this.$store.getters.error
    }
  },
  watch: {
    error(value) {
      this.$swal(value.response.data.message, '', 'error')
    }
  },

  methods: {
    handleScroll() {
      this.scrolled = window.scrollY > 0;
    },
    desktopMenuShownToggle() {
      this.desktopMenuShown = !this.desktopMenuShown
    },
    menuShownToggle() {
      this.menuShown = !this.menuShown
    },
    closeMenu(data) {
      this.menuShown = data;
      this.desktopMenuShown = data
    },
  },
  beforeMount() {
    window.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll);
  },

}
</script>

<style lang="less" scoped>
.menu-layout {
  display: none;
}

.menu-toggle.for-mobile {
  position: relative;
  z-index: 1;
  margin-right: 10px;
}

.menu-toggle.for-mobile span {
  width: 30px;
  height: 2px;
  display: block;
  margin-bottom: 5px;
  border-radius: 1px;
  background: #999;
}

.menu-toggle.for-mobile {
  display: none;
}

.main-content {
  width: 100%;
}

.header {
  position: fixed;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.footer {
  bottom: -60px;
  transition: 0.5s ease-in-out;

  &.scrolled {
    bottom: 0;
  }
}

.model-navigation {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px 0;

  ul {
    padding: 0;
    list-style: none;
    display: flex;

    li {
      margin: 0 40px;
      display: flex;
      position: relative;

      &:after {
        content: '';
        display: block;
        height: 1px;
        width: 40px;
        background: #fff;
        opacity: 0.2;
        position: absolute;
        right: -60px;
        top: 8px;
      }

      &:last-child {
        &:after {
          display: none
        }
      }

      &.non-active {
        a {
          color: #fff !important;

          span {
            color: #fff;
          }
        }

        &.true-active {
          a {
            color: yellow !important;

            span {
              color: yellow;
            }
          }
        }
      }

      .nuxt-link {
        font-weight: 300;
      }

      .nuxt-link-active {
        color: yellow;

        span {
          color: yellow;
        }
      }
    }
  }
}

@media (max-width: 1299px) {
  .header{
    left:0 !important;
  }
  .main-content{
    box-sizing: border-box;
    //padding-left:15px;
    //padding-right:15px;
  }
}
@media (max-width: 1199px) {
  .model-navigation {
    width: 100px;
    margin: 0 auto;
    justify-content: space-between;

    ul {
      justify-content: space-between;
      width: 100%;

      li {
        align-items: center;
        margin: 0;

        &:after {
          display: none;
        }

        &.non-active {
          a.nuxt-link-active {
            background: url('~@/static/img/dot.png') no-repeat !important;
            background-position: center center;
          }

          &.true-active {
            a.nuxt-link-active {
              background: url('~@/static/img/dot-active.png') no-repeat !important;
              background-position: center center;
            }
          }
        }

        a {
          width: 10px;
          height: 10px;
          display: block;
          background: url('~@/static/img/dot.png') no-repeat !important;
          background-position: center center;
          background-size: auto;

          &.nuxt-link-active {
            background: url('~@/static/img/dot-active.png') no-repeat !important;
            background-position: center center;
          }

          span {
            display: none;
          }
        }
      }
    }
  }
  .menu-layout {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;

    align-items: center;
    z-index: 99;

    &.scrolled {
      .menu-toggle.for-mobile {
        top: 3px;
        transition: 0.3s;
      }

      .hidden-layout {
        opacity: 1;
        pointer-events: all;

        .phone {
          top: 16px;
          transition: 0.3s;
        }
      }
    }

    .hidden-layout {
      transition: 0.3s;
      opacity: 0;
      position: absolute;
      display: block;
      lefT: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      z-index: 999;
      pointer-events: none;

      .phone {
        transition: 0.3s;
        position: absolute;
        right: 15px;
        top: 32px;
        font-size: 20px;
      }
    }

    .menu-toggle.for-mobile {
      top: 23px !important;
      transition: .3s;
      display: block;
      margin: 0 0 0 20px;
      z-index: 9999;

    }
  }
  .attachment-layout.model-layout .option-section .model-container .model-content .options-page-bottom{
    flex-flow:row !important;
  }
  .attachment-layout.model-layout .option-section .options-page-bottom .set-filter{
    min-width:100%;
  }
  .attachment-layout.model-layout .option-section .model-container .model-content .options-page-bottom {
    margin:0;
  }
}

@media (max-width: 767px) and (max-height: 699px) {
  .menu-toggle.for-mobile {
    top: 3px !important;
  }
}

@media (max-width: 767px) {
  .menu-layout {
    display:flex;
  }

  .default-layout.model-layout {
    padding-bottom: 67px;
    box-sizing: border-box;
  }

  .model-navigation {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
}
</style>
