<template>
  <transition name="layout" mode="out-in">
      <div class="default-layout catalog-layout">
        <div class="menu-layout" :class="{'scrolled': this.scrolled}">
          <div class="menu-toggle for-mobile" @click="menuShownToggle" :class="{'active': menuShown}">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="hidden-layout">
            <div class="phone">
              <a href="tel:88002500425">8 800 25 004 25</a>
            </div>
          </div>
        </div>
        <div class="layout-container">
          <div class="header">
            <div class="header_left-part">
              <div @click="desktopMenuShownToggle" class="menu-toggle" :class="{'active': desktopMenuShown}">
                <div class="toggle">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <span>Меню</span>
              </div>
              <div class="account">
                <span class="account-icon icon-user"></span>
                <span>Личный кабинет</span>
              </div>
              <transition name="slide-fade">
                <site-menu v-if="desktopMenuShown" @closeMenuAction="closeMenu"></site-menu>
              </transition>
            </div>
            <div class="header_logo">
              <nuxt-link to="/">
                <div class="logo-wrapper">
                  <span>Спецтехника</span>
                  <span>болдер<span class="icon-r"></span></span>
                  <img src="@/static/img/boulder-logo.svg" alt="">
                </div>
                <span class="madein">cделано в России</span>
              </nuxt-link>
            </div>
            <div class="header_right-part">
              <location></location>
              <div class="phone">
                <span class="icon-phone"></span>
                <a href="tel:88002500425">8 800 25 004 25</a>
              </div>
            </div>
          </div>
          <div class="main-content">
            <nuxt/>
          </div>
        </div>
        <transition name="slide-fade">
          <site-menu v-if="menuShown" @closeMenuAction="closeMenu" @partsOrderOpen="partsOrderToggle = !partsOrderToggle"></site-menu>
        </transition>
        <transition name="slide-up-fade">
          <div class="call-order-wrapper parts-order-wrapper" v-if="partsOrderToggle">
            <parts-order @formToggle="partsOrderToggle = !partsOrderToggle"></parts-order>
          </div>
        </transition>
      </div>
  </transition>
</template>

<script>
import {mapMutations} from 'vuex'
import SiteMenu from '@/components/main/SiteMenu'
import Location from '../components/main/Location.vue'
import {scroll} from '@/mixins/scroll'
const PartsOrder = () => import ("../components/main/PartsOrder")

export default {
  components: {
    SiteMenu, Location, PartsOrder
  },
  mixins: [scroll],
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href: process.env.BASE_URL + this.$route.path
        }
      ]
    }
  },
  data() {
    return {
      partsOrderToggle: false,
      scrolled: false,
      menuShown: false,
      desktopMenuShown: false,
    }
  },
  mounted() {
    window.addEventListener('scroll', console.log('scroll'));
  },
  computed: {
    error() {
      return this.$store.getters.error
    },
    filterToggle() {
      return this.$store.state.catalog.catalogFilterOpened
    }
  },
  watch: {
    error(value) {
      this.$swal(value.response.data.message, '', 'error')
    }
  },
  methods: {
    handleScroll() {
      console.log(window.scrollY)
      this.scrolled = window.scrollY > 0;
    },
    desktopMenuShownToggle() {
      this.desktopMenuShown = !this.desktopMenuShown
    },
    menuShownToggle() {
      this.menuShown = !this.menuShown
    },
    closeMenu(data) {
      this.menuShown = data;
      this.desktopMenuShown = data
    },
    ...mapMutations({
      toggleFilter: 'catalog/catalogFilterToggle'
    })
  },
  beforeMount() {
    document.body.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy() {
    document.body.removeEventListener('scroll', this.handleScroll);
  },
}
</script>

<style lang="less" scoped>
.menu-layout {
  display: none;
}

.menu-toggle.for-mobile {
  position: relative;
  z-index: 1;
  margin-right: 10px;
}

.menu-toggle.for-mobile span {
  width: 30px;
  height: 2px;
  display: block;
  margin-bottom: 5px;
  border-radius: 1px;
  background: #999;
}

.menu-toggle.for-mobile {
  display: none;
}
@media (max-width: 1199px) {
  .menu-layout {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;

    align-items: center;
    z-index: 99;

    &.scrolled {
      .menu-toggle.for-mobile {
        top: 3px;
        transition: 0.3s;
      }

      .hidden-layout {
        opacity: 1;
        pointer-events: all;

        .phone {
          top: 16px;
          transition: 0.3s;
        }
      }
    }

    .hidden-layout {
      transition: 0.3s;
      opacity: 0;
      position: absolute;
      display: block;
      lefT: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      z-index: 999;
      pointer-events: none;

      .phone {
        transition: 0.3s;
        position: absolute;
        right: 15px;
        top: 32px;
        font-size: 20px;
      }
    }

    .menu-toggle.for-mobile {
      top: 23px !important;
      transition: .3s;
      display: block;
      margin: 0 0 0 20px;
      z-index: 9999;

    }
  }
}
@media(max-width:1024px){
  .menu-layout .menu-toggle.for-mobile{
    top:15px !important
  }
}
@media (max-width: 767px) {
  .menu-layout .menu-toggle.for-mobile{
    top:10px !important
  }
  .model-container .model-content .breadcrumbs ul{
    margin-top:10px;
  }
  .model-container .model-content .breadcrumbs ul li:last-child {
    font-size:16px;
    line-height:22px !important;
  }
    .menu-layout {
    display:flex;
  }

  .default-layout.model-layout {
    padding-bottom: 67px;
    box-sizing: border-box;
  }

  .model-navigation {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
}

</style>
