<template>
  <transition name="layout" mode="out-in">
      <div class="default-layout catalog-layout">
        <div class="layout-container">
          <div class="header">
            <div class="header_left-part">
              <div @click="desktopMenuShownToggle" class="menu-toggle" :class="{'active': desktopMenuShown}">
                <div class="toggle">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <span>Меню</span>
              </div>
              <div class="account">
                <span class="account-icon icon-user"></span>
                <span>Личный кабинет</span>
              </div>
              <transition name="slide-fade">
                <site-menu v-if="desktopMenuShown" @closeMenuAction="closeMenu" @partsOrderOpen="partsOrderToggle = !partsOrderToggle"></site-menu>
              </transition>
            </div>
            <div class="header_logo">
              <nuxt-link to="/">
                <div class="logo-wrapper">
                  <span>Спецтехника</span>
                  <span>болдер<span class="icon-r"></span></span>
                  <img src="@/static/img/boulder-logo.svg" alt="">
                </div>
                <span class="madein">cделано в России</span>
              </nuxt-link>
            </div>
            <div class="header_right-part">
              <location></location>
              <div class="phone">
                <span class="icon-phone"></span>
                <main-phone-number/>
              </div>
            </div>
          </div>
          <div class="main-content">
            <nuxt/>
          </div>
        </div>
        <transition name="slide-up-fade">
          <div class="call-order-wrapper parts-order-wrapper" v-if="partsOrderToggle">
            <parts-order @formToggle="partsOrderToggle = !partsOrderToggle"></parts-order>
          </div>
        </transition>
      </div>
  </transition>
</template>

<script>
import {mapMutations} from 'vuex'
import SiteMenu from '@/components/main/SiteMenu'
import Location from '../components/main/Location.vue'
import {scroll} from '@/mixins/scroll'
const PartsOrder = () => import ("../components/main/PartsOrder")
const MainPhoneNumber = () => import ("../components/main/MainPhoneNumber")

export default {
  components: {
    SiteMenu, Location, MainPhoneNumber, PartsOrder,
  },
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href: process.env.BASE_URL + this.$route.path
        }
      ]
    }
  },
  data() {
    return {
      partsOrderToggle: false,
      menuShown: false,
      desktopMenuShown: false,
    }
  },
  computed: {
    error() {
      return this.$store.getters.error
    },
    filterToggle() {
      return this.$store.state.catalog.catalogFilterOpened
    }
  },
  watch: {
    error(value) {
      this.$swal(value.response.data.message, '', 'error')
    }
  },
  methods: {
    desktopMenuShownToggle() {
      this.desktopMenuShown = !this.desktopMenuShown
    },
    menuShownToggle() {
      this.menuShown = !this.menuShown
    },
    closeMenu(data) {
      this.menuShown = data;
      this.desktopMenuShown = data
    },
    ...mapMutations({
      toggleFilter: 'catalog/catalogFilterToggle'
    })
  }
}
</script>

<style lang="less" scoped>
@media (max-width: 1199px) {

}
</style>
