<template>
  <transition name="layout" mode="out-in">
    <div class="default-layout company-layout">
      <div class="layout-container">
        <div class="header">
          <div class="header-wrapper">
            <div class="header_left-part">
              <div @click="desktopMenuShownToggle" class="menu-toggle" :class="{'active': desktopMenuShown}">
                <div class="toggle">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <span>Меню</span>
              </div>
              <div class="account">
                <span class="account-icon icon-user"></span>
                <span>Личный кабинет</span>
              </div>
              <transition name="slide-fade">
                <site-menu v-if="desktopMenuShown" @closeMenuAction="closeMenu" @partsOrderOpen="partsOrderToggle = !partsOrderToggle"></site-menu>
              </transition>
            </div>
            <div class="header_logo">
              <nuxt-link to="/">
                <div class="logo-wrapper">
                  <span>Спецтехника</span>
                  <span>болдер<span class="icon-r"></span></span>
                  <img src="@/static/img/boulder-logo.svg" alt="">
                </div>
                <span class="madein">cделано в России</span>
              </nuxt-link>
            </div>
            <div class="header_right-part">
              <location></location>
              <div class="phone">
                <span class="icon-phone"></span>
                <main-phone-number/>
              </div>
            </div>
          </div>
        </div>
        <div class="top-line">
          <div @click="menuShownToggle" class="menu-toggle" :class="{'active': desktopMenuShown}">
            <div class="toggle">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <perfect-scrollbar ref="fpScroll" class="menu-scroll" :option="menuScrollOptions" v-view.once>
            <ul class="company-pages-toggle">
              <li @click="scrollLeft" :class="{'active': $route.fullPath === '/company/about'}">
                <nuxt-link to="/company/about">О "Болдер"</nuxt-link>
              </li>
              <li @click="scrollMiddle" :class="{'active': $route.fullPath === '/company/technology'}">
                <nuxt-link to="/company/technology">Технология производства</nuxt-link>
              </li>
              <li @click="scrollRight" :class="{'active': $route.fullPath === '/company/dealer'}">
                <nuxt-link to="/company/dealer">Дилерская сеть</nuxt-link>
              </li>
              <li @click="scrollRight" :class="{'active': $route.fullPath === '/company/vacancy'}">
                <nuxt-link to="/company/vacancy">Вакансии</nuxt-link>
              </li>
            </ul>
          </perfect-scrollbar>
        </div>
        <div class="main-content">
          <div class="company-container">
            <nuxt/>
          </div>
        </div>
      </div>
      <transition name="slide-fade">
        <site-menu v-if="menuShown" @closeMenuAction="closeMenu" @partsOrderOpen="partsOrderToggle = !partsOrderToggle"></site-menu>
      </transition>
      <transition name="slide-up-fade">
        <div class="call-order-wrapper parts-order-wrapper" v-if="partsOrderToggle">
          <parts-order @formToggle="partsOrderToggle = !partsOrderToggle"></parts-order>
        </div>
      </transition>
    </div>
  </transition>
</template>

<script>
import SiteMenu from '@/components/main/SiteMenu'
import Location from '../components/main/Location.vue'
const PartsOrder = () => import ("../components/main/PartsOrder")
const MainPhoneNumber = () => import ("../components/main/MainPhoneNumber")
export default {
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href: process.env.BASE_URL + this.$route.path
        }
      ]
    }
  },
  data() {
    return {
      partsOrderToggle: false,
      menuScrollOptions: {
        suppressScrollY: true,
        swipeEasing: false
      },
      menuShown: false,
      desktopMenuShown: false,
    }
  },
  components: {
    SiteMenu, Location, PartsOrder, MainPhoneNumber
  },
  computed: {
    error() {
      return this.$store.getters.error
    }
  },
  watch: {
    error(value) {
      this.$swal(value.response.data.message, '', 'error')
    }
  },
  methods: {
    desktopMenuShownToggle() {
      this.desktopMenuShown = !this.desktopMenuShown
    },
    scrollLeft() {
      this.$refs.fpScroll.$el.scrollLeft = 0
    },
    scrollMiddle() {
      this.$refs.fpScroll.$el.scrollLeft = 100
    },
    scrollRight() {
      this.$refs.fpScroll.$el.scrollLeft = 205
    },
    menuShownToggle() {
      this.menuShown = !this.menuShown
    },
    closeMenu(data) {
      this.menuShown = data;
      this.desktopMenuShown = data
    },
  }
}
</script>

<style lang="less" scoped>


.company-layout {
  background: #292929 url(/img/pattern.png) repeat center center;

  .menu-scroll {
    background: none;
    position: fixed;
    bottom: 10px;
    z-index: 999;
    width: 100%;
    display: flex;

    ul {
      display: flex;
      list-style: none;
      width: 100%;
      justify-content: center;
      padding: 0;

      li {
        margin: 0 95px;
        font-size: 12px;
        display: flex;
        align-items: center;
        position: relative;

        a {
          opacity: 0.7;
        }

        .nuxt-link-active {
          opacity: 1;
        }

        &:after {
          content: '';
          display: block;
          width: 100px;
          right: -145px;
          position: absolute;
          height: 1px;
          background: #fff;
          opacity: 0.1;
        }

        &:last-child {
          margin-right: 0;

          &:after {
            display: none;
          }
        }

        &:first-child {
          margin-left: 0;
        }

        .nuxt-link-active {
          color: yellow;
        }
      }
    }
  }

  .company-container {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }

  .menu-toggle {
    span {
      margin-bottom: 0;
    }
  }
}

.company-layout .top-line .menu-toggle {
  display: none;
}

@media (min-width: 768px) {
  .footer {
    display: none !important;
  }

  .mobile-page-dots {
    display: none;
  }
}

@media (max-width: 767px) {
  .company-layout .bg-layout{
    display:none
  }
  .company-layout .top-line {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 9999;
    background: #292929;

    .ps {
      width: calc(100vw - 60px) !important;

      ul {
        width: auto !important;
        padding-right: 15px !important;
        box-sizing: border-box;

        li:last-child {
          padding-right: 15px;
        }
      }
    }
  }

  .company-layout .menu-toggle {
    display: flex !important;
    padding: 0 20px 0 10px;
    position: relative;
    top: 3px;

    .toggle {
      top: 0;
      padding: 0 0 0 5px;
      margin-left: 0;
      width: 30px;
      flex-direction: column;
      display: flex;
      position: relative;
    }

    span {
      margin-bottom: 6px;
    }
  }

  .company-layout .menu-scroll {
    position: static !important;
    background: none !important;

    ul {
      padding: 5px !important;
    }
  }

  .mobile-page-dots {
    display: flex;
    z-index: 999;
    position: static;

    ul {
      display: flex;
      padding: 0;
      align-items: center;
      justify-content: space-around;

      li {
        color: transparent;
        margin: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10px;
        height: 10px;
        cursor: pointer;
        outline: none;
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;

        a {
          display: block;
          color: transparent;
          width: 8px;
          height: 8px;
          background: url('~@/static/img/dot.png') no-repeat !important;
          outline: none;
          user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          -webkit-user-select: none;

          &.nuxt-link-active {
            width: 10px;
            height: 10px;
            background: url('~@/static/img/dot-active.png') no-repeat !important;
          }
        }
      }
    }
  }

  .company-layout {
    .menu-scroll {
      background: #292929;
      bottom: auto;
      top: 0;
      margin-bottom: 0;

      ul {
        justify-content: flex-start;
        padding: 15px;
        box-sizing: border-box;
        width: auto;

        li {
          margin: 0 15px;

          &.active {
          }

          a {
            font-size: 14px;
            text-transform: uppercase;
            padding-bottom: 5px;
            border-bottom: 2px solid transparent;
            white-space: nowrap;
          }

          .nuxt-link-active {
            color: #fff !important;
            opacity: 1;
            border-bottom: 2px solid red;
          }

          &:after {
            display: none;
          }

          &:last-child {
            margin: 0 0 0 15px;

            &:after {
              display: none;
            }
          }

          &:first-child {
            margin: 0 15px 0 0;
          }

          .nuxt-link-active {
            color: yellow;
          }
        }
      }
    }

    .footer {
      .footer-wrapper {
        padding: 10px 0;
      }

      z-index: 99;
    }
  }
}
</style>
