<template>
  <transition name="layout" mode="out-in">
    <div :style="{display:'flex'}">
      <div class="default-layout">
        <div class="layout-container">
          <div class="header">
            <div class="header_left-part">
              <div @click="desktopMenuShownToggle" class="menu-toggle" :class="{'active': desktopMenuShown}">
                <div class="toggle">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <span>Меню</span>
              </div>
              <div class="account">
                <span class="account-icon icon-user"></span>
                <span>Личный кабинет</span>
              </div>
              <transition name="slide-fade">
                <site-menu v-if="desktopMenuShown" @closeMenuAction="closeMenu" @partsOrderOpen="partsOrderToggle = !partsOrderToggle"></site-menu>
              </transition>
            </div>
            <div class="header_logo">
              <nuxt-link to="/">
                <div class="logo-wrapper">
                  <span>Спецтехника</span>
                  <span>болдер<span class="icon-r"></span></span>
                  <img src="../static/img/boulder-logo.svg" alt="">
                </div>
                <span class="madein">cделано в России</span>
              </nuxt-link>
            </div>
            <div class="header_right-part">
              <location></location>
              <div class="phone">
                <span class="icon-phone"></span>
                <a href="tel:88002500425">8 800 25 004 25</a>
              </div>
            </div>
          </div>
          <div class="main-content">
            <nuxt/>
          </div>
          <div class="footer">
            <div class="footer-wrapper">
              <div class="settings">
                <img class="settings-icon" src="../static/icons/settings.svg" alt="">
                <span>Настрой сайт под себя</span>
              </div>
              <div class="menu-toggle" @click="menuShownToggle" :class="{'active': menuShown}">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
        <transition name="slide-fade">
          <site-menu v-if="menuShown" @closeMenuAction="closeMenu" @partsOrderOpen="partsOrderToggle = !partsOrderToggle"></site-menu>
        </transition>
        <transition name="slide-up-fade">
          <div class="call-order-wrapper parts-order-wrapper" v-if="partsOrderToggle">
            <parts-order @formToggle="partsOrderToggle = !partsOrderToggle"></parts-order>
          </div>
        </transition>
      </div>
    </div>
  </transition>
</template>

<script>
import SiteMenu from '@/components/main/SiteMenu'
import MainCarousel from '../components/main/MainCarousel.vue'
import Location from '../components/main/Location.vue'
import {scroll} from '@/mixins/scroll'
const PartsOrder = () => import ("../components/main/PartsOrder")
export default {
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href: process.env.BASE_URL + this.$route.path
        }
      ]
    }
  },
  mixins: [scroll],
  data() {
    return {
      partsOrderToggle: false,
      menuShown: false,
      desktopMenuShown: false,
    }
  },
  components: {
    SiteMenu, MainCarousel, Location, PartsOrder
  },
  //mounted() {
  //	let pos = this.$store.getters.geoPosition
  //	console.log('default - computed - city', pos)
  //	this.currentCity = pos.city
  //},
  computed: {
    error() {
      return this.$store.getters.error
    },
  },
  watch: {
    error(value) {
      this.$swal(value.response.data.message, '', 'error')
    },
  },
  methods: {
    desktopMenuShownToggle() {
      this.desktopMenuShown = !this.desktopMenuShown
    },
    menuShownToggle() {
      this.menuShown = !this.menuShown
    },
    closeMenu(data) {
      this.menuShown = data;
      this.desktopMenuShown = data
    }
  }
}
</script>

<style lang="less">
.default-layout {
  min-height: 100vh;
}
</style>
