<template>
  <div class="empty-layout">
    <nuxt/>
  </div>
</template>

<script>
export default {
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href: process.env.BASE_URL + this.$route.path
        }
      ]
    }
  },
  mounted() {

  },
  computed: {
    error() {
      return this.$store.getters.error
    }
  },
  watch: {
    error(value) {
      this.$swal(value.response.data.message, '', 'error')
    }
  }

}
</script>

<style class="less" scoped>
</style>
