<template>
	<div class="error-layout">
		<div class="error-content">
			<span class="error-title">Ошибка <span>404</span></span>
      <span class="error-pretitle">Страница не найдена</span>
      <p>К сожалению, запрашиваемая страница не существует. Можете написать нам об этом или перейти на главную станицу</p>
      <a href="mailto:help@boulder.com">
        <span class="icon-mail"></span>
        <span>help@boulder.com</span>
      </a>
			<nuxt-link class="tomain" to="/">Главная страница</nuxt-link>
      <a href="javascript:history.back()">Назад</a>
		</div>
	</div>
</template>

<script>
	export default {
		name: "error",
		layout: 'model'
	}
</script>

<style lang="less" scoped>
	.error-layout{
		display:flex;
		width:100%;
		justify-content: center;
		align-items: center;
		height:100%;
		min-height:100vh;
		h1{
			font-size:40px;
		}
		a{
			display:flex;
			justify-content: center;
			width:100%;
			&:hover{
				color:#F7D900;
				transition:0.3s;
			}
		}
	}
  .error-content{
    display:flex;
    flex-flow: column;
    align-items:center;
  }
  .error-content .error-title,
  .error-content .error-pretitle,
  .error-content p{
    text-align:center;
    font-size:12px;
    color:#8D8D8D;
    letter-spacing:0.02em;
  }
  .error-content p{
    color:#FFFFFF;
    display:block;
    max-width:400px;
    margin:40px 0;
  }
  .error-content .error-title span{
    display:block;
    font-size:48px;
    color:#FF0000;
    margin-bottom:20px;
    margin-top:10px;
  }
  .error-content a{
    flex-direction:column;
    align-items: center;
  }
  .error-content .icon-mail:before{
    color:#FFFF00;
    font-size:50px;
  }
  .error-content .icon-mail{
    display:block;
    margin-bottom:10px;
  }
  .error-content .tomain{
    max-width:150px;
    display: flex;
    margin: 40px auto 20px;
    border: 2px solid #FF0000;
    padding: 0 25px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s ease-in;
    background: #FF0000;
    color: #fff;
  }
  .error-layout .error-content .tomain:hover{
    color:#fff !important;
    transition: all 0.3s ease-in;
    box-shadow: 2px 4px 15px 3px rgba(182, 0, 0, 0.5),
    inset 0 -5px 20px 3px rgba(182, 0, 0, 0.5);
  }
</style>