<template>
  <transition name="layout" mode="out-in">
    <div class="default-layout company-layout contacts-layout leasing-layout">
      <div class="layout-container">
        <div class="header leasing-header">
          <div class="header-wrapper">
            <div class="header_left-part">
              <div @click="desktopMenuShownToggle" class="menu-toggle" :class="{'active': desktopMenuShown}">
                <div class="toggle">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <span>Меню</span>
              </div>
              <div class="account">
                <span class="account-icon icon-user"></span>
                <span>Личный кабинет</span>
              </div>
              <transition name="slide-fade">
                <site-menu v-if="desktopMenuShown" @closeMenuAction="closeMenu" @partsOrderOpen="partsOrderToggle = !partsOrderToggle"></site-menu>
              </transition>
            </div>
            <div class="header_logo">
              <nuxt-link to="/">
                <div class="logo-wrapper">
                  <span>Спецтехника</span>
                  <span>болдер<span class="icon-r"></span></span>
                  <img src="@/static/img/boulder-logo.svg" alt="">
                </div>
                <span class="madein">cделано в России</span>
              </nuxt-link>
            </div>
            <div class="header_right-part">
              <location></location>
              <div class="phone">
                <span class="icon-phone"></span>
                <main-phone-number/>
              </div>
            </div>
          </div>
        </div>
        <div class="main-content">
          <nuxt/>
        </div>
        <div class="footer leasing-footer">
          <div class="footer-wrapper">
            <div class="logo">
              <span onclick="history.back();">Назад</span>
            </div>
            <div class="menu-toggle" @click="menuShownToggle" :class="{'active': menuShown}">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
      <transition name="slide-fade">
        <site-menu v-if="menuShown" @closeMenuAction="closeMenu" @partsOrderOpen="partsOrderToggle = !partsOrderToggle"></site-menu>
      </transition>
      <transition name="slide-up-fade">
        <div class="call-order-wrapper parts-order-wrapper" v-if="partsOrderToggle">
          <parts-order @formToggle="partsOrderToggle = !partsOrderToggle"></parts-order>
        </div>
      </transition>
    </div>
  </transition>
</template>

<script>
import SiteMenu from '@/components/main/SiteMenu'
import Location from '../components/main/Location.vue'
const PartsOrder = () => import ("../components/main/PartsOrder")
const MainPhoneNumber = () => import ("../components/main/MainPhoneNumber")
export default {
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href: process.env.BASE_URL + this.$route.path
        }
      ]
    }
  },
  data() {
    return {
      partsOrderToggle: false,
      menuShown: false,
      desktopMenuShown: false,
    }
  },
  components: {
    SiteMenu, Location, PartsOrder, MainPhoneNumber
  },
  computed: {
    error() {
      return this.$store.getters.error
    }
  },
  watch: {
    error(value) {
      this.$swal(value.response.data.message, '', 'error')
    }
  },
  methods: {
    desktopMenuShownToggle() {
      this.desktopMenuShown = !this.desktopMenuShown
    },
    menuShownToggle() {
      this.menuShown = !this.menuShown
    },
    closeMenu(data) {
      this.menuShown = data;
      this.desktopMenuShown = data
    },
  }
}
</script>

<style lang="less" scoped>
.leasing-header {
  background: #292929 !important;

  .header-wrapper {
    padding: 15px 0;

    .site-menu {
      top: 15px;
    }
  }
}
</style>
