<template>
	<transition name="layout" mode="out-in">
		<div class="default-layout model-layout media-layout">
		<div class="layout-container">
			<div class="header">
				<div class="header_left-part">
					<div @click="desktopMenuShownToggle" class="menu-toggle" :class="{'active': desktopMenuShown}">
						<div class="toggle">
							<span></span>
							<span></span>
							<span></span>
						</div>
						<span>Меню</span>
					</div>
					<div class="account">
						<span class="account-icon icon-user"></span>
						<span>Личный кабинет</span>
					</div>
					<transition name="slide-fade">
            <site-menu v-if="desktopMenuShown" @closeMenuAction="closeMenu" @partsOrderOpen="partsOrderToggle = !partsOrderToggle"></site-menu>
					</transition>
				</div>
				<div class="header_logo">
					<nuxt-link to="/">
						<div class="logo-wrapper">
							<span>Спецтехника</span>
							<span>болдер<span class="icon-r"></span></span>
							<img src="@/static/img/boulder-logo.svg" alt="">
						</div>
						<span class="madein">cделано в России</span>
					</nuxt-link>
				</div>
				<div class="header_right-part">
					<location></location>
					<div class="phone">
						<span class="icon-phone"></span>
            <main-phone-number/>
					</div>
				</div>
			</div>
			<div class="main-content">
        <div class="top-line">
          <div @click="menuShownToggle" class="menu-toggle" :class="{'active': desktopMenuShown}">
            <div class="toggle">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <perfect-scrollbar ref="psMediaTabs" v-view.once>
					<div class="media-tabs" >
						<div @click="scroll(index)" v-for="(link, index) of links" :class="{'active': link.to === activeLink || activeLink.indexOf(link.to) !== -1}">
							<nuxt-link
									:to="link.to">
								{{link.name}}
							</nuxt-link>
						</div>
					</div>
				</perfect-scrollbar>
        </div>
				<nuxt/>
			</div>
		</div>
		<transition name="slide-fade">
      <site-menu v-if="menuShown" @closeMenuAction="closeMenu" @partsOrderOpen="partsOrderToggle = !partsOrderToggle"></site-menu>
		</transition>
      <transition name="slide-up-fade">
        <div class="call-order-wrapper parts-order-wrapper" v-if="partsOrderToggle">
          <parts-order @formToggle="partsOrderToggle = !partsOrderToggle"></parts-order>
        </div>
      </transition>
	</div>
	</transition>
</template>

<script>
	import SiteMenu from '@/components/main/SiteMenu'
	import Location from '../components/main/Location.vue'
  const PartsOrder = () => import ("../components/main/PartsOrder")
  const MainPhoneNumber = () => import ("../components/main/MainPhoneNumber")
	export default {
    head() {
      return {
        link: [
          {
            rel: 'canonical',
            href: process.env.BASE_URL + this.$route.path
          }
        ]
      }
    },
		data() {
			return {
        partsOrderToggle: false,
				menuShown: false,
				desktopMenuShown: false,
				links: [
					{ name: 'Видео', to: '/video', active: false},
					{ name: 'Новости', to: '/news', active: false},
					{ name: 'Статьи', to: '/articles', active: false},
					{ name: 'Часто задаваемые вопросы', to: '/questions', active: false}
				]
			}
		},
		components: {
			SiteMenu, Location, PartsOrder, MainPhoneNumber
		},
		computed: {
			error() {
				return this.$store.getters.error
			},
			activeLink() {
				return this.$route.path
			}
		},
		watch: {
			error(value) {
				this.$swal(value.response.data.message, '', 'error')
			}
		},
		methods: {
      scroll(index) {
        switch (index){
          case 2:
            this.$refs.psMediaTabs.$el.scrollLeft = 170;
            break;
          case 3:
            this.$refs.psMediaTabs.$el.scrollLeft = 250;
            break;
        }

      },
			desktopMenuShownToggle() {
				this.desktopMenuShown = !this.desktopMenuShown
			},
			menuShownToggle() {
				this.menuShown = !this.menuShown
			},
			closeMenu(data) {
				this.menuShown = data;
				this.desktopMenuShown = data
			},
		}
	}
</script>

<style lang="less" scoped>
@media(max-width:550px){
  .media-layout{
    .menu-toggle{
      padding:0 20px 0 10px;
      position: relative;
      top:5px;
      span{
        margin-bottom:7px;
      }
    }
  }
}
@media(max-width:11990px){
  .media-layout,
  .media-layout .layout-container{
      height:auto !important;
  }
}
</style>
