<template>
	<div class="options-wrapper">
		<button @click="optionAddToggle" class="admin-btn option-toggle-btn">
			<span v-if="!optionAdd">Добавить опцию</span>
			<span v-else>Отменить</span>
		</button>
		<transition name="fade">
			<option-add v-if="this.optionAdd" :product-list="this.products" @close-form="optionAddToggle"></option-add>
		</transition>
	</div>
</template>

<script>
	import OptionAdd from "../../../components/admin/OptionAdd";

	export default {
		name: "options",
		components: {OptionAdd},
		layout: 'admin',
		middleware: ['admin-auth'],
		data() {
			return {
				optionAdd: true
			}
		},
		async asyncData({store}) {
			const products = await store.dispatch('product/fetchAdminProducts')
			return {products}
		},
		methods: {
			optionAddToggle() {
				this.optionAdd = !this.optionAdd
			}
		}
	}
</script>

<style lang="less" scoped>
	.option-add-wrapper{
		position: relative;
		top:0;
		&.fade-enter-active{
			transition: 0.5s;
			position: relative;
		}
		&.fade-leave-active {
			opacity: 0;
			transition: 0.5s;
			position: relative;
			top:50px;
		}
		&.fade-enter, .fade-leave-to {
			opacity: 0;
			transition: 0.5s;
			position: relative;
			top:50px;
		}
	}
</style>