<template>
  <div class="admin-menu">
    <ul>
      <li v-for="(item, i) of items"
          :key="i"
      >
        <nuxt-link :to="item.route">{{ item.text }}</nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "AdminMenu",
  data: () => ({
    items: [
      //{text: 'Аналитика', route: '/admin/analytics'},
      //{text: 'Техника', route: '/admin/products'},
      //{text: 'Опции', route: '/admin/options'},
      {text: 'Видео', route: '/admin/video'},
      {text: 'Новости', route: '/admin/news'},
      {text: 'Статьи', route: '/admin/articles'},
      {text: 'Вопросы', route: '/admin/questions'},
      {text: 'Вакансии', route: '/admin/vacancy'},
      {text: 'Пользователи', route: '/admin/users'},
      {text: 'Техника EPC и дополнительные параметры', route: '/admin/moreproducts'},
      {text: 'Навесное оборудование', route: '/admin/attachment'},
      {text: 'Дилеры и контакты', route: '/admin/contacts'},
      {text: 'Выйти', route: '/admin/logout'},
    ],
  }),
}
</script>

<style scoped>

</style>
