<template>
  <div class="option-add-wrapper">
    <div class="type-wrapper">
      <input type="radio" name="type" value="option" id="option" v-model="optionType">
      <label for="option">Опция</label>
      <input type="radio" name="type" value="set" id="set" v-model="optionType">
      <label for="set">Комплектация</label>
    </div>
    <p>Подходит для моделей:</p>
    <div class="option-for-model">
      <ul>
        <li>Фронтальные погрузчики:</li>
        <li>
          <input type="checkbox" id="allfront">
          <label @click="allChecked('front')" for="allfront">Все</label>
        </li>
        <li v-for="prod of frontModels" class="front-model-list">
          <input type="checkbox" :id="prod._id" :value="prod.model">
          <label :for="prod._id">{{ prod.model }}</label>
        </li>
      </ul>
      <ul>
        <li>Вилочные погрузчики</li>
        <li>
          <input type="checkbox" id="allfork">
          <label @click="allChecked('fork')" for="allfork">Все</label>
        </li>
        <li v-for="prod of forkModels" class="fork-model-list">
          <input type="checkbox" :id="prod._id" :value="prod.model">
          <label :for="prod._id">{{ prod.model }}</label>
        </li>
      </ul>
      <ul>
        <li>Экскаваторы-погрузчики</li>
        <li>
          <input type="checkbox" id="allbackhoe">
          <label @click="allChecked('backhoe')" for="allbackhoe">Все</label>
        </li>
        <li v-for="prod of backhoeModels" class="backhoe-model-list">
          <input type="checkbox" :id="prod._id" :value="prod.model">
          <label :for="prod._id">{{ prod.model }}</label>
        </li>
      </ul>

      <ul>
        <li>Экскаваторы</li>
        <li>
          <input type="checkbox" id="allexcavator">
          <label @click="allChecked('excavator')" for="allexcavator">Все</label>
        </li>
        <li v-for="prod of excavatorModels" class="excavator-model-list">
          <input type="checkbox" :id="prod._id" :value="prod.model">
          <label :for="prod._id">{{ prod.model }}</label>
        </li>
      </ul>
      <div class="all-check-wrapper">
        <input type="checkbox" id="allModelsChecked">
        <label @click="allChecked('all')" for="allModelsChecked">Отметить все модели</label>
      </div>
    </div>

    <div class="input-group">

      <label>Название</label>
      <input type="text" v-model="name">

    </div>
    <div class="input-group">

      <label>Описание</label>
      <textarea type="text" v-model="description"></textarea>

    </div>
    <div class="input-group">
      <label>Изображение</label>
      <textarea type="text" v-model="images" placeholder="Ссылки изображений через запятую"></textarea>
      <p>путь по умолчанию - папка static/img/options</p>
    </div>
    <button @click="addOption" class="admin-btn option-add-btn">Добавить опцию</button>
  </div>
</template>

<script>
export default {
  props: ['productList'],
  name: "OptionAdd",
  data() {
    return {
      optionType: '',
      name: null,
      description: '',
      images: [],
      products: this.productList,
      models: [],
    }
  },
  computed: {
    frontModels() {
      return this.products.filter(product => product.type === 'frontloaders');
    },
    forkModels() {
      return this.products.filter(product => product.type === 'forkloaders');
    },
    backhoeModels() {
      return this.products.filter(product => product.type === 'backhoe');
    },
    excavatorModels() {
      return this.products.filter(product => product.type === 'excavator');
    }
  },
  methods: {
    async addOption() {

      let checkboxes = this.$el.querySelectorAll('.option-for-model input[type="checkbox"]');
      for (let i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].checked && checkboxes[i].value !== 'on') {
          console.log(checkboxes[i].value)
          this.models.push(checkboxes[i].value)
        }
      }

      const OptionData = {
        optionType: this.optionType,
        name: this.name,
        description: this.description,
        images: this.images,
        models: this.models,
      }
      try {
        await this.$store.dispatch('product/createOption', OptionData);
        this.$swal('Добавлена', '', 'success');
        this.optionType = ''
        this.name = ''
        this.description = ''
        this.images = []
        this.models = []
        this.$emit('close-form');

      } catch (e) {
        console.log(e)
      }
    },
    allChecked(type) {

      if (type !== 'all') {
        let allBtn = this.$el.querySelector(`#all${type}`);
        let checkboxes = this.$el.querySelectorAll(`.${type}-model-list input[type="checkbox"]`);
        for (let i = 0; i < checkboxes.length; i++) {
          checkboxes[i].checked = !allBtn.checked;
        }
      } else {
        let allBtn = this.$el.querySelector(`#allModelsChecked`);
        let checkboxes = this.$el.querySelectorAll(`.option-for-model li input[type="checkbox"]`);
        for (let i = 0; i < checkboxes.length; i++) {
          checkboxes[i].checked = !allBtn.checked;
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
