<template>
  <div class="product-add-container">
    <div class="product-add-content">
      <div class="input-group">
        <label>Название модели</label>
        <input v-model="modelName" type="text">
      </div>
      <div class="input-group">
        <label>Базовая цена</label>
        <input v-model="modelPrice" type="text">
      </div>

      <div class="input-group">
        <label>Изображение для каталога <span class="note">(1 изображение, рекомендуемый размер: 270x150)</span></label>
        <input v-model="catalogCardImg" type="text" placeholder="/img/models/wl20/catalog/1.png">
      </div>
      <div class="input-group">
        <label>Изображения модели<span class="note">(Ссылки изображений через запятую)</span></label>
        <input v-model="modelImages" type="text" placeholder="/img/models/wl20/1.png, /img/models/wl20/2.png">
      </div>
      <div class="input-group">
        <label>Видеообзор модели<span class="note">Видео обзор модели</span></label>
        <input v-model="modelVideo" type="text">
      </div>
      <p>Если поля изображений не заполнены, путь будет расчитан автоматически /img/models/модель/catalog/1.png и
        /img/models/модель/1.png соответственно</p>
      <div class="input-group product-type">

        <input type="radio" name="type" value="frontloaders" id="frontRadio" v-model="type">
        <label for="frontRadio">Фронтальный погрузчик</label>

        <input type="radio" name="type" value="forkloaders" id="forkRadio" v-model="type">
        <label for="forkRadio">Вилочный погрузчик</label>

        <input type="radio" name="type" value="backhoe" id="backhoeRadio" v-model="type">
        <label for="backhoeRadio">Экскаватор-погрузчик</label>

        <input type="radio" name="type" value="excavator" id="excavatorRadio" v-model="type">
        <label for="excavatorRadio">Экскаватор</label>

      </div>

      <div class="forkType" v-if="type === 'forkloaders'">
        <select v-model="forkType">
          <option v-for="type of forkTypeList" :value="type.val">{{ type.name }}</option>
        </select>
      </div>
      <div class="catalogMainSpecifications">
        <div class="input-group" v-if="type !== 'forkloaders'">
          <label>Емкость ковша</label>
          <input v-model="bucketCapacity" type="text">
        </div>
        <div class="input-group" v-if="type !== 'excavator'">
          <label>Грузоподъемность</label>
          <input v-model="carryingCapacity" type="text">
        </div>
        <div class="input-group">
          <label>Масса</label>
          <input v-model="weight" type="text">
        </div>
        <div class="input-group" v-if="type !== 'forkloaders'">
          <label>Высота разгрузки</label>
          <input v-model="dischargeHeight" type="text">
        </div>
        <div class="input-group" v-if="type === 'forkloaders'">
          <label>Высота подъема</label>
          <input v-model="liftingHeight" type="text">
        </div>
        <div class="input-group" v-if="type === 'excavator'">
          <label>Глубина копания</label>
          <input v-model="diggingDepth" type="text">
        </div>
      </div>
      <div class="characteristics">
        <span class="char-title">Характеристики модели</span>
        <div class="char-list" v-for="(value, name, index) of characteristics">
          <span class="char-group-title"><i>{{ index + 1 }}</i>{{ name }}</span>
          <span class="char-group-item" v-for="(charPointValue, charPointName) of value">
							{{ charPointName }} - {{ charPointValue }}
					</span>
        </div>
        <div class="input-group">
          <label>Название группы характеристик</label>
          <input v-model="charGroup" type="text">
        </div>
        <div class="input-group">
          <label>Характеристики<span>перечисляются в формате: "<i>название характеристики:значение характеристики;</i>"</span></label>
          <textarea v-model="charValue" placeholder="название: значение;"></textarea>
        </div>
        <span class="product-add-button add-char-group" @click="addCharGroup">Добавить еще группу</span>
      </div>

      <span class="product-add-button" @click="productAdd">Добавить</span>

    </div>
  </div>
</template>

<script>
export default {
  name: "ProductAdd",
  data() {
    return {
      charGroup: '',
      charValue: '',

      modelName: '',
      type: 'frontloaders',
      forkType: 'diesel',

      bucketCapacity: '',
      carryingCapacity: '',
      weight: '',
      dischargeHeight: '',
      liftingHeight: '',
      diggingDepth: '',

      catalogCardImg: null,
      modelImages: null,
      modelVideo: '',

      characteristics: {},
      modelPrice: 0,
      modelSet: [],

      forkTypeList: [
        {name: 'Дизельные', val: 'diesel'},
        {name: 'Газ-бензиновые', val: 'gaz-petrol'},
        {name: 'Электрические', val: 'electro'},
        {name: 'Электрические штабелеры (ричтраки)', val: 'electro-stacker'},
        {name: 'Электрические 3-х опорные', val: 'electro-three-support'},
      ],
    }
  },
  methods: {
    addCharGroup() {
      if (!this.charGroup || !this.charValue) {
        this.$swal('заполните характеристики', "", "error")
      } else if (this.charValue.indexOf(':') === -1 || this.charValue.indexOf(';') === -1) {
        this.$swal('Неверный формат', "Характеристика:значение;", "error")
      } else {
        let timeGroup = this.charGroup;
        let timeCharacteristics = this.characteristics;
        timeCharacteristics[timeGroup] = {};
        let optionsPairArray = [];
        let str = this.charValue;
        str = str.replace(/\s+/g, ' ');
        let arrayOfStrings = str.split(';').filter(i => i);
        arrayOfStrings.forEach(function (str) {
          optionsPairArray.push(str)
        });
        optionsPairArray.forEach(function (pair) {
          console.log('p', pair)
          if (pair) {
            let myPair = pair.split(':');

            //удаляем из значений пробелы с конца и начала, а также в ключе заменяем символ '.' на пробел
            let key = myPair[0].replace('.', ' ').trim();
            let value = myPair[1].trim();

            timeCharacteristics[timeGroup][key] = value
            console.log(key)
            console.log(value)
          }
        })

        this.characteristics = timeCharacteristics;
        this.charGroup = '';
        this.charValue = '';
      }
    },
    async productAdd() {
      let modelImagesArray = [];

      if (this.charGroup || this.charValue) {
        this.addCharGroup()
      }
      if (this.modelImages) {
        if (this.modelImages.indexOf(',') !== -1) {
          (this.modelImages.split(',').filter(i => i)).forEach(function (str) {
            let src = str
            let trimmedSrc = src.trim()
            modelImagesArray.push(trimmedSrc)
          });
        }
        this.modelImages = modelImagesArray
      } else {
        this.modelImages = [`/img/models/${this.modelName.toLowerCase()}/1.png`, `/img/models/${this.modelName.toLowerCase()}/2.png`, `/img/models/${this.modelName.toLowerCase()}/3.png`,]
      }

      if (!this.catalogCardImg) {
        this.catalogCardImg = `/img/models/${this.modelName.toLowerCase()}/catalog/1.png`
      }

      this.modelName = this.modelName.trim()

      if (this.type !== 'forkloaders') {
        this.forkType = ''
      }

      const ProductData = {
        modelName: this.modelName,
        modelPrice: this.modelPrice,
        type: this.type,
        bucketCapacity: this.bucketCapacity,
        carryingCapacity: this.carryingCapacity,
        weight: this.weight,
        dischargeHeight: this.dischargeHeight,
        liftingHeight: this.liftingHeight,
        diggingDepth: this.diggingDepth,
        catalogCardImg: this.catalogCardImg,
        characteristics: this.characteristics,
        modelImages: this.modelImages,
        modelVideo: this.modelVideo,
        forkType: this.forkType,
      }
      console.log(ProductData)

      try {
        const newProduct = await this.$store.dispatch('product/create', ProductData);

        //Обновляем в родительском компоненте список выведеных единиц техники
        this.$emit('products-update', newProduct);

        this.$swal('Добавлен', '', 'success');

        this.modelName = '';
        this.modelPrice = 0;
        this.type = '';
        this.bucketCapacity = '';
        this.carryingCapacity = '';
        this.weight = '';
        this.dischargeHeight = '';
        this.liftingHeight = '';
        this.diggingDepth = '';
        this.catalogCardImg = null;
        this.modelImages = null;
        this.modelVideo = '';
        this.characteristics = {};
        this.forkType = 'diesel';

      } catch (e) {
        console.log(e)
      }
    },

  }
}
</script>

<style scoped>

</style>
