<template>
  <div class="company-container">
    <div class="section dealers" ref="container">
      <div class="bg-layout">
        <img class="img-onload fade-out" :src="`/img/cities/` + currentImgSrc" alt=""  @load="fadeOut"
             ref="bgImg">
      </div>
      <div class="dealer-wrapper">
        <div class="breadcrumbs">
          <ul>
            <li>
              <nuxt-link to="/"><span class="icon-home breadcrumbs-home"></span></nuxt-link>
            </li>
            <li>Контакты</li>
          </ul>
        </div>
        <div class="russia">
          <img src="/img/russia.png" alt="">
          <div class="spot stp" :class="{'active':activeDealer.city ==='Санкт-Петербург'}"
               @click="changeTo('Санкт-Петербург')">
            <span class="spot-icon"></span>
            <span class="city">Санкт-Петербург</span>
          </div>
          <div class="spot msk" :class="{'active':activeDealer.city ==='Москва'}" @click="changeTo('Москва')">
            <span class="spot-icon"></span>
            <span class="city">Москва</span>
          </div>
          <div class="spot ekt" :class="{'active':activeDealer.city ==='Екатеринбург'}"
               @click="changeTo('Екатеринбург')">
            <span class="spot-icon"></span>
            <span class="city">Екатеринбург</span>
          </div>
          <div class="spot nvs" :class="{'active':activeDealer.city ==='Новосибирск'}" @click="changeTo('Новосибирск')">
            <span class="spot-icon"></span>
            <span class="city">Новосибирск</span>
          </div>
          <div class="spot kns" :class="{'active':activeDealer.city ==='Канск'}" @click="changeTo('Канск')">
            <span class="spot-icon"></span>
            <span class="city">Канск</span>
          </div>
          <div class="spot krs" :class="{'active':activeDealer.city ==='Красноярск'}" @click="changeTo('Красноярск')">
            <span class="spot-icon"></span>
            <span class="city">Красноярск</span>
          </div>
          <div class="spot hb" :class="{'active':activeDealer.city ==='Якутск'}" @click="changeTo('Якутск')">
            <span class="spot-icon"></span>
            <span class="city">Якутск</span>
          </div>
          <div class="spot tmn" :class="{'active':activeDealer.city ==='Тюмень'}" @click="changeTo('Тюмень')">
            <span class="spot-icon"></span>
            <span class="city">Тюмень</span>
          </div>
          <div class="spot vlg" :class="{'active':activeDealer.city ==='Вологда'}" @click="changeTo('Вологда')">
            <span class="spot-icon"></span>
            <span class="city">Вологда</span>
          </div>
          <div class="spot brn" :class="{'active':activeDealer.city ==='Барнаул'}" @click="changeTo('Барнаул')">
            <span class="spot-icon"></span>
            <span class="city">Барнаул</span>
          </div>
          <!--<div class="spot ufa" :class="{'active':activeDealer.city ==='Уфа'}" @click="changeTo('Уфа')">
            <span class="spot-icon"></span>
            <span class="city">Уфа</span>
          </div>-->
          <div class="spot krf" :class="{'active':activeDealer.city ==='Киров'}" @click="changeTo('Киров')">
            <span class="spot-icon"></span>
            <span class="city">Киров</span>
          </div>
          <div class="spot ush" :class="{'active':activeDealer.city ==='Южно-Сахалинск'}"
               @click="changeTo('Южно-Сахалинск')">
            <span class="spot-icon"></span>
            <span class="city">Южно-Сахалинск</span>
          </div>
          <div class="spot vdk" :class="{'active':activeDealer.city ==='Владивосток'}" @click="changeTo('Владивосток')">
            <span class="spot-icon"></span>
            <span class="city">Владивосток</span>
          </div>
          <div class="spot hbr" :class="{'active':activeDealer.city ==='Хабаровск'}" @click="changeTo('Хабаровск')">
            <span class="spot-icon"></span>
            <span class="city">Хабаровск</span>
          </div>
          <div class="spot rst" :class="{'active':activeDealer.city ==='Нижний Новгород (п. Ждановский)'}" @click="changeTo('Нижний Новгород (п. Ждановский)')">
            <span class="spot-icon"></span>
            <span class="city">Нижний Новгород</span>
          </div>
          <div class="hidden-info">
            <div class="closest-dealer">
              <span class="city-span" @click="mobileDealerChange = !mobileDealerChange">{{ activeDealer.city }}<i
                  class="icon-arrow"></i></span>
              <transition name="slideDown">
                <div class="mobile-dealer-list" v-if="mobileDealerChange">
                  <ul>
                    <li v-for="dealer of dealerList" @click="changeTo(dealer.city)">
                      {{ dealer.city }}
                    </li>
                  </ul>
                </div>
              </transition>
            </div>
            <span class="title">{{ activeDealer.name }}</span>
            <div class="bottom">
              <div v-for="phone of this.activeDealer.phone">
                  <span class="icon-phone"></span>
                  <div class="closed-phone">
                    <span class="phone-number" v-if="hiddenNumber">{{phoneFormat(phone).slice(0,-2) + '**'}}</span>
                    <span class="phone-number" v-else><a :href="'tel:' + phone">{{phoneFormat(phone)}}</a></span>
                    <span v-if="hiddenNumber" class="note mute" :id="`dealer_page_${telToId(phone)}`" @click="hiddenNumber = false">Показать номер</span>
                  </div>
              </div>
              <div>
                <a :href="`mailto:` + this.activeDealer.email">
                  <span class="icon-mail"></span>
                  <span>{{ activeDealer.email }}</span>
                </a>
              </div>
              <div>
                <span class="icon-location-circle"></span>
                <span>{{ activeDealer.address }}</span>
              </div>
              <div v-if="this.activeDealer.phone2">
                <span class="icon-gear"></span>
                <div class="closed-phone extra-phone">
                  <span class="mute">Отдел по продаже запчастей:</span>
                  <span class="phone-number" v-if="hiddenNumber2">{{phoneFormat(activeDealer.phone2).slice(0,-2) + '**'}}</span>
                  <span class="phone-number" v-else><a :href="'tel:' + this.activeDealer.phone2">{{phoneFormat(activeDealer.phone2)}}</a></span>
                  <span v-if="hiddenNumber2" class="note mute" :id="`dealer_page_${telToId(this.activeDealer.phone2)}`" @click="hiddenNumber2 = false">Показать номер</span>
                </div>
              </div>
              <div v-if="this.activeDealer.phone3">
                <span class="icon-gear"></span>
                <div class="closed-phone extra-phone">
                  <span class="mute">Сервисная служба:</span>
                  <span class="phone-number" v-if="hiddenNumber3">{{phoneFormat(activeDealer.phone3).slice(0,-2) + '**'}}</span>
                  <span class="phone-number" v-else><a :href="'tel:' + this.activeDealer.phone3">{{phoneFormat(activeDealer.phone3)}}</a></span>
                  <span v-if="hiddenNumber3" class="note mute" :id="`dealer_page_${telToId(this.activeDealer.phone3)}`" @click="hiddenNumber3 = false">Показать номер</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="contact-container">
          <span>Служба клиентской поддержки</span>
          <main-phone-number/>
          <span style="color:#BDB9B9">Звонок бесплатный</span>
          <script data-b24-form="click/281/g5ycv3" data-skip-moving="true">
            (function(w,d,u){
              var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
              var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
            })(window,document,'https://cdn-ru.bitrix24.ru/b3786079/crm/form/loader_281.js');
          </script>
          <button class="contact" @click="orderCall">
            Заказать звонок
          </button>
        </div>

      </div>
    </div>

  </div>
</template>

<script>
import {isMobileOnly} from "mobile-device-detect";

const CallOrder = () => import ("../components/main/CallOrder")
const MainPhoneNumber = () => import ("../components/main/MainPhoneNumber")

export default {
  name: "contacts",
  layout: "contacts",
  components: {
    CallOrder, MainPhoneNumber
  },
  data() {
    return {
      orderCallToggle: false,
      imgLoaded: true,
      mobileDealerChange: false,
      dealerList: [
        {
          x: 43.09752189885726,
          y: 131.90132981481926,
          name: 'Болдер-Спецтехника',
          city: 'Владивосток',
          address: 'ул. Липовая д.7а каб 307',
          phone: ['+79089915118'],
          phone2: '7 (924) 430-80-96',
          email: 'info@boulder.com.ru',
          region: 'Приморский край',
          mapActive: true,
          mapZoom: 15,
          short: true,
          imgSrc: 'vdk.png'
        },
        {
          x: 55.576559,
          y: 37.622917,
          name: 'ООО "Болдер"',
          city: 'Москва',
          address: 'Востряковский пр., 10Б, стр. 2, каб. 31б',
          phone: ['89995516611','89295516611'],
          phone2: '',
          email: 'msk@boulder.com.ru',
          region: 'Московская область',
          mapActive: false,
          mapZoom: 15,
          short: true,
          imgSrc: 'msk.png'
        },
        {
          x: 46.934498074333376,
          y: 142.74179549999997,
          name: 'Болдер-Сахалин',
          city: 'Южно-Сахалинск',
          address: 'ул.Ленина д.441 кор.А оф.317',
          phone: ['89621233020'],
          email: 'sakh.boulder@mail.ru',
          region: 'Сахалинская область',
          mapActive: false,
          mapZoom: 15,
          short: true,
          imgSrc: 'shk.png'
        },
        {
          x: 56.712768,
          y: 60.582607,
          name: 'Болдер-Урал',
          city: 'Екатеринбург',
          address: 'Полевской тракт д.16, офис 2, 16-й километр',
          phone: ['89221665200'],
          email: 'ural@boulder.com.ru',
          region: 'Уральский Федеральный Округ',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        {
          x: 55.03355306967293,
          y: 82.933033,
          name: 'ООО "Болдер-Сибирь"',
          city: 'Новосибирск',
          address: 'ул.Фабричная 10 кор 17. Офис 413',
          phone: ['+7(383) 299-88-22','+7(913) 917-88-22'],
          email: 'boldersibir@yandex.ru',
          region: 'Сибирский Федеральный Округ',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'nvsb.png'
        },
        {
          x: 60.029489564063255,
          y: 30.266945999999884,
          name: 'ООО "Живая Сталь"',
          city: 'Санкт-Петербург',
          address: 'ул. Автобусная д.7 литера А, этаж 2, помещ. 1н, №7',
          phone: ['88124674167'],
          email: 'info@boulder-russia.ru',
          region: 'Северо-западный Федеральный Округ',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'spb.png'
        },
        {
          x: 56.2094960685293,
          y: 95.71635599999999,
          name: 'ООО "Водоканал-Сервис"',
          city: 'Канск',
          address: '4-й мкр. Центральный 33Б',
          phone: ['89135703402'],
          email: 'yu.torg@ws124.ru',
          region: 'Красноярский край и Иркутская область',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'knk.png'
        },
        {
          x: 56.082788,
          y: 92.941945,
          name: 'Болдер-Красноярск',
          city: 'Красноярск',
          address: 'Северное шоссе 7/8',
          phone: ['+7(902)991-89-89','+7(391) 241-89-89'],
          phone2: '',
          email: 'boulder24@mail.ru',
          region: 'Красноярский край',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'krs.png'
        },
        {
          x: 62.0346432,
          y: 129.6665535,
          name: 'ООО "ВостокевроТехника"',
          city: 'Якутск',
          address: 'Вилюйский тракт 3км. д.53',
          phone: ['89142758070'],
          phone3: '89142759070',
          email: '711383@mail.ru',
          region: 'Республика Саха (Якутия)',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ya.png'
        },
        {
          x: 57.153859,
          y: 65.472892,
          name: 'ООО "Белые Росы"',
          city: 'Тюмень',
          address: 'ул. Аккумуляторная д.1 офис 209',
          phone: ['89222676159','89199401667'],
          email: 'boulder_tum@mail.ru',
          region: 'Тюменская область, ХМАО',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        {
          x: 59.180353,
          y: 39.957342,
          name: 'ООО "ПКФ Агротехника"',
          city: 'Вологда',
          address: 'Московское шоссе д.50',
          phone: ['89115015848'],
          email: 'at_vologda@mail.ru',
          region: 'Вологодская область',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        {
          x: 54.728737,
          y: 55.980826,
          name: 'ООО "АМ ГРУПП ПЛЮС"',
          city: 'Уфа',
          address: 'ул. Кирова, 99/2, офис 5',
          phone: ['88005519509'],
          email: 'info@boulder-amg.ru',
          region: 'Республика Башкортостан',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        {
          x: 58.610388,
          y: 49.632899,
          name: 'ООО "ПКФ Агротехника"',
          city: 'Киров',
          address: '2-й Кирпичный пер. д.2/3',
          phone: ['88332539094'],
          email: 'at_kirov@mail.ru',
          region: 'Кировская область, Удмуртия',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        {
          x: 53.342323,
          y: 83.776488,
          name: 'Салон спецтехники "АлтайЗнак"',
          city: 'Барнаул',
          address: 'пр-т. Социалистический д.85',
          phone: ['83852560000'],
          email: 'mstaltaiznak@yandex.ru director@altaiznak.ru',
          region: 'Алтайский край, Республика Алтай',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        {
          x: 56.216514,
          y: 44.104514,
          name: 'ООО "ПРОМИНВЕСТ"',
          city: 'Нижний Новгород (п. Ждановский)',
          address: 'ул. Магистральная 9Г',
          phone: ['88314161613'],
          email: 'katok-nn@mail.ru',
          region: 'Нижегородская область',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        {
          x: 48.494143,
          y: 135.111173,
          name: 'Болдер-Хабаровск',
          city: 'Хабаровск',
          address: 'ул. Промышленная 14/4',
          phone: ['89197669111'],
          email: 'info@boulder27.ru',
          region: 'Хабаровский край',
          mapActive: false,
          mapZoom: 15,
          imgSrc: 'ekb.png'
        },
        /*{
          x: 48.478222573891884,
          y: 135.06879949999998,
          name: 'Болдер-Спецтехника',
          city: 'Хабаровск',
          address: 'ул. Муравьева-Амурского д.44 офис 311',
          phone: ['+79241143130'],
          email: 'hab@boulder-loaders.ru',
          region: 'Хабаровский край',
          mapActive: false,
          mapZoom: 15,
          short: true,
          imgSrc: 'hab.png'
        }*/
      ],
      hiddenNumber: true,
      hiddenNumber2: true,
      hiddenNumber3: true,
    }
  },
  async asyncData({store}) {
    let activeDealer = store.getters.closestDealer
    if (!activeDealer) {
      activeDealer = {
        x: 43.09752189885726,
        y: 131.90132981481926,
        name: 'Болдер-Спецтехника',
        city: 'Владивосток',
        address: 'ул. Липовая д.7а каб 307',
        phone: ['89089915118'],
        phone2: '7 (924) 430-80-96',
        email: 'info@boulder-loaders.ru',
        region: 'Приморский край',
        mapActive: true,
        mapZoom: 15,
        short: true,
        imgSrc: 'vdk.png',
      }
    } else {
      activeDealer = activeDealer[0].partner
    }
    return {activeDealer}
  },
  computed: {
    currentImgSrc() {
      return !isMobileOnly ? this.activeDealer.imgSrc : 'mobile/' + this.activeDealer.imgSrc
    },
    closestDealer() {
      return this.$store.getters.closestDealer
    },
  },
  methods: {
    telToId (phone) {
      let result = ''
      if ( phone ) result = phone.replace(/[^\d\+]/g, '').replace('+', '')
      return result
    },
    phoneFormat(phone){
      let lenPhone = phone.length;
      let tt = phone.split('');
      if (lenPhone === 12){
        tt.splice(2,"", " (");
        tt.splice(6,"", ") ");
        tt.splice(10,"", "-");
        tt.splice(13,"", "-");
      } if (phone[0] == 8) {
        tt.splice(1,"", "-");
        tt.splice(5,"", "-");
        tt.splice(9,"", "-");
      }
      return tt.join('')
    },
    fadeIn(){
      this.$refs.bgImg.classList.add('fade-out')
    },
    fadeOut(){
      setTimeout( ()=>{ this.$refs.bgImg.classList.remove('fade-out') },500)
    },
    orderCall() {
      this.orderCallToggle = !this.orderCallToggle
    },
    activeDealerChange(dealer) {
      let currentImg = dealer.imgSrc,
          previousImg = this.activeDealer.imgSrc
      this.dealerList.forEach(dealer => dealer.mapActive = false);
      dealer.mapActive = true;
      this.activeDealer = dealer
      this.activeDealer.imgSrc = previousImg
      this.mobileDealerChange = false
      setTimeout( ()=> { this.activeDealer.imgSrc = currentImg },500)
    },
    changeTo(city) {
      this.hiddenNumber = true
      this.hiddenNumber2 = true
      this.hiddenNumber3 = true
      this.fadeIn()
      let selectedDealer
      this.dealerList.forEach(function (dealer) {
        if (dealer.city === city) {
          selectedDealer = dealer
        }
      });
      this.activeDealerChange(selectedDealer)
    },
  },
  mounted() {
    //this.refs.bgImg.classList
  }
}
</script>

<style scoped lang="less">
@media (max-width: 767px) {
  .contact-container {
    position: fixed;
    bottom: 15px;
    width: 100%;
  }
}

.section.dealers {
  transition: 0.3s;
}

.section.dealers .bg-layout {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.dealer-wrapper {
  position: relative;
  z-index: 1;
}

.slideDown-enter-active {
  transition: all .3s ease;
}

.slideDown-leave-active {
  transition: all .3s ease;
}

.slideDown-enter, .slideDown-leave-to {
  transform: translateY(-30px);
  opacity: 0;
}

@media (max-width: 767px) {
  .closest-dealer .city-span {
    padding-left: 50px;
    position: relative;
    z-index: 999;
  }

  .contacts-layout {
    .company-container {
      .section.dealers {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        .russia {
          & > img,
          .spot {
            display: none;
          }

          .hidden-info {
            background: none;
            padding: 15px;
            box-sizing: border-box;
            width: 100%;
            position: static;

            .closest-dealer {
              i {
                display: inline-block;
              }

              margin-bottom: 80px;

              & > span {
                font-size: 18px !important;
              }

              .mobile-dealer-list {
                display: block;
                background: rgba(0, 0, 0, 0.9);
                position: fixed;
                top: 0;
                lefT: 0;
                width: 100%;
                height: 100%;
                z-index: 100;
                text-align: left;
                padding: 35px 0 15px 65px;

                ul {
                  padding: 0;
                  list-style: none;

                  li {
                    font-size: 16px;
                    text-transform: uppercase;
                    line-height: 25px;
                    margin: 20px 0;
                  }
                }
              }

            }

            .title {
              font-size: 18px;
              letter-spacing: 0.05em;
              margin-bottom: 10vh;
            }

            .bottom {
              div {
                span:first-child {
                  font-size: 50px;

                  &:before {
                    font-size: 50px;
                    color: #fff;
                  }
                }

                span:last-child {
                  font-size: 14px;
                  font-weight: 300;
                }
              }
            }
          }
        }

        .dealer-wrapper {
          padding-top: 0;
          justify-content: flex-start;

          .contact-container {
            flex-grow: 1;
            align-items: center;
            justify-content: center;

            .phone {
              display: flex !important;
              align-items: center;
              justify-content: center;
              margin: 20px auto 20px;
              border: 1px solid #FB1C1C;
              color: #FB1C1C;
              padding: 0 25px;
              height: 45px;
              border-radius: 10px;
              cursor: pointer;
              box-shadow: 0 0 12px rgba(249, 4, 4, 0.5);
              width: 200px;
              font-size: 20px;
            }



            span {
              font-size: 14px;
            }

            button {
              display: none;
            }
          }
        }
      }

    }

    .footer {
      background: transparent !important;
    }
  }
}

@media (max-width: 399px) {
  .contacts-layout {
    .company-container {
      .section.dealers {
        .russia {
          .hidden-info {
            .title {
              margin-bottom: 10px;
              text-align: left;
            }

            .bottom {
              flex-wrap: wrap;

              div {
                flex-direction: row;
                min-width: 100%;
                align-items: center;
                margin-bottom: 15px;

                span:first-child {
                  margin: 0 10px 0 0;
                  font-size: 30px;

                  &:before {
                    font-size: 30px;
                  }
                }

                span:last-child {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
.hidden-info{
  z-index: 100 !important;
  .closed-phone{
    display:flex;
    margin:0 !important;
    &.extra-phone{
      flex-direction: column !important;
      align-items: flex-start!important;
      .phone-number{
        margin:5px 0;
      }
    }
    span,a{
      font-size:14px !important;
    }
    .note{
      font-size:12px!important;
      text-decoration:underline;
      cursor:pointer;
      transition:0.3s;
      &:hover{
        color:yellow
      }
    }
  }
}
.mute{
  opacity: 0.7;
  font-weight: 300;
}
</style>
