<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

ym(69816346, "init", {
  clickmap:true,
  trackLinks:true,
  accurateTrackBounce:true,
  webvisor:true
});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/69816346" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<template>
  <div class="main-landing-page">
    <transition name="fade-out">
      <div  class="wrap-loader" v-if="preloader">
        <div class="logo">
          <div class="logo-wrapper">
            <img ref="preloaderLogo" src="/img/boulder-logo.svg" alt="" @load="preloaderLogoFadeIn">
          </div>
        </div>
        <div class="loader-text">Загрузка</div>
      </div>
    </transition>
    <header :class="{'scrolled': this.scrolled}">
      <div class="header-container">
        <div class="logo">
          <div class="logo-wrapper">
            <span>Спецтехника</span>
            <span>болдер<span class="icon-r"></span></span>
            <img src="/img/boulder-logo.svg" alt="">
            <div>
              <span><small>&#160;&#160;СДЕЛАНО В РОССИИ</small></span>
            </div>
          </div>
          <location></location>
        </div>
        <div class="menu">
          <ul>
            <li>
              <nuxt-link to="/catalog">Продукция</nuxt-link>
              <ul class="hidden-list">
                <li>
                  <nuxt-link to="/catalog/frontloaders">Фронтальные погрузчики</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/catalog/forkloaders">Вилочные погрузчики</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/catalog/backhoe">Экскаваторы-погрузчики</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/catalog/excavator">Экскаваторы</nuxt-link>
                </li>
                <li class="divider"></li>
                <li @click="partsOrderToggle = !partsOrderToggle">Запчасти</li>
                <script data-b24-form="click/269/waya2c" data-skip-moving="true">
                  (function(w,d,u){
                    var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
                    var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                  })(window,document,'https://cdn-ru.bitrix24.ru/b3786079/crm/form/loader_269.js');
                </script>
                <li>
                  <nuxt-link to="/attachment">Навесное</nuxt-link>
                </li>
              </ul>
            </li>
            <li>
              <nuxt-link to="/company/about">Компания</nuxt-link>
              <ul class="hidden-list">
                <li>
                  <nuxt-link to="/company/about">О "Болдер"</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/company/technology">Технологии производства</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/company/dealer">Дилерская сеть</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/company/vacancy">Вакансии</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/leasing">Лизинг</nuxt-link>
                </li>
              </ul>
            </li>
            <li>
              <nuxt-link to="/news">Медиа</nuxt-link>
              <ul class="hidden-list">
                <li>
                  <nuxt-link to="/video">Видео</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/news">Новости</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/questions">Часто задаваемые вопросы</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/articles">Статьи</nuxt-link>
                </li>
              </ul>
            </li>
            <li>
              <nuxt-link to="/contacts">Контакты</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/dealer/steps">Стать дилером</nuxt-link>
            </li>
          </ul>
          <div class="menu-toggle" @click="menuToggle">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <!--<div class="logo-lk">
         <a class="bottom" href="https://xn--90agdwop.xn--p1ai/news"><img src="/icons/LK8.svg"></a>

       </div>-->

       <div class="phone">
<!--         <a href="tel:88002500425">8 800 25 004 25</a>-->
         <main-phone-number/>
         <script data-b24-form="click/329/q7ww7y" data-skip-moving="true">
           (function(w,d,u){
             var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
             var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
           })(window,document,'https://cdn-ru.bitrix24.ru/b3786079/crm/form/loader_329.js');
         </script>
         <button @click="orderCall">Рассчитать стоимость</button>
         <transition name="slide-fade">

         </transition>
       </div>
     </div>
   </header>
   <div class="hidden main-container">
     <div class="top-block">
       <div class="video-block" id="topVideo">
         <div v-if="!isMobileOnly" class="top-block-video-container">
           <video ref="videoBg"  preload="none" muted="muted" loop="loop" :class="{'ready':videoBgReady}"
                  src="/video/boulder-low.mp4"></video>
           <div class="video-layout" >
             <picture>
               <source srcset="/img/videoImg.webp" type="image/webp">
               <source srcset="/img/videoImg.png" type="image/png">
               <img src="/img/videoImg.png" alt="">
             </picture>
           </div>
         </div>
         <picture v-else>
             <source srcset="/img/top-m.webp" type="image/webp">
             <source srcset="/img/top-m.png" type="image/png">
             <img src="/img/top-m.png" alt="">
           </picture>
       </div>
       <div class="mobile-logo">
         <div class="logo-wrapper">
           <span>Спецтехника</span>
           <span>болдер<span class="icon-r"></span></span>
           <img src="/img/boulder-logo.svg" alt="">
             <div>
               <span>СДЕЛАНО В РОССИИ</span>
             </div>
         </div>
       </div>
       <div class="top-block-content">
         <div v-swiper:mySwiper1="swiperOption" @slideChange="slideChanged" ref="animatedNumberSwiper">


          <div class="banner">
            <script data-b24-form="click/329/q7ww7y" data-skip-moving="true">
              (function(w,d,u){
                var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
              })(window,document,'https://cdn-ru.bitrix24.ru/b3786079/crm/form/loader_329.js');
            </script>
            <div class="red-button">БЫСТРО УЗНАТЬ ЦЕНУ

            </div>
            <!--<h1>Моя веб-страница</h1>
            <p>Нажмите на красную кнопку, чтобы перейти по ссылке:</p>

             <h1>Скидка 100 000 р на экскаватор EX10! До конца июля!</h1>-->




              <transition name="slide-fade">

              </transition>


          </div>

           <div class="swiper-wrapper">
             <div class="swiper-slide">
               <div class="block">
                 <span class="counter-title">Более</span>
                 <client-only>
                 <div class="animated-number">
                   <animate-number
                       from="0"
                       mode="auto"
                       to="2000"
                       from-color="#FFFFFF"
                       to-color="#F7D900"
                       duration="1500"
                       easing="easeOutQuad"
                       ref="myNum1"
                   ></animate-number>
                 </div>
                 </client-only>
                 <span>ед. спецтехники <br>произведено на конец 2022 года</span>
               </div>
               <div class="block">
                 <span class="counter-title"><nuxt-link to="/catalog">Модельный ряд</nuxt-link></span>
                 <client-only>
                 <div class="animated-number">
                   <animate-number
                       from="0"
                       mode="auto"
                       to="30"
                       from-color="#FFFFFF"
                       to-color="#F7D900"
                       duration="1200"
                       easing="easeOutQuad"
                       ref="myNum2"
                   ></animate-number>
                   <span class="plus">+</span>
                 </div>
                 </client-only>
                 <span>машин</span>
                 <nuxt-link class="bottom-link" to="/catalog">Каталог техники</nuxt-link>
               </div>
               <div class="block">
                 <span class="counter-title">Более</span>
                 <client-only>
                 <div class="animated-number">
                   <animate-number
                       from="0"
                       mode="auto"
                       to="30"
                       from-color="#FFFFFF"
                       to-color="#F7D900"
                       duration="1300"
                       ref="myNum3"
                   ></animate-number>
                 </div>
                 </client-only>
                 <span>тендерных государственных поставок</span>
               </div>
             </div>
             <div class="swiper-slide">
               <div class="block">
                 <span class="counter-title">Более</span>
                 <client-only>
                 <div class="animated-number">
                   <animate-number
                       from="1"
                       mode="auto"
                       to="70"
                       from-color="#FFFFFF"
                       to-color="#F7D900"
                       duration="1500"
                       easing="easeOutQuad"
                       ref="myNum4"
                   ></animate-number>
                 </div>
                 </client-only>
                 <span>городов поставок</span>
               </div>
               <div class="block">
                 <span class="counter-title">Более</span>
                 <client-only>
                 <div class="animated-number">
                   <animate-number
                       from="0"
                       mode="auto"
                       to="5"
                       from-color="#FFFFFF"
                       to-color="#F7D900"
                       duration="1200"
                       easing="easeOutQuad"
                       ref="myNum5"
                   ></animate-number>
                 </div>
                 </client-only>
                 <span>лет с момента выпуска 1-машины</span>
               </div>
               <div class="block">
                 <span class="counter-title">Более</span>
                 <client-only>
                 <div class="animated-number">
                   <animate-number
                       from="0"
                       mode="auto"
                       to="1300"
                       from-color="#FFFFFF"
                       to-color="#F7D900"
                       duration="1100"
                       ref="myNum6"
                   ></animate-number>
                 </div>
                 </client-only>
                 <span>клиентов стали обладателями...</span>
               </div>

             </div>
           </div>
           <div class="swiper-pagination swiper-pagination-bullets"></div>
         </div>
         <div class="bottom-part">
           <div class="block">
             <p>Уже <span>более 1300</span> клиентов стали обладателями нашей техники. Нам доверяют государственные
               организации и крупные бизнесы.
               <br>Мы создаем технику, на которой хочется работать!</p>
             <button class="solid catalog-btn">
               <a href="/files/boulder-catalogue.pdf" target="_blank">
                 <span class="icon-download"></span>
                 Скачать <br>каталог
               </a>
             </button>
             <div class="socials">
               <a href="https://vk.com/bouldercorp" target="_blank"><span class="icon-vk"></span></a>
               <a href="https://www.facebook.com/boulder.rus/" target="_blank"><span class="icon-facebook"></span></a>
               <a href="https://www.instagram.com/boulder_vl/" target="_blank"><span
                   class="icon-instagram"></span></a>
               <a href="https://www.youtube.com/channel/UCGwdS_71qu90Gn71XpDh9sA" target="_blank"><span
                   class="icon-youtube"><span class="path1"></span><span
                   class="path2"></span></span></a>
             </div>
           </div>
           <div class="block">
             <p>Нашими партнерами являются<br>
               <span>12</span> лизинговых компаний.
               <br>Уже <span>более 750</span> клиентов заключили сделки на выгодных условиях</p>
             <button><span class="icon-calc"></span>Расчитать лизинг</button>
           </div>
           <div class="block phone" @click="orderCall">
             <script data-b24-form="click/329/q7ww7y" data-skip-moving="true">
               (function(w,d,u){
                 var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
                 var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
               })(window,document,'https://cdn-ru.bitrix24.ru/b3786079/crm/form/loader_329.js');
             </script>
             <button><span class="icon-phone"></span>Рассчитать стоимость</button>
           </div>
           <div class="block">
             <p>Узнайте, как стать официальным дилером Болдер в России и войти в сеть наших партнеров, активно
               работающих по стране более 5 лет</p>
             <button @click="toDealer" class="dealer-btn-desktop"><span class="icon-delivery"></span>
               Узнать подробней
             </button>
             <button @click="toDealer" class="dealer-btn-mobile"><span class="icon-delivery"></span>
               Стать дилером
             </button>
           </div>
         </div>
       </div>
     </div>
     <!--<div class="promo-line promo-line_yellow">
       <span>Акция! Зимние шины в подарок!</span>
       <nuxt-link to="/news/zimnie-shiny-v-podarok">Читать подробнее</nuxt-link>
     </div>-->
     <div v-if="products" class="landing-catalog">
       <div class="tab-controls" v-view.once="showCatalogImgs">
         <h3>Быстрый выбор техники</h3>
         <nuxt-link class="catalog-link" to="/catalog/frontloaders">Перейти в полную версию каталога</nuxt-link>
         <perfect-scrollbar ref="tab-scrollbar">
           <div class="tab-controls-for-swipe" ref="tabScrolled">
             <div class="tab-controls-wrapper">
               <span v-for="tab of tabs"
                     :class="{active: tab.active && !tab.link}">
                 <nuxt-link v-if="tab.link" :to="tab.link">{{ tab.name }}</nuxt-link>
                 <span v-else @click="slideListChange(tab.type)">{{ tab.name }}</span>
               </span>
             </div>
           </div>
         </perfect-scrollbar>
       </div>
       <div class="tab-content" >
         <div v-swiper:mySwiper2="swiperMainPageCatalog" ref="mainPageCatalog" class="no-prev">
           <div class="swiper-wrapper">
             <div class="swiper-slide" v-for="product of this.finalSliderList">
               <nuxt-link :to="linkToModel(product)">
                 <span class="slide-title">{{ product.Name }}</span>
                 <div class="img-wrapper" ref="sliderImg">
                   <img v-if="catalogImgs" class="catalog-item-img" :src="`https://epc.kuzmin.online/epcapi/raw_file/${product.imgId}/256`" alt="">
                 </div>
                 <!--<img class="img-onload catalog-item-img"
                      :src="`/img/models/${product.Name.replace(' ','').toLowerCase()}/catalog/1.png`" alt=""
                      onload="this.classList.add('loaded')">
                 <img class="img-beforeload catalog-item-img" src="/img/loading-white.gif" alt="">-->
                  <ul class="info">
                    <li v-if="product.VehicleTypeId !== 1376760">
                      <span class="title">Емкость ковша</span>
                      <span class="value">{{ product.catalogMainSpecifications.bucketCapacity }} м²</span>
                    </li>
                    <li v-if="product.VehicleTypeId === 1376760">
                      <span class="title">Высота подъема</span>
                      <span class="value">{{ product.catalogMainSpecifications.liftingHeight }} мм</span>
                    </li>
                    <li>
                      <span class="title">Грузоподъемность</span>
                      <span class="value">{{ product.catalogMainSpecifications.carryingCapacity }} кг</span>
                    </li>
                    <li>
                      <span class="title">Масса</span>
                      <span class="value">{{ product.catalogMainSpecifications.weight }} кг</span>
                    </li>
                    <li v-if="product.extraType.full">
                      <span class="title">Тип</span>
                      <span class="value">{{ product.extraType.short || product.extraType.full}}</span>
                    </li>
                  </ul>
                </nuxt-link>
              </div>
            </div>
            <span class="slider-control right icon-arrow" @click="swipeToRight"></span>
            <span class="slider-control left icon-arrow" @click="swipeToLeft"></span>
          </div>
        </div>
      </div>
      <video-block :video="this.videoList"></video-block>
      <div class="promo-line">
        <span>{{ randomNews.title }}</span>
        <nuxt-link :to="`/news/${randomNews.newsUrl}`">Читать подробнее</nuxt-link>
      </div>
      <how-to-buy :allQuestions="questions"></how-to-buy>
      <leasing-block id="leasingBlockAnchor" :allProducts="products" @cascoToggle="cascoSwitch"></leasing-block>
      <dealer-block></dealer-block>
      <last-news v-if="newsList" :news="this.newsList"></last-news>
    </div>
    <script>
      (function(w,d,u){
        var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
        var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
      })(window,document,'https://cdn-ru.bitrix24.ru/b3786079/crm/tag/call.tracker.js');
    </script>
    <footer>
      <div class="block spec">
        <div class="logo">
          <img src="/img/boulder-logo.svg" alt="">
        </div>
        <ul>
          <li class="title">Спецтехника</li>
          <li>
            <nuxt-link to="/catalog/frontloaders">Фронтальные погрузчики</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/catalog/forkloaders">Вилочные погрузчики</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/catalog/backhoe">Экскаваторы-погрузчики</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/catalog/excavator">Экскаваторы</nuxt-link>
          </li>
        </ul>
      </div>
      <div class="block popular">
        <ul>
          <li class="title">Популярные новости</li>
          <li v-for="item of footerRandomNews[0]">
            <nuxt-link :to="`/news/${item.newsUrl}`">{{item.title}}</nuxt-link>
          </li>

        </ul>
      </div>
      <div class="block form">
        <div class="logo mobile">
          <img src="/img/boulder-logo.svg" alt="">
        </div>
        <h3>Остались вопросы? Напишите нам</h3>
        <button class="mobile question" @click="footerFormToggle">Задать вопрос</button>
        <footer-form :class="{'on': footerForm}" @close="footerFormClose"></footer-form>
      </div>
      <div class="block popular popular-right">
        <ul>
          <li class="title">Популярные новости</li>
          <li v-for="item of footerRandomNews[1]">
            <nuxt-link :to="`/news/${item.newsUrl}`">{{item.title}}</nuxt-link>
          </li>

        </ul>
      </div>
      <div class="block apps">
        <ul>
          <li class="title">Наше приложение</li>
          <li><img class="apple" src="/img/app-store.png" alt=""></li>
          <li><img class="google" src="/img/google-play.png" alt=""></li>
        </ul>
      </div>
      <div class="block socials">
        <div class="search">
          <input type="text" placeholder="поиск">
        </div>
        <ul>
          <li class="title">Социальные сети</li>
          <li><a href="https://www.youtube.com/channel/UCGwdS_71qu90Gn71XpDh9sA" target="_blank"><span
              class="icon-youtube"><span class="path1"></span><span class="path2"></span></span>Youtube</a></li>
          <li><a href="https://www.instagram.com/boulder_vl/" target="_blank"><span class="icon-instagram"></span>Instagram</a>
          </li>
          <li><a href="https://www.facebook.com/boulder.rus/" target="_blank"><span class="icon-facebook"></span>Facebook</a>
          </li>
          <li><a href="https://vk.com/bouldercorp" target="_blank"><span class="icon-vk"></span>Вконтакте</a></li>
        </ul>
      </div>
      <div class="bottom">
        <span>болдер, 2011 - 2023</span>
      </div>
      <script>
        (function(w,d,u){
          var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
          var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://cdn-ru.bitrix24.ru/b3786079/crm/site_button/loader_3_phb6fp.js');
      </script>
    </footer>
    <transition name="slide-up-fade">
      <div class="call-order-wrapper parts-order-wrapper" v-if="partsOrderToggle">
        <parts-order @formToggle="partsOrderToggle = !partsOrderToggle"></parts-order>
      </div>
    </transition>
    <transition name="slide-fade">
      <site-menu v-if="menuShown" @closeMenuAction="menuToggle" @partsOrderOpen="partsOrderToggle = !partsOrderToggle"></site-menu>
    </transition>
    <transition name="slide-up-fade">
      <casco @cascoToggle="cascoSwitch" v-if="casco"></casco>
    </transition>
    <div class="up-arrow" :class="{'active': this.scrolled}" @click="toTop">
      <span class="icon-arrow"></span>
    </div>
  </div>
</template>
<script>
const Preloader = () => import ("../components/main/Preloader")
const FooterForm = () => import ('../components/main/FooterForm')
const Casco = () => import ('../components/main/Casco')
const Location = () => import ('../components/main/Location')
const VideoBlock = () => import ('../components/main/VideoBlock')
const HowToBuy = () => import ("../components/main/HowToBuy")
const LeasingBlock = () => import ("../components/main/LeasingBlock")
const DealerBlock = () => import ("../components/main/DealerBlock")
const SiteMenu = () => import ('../components/main/SiteMenu')
const LastNews = () => import ("../components/main/LastNews")
const CallOrder = () => import ("../components/main/CallOrder")
const MainPhoneNumber = () => import ("../components/main/MainPhoneNumber")
const PartsOrder = () => import ("../components/main/PartsOrder")
import {required, minLength} from "vuelidate/lib/validators";
import {isIOS, isMobileOnly} from "mobile-device-detect";


import { mapGetters } from 'vuex';
export default {
  name: "index",
  layout: 'empty',
  scrollToTop: true,
  components: {
    Preloader,
    FooterForm,
    CallOrder,
    PartsOrder,
    LastNews,
    Location,
    VideoBlock,
    HowToBuy,
    LeasingBlock,
    DealerBlock,
    SiteMenu,
    Casco,
    MainPhoneNumber
  },
  data() {
    return {
      isMobileOnly: isMobileOnly,
      ios: isIOS,
      casco: false,
      preloader: true,
      orderCallToggle: false,
      partsOrderToggle: false,
      menuShown: false,
      footerForm: false,
      scrolled: false,
      catalogImgs: false,
      user: {
        name: '',
        mail: '',
        phone: '',
        comment: '',
      },
      loading: false,
      success: false,
      showProductType: 'front',
      finalSliderList: [],
      slideAlreadyAnimated: 0,
      swiperOption: {
        slidesPerView: 'auto',
        centeredSlides: true,
        spaceBetween: 30,
        effect: 'fade',
        speed: 500,
        autoplay: {
          delay: 5000,
          disableOnInteraction: false
        },
      },
      swiperMainPageCatalog: {
        loop: false,
        slidesPerView: '5',
        centeredSlides: false,
        spaceBetween: 30,
        speed: 500,
        /*autoplay: {
          delay: 5000,
          disableOnInteraction: false
        },*/
        on: {
          slideChangeTransitionStart() {
            let first = document.querySelector('.landing-catalog .swiper-slide:nth-child(1)')
            let last
            if (window.innerWidth > 1800) {
              last = document.querySelector('.landing-catalog .swiper-slide:nth-last-child(5)')
            } else if (window.innerWidth > 1199) {
              last = document.querySelector('.landing-catalog .swiper-slide:nth-last-child(4)')
            } else if (window.innerWidth > 767) {
              last = document.querySelector('.landing-catalog .swiper-slide:nth-last-child(3)')
            } else if (window.innerWidth > 550) {
              last = document.querySelector('.landing-catalog .swiper-slide:nth-last-child(2)')
            } else {
              last = document.querySelector('.landing-catalog .swiper-slide:nth-last-child(1)')
            }
            let el = document.querySelector('.landing-catalog .swiper-container')
            if (first.classList.contains('swiper-slide-active')) {
              el.classList.add('no-prev')
              el.classList.remove('no-next')
            } else if (last.classList.contains('swiper-slide-active')) {
              el.classList.add('no-next')
              el.classList.remove('no-prev')
            } else {
              el.classList.remove('no-next')
              el.classList.remove('no-prev')
            }
          },
        },
        breakpoints: {
          1800: {
            slidesPerView: '4',
          },
          1199: {
            slidesPerView: '3',
          },
          767: {
            slidesPerView: '2',
            spaceBetween: 50,
          },
          550: {
            slidesPerView: '1',
            spaceBetween: 20,
          },

        }
      },
      tabs: [
        {name: 'Фронтальные погрузчики', type: 'frontloaders', active: true},
        {name: 'Вилочные погрузчики', type: 'forkloaders', active: false},
        {name: 'Экскаваторы-погрузчики', type: 'backhoe', active: false},
        {name: 'Экскаваторы', type: 'excavator', active: false},
        {name: 'Навесное оборудование', type: 'attachment', active: false, link:'/attachment'}
      ],
    }
  },
  validations: {
    user: {
      name: {required},
      phone: {required, min: minLength(10)}
    },
  },
  async asyncData({store}) {
    let products, newsList, questions, videoList, videoBgReady


    store.getters.allVehiclesWithChars ? products = store.getters.allVehiclesWithChars : products = await store.dispatch('fetchAllVehiclesWithChars', {root: true})
    store.getters['media/news'] ? newsList = store.getters['media/news'] : newsList = await store.dispatch('media/fetchNews')
    store.getters['media/questions'] ? questions = store.getters['media/questions'] : questions = await store.dispatch('media/fetchQuestions')
    store.getters['media/video'] ? videoList = store.getters['media/video'] : videoList = await store.dispatch('media/fetchVideo')

    // Video array cutting + index adding
    if (videoList.length > 6) {
      videoList.splice(6)
    }
    for (let i = 0; i < videoList.length; i++) {
      let obj = videoList[i]
      obj.index = i
    }

    return {products, questions, newsList, videoList}

  },
  mounted() {
    let video = this.$refs.videoBg
    if(video) {
      video.oncanplaythrough = function() {
        video.play()
      };
    }
    if (window.innerWidth < 768) {
      document.querySelector('.main-landing-page .top-block').style.height = window.innerHeight + 'px'
    }
    this.slideListChange('frontloaders')
    if (isIOS) document.querySelector('body').classList.add("ios");
    this.checkCatalogArrows()
    document.querySelector('#topVideo').classList.add("animate");
    this.preloader = false
    document.onreadystatechange = () => {
      if (document.readyState == "complete") {
        if(video) video.play()
        this.bgReady()
      }
    }
    setTimeout(this.playVideo(this.$refs.videoBg), 500)
  },
  computed: {
    ...mapGetters({
      videoBg: 'videoBgReady'
    }),
    randomNews(){
      return this.newsList[Math.floor(Math.random()*this.newsList.length)];
    },
    footerRandomNews() {
      let array = this.newsList.slice(0),
          newArray,
          result = []

      newArray = array
          .sort(function() { return .5 - Math.random() }) // Shuffle array
          .slice(0, 8); // Get first 8 items

      result[0] = newArray.slice(0, 4)
      result[1] = newArray.slice(4, 8)

      return result
    },
    videoBgReady: {
      get(){
        return this.videoBg
      },
      set(newName){
        return newName
      }
    },
  },
  beforeMount() {
    window.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    toTop(){
      window.scrollTo({ top: 0, left: 0, behavior: 'smooth' });
    },
    preloaderLogoFadeIn(){
      let img = this.$refs.preloaderLogo
      if (img) img.classList.add('loaded')
    },
    playVideo(video){
      console.log(video)
      if (video) video.play()
    },
    bgReady(){
      console.log('123')
      this.$store.dispatch('videoBgReadyAction', {root: true})

    },
    showCatalogImgs(){
      this.catalogImgs = true
    },
    toDealer(){
      this.$router.push('/dealer/steps')
    },
    checkCatalogArrows() {
      if (
          this.finalSliderList.length <= 5 && window.innerWidth > 1800 ||
          this.finalSliderList.length <= 4 && window.innerWidth > 1199 ||
          this.finalSliderList.length <= 3 && window.innerWidth > 768 ||
          this.finalSliderList.length <= 2 && window.innerWidth > 550 ||
          this.finalSliderList.length <= 1
      ) {
        document.querySelector('.landing-catalog .left').style.display = 'none'
        document.querySelector('.landing-catalog .right').style.display = 'none'
      } else {
        document.querySelector('.landing-catalog .left').style.display = 'block'
        document.querySelector('.landing-catalog .right').style.display = 'block'
      }
    },
    linkToModel(product) {
      let typeId
      switch (product.VehicleTypeId) {
        case 1376757:
          typeId = 'frontloaders'
          break;
        case 1376760:
          typeId = 'forkloaders'
          break;
        case 1376758:
          typeId = 'backhoe'
          break;
        case 1376759:
          typeId = 'excavator'
          break;
      }
      let productName = product.Name.replace(' ', '').toLowerCase()
      return `/catalog/${typeId}/${productName}`

    },
    orderCall() {
      this.orderCallToggle = !this.orderCallToggle
    },
    cascoSwitch() {
      this.casco = !this.casco
    },
    menuToggle() {
      this.menuShown = !this.menuShown
    },
    footerFormToggle() {
      this.footerForm = !this.footerForm
    },
    footerFormClose() {
      this.footerForm = false
    },
    handleScroll() {
      this.scrolled = window.scrollY > 0;
    },
    slideListChange(type) {

      let imgContainer = document.querySelectorAll('.img-wrapper')

      imgContainer.forEach(function(item){
        item.classList.add('change')
      })

      document.querySelector('.landing-catalog .swiper-container').classList.add('no-prev')
      this.tabs.forEach(function (tab) {
        tab.active = tab.type === type;
      })
      let typeId
      switch (type) {
        case 'frontloaders':
          typeId = 1376757
          break;
        case 'forkloaders':
          typeId = 1376760
          break;
        case 'backhoe':
          typeId = 1376758
          break;
        case 'excavator':
          typeId = 1376759
          break;
      }
      let finalSliderList = []
      this.products.forEach(function (product) {
        if (product.VehicleTypeId === typeId) {
          finalSliderList.push(product)
        }
      })
      this.finalSliderList = finalSliderList
      this.checkCatalogArrows()
      setTimeout(function(){
        imgContainer.forEach(function(item){
          item.classList.remove('change')
        })
      }, 500)
    },
    slideChanged() {
      this.$refs.myNum1.start()
      this.$refs.myNum2.start()
      this.$refs.myNum3.start()
      this.$refs.myNum4.start()
      this.$refs.myNum5.start()
      this.$refs.myNum6.start()
    },
    typeToggle() {
      this.typeFilter.opened = !this.typeFilter.opened
    },
    setTypeFilter(type, name) {
      this.typeFilter.value = type;
      this.typeFilter.name = name
    },
    swipeToRight() {
      (this.$refs.mainPageCatalog).swiper.slideNext()
    },
    swipeToLeft() {
      (this.$refs.mainPageCatalog).swiper.slidePrev()
    }
  }
}
</script>

<style lang="less" scoped>
.up-arrow{
  width:50px;
  height:50px;
  border-radius: 50%;
  cursor:pointer;
  font-size:30px;
  background:#FFFF00;
  display:flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom:-100px;
  right:30px;
  transition:0.3s ease-in-out;
  z-index: 999999;
  transform: rotate(-90deg);
  box-shadow: -2px 0 1px 1px rgba(0,0,0,0.2);
}
.up-arrow.active{
  bottom:30px;
}
@media(max-width:767px) {
  .up-arrow {
    width: 30px;
    height: 30px;
    font-size: 18px;
    right: 20px;
  }
  .up-arrow.active{
    bottom: 20px;
  }
}

.fade-out-enter-active,
.fade-out-leave-active {
  transition: opacity .5s;
}

.fade-out-enter,
.fade-out-leave-to {
  opacity: 0;
}
.wrap-loader{
  .logo{
    top: 0;
    position: relative;
    width: 180px;
  }
}
.default-layout {
  height: 100vh;
  overflow: hidden;
}

footer .popular-right {
  padding-left: 50px;
  box-sizing: border-box;
}

@media (max-width: 1199px) {
  footer .popular-right {
    display: none;
  }
}

.video-block.animate {
  transition: 3s ease-in-out;
  transform: scale(1.1);
}
.preloader .logo img{
  height:28px !important;
}
.logo-lk{
  padding-left: 250px;
  position: center;
  padding: 5px 20px;
  margin-left: 200px;
  margin-right: -180px;

}

.logo-lk img{
  padding: -10px -10px;


}
/* Стили для обертки, чтобы разместить кнопку посередине экрана */
body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Стили для кнопки */
.red-button {
  background-color: #FF0000; /* Красный цвет кнопки */
  color: #000000	; /* Черный цвет текста */
  padding: 10px 20px; /* Поля внутри кнопки */
  text-decoration: none; /* Убираем подчеркивание у ссылки */
  border: none; /* Убираем границы кнопки */
  border-radius: 15px; /* Закругляем углы кнопки */
  font-size: 16px; /* Размер текста */
  cursor: pointer; /* Изменяем курсор на указатель при наведении */
}

/* Стиль при наведении на кнопку */
.red-button:hover {
  background-color: #FFFF00; /* Изменяем цвет кнопки при наведении */
}
</style>
