<template>
  <div>
    <leasing-block @cascoToggle="cascoSwitch" :allProducts="products"></leasing-block>
    <transition name="slide-up-fade">
      <casco @cascoToggle="cascoSwitch" v-if="casco"></casco>
    </transition>
  </div>
</template>

<script>
import LeasingBlock from "../components/main/LeasingBlock";
import Casco from "../components/main/Casco";

export default {
  name: "leasing",
  components: {LeasingBlock, Casco},
  layout: "leasing",
  data() {
    return{
      casco: false
    }
  },
  async asyncData({store}) {
    let products
    store.getters.allVehiclesWithChars ? products = store.getters.allVehiclesWithChars : products = await store.dispatch('fetchAllVehiclesWithChars', {root: true})
    return {products}
  },
  methods: {
    cascoSwitch() {
      this.casco = !this.casco
    },
  }
}
</script>

<style lang="less">
.leasing-layout {
  height: 100%;
  .main-content {
    position: relative;
    overflow: hidden;
    .leasing-block {
      height: 100%;
    }
  }
  .compare-link {
    margin-bottom: 80px !important;
  }
  .swp-container {
    margin-top: 20px !important;
  }
}
@media (max-width: 991px) {
  .leasing-layout {
    .main-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: #fff;

      .leasing-block {
        height: auto;
      }
    }
  }

}
@media (max-width: 767px) {
  .leasing-layout {
    .main-content {
      padding-bottom: 100px;
    }

    .leasing-footer {
      background: #232323 !important;
    }
  }

}
</style>
