<template>
  <div class="container">
    <main-carousel @activeIndex="onIndex"></main-carousel>
    <div class="menu-wrapper">
      <div class="main-page-menu">
        <div class="main-page-menu-inner">
          <ul>
            <li class="front" :class="{'active': activeIndex === 1 || activeIndex === 3}"
                @click="openCatalog('frontloaders')">Фронтальные погрузчики
            </li>
            <li class="fork" :class="{'active': activeIndex === 0 || activeIndex === 2}">
              Вилочные погрузчики
              <ul class="fork-sub-menu">
                <li @click="openCatalog('forkloaders', 'all')">Все</li>
                <li @click="openCatalog('forkloaders', 'diesel')">Дизельные</li>
                <li @click="openCatalog('forkloaders', 'gaz-petrol')">Газ-бензиновые</li>
                <li @click="openCatalog('forkloaders', 'electro')">Электрические</li>
                <li @click="openCatalog('forkloaders', 'electro-stacker')">Электрические штабелеры (ричтраки)</li>
                <li @click="openCatalog('forkloaders', 'electro-three-support')">Электрические 3-х опорные</li>
              </ul>
            </li>
            <li class="backhoe" @click="openCatalog('backhoe')">Экскаваторы-погрузчики</li>
            <li class="mini-excavator" @click="openCatalog('excavator')">Экскаваторы</li>
            <li class="attachment">
              <nuxt-link to="/catalog">Навесное оборудование</nuxt-link>
            </li>
            <li class="parts">
              <nuxt-link to="/catalog">Запасные части</nuxt-link>
            </li>
            <li class="parts">
              <nuxt-link to="/catalog">Запасные части</nuxt-link>
            </li>
            <li class="parts">
              <nuxt-link to="/catalog">Запасные части</nuxt-link>
            </li>
            <li class="parts">
              <nuxt-link to="/catalog">Запасные части</nuxt-link>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MainCarousel from '@/components/main/MainCarousel'

export default {
  head: {
    title: 'Главная'
  },
  components: {
    MainCarousel
  },
  data() {
    return {
      activeIndex: 1
    }
  },
  mounted() {
  },
  methods: {
    onIndex(data) {
      this.activeIndex = data
    },
    openCatalog(type, forkType) {
      if (forkType) {
        this.$router.push(`/catalog/${type}?=${forkType}`)
      } else {
        this.$router.push(`/catalog/${type}`)
      }

    }
  }
}
</script>

